<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=750">
		<script type="text/javascript" th:src="@{/mobile/js/jquery-1.10.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/mobile/js/mobile-util.js}"></script>
		<link rel="stylesheet" th:href="@{/mobile/css/index.css}">
		<link rel="stylesheet" th:href="@{/mobile/css/huodong.css}">
	</head>
	<body>
		<div class="header_txt">
			<div class="headerleft">
			<a href="javascript:history.back(-1)"><img th:src="@{/mobile/images/qianwnag.png}" alt=""></a>
			</div>
			<div class="headercent">活动报名</div>
			<div class="headerright">
				<img th:src="@{/mobile/images/dian.png}" alt="">
				<img th:src="@{/mobile/images/dian.png}" alt="">
				<img th:src="@{/mobile/images/dian.png}" alt="">
			</div>
		</div>
		<div class="header_nav">
			<div>
			<select id="type">
				<option value="">活动类别</option>
					<option value="0">免费</option>
					<option value="1">收费</option>
			</select>
			</div>
			<div>
				<select  onchange="statusQuery()" id="status">
				<option value="">活动状态</option>
					<option value="1">报名中</option>
					<option value="2">进行中</option>
					<option value="3">已结束</option>
			</select>
			</div>
			<div>
			<select onchange="query()" id ="code">
				<option value="">地区</option>
					<option th:each="area : ${areaList}" th:value="${area.regionCode}"
						 th:text="${area.regionName}"></option>
			</select>
			</div>
		</div>
		<div class="box-nr" id="neirong">
			<div class="box-nr-1" th:each="act: ${actList}">
				<img th:src="${act.actTitleImg}" alt="">
				<span th:text="${act.actTitle}"></span>
				<p th:text="${act.actIntro}"></p>
				<rem th:utext="${act.actType==0}?'免费<a href=/pc/activityDetail?id='+${act.id}+'>马上报名</a>': '￥'+${act.actPrice} +'<a href=/pc/activityDetail?id='+${act.id+'&areaId='+areaId}+'>马上报名</a>'"></rem>
			</div>
			<!-- 加载更多 -->
			<!-- <button>加载更多</button> -->
		</div>
		<div th:replace="mobile/include :: footer"></div>
		
	</body>
<script>
$(function(){
	$("#type").change(function(){
		 $.ajax({
	            type : "POST",
	            dataType: "json",
	            url : "/pc/activityList/query",
	            data : {
	            	'type': $(this).val(),
	            	'regionCode': $("#code").val(),
	            	'status': $("#status").val()
	            	
	            },
	            success : function(result) {
	            	var actList = result.actList;
	            	$("#neirong").html('');
	            	var html = info(actList);
	            	$("#neirong").append(html);
	            },
	        });
	});
})

function query() {
	var regionCode = $("#code").val();
	 $.ajax({
         type : "POST",
         dataType: "json",
         url : "/pc/activityList/query",
         data : {
         	'regionCode': regionCode
         },
         success : function(result) {
         	var actList = result.actList;
         	$("#neirong").html('');
         	var html = info(actList);
         	$("#neirong").append(html);
         }
  });
}

function statusQuery() {
	var status = $("#status").val();
	 $.ajax({
         type : "POST",
         dataType: "json",
         url : "/pc/activityList/query",
         data : {
         	'regionCode': $("#code").val(),
         	'status': status,
         	'type': $("#type").val()
         },
         success : function(result) {
         	var actList = result.actList;
         	$("#neirong").html('');
         	var html = info(actList);
         	$("#neirong").append(html);
         }
  });
}
function info(obj) {
	var html = '';
	$.each(obj, function (n, value) {
		var actype = '';
		if (value.actType == 0) {
			actype = '免费';
		} else {
			actype = '￥'+ value.actPrice + '.00';
		}
		html += '<div class="box-nr-1">' + 
					'<img src=" ' + value.actTitleImg + '" alt="">' +
					'<span>'+ value.actTitle + '</span>' +
					'<p>'+ value.actIntro +'</p>' +
					'<rem>' + actype +
						'<a href="/pc/activityDetail?id='+value.id+'" >马上报名</a>' + 
					'</rem>' +
				'</div>';
				
	})
	return html;
}
</script>
<script type="text/javascript">
//分页加载
$().ready(function(){
var flag = $('#flag').val();	
var areaId = $('#areaId').val();
var hasMore;
var page = 1; //初始页码
var maxnum = 2;//设置加载次数
 
var downrange= 100;                //下边界-参考正在加载提示层/px
var $main = $("#showbox");            //主体
var $loaddiv = $("#add-more") ;       //加载提示层
var totalheight = 0; 
var $listrow=$("#neirong");
//ajax-fun
function ajaxLoad(){
var html="";
page=page+1;//每次拉到底部page加1
//console.log(page)
hasMore=false;
$.ajax({
url:"/pc/news/queryInfoList?areaId="+areaId+"&flag="+flag+"",
type:"post",
data:{page:page},//请求页数
success:function(res){
var list = eval(res);
//console.log(list.length);
//var list=JSON.parse(res);
if(list.length>0) {
    hasMore=true;
//console.log(JSON.parse(res));
    //追加数据
   $.each(res, function(i, item){ 
    html+="<div class='zixunbox'>";
		 html+="<div class='box-nr-1'>";
		 html+="<img src="+item.actTitleImg+">";
		 html+="<span>"+item.actTitle+"</span>";
		 html+="<p>"+item.actIntro+"</p>";
		if(item.actType == 0){
			 html+="<rem>免费<a href='/pc/activityDetail?id="+item.id+"&areaId="+areaId+"'>马上报名</a></rem>";
		}else{
			html+="<rem>￥"+item.actPrice+"<a href='/pc/activityDetail?id="+item.id+"&areaId="+areaId+"'>马上报名</a></rem>";
		}
		 html+="</div>";
    })
    $listrow.append(html);//数据追加到list
    var imgWidth=$('.list_flex_son_img').width();
    $('.list_flex_son_img').height(imgWidth);
}    
}
})
}
 
//加载中隐藏显示
$loaddiv.ajaxStart(function(){
$(this).show();
}).ajaxStop(function(){
$(this).hide();
})
ifLoad();
//scroll滚动触发加载事件
function ifLoad(){
hasMore=true;
var w = $(window);
var lastTime = new Date();
window.addEventListener("scroll", function scrollHandler() {
var scrollh = $(document).height();
var bua = navigator.userAgent.toLowerCase();
if (bua.indexOf('iphone') != -1 || bua.indexOf('ios') != -1) {
scrollh = scrollh -140;
} else {
scrollh = scrollh - 80;
}
if(($(document).scrollTop() + w.height()) >= scrollh){
if (new Date()-lastTime <100) {
    return;
}
lastTime = new Date();
if (hasMore) {
    ajaxLoad();
}
}
}, 1000);
}
 
});

</script>
</html>
