<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=750">
		<link th:href="@{/css/layui.css}" rel="stylesheet">
		<link rel="stylesheet" th:href="@{/mobile/css/index.css}">
		<link rel="stylesheet" th:href="@{/mobile/css/huodong.css}">
		<link rel="stylesheet" th:href="@{/mobile/css/hdxq.css}">
		<link rel="stylesheet" th:href="@{/mobile/css/jquery.my-modal.2.0.css}">
		<script type="text/javascript" th:src="@{/mobile/js/jquery-1.10.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/mobile/js/mobile-util.js}"></script>
		<script th:src="@{/js/plugins/layer/layer.js}"></script>
		<script th:src="@{/js/layui.js}"></script>
		<script src="../pc/js/common.js"></script>
		<title></title>
	</head>
	<body>
		<div class="header_txt">
			<div class="headerleft">
				<a href="javascript:history.back(-1)"><img th:src="@{/mobile/images/qianwnag.png}" alt=""></a>
			</div>
			<div class="headercent">活动详情</div>
			<!-- <div class="headerright">
				<img src="images/dian.png" alt="">
				<img src="images/dian.png" alt="">
				<img src="images/dian.png" alt="">
			</div> -->
		</div>
		<input type="hidden" id="img" th:value="${activity.actTitleImg}">
		<input type="hidden" id="title" th:value="${activity.actTitle}">
		<input type="hidden" th:value="${activity.id}"  id="actId"/>
		<input type="hidden" th:value="${applyId}"  id="applyId"/>
		<input type="hidden" th:value="${areaId}"  id="areaId"/>
		<div class="header_img">
			<img th:src="${activity.actTitleImg}" alt="">
		</div>
		<div class="header_cent">
			<ul>
				<li>
					<img th:src="@{/mobile/images/hdxq_05.jpg}" alt=""><span th:text="${activity.actAddr}"></span>
				</li>
				<li>
					<img th:src="@{/mobile/images/hdxq_09.jpg}" alt=""><span th:text="${activity.startTimeStr} + '~' + ${activity.endTimeStr}"></span>

				</li>
				<li>
					<img th:src="@{/mobile/images/hdxq_13.jpg}" alt=""><span th:text="${activity.actType == '0'} ? '免费': ${activity.actPrice}"></span>
					
				</li>
				<!-- <li>
					<img src="images/hdxq_16.jpg" alt=""><span><button>-</button><input type="text"><button>+</button></span>
				</li> -->
			</ul>
		</div>
		<div class="header_text">
			<div class="header_text1">
				<div>
					<span>活动详情</span>
					<span th:text=" '已报名 ' + ${activity.numberOfApplicants}"></span>
				</div>
				<p th:utext="${activity.actContent}"></p>
			</div>
		</div>
		<div class="hdxqtx">
			<div>-- 已报名 --</div>
			
			<figure th:each=" vounlteer : ${volunteerList}">
				<img th:src="${vounlteer.img}" alt="" style="width: 100%;">
				<figcaption th:text="${vounlteer.name}"></figcaption>
			</figure>
		</div>
		<div class="footerxq">
			<a th:each="act: ${advList}" class="btn1"  th:href="${act.advImg!=null?act.url:'javascript:;'}" th:target="${act.advImg!=null?'_blank':''}">
				<img th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_09.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
			</a>
		</div>
		<div class="footerhd">
			<!-- <figure>
				<img th:src="@{/mobile/images/hdxq_30.jpg}" alt="">
				<figcaption>发布活动</figcaption>
			</figure> -->
			<figure th:if="${collectStatus} == '1'">
				<img th:src="@{/mobile/images/hdxq_27.jpg}" alt="">
				<figcaption th:onclick="'collection('+${activity.id}+',5, 2)'">收藏活动</figcaption>
			</figure>
			<figure th:if="${collectStatus} == '2'">
				<img th:src="@{/mobile/images/gongyitubiao_16.jpg}" alt="">
				<figcaption>已收藏</figcaption>
			</figure>
			
			<div th:switch="${applyStatus}">
				<p th:case="'0'">
					<span onclick="apply('1')" style="cursor:pointer">取消报名</span>
				</p>
				<p th:case="'1'">
					<span style="cursor:not-allowed">已报名</span>
				</p>
				<p th:case="'2'">
					<span style="cursor:not-allowed">已拒绝</span>
				</p>
				<p th:case="'4'">
					<span onclick="apply('2')" style="cursor:pointer">我要报名</span>
				</p>
			</div>
		</div>
	<div class="m-modal" >
		<div class="m-modal-dialog" style="width: 80%">
			<div class="m-top">
				<span class="m-modal-close">X</span>
			</div>
			<div class="m-middle" style="width: 80%">
			    <form action="" id="signupForm">
			    <input type="hidden" placeholder="" class="input1" id="url">
			    <input type="hidden" placeholder="" class="input1" id="price">
			    <input type="hidden" placeholder="" class="input1" name="positionNum" id="positionNum">
			    <input type="hidden" placeholder="" class="input1" id="regionName">
			    <input type="hidden" placeholder="" class="input1" id="sort" name="sort">
			    <input type="hidden" placeholder="" class="input1" name="regionCode" id="regionCode">
			    	<label>
						<span>广告展示位置</span>
						<input type="text" placeholder="" readonly="readonly" id="positionName" class="input1">
					</label>
					<label>
						<span>广告投放天数</span>
						<input type="text" oninput="clearNoNum1(this)" onmouseout="jisuan()"  id="showDay"  name="showDay" placeholder="投放天数" class="input1">
					</label>
					<label>
						<span>广告链接地址</span>
						<input type="text" placeholder="http://" name="advUrl" class="input1">
					</label>
					<label style="width: 80%">
						<span>上传广告图</span>
						<img th:src="@{/pc/images/gahgha_03.png}" id="img" alt="">
						<input type="hidden" id="imgStr" name="advImg">
						<input type="file" name="file" style="display: none;" id ="file">
					</label>
					<label>
						<span>广告价格</span>
						<span style="color:#ff0101;font-size:28px;" id="jiage">0元</span>
					</label>
					<label>
						<input type="button" id="save" value="确认购买" class="input3">
					</label>
			    </form>
			</div>
		</div>
	</div>	
	</body>
</html>
<script th:src="@{/mobile/js/jquery.my-modal.2.0.js}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/js/validate.js}"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
function collection(actId, type, newtype) {
	$.ajax({
        type : "get",
        dataType: "json",
        url : "/pc/activity/collect",
        data : {
        	'actId': actId
        },
        success : function(result) {
        	var code = result.code;
        	if (code == 0) {
        		parent.layer.msg("操作失败");
        	} else if (code == 1){
        		parent.layer.msg("操作成功");
        		history.go(0)
        	} else if (code == 3) {
        		layer.confirm('您未登录请问是否跳转登录页面？', {
					  btn: ['是','否'] //按钮
					}, function(){
						window.location.href = "/admin";
					}, function(){
					});
        	}
        }
    });
}
function apply(type) {
	$.ajax({
        type : "POST",
        dataType: "json",
        url : "/pc/activity/apply",
        data : {
        	'type': type,
        	'actId': $("#actId").val(),
        	'applyId': $("#applyId").val()
        },
        success : function(result) {
        	var status = result.status;
        	console.log(status)
        	if (status == 1) {
        		parent.layer.msg("操作成功");
        		history.go(0)
        	} else if (status == 2){
        		layer.confirm('您未登录请问是否跳转登录页面？', {
					  btn: ['是','否'] //按钮
					}, function(){
						window.location.href = "/admin";
					}, function(){
					});
        	} else if (status == 3){
        		parent.layer.msg("您还不是志愿者，请先申请志愿者");
        	} else if (status == 4){
        		parent.layer.msg("报名失败，您不是本团成员");
        	}else if (status == 6){
        		parent.layer.msg("报名失败，扣费失败请确余额");
        	}else if (status == 9){
        		parent.layer.msg("报名失败，活动进行中");
        	}else if (status == 10){
        		parent.layer.msg("报名失败，活动以结束");
        	}else {
        		parent.layer.msg("操作失败");
        	}
        }
    });
}

function share(reType){
	para={
			"actId":$('#actId').val(),
			"trType":reType,
			"type" : 2
	};
	$.ajax({
		cache : true,
		type : "GET",
		url : "/pc/actShare",
		data : para,
		async : true,
		error : function(request) {
			alert("分享失败");
		},
		success : function(data) {
			if (data.code == 0) {
				alert("分享成功");
				history.go(0);
			} else if(data.code == 2){
				alert(data.msg);
			}else if(data.code == 3){
				alert(data.msg);
			}else{
				alert(data.msg);
			}

		}
	});
}

var m1 = new MyModal.modal(function() {
});
$('.btn1').on("click", function() {
	var url=$(this).attr("data-url");
	$("#url").val(url);
	 $.get(url, function(result){
		 if(result.code==-0){
			 $("#price").val(result.price);
			 $("#positionNum").val(result.positionNum);
			 $("#regionName").val(result.regionName);
			 $("#positionName").val(result.positionName);
			 $("#regionCode").val(result.regionCode);
			 $("#sort").val(result.sort);
			 m1.show();
		 }
		 if(result.code==-1){
			 window.location.href = result.url;
		 }
		 if(result.code==500){
			 layer.msg(result.msg);
		 }
	});
});

layui.use('upload', function() {
    var upload = layui.upload;

    //执行实例
    var uploadInst = upload.render({
        elem : '#file', //绑定元素
        url : '/common/sysFile/upload', //上传接口
        size : 1000,
        accept : 'file',
        done : function(r) {
            var fileName = r.fileName;
             $("#imgStr").val(fileName);
     	     $("#img").attr("src",fileName);
        },
        error : function(r) {
            //layer.msg(r.msg);
        }
    });
    
});

$().ready(function(){
	$("#save").on('click', function() {
		console.log(123);
		$("#signupForm").submit();
	});
})

function jisuan(){
	var day=$("#showDay").val();
	var price = $("#price").val();
	var allPrice=day*price;
	console.log(allPrice);
	$("#jiage").text(allPrice+"元");
}


function save() {
		$.ajax({
			type : "POST",
			url : "/pc/advSubmit",
			data : $('#signupForm').serialize(),
			success : function(r) {
				if (r.code == 0) {
					layer.msg(r.msg);
					
				} else {
					layer.msg(r.msg);
				}
			},
		});
	}
	
	$().ready(function() {
		validateRule();
	});

	$.validator.setDefaults({
		submitHandler : function() {
			save();
		}
	});
	function validateRule() {

		var icon = "<i class='fa fa-times-circle'></i> ";
		$("#signupForm").validate({
			rules : {
				positionName : {
					required : true
				},
				showDay : {
					required : true
				},
				advUrl : {
					required : true
				},
				advImg : {
					content : true
				}
			},
			messages : {
				positionName : {
					required : icon + "<span style='color:red'>展示位置不能为空</span>",
				},
				showDay : {
					required : icon + "<span style='color:red'>投放天数不能为空</span>",
				},
				advUrl : {
					required : icon + "<span style='color:red'>广告链接不能为空</span>",
				},
				advImg : {
					required : icon + "<span style='color:red'>广告图片不能为空</span>",
				}
			}
		})
	}
	 
	var appId = '';
	var signature = '';
	var nonceStr = '';
	var timestamp = '';
	var url = '';
	var link = window.location.href;
	$(function(){  
		  var url = encodeURI(location.href.split('#')[0]);
		  console.log("url=="+url);
		  $.ajax({
		         url: "/wxshare/getSignature",
		         type: "POST",
		         data:{"url":url},
		         dataType: "json",
		         success: function(data){
		             aapId = data.appId
		             url =  data.url;
		             nonceStr=data.nonceStr;
		             signature=data.signature;
		             timestamp=data.timestamp;
		             wx.config({
		 			    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
		 			    appId: data.appId, // 必填，公众号的唯一标识
		 			    timestamp: data.timestamp, // 必填，生成签名的时间戳
		 			    nonceStr: data.nonceStr, // 必填，生成签名的随机串
		 			    signature: data.signature,// 必填，签名
		 			    jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] // 必填，需要使用的JS接口列表
		 			});
		 		 
		 		  wx.error(function(res){
		 			console.log(res)
		 			alert("验证失败了");
		 		  });
		 		  
		 		 wx.ready(function(){
					  //分享到朋友圈
					  wx.onMenuShareTimeline({
						    title: $('#title').val(), // 分享标题
						    link: data.url, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
						    imgUrl: $('#img').val(), // 分享图标
						    success: function () {
						    	alert("分享成功");
						    	share(1)
							},
						cancel: function () {
							alert("分享失败");
						    // 用户取消分享后执行的回调函数
					    }
					});
					  //分享到朋友
					  wx.onMenuShareAppMessage({
						  title: $('#title').val(), // 分享标题
						  desc: '一起来参加', // 分享描述
						  link: data.url, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
						  imgUrl: $('#img').val(), // 分享图标
						  type: '', // 分享类型,music、video或link，不填默认为link
						  dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
						  success: function () {
							  alert("分享成功");
							  share(5)
						  },
						  cancel: function () {
							  alert("分享失败");
						  // 用户取消分享后执行的回调函数
						  }
						  });
				  });
		          },
		          error:function(err){
		            console.log('异常');
		          }
		        });
	  }); 

</script>
