<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=750">
		<link th:href="@{/css/layui.css}" rel="stylesheet">
		<link rel="stylesheet" th:href="@{/mobile/css/qiandao.css}">
		<link rel="stylesheet" th:href="@{/mobile/css/rili(1).css}">
		<link rel="stylesheet" th:href="@{/mobile/css/rili(2).css}">
		<link rel="stylesheet" th:href="@{/mobile/css/jquery.my-modal.2.0.css}">
		<script type="text/javascript" th:src="@{/mobile/js/jquery-3.1.1.js}"></script>
		<script type="text/javascript" th:src="@{/mobile/js/mobile-util.js}"></script>
		<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
		<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
		<script th:src="@{/js/validate.js}"></script>
		<script th:src="@{/js/plugins/layer/layer.js}"></script>
		<script th:src="@{/js/layui.js}"></script>
	<style type="text/css">
	.teamImg{
		width: 106px;
   	 	height: 106px;
    	border-radius: 50%;
    	margin-top: 54px;
    	margin-left: 54px;
	}
	.qiandao>a>img {
    height: 127px;
    }
	</style>
	</head>
	<body>
		<div class="boxRight" style="background:#fff;width:100%;margin-top:0;">
			<div class="cwmx">
				<h4>我的签到</h4>
			</div>
			<div style="position: absolute;top: 2px;width: 100%;">
			<img class="teamImg" th:src="${team.teamTitleImg}">
			<p th:text="${team.teamName}" style="position: absolute;left: 235px;top: 90px;color:#fff;font-size:26px"></p>
			</div>
			
			<div class="riliwai" >
				<div class="top flex flex-align-end flex-pack-center flex-warp">
				
					<div class="out-1 flex flex-align-center flex-pack-center" id="signIn">
						<div class="out-2 flex flex-align-center flex-pack-center">
							<div class="signBtn">
								<strong id="sign-txt">立即签到</strong>
							</div>
						</div>
						
						<div style="position: absolute;width: 100%;top: 208px;left: 204px;font-size: 26px;color: #fff;">
							<p><span th:text="${'团队志愿者数:'+voCount}"></span>&nbsp;&nbsp;&nbsp;<span th:text="${'今日签到数:'+sigCount}"></span> </p>
						</div>
						
						<div style="position:absolute;top: 245px;line-height: 60px;
						font-size: 26px; color: #fff;">当前已累计签到<em id="sign-count">0</em>天</div>
					</div>
				</div>
				<div class="Calendar" style="position:relative;">
					<div id="toyear" class="flex flex-pack-center">
					<input type="hidden"  id="status"/>
						<div style="width: 100%;">
							<div style="height:70px;overflow: hidden;width: 360px;margin: 0 auto;">
								<!-- <div id="idCalendarPre" style="font-size:38px; color:#fe6554;">&lt;</div> -->
								<div class="year-month" style="font-size:36px; color:#fe6554;margin-left: 93px;">
									<span id="idCalendarYear">2018</span>年<span id="idCalendarMonth">6</span>月
								</div>
							   <!--  <div id="idCalendarNext" style="font-size:30px; color:#fe6554;">&gt;</div> -->
							</div>
						</div>
					</div>
					<table border="1px" cellpadding="0" cellspacing="0">
						<thead>
							<tr class="tou">
								<td>日</td>
								<td>一</td>
								<td>二</td>
								<td>三</td>
								<td>四</td>
								<td>五</td>
								<td>六</td>
							</tr>
						</thead>
						<tbody id="idCalendar">
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="qiandao">
			<a th:each="act,stat: ${advList}" class="btn1"  th:href="${act.advImg!=null?act.url:'javascript:;'}" th:target="${act.advImg!=null?'_blank':''}">
				<img th:if="${stat.count==1}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_03.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
				<img th:if="${stat.count==2}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_06.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
				<img th:if="${stat.count==3}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_09.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
				<img th:if="${stat.count==4}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_12.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
				<img th:if="${stat.count==5}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_15.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
				<img th:if="${stat.count==6}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_03.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
			</a>
		</div>
		
		<div class="m-modal" >
		<div class="m-modal-dialog" style="width: 80%">
			<div class="m-top">
				<span class="m-modal-close">X</span>
			</div>
			<div class="m-middle" style="width: 80%">
			    <form action="" id="signupForm">
			    <input type="hidden" placeholder="" class="input1" id="url">
			    <input type="hidden" placeholder="" class="input1" id="price">
			    <input type="hidden" placeholder="" class="input1" name="positionNum" id="positionNum">
			    <input type="hidden" placeholder="" class="input1" id="regionName">
			    <input type="hidden" placeholder="" class="input1" id="sort" name="sort">
			    <input type="hidden" placeholder="" class="input1" name="regionCode" id="regionCode">
			    	<label>
						<span>展示位置</span>
						<input type="text" placeholder="" readonly="readonly" id="positionName" class="input1">
					</label>
					<label>
						<span>投放天数</span>
						<input type="text" oninput="clearNoNum1(this)" onmouseout="jisuan()"  id="showDay"  name="showDay" placeholder="投放天数" class="input1">
					</label>
					<label>
						<span>链接地址</span>
						<input type="text" placeholder="http://" name="advUrl" class="input1">
					</label>
					<label style="width: 80%">
						<span>上传图片</span>
						<img th:src="@{/pc/images/gahgha_03.png}" id="img" alt="">
						<input type="hidden" id="imgStr" name="advImg">
						<input type="file" name="file" style="display: none;" id ="file">
					</label>
					<label>
						<span>总价格</span>
						<span style="color:#ff0101;font-size:28px;" id="jiage">0元</span>
					</label>
					<label>
						<input type="button" id="save" value="确认购买" class="input3">
					</label>
			    </form>
			</div>
		</div>
	</div>
	</body>
</html>
 <script type="text/javascript" th:src="@{/mobile/js/touch-0.2.14.min.js}"></script>
 <script th:src="@{/mobile/js/jquery.my-modal.2.0.js}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/js/validate.js}"></script>
 		<script language="JavaScript">
 			var isSign = false;
 			var myday = new Array();
 
 			var cale = new Calendar("idCalendar", {
 				qdDay: myday,
 				onToday: function(o) {
 					o.className = "onToday";
 				},
 				onSignIn: function (){
 					$$("sign-txt").innerHTML = '已签到';
 				},
 				onFinish: function() {
 					$$("sign-count").innerHTML = myday.length //已签到次数
 					$$("idCalendarYear").innerHTML = this.Year;
 					$$("idCalendarMonth").innerHTML = this.Month; //表头年份
 
 				}
 			});
 			/* $$("idCalendarPre").onclick = function() {
 				cale.PreMonth();
 			}
 			$$("idCalendarNext").onclick = function() {
 				cale.NextMonth();
 			} */
 			//添加今天签到
 			$$("signIn").onclick = function() {
 				if(isSign == false) {
 					var res = cale.SignIn();
 					var satus = $("#status").val();
					if (satus == 1) {
						res = '2';
					}
 					if(res == '1') {
 						$$("sign-txt").innerHTML = '已签到';
 						$$("sign-count").innerHTML = parseInt($$("sign-count").innerHTML) + 1;
 						isSign = true;
 						signin(formatTime(myday[0], 'Y-M-D'));
 					} else if (res == '2'){
 						$$("sign-txt").innerHTML = '已签到';
 						parent.layer.msg("今天已经签到了");
 					}
 				} else {
 					parent.layer.msg("今天已经签到了");
 				}
 
 			}
 			
 			function signin(date) {
				var date = date.split("-");
				$.ajax({
					cache : true,
					type : "POST",
					url : "/pc/checkin/do",
					data : {
						'year': date[0],
						'month':date[1],
						'day':date[2]
					},
					async : false,
					error : function(request) {
						parent.layer.alert("Connection error");
					},
					success : function(data) {
						if (data.code == 0) {
							parent.layer.msg("签到成功");
						} else {
							parent.layer.alert(data.msg)
						}

					}
				});
			}
			
			
			
			/*时间格式化  */
			function formatTime(number,format) {  
				  
				  var formateArr  = ['Y','M','D','h','m','s'];  
				  var returnArr   = [];  
				  
				  var date = new Date(number * 1000);  
				  returnArr.push(date.getFullYear());  
				  returnArr.push(formatNumber(date.getMonth() + 1));  
				  returnArr.push(formatNumber(date.getDate()));  
				  
				  returnArr.push(formatNumber(date.getHours()));  
				  returnArr.push(formatNumber(date.getMinutes()));  
				  returnArr.push(formatNumber(date.getSeconds()));  
				  
				  for (var i in returnArr)  
				  {  
				    format = format.replace(formateArr[i], returnArr[i]);  
				  }  
				  return format;  
				}
			
			//数据转化  
			function formatNumber(n) {  
			  n = n.toString()  
			  return n[1] ? n : '0' + n  
			}  
			
			
			$(function(){
				var signin;
				$.ajax({
					cache : true,
					type : "POST",
					url : "/pc/checkin/data",
					data : {},
					async : false,
					error : function(request) {
						parent.layer.alert("Connection error");
					},
					success : function(data) {
						var data = eval('(' + data + ')');
						signin = data.signin;
						$("#sign-count").html(signin.length)
						$("#status").val(data.status);
						if (data.status == 1) {
							$("#sign-txt").html("已签到");
						}
					}
				});
				var trList = $("#idCalendar").find("span").each(function(i,item){
					var obj = $(item);
					for (var i = 0; i < signin.length; i++ ) {
						if (signin[i].day == obj.text()) {
							$(obj.parent()).addClass("onToday");
						}
					}
				});
			})
			
			var m1 = new MyModal.modal(function() {
});
$('.btn1').on("click", function() {
	var url=$(this).attr("data-url");
	$("#url").val(url);
	 $.get(url, function(result){
		 if(result.code==-0){
			 $("#price").val(result.price);
			 $("#positionNum").val(result.positionNum);
			 $("#regionName").val(result.regionName);
			 $("#positionName").val(result.positionName);
			 $("#regionCode").val(result.regionCode);
			 $("#sort").val(result.sort);
			 m1.show();
		 }
		 if(result.code==-1){
			 window.location.href = result.url;
		 }
		 if(result.code==500){
			 layer.msg(result.msg);
		 }
	});
});

layui.use('upload', function() {
    var upload = layui.upload;

    //执行实例
    var uploadInst = upload.render({
        elem : '#file', //绑定元素
        url : '/common/sysFile/upload', //上传接口
        size : 1000,
        accept : 'file',
        done : function(r) {
            var fileName = r.fileName;
             $("#imgStr").val(fileName);
     	     $("#img").attr("src",fileName);
        },
        error : function(r) {
            //layer.msg(r.msg);
        }
    });
    
});

$().ready(function(){
	$("#save").on('click', function() {
		console.log(123);
		$("#signupForm").submit();
	});
})

function jisuan(){
	var day=$("#showDay").val();
	var price = $("#price").val();
	var allPrice=day*price;
	console.log(allPrice);
	$("#jiage").text(allPrice+"元");
}


function save() {
		$.ajax({
			type : "POST",
			url : "/pc/advSubmit",
			data : $('#signupForm').serialize(),
			success : function(r) {
				if (r.code == 0) {
					layer.msg(r.msg);
					
				} else {
					layer.msg(r.msg);
				}
			},
		});
	}
	
	$().ready(function() {
		validateRule();
	});

	$.validator.setDefaults({
		submitHandler : function() {
			save();
		}
	});
	function validateRule() {

		var icon = "<i class='fa fa-times-circle'></i> ";
		$("#signupForm").validate({
			rules : {
				positionName : {
					required : true
				},
				showDay : {
					required : true
				},
				advUrl : {
					required : true
				},
				advImg : {
					content : true
				}
			},
			messages : {
				positionName : {
					required : icon + "<span style='color:red'>展示位置不能为空</span>",
				},
				showDay : {
					required : icon + "<span style='color:red'>投放天数不能为空</span>",
				},
				advUrl : {
					required : icon + "<span style='color:red'>广告链接不能为空</span>",
				},
				advImg : {
					required : icon + "<span style='color:red'>广告图片不能为空</span>",
				}
			}
		})
	}
	 

</script>
