<head th:fragment="head">
<meta charset="utf-8">
<title></title>
<link href="/css/layui.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/mobile/css/index.css}">
<link rel="stylesheet" th:href="@{/jqueryFileUpload/style.css}">
<script th:src="@{/mobile/js/jquery-1.10.1.min.js}"></script>
<script th:src="@{/mobile/js/jquery-3.1.1.js}"></script>
<script src="/js/plugins/layer/layer.js"></script>
<script src="/js/plugins/layer/laydate/laydate.js"></script>
<script th:src="@{/js/validate.js}"></script>
<script src="/js/layui.js"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/jqueryFileUpload/jquery.ui.widget.js}"></script>
<script th:src="@{/jqueryFileUpload/jquery.iframe-transport.js}"></script>
<script th:src="@{/jqueryFileUpload/jquery.fileupload.js}"></script>
<script src="https://cdn.bootcss.com/jquery.serializeJSON/2.9.0/jquery.serializejson.js"></script>
</head>

<div th:fragment="header">
	
</div>
<div th:fragment="footer">
	<div style="margin-bottom: 93px;">
		<div class="footer">
			<ul th:each="cente: ${centerList}">
				<h4 th:text="${cente.helpTitle}"></h4>
				<li th:each="center: ${cente.center}"><a
					th:href="${center.url}" th:text="${center.content}"></a></li>
			</ul>
		</div>
		<!-- 备案 -->
		<div class="beian">
			<div class="beian1">
				<span id="copyright_into">京ICP备12048184号</span>
				<span id="preparation_no">技术支持：景安网络</span>
			</div>
		</div>

	</div>
</div>





