<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title th:text="${'项目展示-'+title}"></title>
		<meta name="viewport" content="width=750">
		<script type="text/javascript" th:src="@{/mobile/js/jquery-1.10.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/mobile/js/mobile-util.js}"></script>
		<link rel="stylesheet" th:href="@{/mobile/css/index.css}">
		<link rel="stylesheet" th:href="@{/mobile/css/huodong.css}">
		<link rel="stylesheet" th:href="@{/mobile/css/new_file.css}">
	</head>
	<body>
		<div class="header_txt">
			<div class="headerleft">
				<a href="javascript:history.back(-1)"><img th:src="@{/mobile/images/qianwnag.png}" alt=""></a>
			</div>
			<input type="hidden" th:value="${areaId}" id="areaId">
			<div class="headercent">项目展示</div>
			<!-- <div class="headerright">
				<img src="images/dian.png" alt="">
				<img src="images/dian.png" alt="">
				<img src="images/dian.png" alt="">
			</div> -->
		</div>
		<div class="header_nav">
			<!-- <div>行业类别</div>
			<div>活动状态</div> -->
			<div>
				<select onchange="query()" id ="code">
					<option value="">类型</option>
						<option th:each="proType : ${proTypeList}" th:value="${proType.id}"
							th:text="${proType.projectTypeName}"></option>
				</select>
			</div>
		</div>
		<div class="tuandui">
			<div class="tuandui1" id="neirong">
				<div th:each="proInfo : ${proInfoList}">
					<a th:href="@{/pc/queryProById(areaId=${areaId},id=${proInfo.id})}"><img th:src="${proInfo.logo}" alt=""></a>
					<p th:text="${#strings.abbreviate(proInfo.projectName,10)}" style="text-align: center;line-height: 30px;"></p>
					<p th:text="${#strings.abbreviate(proInfo.teamName,10)}" style="color: #c01b25;font-size: 14px;text-align: center;"></p>
				</div>
			</div>
		</div>
		<!-- <div class="box-nr">
		   <button>加载更多</button>
		</div> -->
		<div th:replace="mobile/include :: footer"></div>
	</body>
</html>
<script>
function query() {
	var code = $("#code").val();
	var areaId = $('#areaId').val();
	 $.ajax({
         type : "POST",
         dataType: "json",
         url : "/pc/queryProByType?type="+code,
         success : function(result) {
         	var actList = result;
         	$("#neirong").html('');
         	var html = info(actList);
         	$("#neirong").append(html);
         }
  });
}

function info(obj) {
	var html = '';
	var areaId = $('#areaId').val();
	$.each(obj, function (n, value) {
		html += '<div>' + 
					'<a href="/pc/queryProById?areaId='+areaId+'&id='+value.id+'"><img src="'+value.logo+'" alt=""></a>' +
					'<p>'+ value.teamName +'</p>' +
					'<p  style="color: #c01b25;font-size: 14px;text-align: center;">'+value.teamName+'</p>'+
				'</div>';
				
	})
	return html;
}

//分页加载

/* $().ready(function(){
var areaId = $('#areaId').val();
console.log(areaId);
var hasMore;
var page = 1; //初始页码
var maxnum = 2;//设置加载次数
 
var downrange= 100;                //下边界-参考正在加载提示层/px
var $main = $("#showbox");            //主体
var $loaddiv = $("#add-more") ;       //加载提示层
var totalheight = 0; 
var $listrow=$("#tuandui1");
//ajax-fun
function ajaxLoad(){
var html="";
page=page+1;//每次拉到底部page加1
//console.log(page)
hasMore=false;
$.ajax({
url:"/pc/queryProList?type=",
type:"post",
data:{page:page},//请求页数
success:function(res){
var list = eval(res.teamList);

//console.log(list.length);
//var list=JSON.parse(res);
if(list.length>0) {
    hasMore=true;
//console.log(JSON.parse(res));
    //追加数据
   $.each(res.teamList, function(i, item){ 
	html +='<div th:each="team : ${teamList}">'+
	'<a href="/pc/teamDetail(teamId='+item.id+',areaId='+areaId+')}"><img src='+item.teamTitleImg+' alt=""></a>'+
	'<p  style="text-align: center;line-height: 30px;">'+item.teamName+'</p>'+
	'</div>';
    })
    $listrow.append(html);//数据追加到list
    var imgWidth=$('.list_flex_son_img').width();
    $('.list_flex_son_img').height(imgWidth);
}    
}
})
}
 
//加载中隐藏显示
$loaddiv.ajaxStart(function(){
$(this).show();
}).ajaxStop(function(){
$(this).hide();
})
ifLoad();
//scroll滚动触发加载事件
function ifLoad(){
hasMore=true;
var w = $(window);
var lastTime = new Date();
window.addEventListener("scroll", function scrollHandler() {
var scrollh = $(document).height();
var bua = navigator.userAgent.toLowerCase();
if (bua.indexOf('iphone') != -1 || bua.indexOf('ios') != -1) {
scrollh = scrollh -140;
} else {
scrollh = scrollh - 80;
}
if(($(document).scrollTop() + w.height()) >= scrollh){
if (new Date()-lastTime <100) {
    return;
}
lastTime = new Date();
if (hasMore) {
    ajaxLoad();
}
}
}, 1000);
}
 
}); */


</script>
