<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>我的参团</title>
		<meta name="viewport" content="width=750">
		<link rel="stylesheet" th:href="@{/mobile/css/wodeguanzhu.css}">
		<script type="text/javascript" th:src="@{/mobile/js/jquery-3.1.1.js}"></script>
		<script type="text/javascript" th:src="@{/mobile/js/mobile-util.js}"></script>
		<style>
			.qubu{
				width: 100%;
				height:160px;
				border-bottom:1px dashed #CCCCCC;
				margin-top:40px;
				overflow: hidden;
			}
			.qubu>a{
				display: inline-block;
				width: 100%;
				height:160px;
				color: #333333;
			}
			.qubu>a>div{
				display: inline-block;
				width:33.33%;
				text-align: center;
				float: left;
				line-height:160px;
				font-size:22px;
			}
			.qubu>a>div>img{
                 width:114px;
				 margin-top:18px;
			}
		</style>
	</head>
	<body>
		<div class="mygz">
			<div class="alendar"> 
				<a href="javascript:history.back(-1)"><img th:src="@{/mobile/images/qianwnag.png}" alt=""></a>
				<span>我的参团</span>
			</div>
		</div>
		<div class="zidaoh">
			<ul>
				<li class="t1">全部</li>
				<li>待审核</li>
				<li>已审核</li>
				<li>未通过</li>
			</ul>
		</div>
		<div class="guanzhu">
			<div style="display:block;">
				<div class="qubu" th:each="joinTeam : ${joinTeam}">
					<a th:href="'/pc/teamDetail?teamId=' + ${joinTeam.team_id}">
						<div>
							<img th:src="${joinTeam.team_title_img}" alt="">
						</div>
						<div>
							<span th:text="${joinTeam.team_name}"></span>
						</div>
						<div>
							<span th:if="${joinTeam.status == 1}">待审核</span>
							<span th:if="${joinTeam.status == 2}">已审核</span>
							<span th:if="${joinTeam.status == 3}">未通过</span>
						</div>	
					</a>
				</div>
			</div>
			<div>
                <div class="qubu" th:each="joinTeam1 : ${joinTeam1}">
					<a th:href="'/pc/teamDetail?teamId=' + ${joinTeam1.team_id}">
						<div>
							<img th:src="${joinTeam1.team_title_img}" alt="">
						</div>
						<div>
							<span th:text="${joinTeam1.team_name}"></span>
						</div>
						<div>
							<span th:if="${joinTeam1.status == 1}">待审核</span>
							<span th:if="${joinTeam1.status == 2}">已审核</span>
							<span th:if="${joinTeam1.status == 3}">未通过</span>
						</div>	
					</a>
				</div>
			</div>
			<div>
			  <div class="qubu" th:each="joinTeam2 : ${joinTeam2}">
					<a th:href="'/pc/teamDetail?teamId=' + ${joinTeam2.team_id}">
						<div>
							<img th:src="${joinTeam2.team_title_img}" alt="">
						</div>
						<div>
							<span th:text="${joinTeam2.team_name}"></span>
						</div>
						<div>
							<span th:if="${joinTeam2.status == 1}">待审核</span>
							<span th:if="${joinTeam2.status == 2}">已审核</span>
							<span th:if="${joinTeam2.status == 3}">未通过</span>
						</div>	
					</a>
				</div>
			</div>
			<div>
				<div class="qubu" th:each="joinTeam3 : ${joinTeam3}">
					<a th:href="'/pc/teamDetail?teamId=' + ${joinTeam3.team_id}">
						<div>
							<img th:src="${joinTeam3.team_title_img}" alt="">
						</div>
						<div>
							<span th:text="${joinTeam3.team_name}"></span>
						</div>
						<div>
							<span th:if="${joinTeam3.status == 1}">待审核</span>
							<span th:if="${joinTeam3.status == 2}">已审核</span>
							<span th:if="${joinTeam3.status == 3}">未通过</span>
						</div>	
					</a>
				</div>
			</div>
		</div>
	</body>
</html>
<script>
	$(".zidaoh>ul>li").click(function(){
		$(this).addClass("t1").siblings("li").removeClass('t1')
		var index= $(this).index();
		$(".guanzhu>div").hide().eq($(this).index()).show();
	})
</script>
