<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=750">
		<link rel="stylesheet" th:href="@{/mobile/css/wodeguanzhu.css}">
		
		<script type="text/javascript" th:src="@{/mobile/js/mobile-util.js}"></script>
		
	</head>
	<body>
		<div class="mygz">
			<div class="alendar"> 
				<a href="javascript:history.back(-1)"><img th:src="@{/mobile/images/qianwnag.png}" alt=""></a>
				<span>我的项目</span>
			</div>
		</div>
		<div class="zidaoh">
			<ul>
				<li class="t1">我参与的项目</li>
				<li>我发布的项目</li>
				<!-- <li>新闻</li> -->
				<!-- <li>志愿者</li> -->
			</ul>
		</div>
		<div class="guanzhu">
			<div style="display:block;">
				 <div class="guanzhu1" th:each="pro: ${proList}">
				 <input type="hidden" id="id" th:value="${pro.id}">
					 <a href="#"> 
					<img th:src="${pro.logo}" alt=""></a>
					<div>
						<a style="text-decoration:none; color:#333;"  href="#"> <h4 th:text="${pro.projectName}"></h4></a>
						<ul>
							<li>申请时间 <span th:text=" ${#dates.format(pro.createTime, 'yyyy-MM-dd HH:mm:ss')}"></span></li>
									<li>到期时间 <span th:text="${pro.endTime==null}?'永久':${#dates.format(pro.endTime, 'yyyy-MM-dd HH:mm:ss')}"></span></li>
									<li>团队数 <span th:text="${pro.teamCount}"></span></li>
									<p style="padding-top:30px;font-size: 25px;color: red;" th:if="${pro.isDue}==2" th:onclick="'javascript:sub('+${pro.tickets}+')'">续费</p>
						</ul>
					</div>
					<!-- </a> -->
				 </div>
			</div>
			<div>
				<div class="guanzhu2" th:each="puPro: ${puProList}">
					<a href="#"><img th:src="${puPro.logo}" alt=""></a>
					<div>
						<a style="text-decoration:none; color:#333;" href="#"><h4 th:text="${puPro.projectName}"></h4></a>
						<ul>
							<li th:text=" ${'发布时间:'  + #dates.format(puPro.createTime, 'yyyy-MM-dd HH:mm:ss')}"></li>
						</ul>
						<p th:text="${puPro.teamCount} +'团队'"></p>
					</div>
				</div>
			</div>
			
		</div>
	</body>
	<script type="text/javascript" th:src="@{/mobile/js/jquery-3.1.1.js}"></script>
	<script type="text/javascript">
	function sub(tickets){
		if(tickets==0){
			renew();
		}else{
			var para = {};
			renew(tickets,para,15);
		}
	}
	
	function renew(){
		var id = $('#id').val();
		$.ajax({
			type : "POST",
			url : "/pc/proDue?id="+id,
			data : {},// 你的formid
			success : function(data) {
				if (data.code == 0) {
					alert("续费成功");
					history.go(0);
				} else {
					alert(data.msg);
				}

			}
		});
	}
	
		var appId = '';
		var paySign = '';
		var timeStamp = '';
		var nonceStr = '';
		var packageStr = '';
		var signType = '';
		var orderNum = '';
		function pay(blance,para,type) {
			$.ajax({
	            type:"post",
	            url: "/pc/news/pay",
	            dataType:"json",
	            data : {'totalFee': blance
	            	,'orderType':type},
	            ontentType : "application/x-www-form-urlencoded",
	            success:function(result) {
	                console.log(result);
	                var data  = result;
                    appId = data.appId;
                    paySign = data.paySign;
                    timeStamp = data.timeStamp;
                    nonceStr = data.nonceStr;
                    packageStr = data.package;
                    signType = data.signType;
                    orderNum = data.orderNum
                    callpay(para,type,flag);
	            }
	        });
	    }

		function onBridgeReady(para,type){
	        WeixinJSBridge.invoke(
	            'getBrandWCPayRequest', {
	                "appId":appId,     //公众号名称，由商户传入
	                "timeStamp":timeStamp, //时间戳，自1970年以来的秒数
	                "nonceStr":nonceStr , //随机串
	                "package":packageStr,  //预支付交易会话标识
	                "signType":signType,     //微信签名方式
	                "paySign":paySign        //微信签名
	            },
	            function(res){
	                if(res.err_msg == "get_brand_wcpay_request:ok" ) {
	                    alert('支付成功');
	                    if(type==15){
	                    	save(flag);
	                    }
						
	                }else if(res.err_msg == "get_brand_wcpay_request:cancel"){
	                    alert('支付取消');
	                    history.go(0);
	                }else if(res.err_msg == "get_brand_wcpay_request:fail" ){
	                    alert('支付失败');
	                    history.go(0);
	                } //使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
	            }
	        );
	    }
	    function callpay(para,type){
	        if (typeof WeixinJSBridge == "undefined"){
	            if( document.addEventListener ){
	                document.addEventListener('WeixinJSBridgeReady', onBridgeReady(para,type,flag), false);
	            }else if (document.attachEvent){
	                document.attachEvent('WeixinJSBridgeReady', onBridgeReady(para,type));
	                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady(para,type));
	            }
	        }else{
	            onBridgeReady(para,type);
	        }
	    }
	    
	    </script>
</html>
<script>
	$(".zidaoh>ul>li").click(function(){
		$(this).addClass("t1").siblings("li").removeClass('t1')
		var index= $(this).index();
		$(".guanzhu>div").hide().eq($(this).index()).show();
	})
</script>
