<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=750">
			<link th:href="@{https://fonts.googleapis.com/css?family=Lato}" rel="stylesheet">
		<meta name="viewport" content="width=device-width">
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport"/>
		<script type="text/javascript" th:src="@{/mobile/js/jquery-1.10.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/mobile/js/mobile-util.js}"></script>
		<link rel="stylesheet" th:href="@{/mobile/css/index.css}">
		<link rel="stylesheet" th:href="@{/mobile/css/huodong.css}">
		<link rel="stylesheet" th:href="@{/mobile/css/gongyi.css}">
		<link rel="stylesheet" th:href="@{/mobile/css/zixun.css}">
		<link rel="stylesheet" th:href="@{/mobile/css/css1.css}">
		<link rel="stylesheet" th:href="@{/mobile/css/css2.css}">
		<link rel="stylesheet" th:href="@{/mobile/css/jquery.my-modal.1.1.css}">
		<link rel="stylesheet" th:href="@{/mobile/css/jquery.my-modal.1.2.css}">
		<link rel="stylesheet" th:href="@{/mobile/css/jquery.my-modal.2.1.css}">
		<script th:src="@{/mobile/js/jquery.my-modal.1.1.js}"></script>
		<script th:src="@{/mobile/js/jquery.my-modal.1.2.js}"></script>
		<script th:src="@{/js/plugins/layer/layer.js}"></script>
		<script th:src="@{/js/layui.js}"></script>
		<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
		<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
		<script th:src="@{/js/validate.js}"></script>
		<style>
 .addred{
  color:#fff !important;

 }
 #reward li{
 color:#dc1333;
 }
 .m-middletxt3 button {
	width:168px;
	height:40px;
	border:none;
	text-align:center;
	line-height:40px;
	background:red;
	outline: none;
	color:#fff;
}
</style>
	</head>
	<body>
		<div class="header_txt">
			<div class="headerleft">
				<a href="javascript:history.back(-1)"><img th:src="@{/mobile/images/qianwnag.png}" alt=""></a>
			</div>
			<div class="headercent">公益打赏</div>
			<div class="headerright">
				<img src="images/dian.png" alt="">
				<img src="images/dian.png" alt="">
				<img src="images/dian.png" alt="">
			</div>
		</div>
		<div class="gycent">
			<input type="hidden" id="infoId" th:value="${info.id}">
			<input type="hidden" id="titleImg" th:value="${info.titleImg}">
			<input type="hidden" id="titleNew" th:value="${info.title}">
			<h4 id="title" th:text="${info.title}"></h4>
			<div class="gycent1"><span th:text="${info.source}"></span>&nbsp;<span th:text="${#dates.format(info.publicTime, 'yyyy-MM-dd hh:mm')}"> </span>
			<a th:if=" ${is_attention} eq '0'" href="/login" id="guanzhu">+关注</a>
			<input type="hidden" th:value="${team.id}" id="teamId">
			<a th:if=" ${is_attention} eq '2'" href="javascript:;" id="guanzhu" onclick="attention()">+关注</a>
			</div>
			<div class="gycent2" th:utext="${info.content}">
			</div>
			<div class="gycent3">
				<span>有您的支持是我们最大的动力</span>
				<a href="" class="modal__trigger btn2" onclick="reward()"><img src="" alt="" >打赏</a>
				<p th:text="${'已有'+reCountUser+'人打赏'}"></p>
			</div>
			<!-- 打赏!! -->
		<div class="m-modal1">
			<div class="m-modal1-dialog m-modal1-dialog1">
				<div class="m-top">
					<span class="m-modal1-close">X</span>
				</div>
				<div class="m-middle2">
				   <div class="m-middletxt">
					   <img th:src="@{/pc/images/touxiang 82.png}" id="touxiang">
				   </div>
				   <div class="m-middletxt2">
				   		<ul id="reward">
							
						</ul>
				   </div>
				   <div class="m-middletxt3">
				   <input type="hidden"  id="givePrice">
					   <button onclick="giveReward()">提交</button>
				   </div>
				</div>
			</div>
		</div>
			<div class="gycent4">
				<div style="overflow: hidden;">
					<img th:each="user:${user}" th:src="${user.headImg}" alt="">
				</div>
				<!-- <a href="javascript:;">加载更多</a> -->
			</div>
		</div>
		<div class="gybut">
			<div th:if=" ${isLike} eq '0'">
				<img th:src="@{/pc/images/listzz_03.jpg}" alt="点赞"
					th:text="${info.numberOfLikes}" onclick="login()">
			</div>
			<div th:if=" ${isLike} eq '1'">
				<img th:src="@{/pc/images/listzz_04.jpg}" alt="点赞"
					th:text="${info.numberOfLikes}">
			</div>
			<div th:if=" ${isLike} eq '2'">
				<img th:src="@{/pc/images/listzz_03.jpg}" alt="点赞"
					th:text="${info.numberOfLikes}" th:onclick="like()" id="like">
			</div>
			<div th:if=" ${isTop} eq '1'">
				<img th:src="@{/pc/images/listzs_05.jpg}" alt="">已置顶
			</div>
			<div th:if=" ${isTop} eq '2'">
				<img th:src="@{/pc/images/listzs_06.jpg}" alt=""
					th:onclick="topNew()" id="top">未置顶
			</div>
			<input type="hidden" id="isRed" th:value="${isRed}"> <input
				type="hidden" id="isGetRed" th:value="${isGetRed}">
			<div th:if=" ${isRed} eq '1'">
				<img class="modal__trigger" onclick="queryRed()" data-modal="#modal" id="queryRed"
					th:src="@{/pc/images/listcc_08.png}" alt=""
					style="box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1)">发放中
			</div>
			<div th:if=" ${isRed} eq '2'">
				<img class="modal__trigger btn1" th:src="@{/pc/images/listcc_07.jpg}"
					alt="" onclick="redNew()"
					style="box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1)">未发放
			</div>
		</div>
		<!-- 发红包 -->
		<div class="m-modal">
				<div class="m-modal-dialog m-modal-dialog3">
					<div class="m-top">
						<span class="m-modal-close">X</span>
					</div>
					<div class="m-middle3">
					  <p id="sum"></p>
					  <input type="text" placeholder="红包个数不能大于红包总额的5倍!!!" id="number">
					</div>
					<div class="m-middle4">
					    <ul id="red">
							
						</ul>
					</div>
					<a href="javascript:;" ><div class="m-middle5" onclick="redPacket()">
					<input type="hidden"  id="price">
					</div></a>
				</div>
			</div>
		<!-- 看红包 -->
			<div id="modal" class="modal modal__bg" role="dialog"  aria-hidden="true" style="background:rgba(0,0,0,0.9);">
				<div class="modal__dialog" style="width: 600px;">
					<div class="modal__content">
						<div style="width: 600px;background:#fff;position: fixed;">
							<div class="hbtop"></div>
							<div style="width: 600px;background:#fff;height: 260px;">
								<div class="hbcen">
									<div class="hbcen1"  id ="user">
									
									</div>
								</div>
							</div>
							<div style="width: 100%;line-height: 40px;background:#ebebeb;" id="redCount">
							
							</div>
						</div>
						<div class="lingqu" id="redList"></div>
						<a href="" class="modal__close demo-close">
						<svg class="" viewBox="0 0 24 24">
								<path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z" />
								<path d="M0 0h24v24h-24z" fill="none" />
							</svg>
						</a>
					</div>
				</div>
			</div>
			<script type="text/javascript" th:src="@{/mobile/js/js1.js}"></script>
		<div class="gyimg">
			<a th:each="act: ${advList}" class="btn5" th:href="${act.advImg!=null?act.url:'javascript:;'}" th:target="${act.advImg!=null?'_blank':''}">
				<img th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_09.jpg'}" th:class="${act.advImg!=null?'':'btn5'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
			</a>
		</div>
		<div class="listpl-2">
			<div class="listpl-2-1">
				<img src="images/touxiang5.png" alt="">
			</div>
			<div class="listpl-2-2">
				<textarea placeholder="说两句吧..." id="comm"></textarea>
				<a href="javascript:;" onclick="comment()">发表</a>
			</div>
		</div>
		<div class="listpl-3">
			<p>全部评论</p>
		</div>
		<div class="listpl-4" id="comment">
			<div  style="float: left" th:each="comm : ${comm}">
			<img  style="width: 50px;height: 50px; float: left;" th:src="${comm.headImg}" >
			<div >
				<span th:text="${comm.name +'  '+ #dates.format(comm.createTime, 'yyyy-MM-dd hh:mm')}"></span>
				<p style="font-size:22px;" th:text="${comm.criticismContent}"></p>
			</div>
			<hr>
			</div>
			<a href="#">查看更多</a>
		</div>
		<div class="zixunnr" th:each="newsTop,iterStat:${newsTop}"><a th:href="@{/pc/news/info(id=${newsTop.id},areaId=${areaId})}">
			<div th:href="@{/pc/news/info(id=${newsTop.id})}">
				<span  th:text="${newsTop.title}"></span>
				<p th:text="${newsTop.source +''+ #dates.format(newsTop.publicTime, 'yyyy-MM-dd hh:mm')}"></p>
				<div th:if=" ${newsTop.isTop} eq '1'">
				<img th:src="@{/pc/images/list_09.jpg}" alt="">
				</div>
				<div th:if=" ${newsTop.isRedPeper} eq '1'">
				<img th:src="@{/pc/images/list_06.jpg}" alt="">
				</div>
			</div>
			<img th:src="${newsTop.titleImg}" alt=""></a>
		</div>
		<div class="listpl-5">
			<a href="#">查看更多资讯</a>
		</div>
		<div th:replace="mobile/include :: footer"></div>
		<div class="pl">
			<div>
				<input type="text" placeholder="随便说点什么...">
				<a href=""><img th:src="@{/mobile/images/hdxq_27.jpg}" alt=""><span></span></a>
				<a href=""><img th:src="@{/mobile/images/pinglun.png}" alt=""><span></span></a>
				<!-- <a href="javaScript:shareFriend();"><img th:src="@{/mobile/images/zhuanfa.png}" alt=""><span></span></a> -->
			</div>
		</div>
		<div class="m-modal5">
		<div class="m-modal-dialog5" style="width: 80%">
			<div class="m-top">
				<span class="m-modal-close">X</span>
			</div>
			<div class="m-middle" style="width: 80%">
			    <form action="" id="signupForm">
			    <input type="hidden" placeholder="" class="input1" id="url">
			    <input type="hidden" placeholder="" class="input1" id="price">
			    <input type="hidden" placeholder="" class="input1" name="positionNum" id="positionNum">
			    <input type="hidden" placeholder="" class="input1" id="regionName">
			    <input type="hidden" placeholder="" class="input1" id="sort" name="sort">
			    <input type="hidden" placeholder="" class="input1" name="regionCode" id="regionCode">
			    	<label>
						<span>广告展示位置</span>
						<input type="text" placeholder="" readonly="readonly" id="positionName" class="input1">
					</label>
					<label>
						<span>广告投放天数</span>
						<input type="text" oninput="clearNoNum1(this)" onmouseout="jisuan()"  id="showDay"  name="showDay" placeholder="投放天数" class="input1">
					</label>
					<label>
						<span>广告链接地址</span>
						<input type="text" placeholder="http://" name="advUrl" class="input1">
					</label>
					<label>
						<span>上传广告图</span>
						<img th:src="@{/pc/images/gahgha_03.png}" id="img" alt="">
						<input type="hidden" id="imgStr" name="advImg">
						<input type="file" name="file" style="display: none;" id ="file">
					</label>
					<label>
						<span>广告价格</span>
						<span style="color:#ff0101;font-size:28px;" id="jiage">0元</span>
					</label>
					<label>
						<input type="button" id="save" value="确认购买" class="input3">
					</label>
			    </form>
			</div>
		</div>
	</div>
	</body>
	<script src="/js/plugins/layer/layer.js"></script>
	<script src="/js/layui.js"></script>
	<script src="/js/plugins/layer/laydate/laydate.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script th:src="@{/mobile/js/jquery.my-modal.2.1.js}"></script>
	<script type="text/javascript">
	var m5 = new MyModal5.modal(function() {
	});
	$('.btn5').on("click", function() {
		var url=$(this).attr("data-url");
		$("#url").val(url);
		 $.get(url, function(result){
			 if(result.code==-0){
				 $("#price").val(result.price);
				 $("#positionNum").val(result.positionNum);
				 $("#regionName").val(result.regionName);
				 $("#positionName").val(result.positionName);
				 $("#regionCode").val(result.regionCode);
				 $("#sort").val(result.sort);
				 m5.show();
			 }
			 if(result.code==-1){
				 window.location.href = result.url;
			 }
			 if(result.code==500){
				 layer.msg(result.msg);
			 }
		});
	});
	
	layui.use('upload', function() {
	    var upload = layui.upload;

	    //执行实例
	    var uploadInst = upload.render({
	        elem : '#file', //绑定元素
	        url : '/common/sysFile/upload', //上传接口
	        size : 1000,
	        accept : 'file',
	        done : function(r) {
	            var fileName = r.fileName;
	             $("#imgStr").val(fileName);
	     	     $("#img").attr("src",fileName);
	        },
	        error : function(r) {
	            //layer.msg(r.msg);
	        }
	    });
	    
	});

	$().ready(function(){
		$("#save").on('click', function() {
			console.log(123);
			$("#signupForm").submit();
		});
	})

	function jisuan(){
		var day=$("#showDay").val();
		var price = $("#price").val();
		var allPrice=day*price;
		console.log(allPrice);
		$("#jiage").text(allPrice+"元");
	}


	function save() {
			$.ajax({
				type : "POST",
				url : "/pc/advSubmit",
				data : $('#signupForm').serialize(),
				success : function(r) {
					if (r.code == 0) {
						layer.msg(r.msg);
						
					} else {
						layer.msg(r.msg);
					}
				},
			});
		}
		
		$().ready(function() {
			validateRule();
		});

		$.validator.setDefaults({
			submitHandler : function() {
				save();
			}
		});
		function validateRule() {

			var icon = " ";
			$("#signupForm").validate({
				rules : {
					positionName : {
						required : true
					},
					showDay : {
						required : true
					},
					advUrl : {
						required : true
					},
					advImg : {
						content : true
					}
				},
				messages : {
					positionName : {
						required : icon + "<span style='color:red'>展示位置不能为空</span>",
					},
					showDay : {
						required : icon + "<span style='color:red'>投放天数不能为空</span>",
					},
					advUrl : {
						required : icon + "<span style='color:red'>广告链接不能为空</span>",
					},
					advImg : {
						required : icon + "<span style='color:red'>广告图片不能为空</span>",
					}
				}
			})
		}
	//发红包
	var m1 = new MyModal.modal(function() {
		alert("你点击了确定");
	});
	
	$('.btn1').on("click", function() {
		m1.show();
	});
	
	$("#red").on("click","li",function(){
		$(this).addClass("qian").siblings("li").removeClass("qian");
		var a = $(this).children("#mony").text();
		$("#price").val(a);
	})
	//结束
	//发红包
	function redNew(){
		var para={"newsId":$('#infoId').val()};
		$.ajax({
			type : "POST",
			url : "/pc/news/red",
			data : para,
			error : function(request) {
				alert("查询红包异常");
			},
			success : function(data) {
				if (data.code == 0) {
					var red = '';
					var sum = '';
					var account = data.user.account;
						sum += '您的余额剩余<span>'+account+'</span>元';
						$("#sum").empty();
						$('#sum').append(sum);
					$.each(data.listPrice, function(i, item){
						red += '<li>';
						red += '<p id="mony">'+item.price+'</p>元</br>';
						red += '<p class="sx">手续费'+item.rate+'元</p>';
						red += '</li>';
					});
					$("#red").empty();
					$('#red').append(red);
				}else{
					var url = data.url;
					window.location.href = url;
				}

			}
		});
	}
	//红包提交
	 function redPacket(){
		 var para={"newsId":$('#infoId').val(),"orderType":2,"expIncType":3,"price":$('#price').val(),"number":$('#number').val()};
		  $.ajax({
				type : "POST",
				url : "/pc/news/redPacket",
				data : para,
				error : function(request) {
					layer.msg('发红包失败！您扣除的：'+ $('#price').val() +'元 已原路退回您的账户');
				},
				success : function(data) {
					if (data.code == 0) {
						alert("发红包成功");
						history.go(0);
					} else {
						if(data.msg == -1){
						layer.msg('发红包失败！您的余额不足');
						}else if(data.msg == 0){
						layer.msg('发红包失败！您的：'+ $('#price').val() +'元 已原路退回您的账户');
						}else if(data.msg == 2){
							layer.confirm('您未登录请问是否跳转登录页面？', {
								  btn: ['是','否'] //按钮
								}, function(){
									window.location.href = "/admin";
								}, function(){
								  layer.msg('发红包是需要登陆的', {
								    time: 20000, //20s后自动关闭
								    btn: ['知道了']
								  });
								});
						}else if(data.msg == 3){
							alert('红包数量不得大于红包总额的5倍');
						}
					}

				}
			});
}
	//红包
	function queryRed(){
		para={"newsId":$('#infoId').val()};
		$.ajax({
			type : "POST",
			url : "/pc/news/queryRed",
			data : para,
			error : function(request) {
				alert("查询红包异常");
			},
			success : function(data) {
				if (data.code == 0) {
					var img = data.userRed.head_img;
					if(img==null&&img==''){
						img = '/pc/images/touxiang5.png'
					}
					var text = data.userRed.price;
					var user = '';
					var count = '';
					var redList = '';
					user +='<img src="'+img+'" id="headImg">';
					user +='<p style="font-size: 20px; line-height: 30px;">打赏门户的红包</p>';
					user +='<p style="color: #b8b8b8; font-size: 16px; line-height: 40px;">恭喜发财，大吉大利</p>';
					user +='<span><rem style="font-size:36px; color:#ef472a;"';
					user +='id="userRed">'+text+'</rem>元</span>';
					$("#user").empty();
					$('#user').append(user);
					count += '<p style="margin-left: 10px;">已领取'+data.redSize+'/'+data.Packet.count+'个,共'+data.Packet.money+'元</p>'
					$("#redCount").empty();
					$('#redCount').append(count);
					$('#redList').empty();
					$.each(data.listRed, function(i, item){ 
						 redList += '<div class="hblq"> <div class="hblq1">';
						 redList += '<img src="'+item.head_img+'" alt="">'	;			
						 redList += '<div>';			
						 redList += '<span>'+item.name+'</span>';					
						 redList += '<p>'+item.get_time+'</p>';					
						 redList += '</div>';				
						 redList += '<p>'+item.price+'元</p>';		
						 redList += '</div>';	
						 redList += '</div>';
						   }); 
						 $('#redList').append(redList);
				}else{
					
				}

			}
		});
	}
	$().ready(function(){
		var isRed = $('#isRed').val();
		var isGetRed = $('#isGetRed').val();
		//满足两个条件 1:有红包 2:未领取过
		if(isRed==1&&isGetRed==2){
			var myVar = setTimeout(vieRed, 1000);
		}
	})
	//抢红包
	function vieRed(){
		para={"newsId":$('#infoId').val(),"orderType":1,"expIncType":3};
		$.ajax({
			type : "POST",
			url : "/pc/news/vieRed",
			data : para,
			async : true,
			error : function(request) {
				alert("抢红包异常");
			},
			success : function(data) {
				if (data.code == 0) {
					alert("成功");
					queryRed();
					$('#queryRed').click();
				} else if(data.msg == 1){
					alert('红包抢完啦!');
				}else if(data.msg == 2){
					alert('抢红包失败!');
				}else if(data.msg == 4){
					alert('已领取红包!');
				}

			}
		});
		
	}
	
	
	//打赏
	var m2 = new MyModal1.modal(function() {
		alert("你点击了确定");
	});
	$('.btn2').on("click", function() {
		m2.show();
	});
	$("#reward").on("click","li",function(){
		$(this).addClass("addred").siblings("li").removeClass("addred");
		var a = $(this).children("a").text();
		$("#givePrice").val(a);
	})
	//结束
	
	//打赏
	function reward(){
		var para='';
		$.ajax({
			type : "POST",
			url : "/pc/news/rewardList",
			data : para,
			error : function(request) {
				alert("查询异常");
			},
			success : function(data) {
				if (data.code == 0) {
					var reward = '';
					var touxiang = data.user.headImg;
					$('#touxiang').attr('src',touxiang);
					$.each(data.listPrice, function(i, item){
						reward += '<li><a href="#">'+item.price+'</a>元</li>';
					});
					$("#reward").empty();
					$('#reward').append(reward);
				}else{
					var url = data.url;
					window.location.href = url;
				}

			}
		});
	};
	//打赏提交
	function giveReward(){
 		var som = $('#givePrice').val();
		var para= {};
			  para={"newsId":$('#infoId').val(),"orderType":2,"expIncType":2,"price":som};
			  $.ajax({
					type : "POST",
					url : "/pc/news/reward",
					data : para,
					error : function(request) {
						layer.msg('打赏失败！您打赏的：'+ som +'元 已原路退回您的账户');
					},
					success : function(data) {
						if (data.code == 0) {
							alert("打赏成功");
							history.go(0);
						} else {
							if(data.msg == -1){
							layer.msg('打赏失败！您的余额不足');
							}else if(data.msg == 0){
							layer.msg('打赏失败！您打赏的：'+ som +'元 已原路退回您的账户');
							}else if(data.msg == 2){
								layer.confirm('您未登录请问是否跳转登录页面？', {
									  btn: ['是','否'] //按钮
									}, function(){
										window.location.href = "/admin";
									}, function(){
									  layer.msg('打赏是需要登陆的', {
									    time: 20000, //20s后自动关闭
									    btn: ['知道了']
									  });
									});
							}
						}

					}
				});
	};
	
	function attention(){
		var teamId = $('#teamId').val();
		var para = {"teamId":teamId};
		$.ajax({
			type : "POST",
			url : "/pc/news/attention",
			data : para,
			error : function(request) {
				parent.layer.alert("关注失败");
			},
			success : function(data) {
				if (data.code == 0) {
					$("#guanzhu").remove();
				} else if (data.code == 1) {
					window.location.href = "/admin";
				} else{
					parent.layer.alert(data.msg)
				}

			}
		});
	}
	
	function like(){
		para={"newsId":$('#infoId').val()};
		$.ajax({
			cache : true,
			type : "GET",
			url : "/pc/news/likes",
			data : para,
			async : true,
			error : function(request) {
				parent.layer.alert("点赞失败");
			},
			success : function(data) {
				if (data.code == 0) {
					$("#like").attr("src","/pc/images/listzz_04.jpg");
					history.go(0);
				} else if(data.code == 2){
					alert(data.msg);
					history.go(0);
				}else {
					parent.layer.alert(data.msg)
				}

			}
		});
	}
	function topNew(){
		var id = $('#infoId').val();
		layer.open({
			type : 2,
			title : '申请置顶',
			maxmin : true,
			shadeClose : false, // 点击遮罩关闭层
			area : [ '340px', '420px' ],
			content : '/pc/news/top/' + id // iframe的url
		});
	
	}
	function comment(){
		var comment={};
		comment={"criticismContent":$('#comm').val(),"newsId":$('#infoId').val()};
		$.ajax({
			type : "POST",
			url : "/pc/news/comment",
			data : comment,
			dataType:"json",
			error : function(request) {
				 layer.msg("请求失败");
			},
			success : function(data) {
				if (data.code == 0) {
						alert("发表成功");
						history.go(0);
				} else if(data.code == 2){
					alert(data.msg);
					history.go(0);
				}else {
					if(data.msg==0){
						layer.confirm('您未登录请问是否跳转登录页面？', {
							  btn: ['是','否'] //按钮
							}, function(){
								window.location.href = "/admin";
							}, function(){
							  layer.msg('发言是需要登陆的', {
							    time: 20000, //20s后自动关闭
							    btn: ['知道了']
							  });
							});
					
					}else if(data.code == 1){
						layer.msg("发表失败");
					}
				}

			}
		});
	}
	function login(){
		window.location.href = "/admin";
}
	
	
	var appId = '';
	var signature = '';
	var nonceStr = '';
	var timestamp = '';
	var url = '';
	var link = window.location.href;
	$(function(){  
		  var url = encodeURI(location.href.split('#')[0]);
		  console.log("url=="+url);
		  $.ajax({
		         url: "/wxshare/getSignature",
		         type: "POST",
		         data:{"url":url},
		         dataType: "json",
		         success: function(data){
		             aapId = data.appId
		             url =  data.url;
		             nonceStr=data.nonceStr;
		             signature=data.signature;
		             timestamp=data.timestamp;
		             wx.config({
		 			    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
		 			    appId: data.appId, // 必填，公众号的唯一标识
		 			    timestamp: data.timestamp, // 必填，生成签名的时间戳
		 			    nonceStr: data.nonceStr, // 必填，生成签名的随机串
		 			    signature: data.signature,// 必填，签名
		 			    jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] // 必填，需要使用的JS接口列表
		 			});
		 		 
		 		  wx.error(function(res){
		 			console.log(res)
		 			alert("验证失败了");
		 		  });
		 		  
		 		 wx.ready(function(){
					  //分享到朋友圈
					  wx.onMenuShareTimeline({
						    title: $('#titleNew').val(), // 分享标题
						    link: data.url, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
						    imgUrl: $('#titleImg').val(), // 分享图标
						    success: function () {
						    	alert("分享成功");
						    	share(1)
							},
						cancel: function () {
							alert("分享失败");
						    // 用户取消分享后执行的回调函数
					    }
					});
					  //分享到朋友
					  wx.onMenuShareAppMessage({
						  title: $('#titleNew').val(), // 分享标题
						  desc: '一起来参加', // 分享描述
						  link: data.url, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
						  imgUrl: $('#titleImg').val(), // 分享图标
						  type: '', // 分享类型,music、video或link，不填默认为link
						  dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
						  success: function () {
							  alert("分享成功");
							  share(5)
						  },
						  cancel: function () {
							  alert("分享失败");
						  // 用户取消分享后执行的回调函数
						  }
						  });
				  });
		          },
		          error:function(err){
		            console.log('异常');
		          }
		        });
	  }); 
	
	function share(reType){
		para={"newsId":$('#infoId').val(),"trType":reType};
		$.ajax({
			cache : true,
			type : "GET",
			url : "/pc/news/share",
			data : para,
			async : true,
			error : function(request) {
				alert("分享失败");
			},
			success : function(data) {
				if (data.code == 0) {
					alert("分享成功");
					history.go(0);
				} else if(data.code == 2){
					alert(data.msg);
				}else if(data.code == 3){
					alert(data.msg);
				}else{
					alert(data.msg);
				}

			}
		});
	}
	
	
	</script>
	<script type="text/javascript">
	//分页加载
	$().ready(function(){
	var id = $('#infoId').val();
	var hasMore;
	var page = 1; //初始页码
	var maxnum = 2;//设置加载次数
	 
	var downrange= 100;                //下边界-参考正在加载提示层/px
	var $main = $("#showbox");            //主体
	var $loaddiv = $("#add-more") ;       //加载提示层
	var totalheight = 0; 
	var $listrow=$("#comment");
	//ajax-fun
	function ajaxLoad(){
	var html="";
	page=page+1;//每次拉到底部page加1
	//console.log(page)
	hasMore=false;
	$.ajax({
	url:"/pc/news/queryCommList?id="+id+"",
	type:"post",
	data:{page:page},//请求页数
	success:function(res){
	var list = eval(res);
	//console.log(list.length);
	//var list=JSON.parse(res);
	if(list.length>0) {
	    hasMore=true;
	//console.log(JSON.parse(res));
	    //追加数据
	   $.each(res, function(i, item){ 
	  	html +='<div>';
		html +='<img src="'+item.headImg+'" alt="">';
		html +='<div>
		html +='<span >'+item.name+item.createTime+'</span>';
		html +='<p style="font-size:22px;" >'+item.criticismContent+'</p>';
		html +='</div>';
		html +='<hr>';
		html +='</div>';
	    })
	    $listrow.append(html);//数据追加到list
	    var imgWidth=$('.list_flex_son_img').width();
	    $('.list_flex_son_img').height(imgWidth);
	}    
	}
	})
	}
	 
	//加载中隐藏显示
	$loaddiv.ajaxStart(function(){
	$(this).show();
	}).ajaxStop(function(){
	$(this).hide();
	})
	ifLoad();
	//scroll滚动触发加载事件
	function ifLoad(){
	hasMore=true;
	var w = $(window);
	var lastTime = new Date();
	window.addEventListener("scroll", function scrollHandler() {
	var scrollh = $(document).height();
	var bua = navigator.userAgent.toLowerCase();
	if (bua.indexOf('iphone') != -1 || bua.indexOf('ios') != -1) {
	scrollh = scrollh -140;
	} else {
	scrollh = scrollh - 80;
	}
	if(($(document).scrollTop() + w.height()) >= scrollh){
	if (new Date()-lastTime <100) {
	    return;
	}
	lastTime = new Date();
	if (hasMore) {
	    ajaxLoad();
	}
	}
	}, 1000);
	}
	 
	});

	
	</script>
</html>
