<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=750">
		<link rel="stylesheet" th:href="@{/mobile/css/index.css}">
		<link rel="stylesheet" th:href="@{/mobile/css/HuaDongNav.css}">
		<link th:href="@{/css/layui.css}" rel="stylesheet">
		<link rel="stylesheet" th:href="@{/mobile/css/zixun.css}">
		<link rel="stylesheet" th:href="@{/mobile/css/jquery.my-modal.2.0.css}">
		<script type="text/javascript" th:src="@{/mobile/js/jquery-1.10.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/mobile/js/mobile-util.js}"></script>
		<script type="text/javascript" th:src="@{/mobile/js/flexible.js}"></script>
		<script type="text/javascript" th:src="@{/mobile/js/iscroll.js}"></script>
		<script type="text/javascript" th:src="@{/mobile/js/navbarscroll.js}"></script>
		<script th:src="@{/js/plugins/layer/layer.js}"></script>
		<script th:src="@{/js/layui.js}"></script>
		<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
		<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
		<script th:src="@{/js/validate.js}"></script>
	</head>
	<body>
		<header style="background:#c01b25;">
			<div class="login">
				<img th:src="@{/mobile/images/zixun_03.jpg}" alt="">
			</div>
			<div class="header-center">
				<select style="width: 135px;
				height: 30px;-webkit-appearance: none;
				background:url(images/input_03.jpg)no-repeat right;
				background-size:30px 30px;background-color: #fff;">
					  <option value="1">全国</option>
					  <option value="2">Saab</option>
					  <option value="3">Opel</option>
					  <option value="4">Audi</option>
                </select> 
			</div>
		</header>
		
		<div class="zixungg">
			<a th:each="act: ${advList}"  th:href="${act.advImg!=null?act.url:'javascript:;'}" th:target="${act.advImg!=null?'_blank':''}">
				<img th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_09.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
			</a>
		</div>
		<div class="zixunnr" th:each="info:${newsList}"><a th:href="@{/pc/news/info(id=${info.id},areaId=${areaId})}">
			<div>
				<span th:text="${info.title}"></span>
				<p><span th:text="${info.source}"></span>&nbsp;&nbsp;<span th:text="${info.teamName}"></span>&nbsp;<span th:text="${#dates.format(info.publicTime,'yyyy-MM-dd')}"></span>&nbsp;&nbsp;<span th:text="${'评论' + info.criticismOfCount}"></span> <img th:if=" ${info.isTop} eq '1'" th:src="@{/mobile/images/list_09.jpg}" style="width: 38px;height: 20px"><img th:if=" ${info.isRedPeper} eq '1'" th:src="@{/mobile/images/list_06.jpg}" style="width: 38px;height: 20px"></p>
			</div>
			<img th:src="@{/mobile/images/zixungg_20.jpg}" style="width: 240px; height: 157px;">
		</a>
		</div>
		<div class="beian">
			<div class="beian1">
				<span>京ICP备12048184号</span>
				<span>技术支持：景安网络</span>
			</div>
		</div>
	</body>
</html>
<script th:src="@{/mobile/js/jquery.my-modal.2.0.js}"></script>
<script type="text/javascript">
	$(function(){
		$('.wrapper').navbarscroll();
		
	});
	
	var m1 = new MyModal.modal(function() {
	});
	$('.btn1').on("click", function() {
		var url=$(this).attr("data-url");
		$("#url").val(url);
		 $.get(url, function(result){
			 console.log(result);
			 if(result.code==-0){
				 $("#price").val(result.price);
				 $("#positionNum").val(result.positionNum);
				 $("#regionName").val(result.regionName);
				 $("#positionName").val(result.positionName);
				 $("#regionCode").val(result.regionCode);
				 $("#sort").val(result.sort);
				 m1.show();
			 }
			 if(result.code==-1){
				 window.location.href = result.url;
			 }
			 if(result.code==500){
				 layer.msg(result.msg);
			 }
		});
	});

	layui.use('upload', function() {
	    var upload = layui.upload;

	    //执行实例
	    var uploadInst = upload.render({
	        elem : '#file', //绑定元素
	        url : '/common/sysFile/upload', //上传接口
	        size : 1000,
	        accept : 'file',
	        done : function(r) {
	            var fileName = r.fileName;
	             $("#imgStr").val(fileName);
	     	     $("#img").attr("src",fileName);
	        },
	        error : function(r) {
	            //layer.msg(r.msg);
	        }
	    });
	    
	});

	$().ready(function(){
		$("#save").on('click', function() {
			console.log(123);
			$("#signupForm").submit();
		});
	})

	function jisuan(){
		var day=$("#showDay").val();
		var price = $("#price").val();
		var allPrice=day*price;
		console.log(allPrice);
		$("#jiage").text(allPrice+"元");
	}


	function save() {
			$.ajax({
				type : "POST",
				url : "/pc/advSubmit",
				data : $('#signupForm').serialize(),
				success : function(r) {
					if (r.code == 0) {
						layer.msg(r.msg);
						
					} else {
						layer.msg(r.msg);
					}
				},
			});
		}
		
		$().ready(function() {
			validateRule();
		});

		$.validator.setDefaults({
			submitHandler : function() {
				save();
			}
		});
		function validateRule() {

			var icon = "<i class='fa fa-times-circle'></i> ";
			$("#signupForm").validate({
				rules : {
					positionName : {
						required : true
					},
					showDay : {
						required : true
					},
					advUrl : {
						required : true
					},
					advImg : {
						content : true
					}
				},
				messages : {
					positionName : {
						required : icon + "<span style='color:red'>展示位置不能为空</span>",
					},
					showDay : {
						required : icon + "<span style='color:red'>投放天数不能为空</span>",
					},
					advUrl : {
						required : icon + "<span style='color:red'>广告链接不能为空</span>",
					},
					advImg : {
						required : icon + "<span style='color:red'>广告图片不能为空</span>",
					}
				}
			})
		}
</script>
