<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		 <meta name="viewport" content="width=750">
		<link rel="stylesheet" th:href="@{/mobile/css/Personal.css}">
		<script type="text/javascript" th:src="@{/mobile/js/jquery-3.1.1.js}"></script>
		<script type="text/javascript" th:src="@{/mobile/js/mobile-util.js}"></script>
		<script type="text/javascript" th:src="@{/mobile/js/jquery.my-modal.1.1.js}"></script>
		<script type="text/javascript" th:src="@{/mobile/js/jquery.my-modal.1.2.js}"></script>
		<link rel="stylesheet" th:href="@{/mobile/css/jquery.my-modal.1.1.css}">
		<link rel="stylesheet" th:href="@{/mobile/css/jquery.my-modal.1.2.css}">
	</head>
	<style>
	.m-middletxt3 span{
	  display:block;
	  width:200px;
	  height:54px;
	  background:red;
	  color:#fff;
	  margin:0 auto;
	  text-align: center;
	  line-height: 54px;
      font-size: 26px;
      border-radius: 3px;
	  
     }
     .m-middletxt2{
      overflow: hidden;
     }
     .m-middletxt2 span{
	  display:block;
	  width:200px;
	  height:54px;
	  background:red;
	  color:#fff;
	  margin:0 auto;
	  text-align: center;
	  line-height: 54px;
      font-size: 26px;
      border-radius: 3px;
      margin-top:30px;
      
	  
     }
	</style>
	<body>
		<header>
			<div class="header1">
				<div class="header1-1">
					<a href="/"><img th:src="@{/mobile/images/qianwnag.png}" alt=""></a>
				</div>
				<div class="header1-2">
					个人中心
				</div>
				<div class="header1-3">
					<img th:src="@{/mobile/images/shezhi.png}" alt="">
				</div>
			</div>
			<div class="header2">
				<div class="header2-1">
					<img th:src="${user.headImg}" alt="">
					<div th:text="${user.isIdentification==1?'已实名':'未实名'}"></div>
				</div>
				<div class="header2-2" style="margin-top:13px;">
					<div class="header2-2-1"><span th:text="${'姓名:' + user.name}"></span> <span><img th:src="@{/mobile/images/nv.png}" alt=""></span> <span th:text="${'ID:'+user.userId}"></span></div>
					<div class="header2-2-2">
						<span>志愿者等级 </span>
						<img th:src="@{/mobile/images/xing.png}" alt="">
						<img th:src="@{/mobile/images/xing.png}" alt="">
						<img th:src="@{/mobile/images/xing.png}" alt="">
						<img th:src="@{/mobile/images/xing.png}" alt="">
						<img th:src="@{/mobile/images/xing.png}" alt="">
					</div>
					<div class="header2-2-3">所属团队:河南省郑州市金水区景安团队</div>
				</div>
			</div>
		</header>
		<!-- 资产情况 -->
		<div class="conter">
			<div class="conter1">
			<input type="hidden" th:value="${ccount}" id="ccount">
				<span th:text="${ccount}"></span>
				<p>账户总额(元)</p>
			</div>
			<div class="conter1">
				<span th:text="${platformIntegral}">162.87</span>
				<p>平台积分</p>
			</div>
			
		</div>
		<!-- 提现 -->
		<div class="tianxian">
			<div class="tianxian1 btn2">
				<a ><img th:src="@{/mobile/images/tixian.png}" alt="">提现</a>
			</div>
			<div class="tianxian2 btn1">
				<a ><img th:src="@{/mobile/images/qianabo.png}" alt="">充值</a>
			</div>
		</div>
		<!-- 功能 -->
		<div class="gongneng">
			<figure>
				<a href="/pc/getFinancial"><img th:src="@{/mobile/images/caiwu.png}" alt=""></a>
				<figcaption>
					财务中心
				</figcaption>
			</figure>
			<figure>
				<a href="/pc/newAdd"><img th:src="@{/mobile/images/xinwen.png}" alt=""></a>
				<figcaption>
					新闻发布
				</figcaption>
			</figure>
			<figure>
				<a href="/pc/activityAdd"><img th:src="@{/mobile/images/guang.png}" alt=""></a>
				<figcaption>
					活动发布
				</figcaption>
			</figure>
			<figure>
				<a href="/pc/collect"><img th:src="@{/mobile/images/tuceng.png}" alt=""></a>
				<figcaption>
					关注中心
				</figcaption>
			</figure>
			<figure>
				<a href="/pc/myJoinTeam"><img th:src="@{/mobile/images/tuandui.png}" alt=""></a>
				<figcaption>
				    我的参团
				</figcaption>
			</figure>
			<figure>
				<a href="/pc/regTeam/createTeam"><img th:src="@{/mobile/images/chuangjian.png}" alt=""></a>
				<figcaption>
					申请建团
				</figcaption>
			</figure>
			<figure>
				<a href="/pc/checkin/show"><img th:src="@{/mobile/images/qiandao.png}" alt=""></a>
				<figcaption>
					我要签到
				</figcaption>
			</figure>
			<figure>
				<a href="/pc/voApply"><img th:src="@{/mobile/images/xiangce.png}" alt=""></a>
				<figcaption>
					志愿者电子证
				</figcaption>
			</figure>
			<figure>
				<a href="/pc/proxybusi/show"><img th:src="@{/mobile/images/dianzi.png}" alt=""></a>
				<figcaption>
					代理商申请
				</figcaption>
			</figure>
			<figure>
				<a href="/logout"><img th:src="@{/mobile/images/dianzi.png}" alt=""></a>
				<figcaption>
					退出登录
				</figcaption>
			</figure>
			<figure>
				<a href="/index"><img th:src="@{/mobile/images/liwu.png}" alt=""></a>
				<figcaption>
					管理后台
				</figcaption>
			</figure>
			
		</div>
		
		<div class="m-modal">
			<div class="m-modal-dialog m-modal-dialog1">
				<div class="m-top">
					<span class="m-modal-close">X</span>
				</div>
				<div class="m-middle2">
				   <div class="m-middletxt">
					   <img th:src="${user.headImg}" alt="">
				   </div>
				   <div class="m-middletxt2">
				   		<ul>
							<li><a href="#">2元</a></li>
							<li><a href="#">0.01元</a></li>
							<li><a href="#">66元</a></li>
							<li><a href="#">300元</a></li>
							<li><a href="#">200元</a></li>
							<li><input id="pay" type="text" style="height: 81px;width:100%;
    								border: none;text-align: center; color:#dc1333" placeholder="自定义 (单位元)" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"></li>
						</ul>
				   </div>
				   <div class="m-middletxt3">
					  <span>充 值</span>
				   </div>
				</div>
			</div>
		</div>
		<div class="m-modal1">
			<div class="m-modal1-dialog m-modal1-dialog1">
				<div class="m-top">
					<span class="m-modal1-close">X</span>
				</div>
				<div class="m-middle2">
				   <div class="m-middletxt">
					   <img th:src="${user.headImg}" alt="">
				   </div>
				   <div class="m-middletxt1">
				   		<ul id="cashOut">
							<li><a href="#">2元</a></li>
							<li><a href="#">0.01元</a></li>
							<li><a href="#">66元</a></li>
							<li><a href="#">300元</a></li>
							<li><a href="#">200元</a></li>
							<li><input id="cash" type="text" style="height: 81px;width:100%;
    								border: none;text-align: center; color:#dc1333" placeholder="自定义 (单位元)" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"></li>
						</ul>
				   </div>
				   <div class="m-middletxt2">
					  <span>提 现</span>
				   </div>
				   
				   <p th:text=" '提现金额超过50将收取手续费，手续费为' +  ${withdrawalFee}" style="text-align: center;margin-top: 18px;font-size: 20px;color: red;"></p>
				</div>
			</div>
		</div>
	</body>
	<script>
	var payFee = '';
	var cashOut = '';
	var m1 = new MyModal.modal(function() {
		alert("你点击了确定");
	});
	$('.btn1').on("click", function() {
		m1.show();
	});
	var m2 = new MyModal1.modal(function() {
		alert("你点击了确定");
	});
	$('.btn2').on("click", function() {
		m2.show();
	});
	$(".m-middletxt2 li").click(function(){
		$(this).addClass("addred").siblings("li").removeClass("addred");
		$('#pay').val('');
		var fee = $('.addred a').text();
		payFee = fee.match(/[\d.]+/g)[0];
	})
	
	$(".m-middletxt1 li").click(function(){
		$(this).addClass("addredd").siblings("li").removeClass("addredd");
		$('#cash').val('');
		var fee = $('.addredd a').text();
		cashOut = fee.match(/[\d.]+/g)[0];
	})
	
	
	$('#pay').click(function(){
		payFee = '';
		if($(".m-middletxt2 li").hasClass("addred")){
			$(".m-middletxt2 li").removeClass("addred");
		}
	})
	
	$('#cash').click(function(){
		cashOut = '';
		if($(".m-middletxt1 li").hasClass("addredd")){
			$(".m-middletxt1 li").removeClass("addredd");
		}
	})
	/* 充值 */
	$(".m-middletxt3 span").click(function(){
		if (payFee == '') {
			payFee = $('#pay').val();
		}
		if (payFee == '') {
			alert("请选择充值金额或输入充值金额");
			return;
		}
		$(".m-modal-dialog1").css("display","none")
		pay(payFee);
	})
	
	/* 提现 */
	$(".m-middletxt2 span").click(function(){
		$(".m-modal-dialog1").css("display","none")
		if (cashOut == '') {
			cashOut = $('#cash').val();
		}
		if (isNullOrBalance(cashOut)){
			return;
		};
		$(".m-modal1").css("display","none")
		var orderNum = createOrder(cashOut)
		if (orderNum != '-1') {
			alert("订单创建成功")
		} else {
			alert("订单创建失败")
		}
	})
	$(".m-modal-close").click(function(){
			history.go(0);
			$(".m-modal-dialog1").css("display","block")
			$(".adddd").css("display","none")
	})
	
	$(".m-modal1-close").click(function(){
			history.go(0);
			$(".m-modal-dialog1").css("display","block")
			$(".adddd").css("display","none")
	})
	
</script>
	<script type="text/javascript">
		var appId = '';
		var paySign = '';
		var timeStamp = '';
		var nonceStr = '';
		var packageStr = '';
		var signType = '';
		var orderNum = '';
		function pay(blance) {
			$.ajax({
	            type:"post",
	            url: "/app/wxpay/pay",
	            dataType:"json",
	            data : {'totalFee': (blance * 100)},
	            ontentType : "application/x-www-form-urlencoded",
	            success:function(result) {
	                console.log(result);
	                var data  = result;
                    appId = data.appId;
                    paySign = data.paySign;
                    timeStamp = data.timeStamp;
                    nonceStr = data.nonceStr;
                    packageStr = data.package;
                    signType = data.signType;
                    orderNum = data.orderNum
                    callpay();
	            }
	        });
	    }

		function onBridgeReady(){
	        WeixinJSBridge.invoke(
	            'getBrandWCPayRequest', {
	                "appId":appId,     //公众号名称，由商户传入
	                "timeStamp":timeStamp, //时间戳，自1970年以来的秒数
	                "nonceStr":nonceStr , //随机串
	                "package":packageStr,  //预支付交易会话标识
	                "signType":signType,     //微信签名方式
	                "paySign":paySign        //微信签名
	            },
	            function(res){
	                if(res.err_msg == "get_brand_wcpay_request:ok" ) {
	                    alert('支付成功');
	                    if (orderNum != '') {
		                    $.ajax({
		        	            type:"post",
		        	            url: "/app/wxpay/orderUpdate",
		        	            dataType:"json",
		        	            data : {'orderNum': orderNum},
		        	            ontentType : "application/x-www-form-urlencoded",
		        	            success:function(result) {
		        	                console.log(result);
		        	                var data  = result;
		        	                if (data.code == 1) {
					                    history.go(0);
		        	                }
		        	            }
		        	        });
	                    }
	                }else if(res.err_msg == "get_brand_wcpay_request:cancel"){
	                    alert('支付取消');
	                }else if(res.err_msg == "get_brand_wcpay_request:fail" ){
	                    alert('支付失败');
	                } //使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
	            }
	        );
	    }
	    function callpay(){
	        if (typeof WeixinJSBridge == "undefined"){
	            if( document.addEventListener ){
	                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
	            }else if (document.attachEvent){
	                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
	                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
	            }
	        }else{
	            onBridgeReady();
	        }
	    }
	    
		function createOrder(fee){
			var orderNum = '';
			$.ajax({
				type : "POST",
				url : "/cashout/createOrder",
				data : {'fee': fee},
				async:false,
				success : function(r) {
					if (r.code == 0) {
						orderNum = r.msg;
					} else
						orderNum =-1;
					}
			});
			return orderNum;
		}
		function isNullOrBalance(fee){
			if (fee == '') {
				alert("请选择充值金额或输入充值金额");
				return true;
			}
			if(fee > $('#ccount').val()) {
				alert("余额不足");
				return true;
			}
		}
	</script>
</html>
