<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title th:text="${'团队展示-'+title}"></title>
		<meta name="viewport" content="width=750">
		<script type="text/javascript" th:src="@{/mobile/js/jquery-1.10.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/mobile/js/mobile-util.js}"></script>
		<link rel="stylesheet" th:href="@{/mobile/css/index.css}">
		<link rel="stylesheet" th:href="@{/mobile/css/huodong.css}">
		<link rel="stylesheet" th:href="@{/mobile/css/new_file.css}">
	</head>
	<body>
		<div class="header_txt">
			<div class="headerleft">
				<a href="javascript:history.back(-1)"><img th:src="@{/mobile/images/qianwnag.png}" alt=""></a>
			</div>
			<div class="headercent">团队展示</div>
			<!-- <div class="headerright">
				<img src="images/dian.png" alt="">
				<img src="images/dian.png" alt="">
				<img src="images/dian.png" alt="">
			</div> -->
		</div>
		<div class="header_nav">
			<!-- <div>行业类别</div>
			<div>活动状态</div> -->
			<div>
				<select onchange="query()" id ="code">
					<option value="">地区</option>
						<option th:each="area : ${areaList}" th:value="${area.regionCode}"
							 th:text="${area.regionName}"></option>
				</select>
			</div>
		</div>
		<div class="tuandui">
			<div class="tuandui1" id="neirong">
				<div th:each="team : ${teamList}">
					<a th:href="@{/pc/teamDetail(teamId=${team.id},areaId=${areaId})}"><img th:src="${team.teamImg}" alt=""></a>
					<p th:text="${#strings.abbreviate(team.teamName,10)}" style="text-align: center;line-height: 30px;"></p>
					<p th:text="${team.level.levelname}" style="color: #c01b25;font-size: 14px;text-align: center;"></p>
				</div>
			</div>
		</div>
		<!-- <div class="box-nr">
		   <button>加载更多</button>
		</div> -->
		<div th:replace="mobile/include :: footer"></div>
	</body>
</html>
<script>
function query() {
	var regionCode = $("#code").val();
	 $.ajax({
         type : "POST",
         dataType: "json",
         url : "/pc/team/query",
         data : {
         	'areaId': regionCode,
         },
         success : function(result) {
         	var actList = result.teamList;
         	$("#neirong").html('');
         	var html = info(actList);
         	$("#neirong").append(html);
         }
  });
}

function info(obj) {
	var html = '';
	$.each(obj, function (n, value) {
		html += '<div>' + 
					'<img src=" ' + value.teamTitleImg + '" alt="">' +
					'<p>'+ value.teamName +'</p>' +
				'</div>';
				
	})
	return html;
}


</script>
