<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>志愿者-智慧公益</title>
		<meta name="viewport" content="width=750">
		<script type="text/javascript" th:src="@{/mobile/js/jquery-1.10.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/mobile/js/mobile-util.js}"></script>
		<link rel="stylesheet" th:href="@{/mobile/css/index.css}">
		<link rel="stylesheet" th:href="@{/mobile/css/huodong.css}">
		<link rel="stylesheet" th:href="@{/mobile/css/new_file.css}">
	</head>
	<body>
		<div class="header_txt">
			<div class="headerleft">
				<a href="javascript:history.back(-1)"><img th:src="@{/mobile/images/qianwnag.png}" alt=""></a>
			</div>
			<div class="headercent">志愿者展示</div>
			<!-- <div class="headerright">
				<img src="images/dian.png" alt="">
				<img src="images/dian.png" alt="">
				<img src="images/dian.png" alt="">
			</div -->>
		</div>
		<div class="header_nav">
			<div>
				<select id="type">
					<option value="0">性别</option>
					<option value="0">男</option>
					<option value="1">女</option>
				</select>
			</div>
			<!-- <div>活动状态</div> -->
			<!-- <div><select onchange="query()" id ="code">
				<option value="">地区</option>
					<option th:each="area : ${areaList}" th:value="${area.regionCode}"
						 th:text="${area.regionName}"></option>
			</select>
			</div> -->
		</div>
		<div class="tuandui">
			<div class="tuandui2" id="zyzhti">
				<figure th:each="volunt : ${voluntList}">
					<a th:href="@{/pc/volunteerDetail(id=${volunt.id},areaId=${areaId})}"><img th:src="${volunt.headImg}" alt=""></a>
					<figcaption th:text="${volunt.volunteerName}"></figcaption>
				</figure>
			</div>
		</div>
		<!-- <div class="box-nr">
		   <button>加载更多</button>
		</div> -->
		<div th:replace="mobile/include :: footer"></div>
	</body>
</html>

<script>
$(function () {
	$("#type").change(function(){
		 $.ajax({
	           type : "POST",
	           dataType: "json",
	           url : "/pc/volunteerList/query",
	           data : {
	           	'sex': $(this).val()
	           	
	           },
	           success : function(result) {
	           	var voluntList = result.voluntList;
	           	$("#zyzhti").html('');
	           	var html = info(voluntList);
	           	$("#zyzhti").append(html);
	           },
	       });
	});
})

function query() {
	var regionCode = $("#code").val();
	 $.ajax({
         type : "POST",
         dataType: "json",
         url : "/pc/volunteerList/query",
         data : {
         	'regionCode': regionCode
         },
         success : function(result) {
         	var voluntList = result.voluntList;
         	$("#zyzhti").html('');
         	var html = info(voluntList);
         	$("#zyzhti").append(html);
         }
  });
}
function info(value) {
	var html = '';
	$.each(value, function (n, value) {
		html += '<figure>' + 
					'<a href=""><img src=" ' + value.headImg + '" alt=""></a>' +
			    		'<figcaption>' + value.volunteerName + '</figcaption>' +
				'</figure>';
	})
	return html;
}



//分页加载
$().ready(function(){
var areaId = $('#areaId').val();
var hasMore;
var page = 1; //初始页码
var maxnum = 2;//设置加载次数
 
var downrange= 100;                //下边界-参考正在加载提示层/px
var $main = $("#showbox");            //主体
var $loaddiv = $("#add-more") ;       //加载提示层
var totalheight = 0; 
var $listrow=$("#zyzhti");
//ajax-fun
function ajaxLoad(){
var html="";
page=page+1;//每次拉到底部page加1
//console.log(page)
hasMore=false;
$.ajax({
url:"/pc/queryVolunteerList?areaId="+areaId+"",
type:"post",
data:{page:page},//请求页数
success:function(res){
var list = eval(res);
//console.log(list.length);
//var list=JSON.parse(res);
if(list.length>0) {
    hasMore=true;
//console.log(JSON.parse(res));
    //追加数据
   $.each(res, function(i, item){ 
	html+="<figure>";
	html+="<a href='/pc/volunteerDetail?id="+item.id+"&areaId="+areaId+"><img src="+item.headImg+"></a>";
	html+="<figcaption>"+item.volunteerName+"</figcaption>";
	html+="</figure>";
    })
    $listrow.append(html);//数据追加到list
    var imgWidth=$('.list_flex_son_img').width();
    $('.list_flex_son_img').height(imgWidth);
}    
}
})
}
 
//加载中隐藏显示
$loaddiv.ajaxStart(function(){
$(this).show();
}).ajaxStop(function(){
$(this).hide();
})
ifLoad();
//scroll滚动触发加载事件
function ifLoad(){
hasMore=true;
var w = $(window);
var lastTime = new Date();
window.addEventListener("scroll", function scrollHandler() {
var scrollh = $(document).height();
var bua = navigator.userAgent.toLowerCase();
if (bua.indexOf('iphone') != -1 || bua.indexOf('ios') != -1) {
scrollh = scrollh -140;
} else {
scrollh = scrollh - 80;
}
if(($(document).scrollTop() + w.height()) >= scrollh){
if (new Date()-lastTime <100) {
    return;
}
lastTime = new Date();
if (hasMore) {
    ajaxLoad();
}
}
}, 1000);
}
 
});

</script>