<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=750">
			<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<meta name="viewport" content="width=device-width">
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport"/>
		<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="js/mobile-util.js"></script>

		<link rel="stylesheet" href="css/index.css">
		<link rel="stylesheet" href="css/huodong.css">
		<link rel="stylesheet" href="css/gongyi.css">
		<link rel="stylesheet" href="css/zixun.css">
		<link rel="stylesheet" href="css/css1.css">
		<link rel="stylesheet" href="css/css2.css">
	</head>
	<body>
		<div class="header_txt">
			<div class="headerleft">
				<img src="images/qianwnag.png" alt="">
			</div>
			<div class="headercent">公益打赏</div>
			<div class="headerright">
				<img src="images/dian.png" alt="">
				<img src="images/dian.png" alt="">
				<img src="images/dian.png" alt="">
			</div>
		</div>
		<div class="gycent">
			<h4>情暖冬至，感恩有你——阿卡迪亚社区冬至活动了</h4>
			<div class="gycent1"><img src="images/touxiang5.png" alt=""><span>中国证券报</span><span>16小时前 </span><a href="#">+关注</a></div>
			<div class="gycent2">
				<p>天天财经独家，速关注</p>
				<p>不知道大家有没有和中证君一样的感受，最近觉得手机网速越来越慢，双卡4G来回切换也无法拯救，
				有时候甚至感觉像退化到3G、2G时代，不禁对5G更为期待……</p>
				<p>同时，也忍不住怀疑，三大运营商难道没有好好落实“提速降费”吗？
				还是说即将开建大规模5G网络影响了运营商对4G网络的投入？</p>
				<img src="images/zixungg_24.jpg" alt="">
			</div>
			<div class="gycent3">
				<span>有您的支持是我们最大的动力</span>
				<a href="" data-modal="#modal" class="modal__trigger"><img src="" alt="">打赏</a>
				<p>575人打赏</p>
			</div>
			<!-- 红包 -->
			<div id="modal" class="modal modal__bg" role="dialog" aria-hidden="true" style="background:rgba(0,0,0,0.9);">
				<div class="modal__dialog" style="width: 600px;">
					<div class="modal__content">
						<div style="width: 600px;background:#fff;position: fixed;">
							<div class="hbtop"></div>
							<div style="width: 600px;background:#fff;height: 260px;">
								<div class="hbcen">
									<div class="hbcen1">
										<img src="images/touxiang5.png" alt="">
										<p style="font-size:20px;line-height:30px;">打赏门户的红包</p>
										<p style="color:#b8b8b8;font-size:16px;line-height:40px;">恭喜发财，大吉大利</p>
										<span><rem style="font-size:36px; color:#ef472a;">17.77 </rem>元</span>
									</div>
								</div>
							</div>
							<div style="width: 100%;line-height: 40px;background:#ebebeb;">
								<p style="margin-left:10px;">已领取3/8个,共150.00元</p>
							</div>
						</div>
						<div class="lingqu">
							<div class="hblq">
								<div class="hblq1">
									<img src="images/touxiang5.png" alt="">
									<div>
										<span>苏小宁</span>
										<p>今天 10:00:28</p>
									</div>
									<p>18.66元</p>
								</div>
							</div>
							<div class="hblq">
								<div class="hblq1">
									<img src="images/touxiang5.png" alt="">
									<div>
										<span>苏小宁</span>
										<p>今天 10:00:28</p>
									</div>
									<p>18.66元</p>
								</div>
							</div>
							<div class="hblq">
								<div class="hblq1">
									<img src="images/touxiang5.png" alt="">
									<div>
										<span>苏小宁</span>
										<p>今天 10:00:28</p>
									</div>
									<p>18.66元</p>
								</div>
							</div>
							<div class="hblq">
								<div class="hblq1">
									<img src="images/touxiang5.png" alt="">
									<div>
										<span>苏小宁</span>
										<p>今天 10:00:28</p>
									</div>
									<p>18.66元</p>
								</div>
							</div>
							<div class="hblq">
								<div class="hblq1">
									<img src="images/touxiang5.png" alt="">
									<div>
										<span>苏小宁</span>
										<p>今天 10:00:28</p>
									</div>
									<p>18.66元</p>
								</div>
							</div>
							<div class="hblq">
								<div class="hblq1">
									<img src="images/touxiang5.png" alt="">
									<div>
										<span>苏小宁</span>
										<p>今天 10:00:28</p>
									</div>
									<p>18.66元</p>
								</div>
							</div>
							<div class="hblq">
							<div class="hblq1">
								<img src="images/touxiang5.png" alt="">
								<div>
									<span>苏小宁</span>
									<p>今天 10:00:28</p>
								</div>
								<p>18.66元</p>
							</div>
						</div>
						</div>				
						<div class="butt">
							<button>我的红包</button>
							<button>发红包</button>
						</div>
						<a href="" class="modal__close demo-close">
							<svg class="" viewBox="0 0 24 24">
								<path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z" />
								<path d="M0 0h24v24h-24z" fill="none" />
							</svg>
						</a>
					</div>
				</div>
			</div>
				<script type="text/javascript" src="js/js1.js"></script>
			<div class="gycent4">
				<div style="overflow: hidden;">
					<img src="images/huodong_03.jpg" alt="">
					<img src="images/huodong_03.jpg" alt="">
					<img src="images/huodong_03.jpg" alt="">
					<img src="images/huodong_03.jpg" alt="">
					<img src="images/huodong_03.jpg" alt="">
					<img src="images/huodong_03.jpg" alt="">
					<img src="images/huodong_03.jpg" alt="">
					<img src="images/huodong_03.jpg" alt="">
					<img src="images/huodong_03.jpg" alt="">
				</div>
				<a href="">加载更多</a>
			</div>
		</div>
		<div class="gybut">
			<div class="gybut1">
				<img src="" alt=""><span>9876</span>
			</div>
			<div><img src="" alt=""><span>已置顶</span></div>
			<div><img src="" alt=""><span>发放中</span></div>
		</div>
		<div class="gyimg">
			<a href=""><img src="images/qiandao_03.jpg" alt=""></a>
			<a href=""><img src="images/qiandao_06.jpg" alt=""></a>
			<a href=""><img src="images/qiandao_08.jpg" alt=""></a>
			<a href=""><img src="images/qiandao_11.jpg" alt=""></a>
			<a href=""><img src="images/qoandao_13.jpg" alt=""></a>
		</div>
		<div class="listpl-2">
			<div class="listpl-2-1">
				<img src="images/touxiang5.png" alt="">
			</div>
			<div class="listpl-2-2">
				<textarea placeholder="说两句吧...">
				</textarea>
				<a href="#">发表</a>
			</div>
		</div>
		<div class="listpl-3">
			<p>全部评论</p>
		</div>
		<div class="listpl-4">
			<img src="images/touxiang5.png" alt="">
			<div>
				<span>今夕 6分钟</span>
				<p style="font-size:22px;">在网络上引发很多人讨论和议论，张连生应该也感觉到受到了压力
				在网络上引发很多人讨论和议论，张连生应该也感觉到受到了压力</p>
			</div>
			<a href="#">查看更多</a>
		</div>
		<div class="zixunnr">
			<div>
				<span>据说中美经贸磋商未来将在北京举行
				中方在这些原则问题上不能让步中方
				在这些原则问题？</span>
				<p>娱乐大老板 12小时前</p>
			</div>
			<img src="images/zixungg_20.jpg" alt="">
		</div>
		<div class="zixunnr">
			<div>
				<span>据说中美经贸磋商未来将在北京举行
				中方在这些原则问题上不能让步中方
				在这些原则问题？</span>
				<p>娱乐大老板 12小时前</p>
			</div>
			<img src="images/zixungg_20.jpg" alt="">
		</div>
		<div class="zixunnr">
			<div>
				<span>据说中美经贸磋商未来将在北京举行
				中方在这些原则问题上不能让步中方
				在这些原则问题？</span>
				<p>娱乐大老板 12小时前</p>
			</div>
			<img src="images/zixungg_20.jpg" alt="">
		</div>
		<div class="listpl-5">
			<a href="#">查看更多资讯</a>
		</div>
		<div style="margin-bottom:93px;">
			<div class="footer">
				<ul>
					<h4>关于我们</h4>
					<li><a href="#">关于我们1</a></li>
					<li><a href="#">关于我们2</a></li>
					<li><a href="#">关于我们3</a></li>
					<li><a href="#">关于我们4</a></li>
				</ul>
				<ul>
					<h4>关于我们</h4>
					<li><a href="#">关于我们1</a></li>
					<li><a href="#">关于我们2</a></li>
					<li><a href="#">关于我们3</a></li>
					<li><a href="#">关于我们4</a></li>
				</ul>
				<ul>
					<h4>关于我们</h4>
					<li><a href="#">关于我们1</a></li>
					<li><a href="#">关于我们2</a></li>
					<li><a href="#">关于我们3</a></li>
					<li><a href="#">关于我们4</a></li>
				</ul>
				<ul>
					<h4>关于我们</h4>
					<li><a href="#">关于我们1</a></li>
					<li><a href="#">关于我们2</a></li>
					<li><a href="#">关于我们3</a></li>
					<li><a href="#">关于我们4</a></li>
				</ul>
			</div>
			<!-- 备案 -->
			<div class="beian">
				<div class="beian1">
					<span>京ICP备12048184号</span>
					<span>技术支持：景安网络</span>
				</div>
			</div>
			
		</div>
		<div class="pl">
			<div>
				<input type="text" placeholder="随便说点什么...">
				<a href=""><img src="images/hdxq_27.jpg" alt=""><span></span></a>
				<a href=""><img src="images/pinglun.png" alt=""><span></span></a>
				<a href=""><img src="images/zhuanfa.png" alt=""><span></span></a>
			</div>
		</div>
	</body>
</html>
