<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=750">
		<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="js/mobile-util.js"></script>
		<link rel="stylesheet" href="css/index.css">
		<link rel="stylesheet" href="css/huodong.css">
		<link rel="stylesheet" href="css/new_file.css">
	</head>
	<body>
		<div class="header_txt">
			<div class="headerleft">
				<img src="images/qianwnag.png" alt="">
			</div>
			<div class="headercent">团队展示</div>
			<div class="headerright">
				<img src="images/dian.png" alt="">
				<img src="images/dian.png" alt="">
				<img src="images/dian.png" alt="">
			</div>
		</div>
		<div class="header_nav">
			<div>行业类别</div>
			<div>活动状态</div>
			<div>地区</div>
		</div>
		<div class="tuandui">
			<div class="tuandui2">
				<figure>
					<a href="#"><img src="images/index_33.jpg" alt=""></a>
					<figcaption>志愿者赠礼1</figcaption>
				</figure>
				<figure>
					<a href="#"><img src="images/index_33.jpg" alt=""></a>
					<figcaption>志愿者赠礼2</figcaption>
				</figure>
				<figure>
					<a href="#"><img src="images/index_33.jpg" alt=""></a>
					<figcaption>志愿者赠礼3</figcaption>
				</figure>
				<figure>
					<a href="#"><img src="images/index_33.jpg" alt=""></a>
					<figcaption>志愿者赠礼4</figcaption>
				</figure>
				<figure>
					<a href="#"><img src="images/index_33.jpg" alt=""></a>
					<figcaption>志愿者赠礼</figcaption>
				</figure>
				<figure>
					<a href="#"><img src="images/index_33.jpg" alt=""></a>
					<figcaption>志愿者赠礼</figcaption>
				</figure>
				<figure>
					<a href="#"><img src="images/index_33.jpg" alt=""></a>
					<figcaption>志愿者赠礼</figcaption>
				</figure>
				<figure>
					<a href="#"><img src="images/index_33.jpg" alt=""></a>
					<figcaption>志愿者赠礼</figcaption>
				</figure>
				<figure>
					<a href="#"><img src="images/index_33.jpg" alt=""></a>
					<figcaption>志愿者赠礼</figcaption>
				</figure>
				<figure>
					<a href="#"><img src="images/index_33.jpg" alt=""></a>
					<figcaption>志愿者赠礼</figcaption>
				</figure>
				<figure>
					<a href="#"><img src="images/index_33.jpg" alt=""></a>
					<figcaption>志愿者赠礼</figcaption>
				</figure>
				<figure>
					<a href="#"><img src="images/index_33.jpg" alt=""></a>
					<figcaption>志愿者赠礼</figcaption>
				</figure>
				<figure>
					<a href="#"><img src="images/index_33.jpg" alt=""></a>
					<figcaption>志愿者赠礼</figcaption>
				</figure>
				<figure>
					<a href="#"><img src="images/index_33.jpg" alt=""></a>
					<figcaption>志愿者赠礼</figcaption>
				</figure>
			</div>
		</div>
		<div class="box-nr">
		   <button>加载更多</button>
		</div>
		<div class="footer">
			<ul>
				<h4>关于我们</h4>
				<li><a href="#">关于我们1</a></li>
				<li><a href="#">关于我们2</a></li>
				<li><a href="#">关于我们3</a></li>
				<li><a href="#">关于我们4</a></li>
			</ul>
			<ul>
				<h4>关于我们</h4>
				<li><a href="#">关于我们1</a></li>
				<li><a href="#">关于我们2</a></li>
				<li><a href="#">关于我们3</a></li>
				<li><a href="#">关于我们4</a></li>
			</ul>
			<ul>
				<h4>关于我们</h4>
				<li><a href="#">关于我们1</a></li>
				<li><a href="#">关于我们2</a></li>
				<li><a href="#">关于我们3</a></li>
				<li><a href="#">关于我们4</a></li>
			</ul>
			<ul>
				<h4>关于我们</h4>
				<li><a href="#">关于我们1</a></li>
				<li><a href="#">关于我们2</a></li>
				<li><a href="#">关于我们3</a></li>
				<li><a href="#">关于我们4</a></li>
			</ul>
		</div>
		<!-- 备案 -->
		<div class="beian">
			<div class="beian1">
				<span>京ICP备12048184号</span>
				<span>技术支持：景安网络</span>
			</div>
		</div>
	</body>
</html>