<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=750">
		<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="js/mobile-util.js"></script>
		<link rel="stylesheet" href="css/index.css">
		<link rel="stylesheet" href="css/huodong.css">
		<link rel="stylesheet" href="css/hdxq.css">
		<title></title>
	</head>
	<body>
		<div class="header_txt">
			<div class="headerleft">
				<img src="images/qianwnag.png" alt="">
			</div>
			<div class="headercent">活动详情</div>
			<div class="headerright">
				<img src="images/dian.png" alt="">
				<img src="images/dian.png" alt="">
				<img src="images/dian.png" alt="">
			</div>
		</div>
		<div class="header_img">
			<img src="images/hdxq_02.jpg" alt="">
		</div>
		<div class="header_cent">
			<ul>
				<li>
					<img src="images/hdxq_05.jpg" alt=""><span>北京昭阳区龙源马术俱乐部</span><p>></p>
				</li>
				<li>
					<img src="images/hdxq_09.jpg" alt=""><span>2019-04-30 06：30~2019-07-31 17：00</span>

				</li>
				<li>
					<img src="images/hdxq_13.jpg" alt=""><span>免费</span>
					
				</li>
				<li>
					<img src="images/hdxq_16.jpg" alt=""><span><button>-</button><input type="text"><button>+</button></span>
				</li>
			</ul>
		</div>
		<div class="header_text">
			<div class="header_text1">
				<div>
					<span>活动详情</span>
					<span>已报名191</span>
				</div>
				<p>1.本次活动开始时间9：00正式入场，17:00结束（每场活动1小时左右）。</p>
				<p>2.到达马场后，先由工作人员在休息区向小朋友及家长介绍注意事项，由专业人员带领参观马厩。</p>
				<p>3.马厩参观，由工作人员分发胡萝卜让小朋友们先喂喂马，看看马儿洗澡，马儿会很喜欢，建议让小朋友多与马近距离接触，可以消除对马的恐惧心理。</p>
				<p>4.专业马术教练带领试</p>
				<p>骑体验，等待期间可以先观看会员们的练习，有些资深会员的马术练习很精彩。</p>
				<p>与马儿零距离接触后，我们会看到孩子和马在一起时，眼睛绽放的光芒，孩子明亮的眼睛是回馈给我们**的礼物！</p>
				<p>机会不多哦，快快打电话进行预约哦。</p>
				<p style="color:#dd1230;">咨询电话：18513572790，微信号：18513572790</p>
				<p>【邀你加入】中国****马术俱乐部</p>
				<img src="images/hdxq_02.jpg" alt="">
			</div>
		</div>
		<div class="hdxqtx">
			<div>-- 已报名 --</div>
			<figure>
				<img src="images/touxiang5.png" alt="">
				<figcaption>小暖</figcaption>
			</figure>
			<figure>
				<img src="images/touxiang5.png" alt="">
				<figcaption>小暖</figcaption>
			</figure>
			<figure>
				<img src="images/touxiang5.png" alt="">
				<figcaption>小暖</figcaption>
			</figure>
			<figure>
				<img src="images/touxiang5.png" alt="">
				<figcaption>小暖</figcaption>
			</figure>
			<figure>
				<img src="images/touxiang5.png" alt="">
				<figcaption>小暖</figcaption>
			</figure>
			<figure>
				<img src="images/touxiang5.png" alt="">
				<figcaption>小暖</figcaption>
			</figure>
			<figure>
				<img src="images/touxiang5.png" alt="">
				<figcaption>小暖</figcaption>
			</figure>
			<figure>
				<img src="images/touxiang5.png" alt="">
				<figcaption>小暖</figcaption>
			</figure>
			<figure>
				<img src="images/touxiang5.png" alt="">
				<figcaption>小暖</figcaption>
			</figure>
			<figure>
				<img src="images/touxiang5.png" alt="">
				<figcaption>小暖</figcaption>
			</figure>
			<a href=""><img src="images/hdxq_23.jpg" alt="">&nbsp;更多报名</a>
		</div>
		<div class="footerxq">
			<img src="images/zixungg_07.jpg" alt="">
			<img src="images/zixungg_09.jpg" alt="">
			<img src="images/zixungg_14.jpg" alt="">
			<img src="images/zixungg_16.jpg" alt="">
			<img src="images/zixungg_07.jpg" alt="">
		</div>
		<div class="footerhd">
			<figure>
				<img src="images/hdxq_30.jpg" alt="">
				<figcaption>发布活动</figcaption>
			</figure>
			<figure>
				<img src="images/hdxq_27.jpg" alt="">
				<figcaption>发布活动</figcaption>
			</figure>
			<div>
				我要报名
			</div>
		</div>
	</body>
</html>
