<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=750">
		<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="js/mobile-util.js"></script>
		<link rel="stylesheet" href="css/index.css">
		<link rel="stylesheet" href="css/huodong.css">
	</head>
	<body>
		<div class="header_txt">
			<div class="headerleft">
				<img src="images/qianwnag.png" alt="">
			</div>
			<div class="headercent">活动报名</div>
			<div class="headerright">
				<img src="images/dian.png" alt="">
				<img src="images/dian.png" alt="">
				<img src="images/dian.png" alt="">
			</div>
		</div>
		<div class="header_nav">
			<div>
				行业类别
			</div>
			<div>
				活动状态
			</div>
			<div>
				地区
			</div>
		</div>
		<div class="box-nr">
			<div class="box-nr-1">
				<img src="images/huodong_03.jpg" alt="">
				<span><img src="images/jingxuan_07.jpg" alt="">亲子家庭音乐剧《故宫里的大怪兽之吻兽使命》</span>
				<p>本周日 13：30开始</p>
				<rem>￥99起<a href="">马上抢票</a></rem>
			</div>
			<div class="box-nr-1">
				<img src="images/huodong_03.jpg" alt="">
				<span><img src="images/jingxuan_07.jpg" alt="">亲子家庭音乐剧《故宫里的大怪兽之吻兽使命》</span>
				<p>本周日 13：30开始</p>
				<rem>￥99起<a href="">马上抢票</a></rem>
			</div>
			<div class="box-nr-1">
				<img src="images/huodong_03.jpg" alt="">
				<span><img src="images/jingxuan_07.jpg" alt="">亲子家庭音乐剧《故宫里的大怪兽之吻兽使命》</span>
				<p>本周日 13：30开始</p>
				<rem>￥99起<a href="">马上抢票</a></rem>
			</div>
			<div class="box-nr-1">
				<img src="images/huodong_03.jpg" alt="">
				<span><img src="images/jingxuan_07.jpg" alt="">亲子家庭音乐剧《故宫里的大怪兽之吻兽使命》</span>
				<p>本周日 13：30开始</p>
				<rem>￥99起<a href="">马上抢票</a></rem>
			</div>
			<div class="box-nr-1">
				<img src="images/huodong_03.jpg" alt="">
				<span><img src="images/jingxuan_07.jpg" alt="">亲子家庭音乐剧《故宫里的大怪兽之吻兽使命》</span>
				<p>本周日 13：30开始</p>
				<rem>￥99起<a href="">马上抢票</a></rem>
			</div>
			<div class="box-nr-1">
				<img src="images/huodong_03.jpg" alt="">
				<span><img src="images/jingxuan_07.jpg" alt="">亲子家庭音乐剧《故宫里的大怪兽之吻兽使命》</span>
				<p>本周日 13：30开始</p>
				<rem>￥99起<a href="">马上抢票</a></rem>
			</div>
			<!-- 加载更多 -->
			<button>加载更多</button>
		</div>
		<div class="footer">
			<ul>
				<h4>关于我们</h4>
				<li><a href="#">关于我们1</a></li>
				<li><a href="#">关于我们2</a></li>
				<li><a href="#">关于我们3</a></li>
				<li><a href="#">关于我们4</a></li>
			</ul>
			<ul>
				<h4>关于我们</h4>
				<li><a href="#">关于我们1</a></li>
				<li><a href="#">关于我们2</a></li>
				<li><a href="#">关于我们3</a></li>
				<li><a href="#">关于我们4</a></li>
			</ul>
			<ul>
				<h4>关于我们</h4>
				<li><a href="#">关于我们1</a></li>
				<li><a href="#">关于我们2</a></li>
				<li><a href="#">关于我们3</a></li>
				<li><a href="#">关于我们4</a></li>
			</ul>
			<ul>
				<h4>关于我们</h4>
				<li><a href="#">关于我们1</a></li>
				<li><a href="#">关于我们2</a></li>
				<li><a href="#">关于我们3</a></li>
				<li><a href="#">关于我们4</a></li>
			</ul>
		</div>
		<!-- 备案 -->
		<div class="beian">
			<div class="beian1">
				<span>京ICP备12048184号</span>
				<span>技术支持：景安网络</span>
			</div>
		</div>
	</body>
</html>
