<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=750">
		<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="js/mobile-util.js"></script>
		<link rel="stylesheet" href="css/index.css">
		<link rel="stylesheet" href="css/HuaDongNav.css">
		<link rel="stylesheet" href="css/zixun.css">
		<script type="text/javascript" src="js/flexible.js"></script>
		<script type="text/javascript" src="js/iscroll.js"></script>
		<script type="text/javascript" src="js/navbarscroll.js"></script>
	</head>
	<body>
		<header style="background:#c01b25;">
			<div class="login">
				<img src="images/zixun_03.jpg" alt="">
			</div>
			<div class="header-center">
				<select style="width: 135px;
				height: 30px;-webkit-appearance: none;
				background:url(images/input_03.jpg)no-repeat right;
				background-size:30px 30px;background-color: #fff;">
					  <option value="1">全国</option>
					  <option value="2">Saab</option>
					  <option value="3">Opel</option>
					  <option value="4">Audi</option>
                </select> 
			</div>
		</header>
		<div class="wrapper wrapper01" id="retr">
			<div class="scroller">
				<ul class="clearfix" style="float: left;">
					<li><a href="javascript:void(0)">全部科目</a></li>
					<li><a href="javascript:void(0)">会计从业</a></li>
					<li><a href="javascript:void(0)">会计职称</a></li>
					<li><a href="javascript:void(0)">注会</a></li>
					<li><a href="javascript:void(0)">税务师</a></li>
					<li><a href="javascript:void(0)">国际证书</a></li>
					<li><a href="javascript:void(0)">更多</a></li>
					<li><a href="javascript:void(0)">更多注会</a></li>
					<li><a href="javascript:void(0)">国际证书2</a></li>
					<li><a href="javascript:void(0)">更多4</a></li>
					<li><a href="javascript:void(0)">更多5</a></li>
				</ul>
			</div>
		</div>
		<div class="zixungg">
			<a href="#">
				<img src="images/zixungg_07.jpg" alt="">
			</a>
			<a href="#">
				<img src="images/zixungg_07.jpg" alt="">
			</a>
			<a href="#">
				<img src="images/zixungg_07.jpg" alt="">
			</a>
			<a href="#">
				<img src="images/zixungg_07.jpg" alt="">
			</a>
		</div>
		<div class="zixunnr">
			<div>
				<span>据说中美经贸磋商未来将在北京举行
				中方在这些原则问题上不能让步中方
				在这些原则问题？</span>
				<p>环球网&nbsp;&nbsp;小暖暖&nbsp;17分钟前&nbsp;&nbsp;评论 14 <img src="images/list_09.jpg" alt=""><img src="images/list_06.jpg" alt=""></p>
			</div>
			<img src="images/zixungg_20.jpg" alt="">
		</div>
		<div class="zixunnr">
			<div>
				<span>据说中美经贸磋商未来将在北京举行
				中方在这些原则问题上不能让步中方
				在这些原则问题？</span>
				<p>环球网&nbsp;&nbsp;小暖暖&nbsp;17分钟前&nbsp;&nbsp;评论 14 <img src="images/list_09.jpg" alt=""><img src="images/list_06.jpg" alt=""></p>
			</div>
			<img src="images/zixungg_20.jpg" alt="">
		</div>
		<div class="zixunnr">
			<div>
				<span>据说中美经贸磋商未来将在北京举行
				中方在这些原则问题上不能让步中方
				在这些原则问题？</span>
				<p>环球网&nbsp;&nbsp;小暖暖&nbsp;17分钟前&nbsp;&nbsp;评论 14 <img src="images/list_09.jpg" alt=""><img src="images/list_06.jpg" alt=""></p>
			</div>
			<img src="images/zixungg_20.jpg" alt="">
		</div>
		<div class="zixunnr">
			<div>
				<span>据说中美经贸磋商未来将在北京举行
				中方在这些原则问题上不能让步中方
				在这些原则问题？</span>
				<p>环球网&nbsp;&nbsp;小暖暖&nbsp;17分钟前&nbsp;&nbsp;评论 14 <img src="images/list_09.jpg" alt=""><img src="images/list_06.jpg" alt=""></p>
			</div>
			<img src="images/zixungg_20.jpg" alt="">
		</div>
		<div class="zixunnr">
			<div>
				<span>据说中美经贸磋商未来将在北京举行
				中方在这些原则问题上不能让步中方
				在这些原则问题？</span>
				<p>环球网&nbsp;&nbsp;小暖暖&nbsp;17分钟前&nbsp;&nbsp;评论 14 <img src="images/list_09.jpg" alt=""><img src="images/list_06.jpg" alt=""></p>
			</div>
			<img src="images/zixungg_20.jpg" alt="">
		</div>
		<div class="beian">
			<div class="beian1">
				<span>京ICP备12048184号</span>
				<span>技术支持：景安网络</span>
			</div>
		</div>
	</body>
</html>
<script type="text/javascript">
	$(function(){
		$('.wrapper').navbarscroll();
		
	});
</script>
