<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${activity.id}"  type="hidden">
														<div class="form-group">	
								<label class="col-sm-3 control-label">活动名称：</label>
								<div class="col-sm-8">
									<input id="actTitle" name="actTitle" th:value="${activity.actTitle}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">活动简介：</label>
								<div class="col-sm-8">
									<textarea id="actIntro" name="actIntro" th:text="${activity.actIntro}" class="form-control" ></textarea>
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">活动详情：</label>
								<div class="col-sm-8">
									<textarea id="actContent" name="actContent" th:text="${activity.actContent}"></textarea>
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">票种：</label>
								<div class="col-sm-8">
									<label class="radio-inline" >
										<input type="radio"  value="1" th:attr ="checked=${1 == activity.actType?true:false}" name="actType">付费
									</label>
									<label class="radio-inline" >
										<input type="radio"  value="0" th:attr ="checked=${0 == activity.actType?true:false}" name="actType">免费
									</label>
								</div>
							</div>
									<div class="form-group" id="actPrice">
									<label class="col-sm-3 control-label">活动报名费用：</label>
								<div class="col-sm-8">
									<input id="actPrice" name="actPrice" th:value="${activity.actPrice}" th:attr="readonly=${0 == activity.actType?true:false}" class="form-control" type="text">
								</div>
									</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">活动封面图：</label>
								<div class="col-sm-8">
<div>
    <a href="javascript:;" class="btn btn-primary btn-sm jqfivefile" type="button">
        <span id="imgUpload_name_img">上传图片</span><span id="progress_img"></span>
        <input id="imgUpload_img" type="file"  title="上传图片" name="file" accept="image/*" data-url="/common/sysFile/upload" />
    </a>
    <div id="imgsbox_img" class="imgsbox">
    <div class="imgbox">
	<div class="removePic" onclick="removePic(this,'/banner/imgDel')">×</div>
	<img th:src="${activity.actTitleImg}">
	</div>
    </div>
    
</div>
                    	<span class="help-block m-b-none text-danger">支持:jpg、jpeg、png； 尺寸：宽1927*高460px；大小：限5M内</span>
                        </div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">活动类型：</label>
								<div class="col-sm-8">
								<select name="actTypeId" lay-search="" class="form-control input1">
										<option 
											th:selected="${actTypeId.id eq activity.actTypeId}"
											th:each="actTypeId : ${typeList}"
											th:value="${actTypeId.id}"
											th:text="${actTypeId.typeName}">
										</option>
									</select>
								</div>
								
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">报名开始时间：</label>
								<div class="col-sm-8">
                                    <input type="text" class="laydate-icon layer-date form-control" id="startTime" name="startTime"  th:value="${activity.startTime}==null?null:${#dates.format(activity.startTime,'yyyy-MM-dd')}" placeholder="请选择报名开始时间"
                                             onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" style="background-color: #fff;" />
                                </div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">报名截止时间：</label>
								<div class="col-sm-8">
                                    <input type="text" class="laydate-icon layer-date form-control" id="endTime" name="endTime"  th:value="${activity.endTime}==null?null:${#dates.format(activity.endTime,'yyyy-MM-dd')}" placeholder="请选择报名截止时间" 
                                             onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" style="background-color: #fff;" />
                                </div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">活动开始时间：</label>
								<div class="col-sm-8">
                                    <input type="text" class="laydate-icon layer-date form-control" id="activiStartTime" name="activiStartTime"  th:value="${activity.activiStartTime}==null?null:${#dates.format(activity.activiStartTime,'yyyy-MM-dd')}" placeholder="请选择活动开始时间" 
                                             onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" style="background-color: #fff;" />
                                </div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">活动截止时间：</label>
								<div class="col-sm-8">
                                    <input type="text" class="laydate-icon layer-date form-control" id="activiEndTime" name="activiEndTime"  th:value="${activity.activiEndTime}==null?null:${#dates.format(activity.activiEndTime,'yyyy-MM-dd')}" placeholder="请选择活动截止时间" 
                                             onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" style="background-color: #fff;" />
                                </div>
							</div>
							
														<!-- <div class="form-group">	
								<label class="col-sm-3 control-label">门票数量：</label>
								<div class="col-sm-8">
									<input id="ticketCount" name="ticketCount" th:value="${activity.ticketCount}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">每人仅限票数：</label>
								<div class="col-sm-8">
									<input id="restrictions" name="restrictions" th:value="${activity.restrictions}" class="form-control" type="text">
								</div>
							</div> -->
							<div class="form-group">	
								<label class="col-sm-3 control-label">最大报名人数：</label>
								<div class="col-sm-8">
									<input id="applicantsNumMax" name="applicantsNumMax" th:value="${activity.applicantsNumMax}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">活动分享次数：</label>
								<div class="col-sm-8">
									<input id="numberOfShares"  th:value="${activity.numberOfShares}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">活动收藏次数：</label>
								<div class="col-sm-8">
									<input id="numberOfCollection"  th:value="${activity.numberOfCollection}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">预览次数：</label>
								<div class="col-sm-8">
									<input id="numberOfPreviews"  th:value="${activity.numberOfPreviews}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">已报名人数：</label>
								<div class="col-sm-8">
									<input id="numberOfApplicants"  th:value="${activity.numberOfApplicants}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<input id="numberOfApplicants"  th:value="${activity.reasonForRefusal}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
														
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/activity/activity/edit.js"></script>
	<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="/ueditor/ueditor.all.js"></script>
	<script type="text/javascript" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
	<script type="text/javascript">
var ue = UE.getEditor('actContent',{
	toolbars:[
        [
     	   'fullscreen', 'source', '|', 'undo', 'redo', '|',
     	    'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
     	    'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
     	    'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
     	    'directionalityltr', 'directionalityrtl', 'indent', '|',
     	    'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
     	    'link', 'unlink', 'anchor', '|',
     	    'insertimage', 'emotion', 'map', 'insertframe', 'insertcode', 'pagebreak', 'background', '|',
     	    'horizontal', 'date', 'time', 'spechars', '|',
     	    'print', 'preview', 'searchreplace', 'drafts', 'help'
     ]
 ]
});

		
$("input:radio[name=actType]").click(function(){
	   var checkValue = $("input:radio[name=actType]:checked").val(); 
	   if(checkValue == 1){
		   $("#actPrice").empty();
		    var c  ='<label class="col-sm-3 control-label">活动报名费用：</label><div class="col-sm-8">';
		   		c += '<input id="actPrice" name="actPrice"  class="form-control" type="text">'
				c += '</div>';			
		   $("#actPrice").append(c);
	   }
	   if(checkValue == 0){
		   $("#actPrice").empty();
		   var c  ='<label class="col-sm-3 control-label">活动报名费用：</label><div class="col-sm-8">';
	   		c += '<input id="actPrice" name="actPrice" value="0" class="form-control" type="text" readonly="readonly">'
			c += '</div>';			
	   $("#actPrice").append(c);
	   }
	})
</script>
<script>$(function(){
	    var multi = 0;
	    var name = "actTitleImg";
	    if(multi){
	        name = name+'[]';
	        $("#imgUpload_img").attr('multiple','multiple');
	    }else{
	        $("#imgUpload_img").removeAttr('multiple');
	    }
	    
	    $("#imgUpload_img").fileupload({
	        dataType: 'json',
	        done: function (e, data) {
	            	console.log(data.result);
	            if (data.result.code == 0) {
	                var img = '<div class="imgbox">';
	                img += '<div class="removePic" onclick="removePic(this,\'/banner/imgDel\')">×</div>';
	                img += '<input type="hidden" name="'+name+'" value="' + data.result.fileName + '">';
	                img += '<img src="' + data.result.fileName + '">';
	                img += '</div>';
	                if(multi){
	                    $("#imgsbox_img").append(img);
	                }else{
	                    $("#imgsbox_img").html(img);
	                }
	            } else {
	                layer.msg(data.msg);
	            }
	        },
	        change: function (e, data) {
	            $("#imgUpload_name_img").html('上传图片...');
	        },
	        progressall: function (e, data) {
	            var progressnum = parseInt(data.loaded / data.total * 100);
	            if (progressnum == 100) {
	                $("#progress_img").text('');
	                $("#imgUpload_name_img").html('上传图片');
	            } else {
	                $("#progress_img").text(progressnum + "%");
	            }
	        },
	        error: function(e,data){
	            layer.msg('上传请求失败');
	        }
	    });
	});

	/**
	 * 移除图片
	 */
	function removePic(_self,deleteurl){
	    $(_self).parent().remove();
	    if(deleteurl){
	        $.post(deleteurl,{path:$(_self).parent().find('img').attr('src')});
	    }
	}

	</script>
</body>
</html>
