<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="team:team:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="team:team:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="teamCode" type="text" class="form-control"
								placeholder="请输入团队编号">
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="teamName" type="text" class="form-control"
								placeholder="请输入团队名称">
						</div>
						<div class="columns pull-right col-md-2 ">
							<select id="teamType" class="form-control">
								<option value=''>请选择团队类型</option>
							<option th:each="type : ${type}" th:value="${type.id}"
											th:text="${type.typeName}"></option>
							</select>
						</div>
						<div class="columns pull-right col-md-2 ">
							<select id="status" class="form-control">
								<option value=''>请选择状态</option>
								<option value='0'>申请中</option>
								<option value='1'>通过</option>
								<option value='2'>已拒绝</option>
							</select>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
				var s_audit_h = 'hidden';
				var s_memberList_h = 'hidden';
				var s_applyMember_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="team:volunteer:volunteer">
			<script type="text/javascript">
			    var s_volunteer_h = '';
			</script>
		</div>
		<div shiro:hasPermission="team:team:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="team:team:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="team:team:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
		<div shiro:hasPermission="team:team:audit">
			<script type="text/javascript">
				var s_audit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="team:apply:applyMember">
			<script type="text/javascript">
				var s_applyMember_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/team/team/team.js"></script>
</body>
</html>