### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
/applog/


/gyds-manager/target
/gyds-web/target
/gyds-core/target
/gyds-web/.apt_generated_tests
/gyds-core/.apt_generated_tests
/gyds-manager/.apt_generated_tests
/.metadata/
