<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fly.adv.dao.AdvertisementDao">

	<select id="get" resultType="com.fly.adv.domain.AdvertisementDO">
		select `id`,`adv_name`,`url`,`adv_img`,`region_code`,`create_time`,`position_num`,`show_start_time`,`show_end_time` from advertisement where id = #{value}
	</select>

	<select id="list" resultType="com.fly.adv.domain.AdvertisementDO">
		select `id`,`adv_name`,`url`,`adv_img`,`region_code`,`create_time`,`position_num`,`show_start_time`,`show_end_time` from advertisement
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="advName != null and advName != ''"> and adv_name = #{advName} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="advImg != null and advImg != ''"> and adv_img = #{advImg} </if>
		  		  <if test="regionCode != null"> and region_code = #{regionCode} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="positionNum != null and positionNum != ''"> and position_num = #{positionNum} </if>
		  		  <if test="showStartTime != null and showStartTime != ''"> and show_start_time = #{showStartTime} </if>
		  		  <if test="showEndTime != null and showEndTime != ''"> and show_end_time = #{showEndTime} </if>
		  		  <if test="ids != null">
		         	and left(region_code,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		          </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id asc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from advertisement
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="advName != null and advName != ''"> and adv_name = #{advName} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="advImg != null and advImg != ''"> and adv_img = #{advImg} </if>
		  		  <if test="regionCode != null and regionCode!=''"> and region_code = #{regionCode} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="positionNum != null and positionNum != ''"> and position_num = #{positionNum} </if>
		  		  <if test="showStartTime != null and showStartTime != ''"> and show_start_time = #{showStartTime} </if>
		  		  <if test="showEndTime != null and showEndTime != ''"> and show_end_time = #{showEndTime} </if>
		  		  <if test="perCapitaCost != null and perCapitaCost != ''"> and per_capita_cost = #{perCapitaCost} </if>
		  		  <if test="ids != null">
		         	and left(region_code,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		          </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.fly.adv.domain.AdvertisementDO">
		insert into advertisement
		(
			`id`, 
			`adv_name`, 
			`url`, 
			`adv_img`, 
			`region_code`, 
			`create_time`, 
			`position_num`, 
			`show_start_time`, 
			`show_end_time`
		)
		values
		(
			#{id}, 
			#{advName}, 
			#{url}, 
			#{advImg}, 
			#{regionCode}, 
			#{createTime}, 
			#{positionNum}, 
			#{showStartTime}, 
			#{showEndTime} 
		)
	</insert>
	 
	<update id="update" parameterType="com.fly.adv.domain.AdvertisementDO">
		update advertisement 
		<set>
			<if test="advName != null">`adv_name` = #{advName}, </if>
			<if test="url != null">`url` = #{url}, </if>
			<if test="advImg != null">`adv_img` = #{advImg}, </if>
			<if test="regionCode != null">`region_code` = #{regionCode}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="positionNum != null">`position_num` = #{positionNum}, </if>
			<if test="showStartTime != null">`show_start_time` = #{showStartTime}, </if>
			<if test="showEndTime != null">`show_end_time` = #{showEndTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from advertisement where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from advertisement where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>