<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fly.adv.dao.AdvPriceDao">

	<select id="get" resultType="com.fly.adv.domain.AdvPriceDO">
		select `id`,`region_code`,`position_num`,`sort`,`price`,`create_time` from setup_adv_price where id = #{value}
	</select>

	<select id="list" resultType="com.fly.adv.domain.AdvPriceDO">
		select `id`,`region_code`,`position_num`,`sort`,`price`,`create_time` from setup_adv_price
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="regionCode != null"> and region_code = #{regionCode} </if>
		  		  <if test="positionNum != null and positionNum != ''"> and position_num = #{positionNum} </if>
		  		  <if test="sort != null and sort != ''"> and sort = #{sort} </if>
		  		  <if test="price != null and price != ''"> and price = #{price} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from setup_adv_price
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="regionCode != null and regionCode != ''"> and region_code = #{regionCode} </if>
		  		  <if test="positionNum != null and positionNum != ''"> and position_num = #{positionNum} </if>
		  		  <if test="sort != null and sort != ''"> and sort = #{sort} </if>
		  		  <if test="price != null and price != ''"> and price = #{price} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.fly.adv.domain.AdvPriceDO">
		insert into setup_adv_price
		(
			`id`, 
			`region_code`, 
			`position_num`, 
			`sort`, 
			`price`, 
			`create_time`
		)
		values
		(
			#{id}, 
			#{regionCode}, 
			#{positionNum}, 
			#{sort}, 
			#{price}, 
			#{createTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.fly.adv.domain.AdvPriceDO">
		update setup_adv_price 
		<set>
			<if test="regionCode != null">`region_code` = #{regionCode}, </if>
			<if test="positionNum != null">`position_num` = #{positionNum}, </if>
			<if test="sort != null">`sort` = #{sort}, </if>
			<if test="price != null">`price` = #{price}, </if>
			<if test="createTime != null">`create_time` = #{createTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from setup_adv_price where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from setup_adv_price where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>