<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fly.adv.dao.DetailDao">

	<select id="get" resultType="com.fly.adv.domain.DetailDO">
		select `id`,`memeber_id`,`position_num`,`region_code`,`adv_url`,`create_time`,`adv_img`,`show_start_time`,`show_end_time`,`status` from adv_detail where id = #{value}
	</select>

	<select id="list" resultType="com.fly.adv.domain.DetailDO">
		select `id`,`memeber_id`,`position_num`,`region_code`,`adv_url`,`create_time`,`adv_img`,`show_start_time`,`show_end_time`,`status` from adv_detail
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="memeberId != null and memeberId != ''"> and memeber_id = #{memeberId} </if>
		  		  <if test="positionNum != null and positionNum != ''"> and position_num = #{positionNum} </if>
		  		  <if test="regionCode != null and regionCode != ''"> and region_code = #{regionCode} </if>
		  		  <if test="advUrl != null and advUrl != ''"> and adv_url = #{advUrl} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="advImg != null and advImg != ''"> and adv_img = #{advImg} </if>
		  		  <if test="showStartTime != null and showStartTime != ''"> and show_start_time = #{showStartTime} </if>
		  		  <if test="showEndTime != null and showEndTime != ''"> and show_end_time = #{showEndTime} </if>
		  		  <if test="status != null"> and status = #{status} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from adv_detail
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="memeberId != null and memeberId != ''"> and memeber_id = #{memeberId} </if>
		  		  <if test="positionNum != null and positionNum != ''"> and position_num = #{positionNum} </if>
		  		  <if test="regionCode != null and regionCode != ''"> and region_code = #{regionCode} </if>
		  		  <if test="advUrl != null and advUrl != ''"> and adv_url = #{advUrl} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="advImg != null and advImg != ''"> and adv_img = #{advImg} </if>
		  		  <if test="showStartTime != null and showStartTime != ''"> and show_start_time = #{showStartTime} </if>
		  		  <if test="showEndTime != null and showEndTime != ''"> and show_end_time = #{showEndTime} </if>
		  		  <if test="status != null"> and status = #{status} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.fly.adv.domain.DetailDO">
		insert into adv_detail
		(
			`id`, 
			`memeber_id`, 
			`position_num`, 
			`region_code`, 
			`adv_url`, 
			`create_time`, 
			`adv_img`, 
			`show_start_time`, 
			`show_end_time`, 
			`status`
		)
		values
		(
			#{id}, 
			#{memeberId}, 
			#{positionNum}, 
			#{regionCode}, 
			#{advUrl}, 
			#{createTime}, 
			#{advImg}, 
			#{showStartTime}, 
			#{showEndTime}, 
			#{status}
		)
	</insert>
	 
	<update id="update" parameterType="com.fly.adv.domain.DetailDO">
		update adv_detail 
		<set>
			<if test="memeberId != null">`memeber_id` = #{memeberId}, </if>
			<if test="positionNum != null">`position_num` = #{positionNum}, </if>
			<if test="regionCode != null">`region_code` = #{regionCode}, </if>
			<if test="advUrl != null">`adv_url` = #{advUrl}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="advImg != null">`adv_img` = #{advImg}, </if>
			<if test="showStartTime != null">`show_start_time` = #{showStartTime}, </if>
			<if test="showEndTime != null">`show_end_time` = #{showEndTime}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from adv_detail where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from adv_detail where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>