<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title th:text="${activity.actTitle+'-'+activity.teamName+'-'+title}"></title>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<script src="js/jquery-3.1.1.js"></script>
		<link rel="stylesheet" href="css/activity.css">
		<link rel="stylesheet" href="css/content.css">
		<link th:href="@{/css/layui.css}" rel="stylesheet">
		<link rel="stylesheet" th:href="@{/pc/css/jquery.my-modal.1.1.css}">
		<link rel="stylesheet" th:href="@{/pc/css/jquery.my-modal.1.2.css}">
		<script th:src="@{/pc/js/jquery-3.1.1.js}"></script>
		<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
		<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
		<script th:src="@{/js/validate.js}"></script>
		<script th:src="@{/js/qrCode.js}"></script>
	</head>
	<body>
		<!-- 头部 -->
		<div th:replace="pc/include :: header"></div>
		<div class="content">
			<div class="conTxt">
				<p >您所在的位置：首页>活动中心</p>
			</div>
			<div class="conBox">
				<div class="conBox1">
					<img th:src="${activity.actTitleImg}" alt="">
					<input type="hidden" th:value="${activity.id}"  id="actId"/>
					<input type="hidden" th:value="${applyId}"  id="applyId"/>
					<input type="hidden" th:value="${areaId}"  id="areaId"/>
					<input type="hidden" id="_actprice" th:value="${activity.actPrice}">
				</div>
				<div class="conBox2">
					<div class="conBox2-1">
						<h4 th:text="${activity.actTitle}"></h4>
						<!-- <p>
							<img src="images/conter_09.jpg" alt=""> 1W+
							<img src="images/conter_06.jpg" alt=""> 85 
							<img src="images/conter_12.jpg" alt=""> 69
						</p> -->
					</div>
					<div class="conBox2-2">
						<div class="conBox2-2-1">
							<ul>
								
								<a th:href="@{/pc/teamDetail(teamId=${activity.teamId},areaId=${areaId})}"><li th:text="'主办单位: ' +${activity.teamName}"></li></a>
								<li th:text="'活动类型: '+${activity.typeName}"></li>
								<li th:text=" '活动地点：' + ${activity.actAddr}"></li>
								<li th:text=" '报名时间：' + ${activity.startTimeStr} + '~' + ${activity.endTimeStr}"></li>
								<li th:text=" '活动时间：' + ${#dates.format(activity.activiStartTime,'YYYY-MM-dd HH')} + '~' + ${#dates.format(activity.activiEndTime,'YYYY-MM-dd HH')}"></li>
								<li class="comli"><span style="float:left;">活动费用：</span><a href="javaScript:;" class="comimg" th:text="${activity.actType == 0} ? '免费': ${activity.actPrice}"></a></li>
								<!-- <li>数量：
									<button class="jian">-</button>
									<input type="text" class="shu" value="1">
									<button class="jia">+</button>
									<span>(每人仅限两张)</span>
								</li> -->
							</ul>
							<div class="zaixian">
								<div th:switch="${applyStatus}">
									<p th:case="'0'">
										<img src="images/zaixian.png" alt="" ><span id="baoming" class="btn2" th:onclick="'javascript:apply(1,'+${activity.id}+','+${applyId}+')'" style="cursor:pointer">取消报名</span>
									</p>
									<p th:case="'1'">
										<img src="images/zaixian.png" alt="" ><span id="baoming" class="btn2" style="cursor:not-allowed">已报名</span>
									</p>
									<p th:case="'2'">
										<img src="images/zaixian.png" alt="" ><span id="baoming"  style="cursor:not-allowed">已拒绝</span>
									</p>
									<p th:case="'4'">
										<img src="images/zaixian.png" alt="" ><span id="baoming" class="btn2" th:onclick="'javascript:apply(2,'+${activity.id}+',-1)'" style="cursor:pointer">我要报名</span>
									</p>
								</div>
							</div>
							<div class="zaixian1">
								<div th:switch="${collectStatus}">
									<p th:case="'1'">
										<img src="images/gongyitubiao_03.jpg" alt="" ><span style="cursor:pointer" th:onclick="'javaScript:collection('+${activity.id}+',5, 2)'">我要收藏</span>
									</p>
									<p th:case="'2'">
										<img src="images/myshouc.png" alt="" style="cursor:not-allowed"><span style="cursor:not-allowed">已收藏</span>
									</p>
								</div>
							</div> 
						</div>
					</div>
				</div>
			</div>
			<!-- 活动详情 -->
				<div class="xqtop">
					<span class="xqtop1">活动详情</span>
					<span th:text=" '已报名 ' + ${activity.numberOfApplicants}"></span>
				</div>
				<div class="xqcon">
					<div th:utext="${activity.actContent}"></div>
					<div class="xqfenxing">
						<span>分享至</span> 
						<a href="javascript:;" th:onclick="wxshare(1)"><img
							th:src="@{/pc/images/conter_26.jpg}" alt=""></a>
							<div id="qrcode"></div>
					</div>
				</div>
				
				<div class="xqrightBtn">
					<a th:each="act,stat: ${advList}"  th:href="${act.advImg!=null?act.url:'javascript:;'}" th:target="${act.advImg!=null?'_blank':''}">
						<img th:if="${stat.count==1}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_03.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
						<img th:if="${stat.count==2}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_06.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
						<img th:if="${stat.count==3}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_09.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
						<img th:if="${stat.count==4}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_12.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
						<img th:if="${stat.count==5}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_15.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
						<img th:if="${stat.count==6}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_03.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
					</a>
				</div>
				<div class="xqfooter">
					已报名<span th:text=" '(' + ${activity.numberOfApplicants} + ')'"></span>
				</div>
				<div class="xqname">
					<figure th:each=" vounlteer : ${volunteerList}">
						<img th:src="${vounlteer.img}" alt="" style="width: 100%;height:63px;">
						<figcaption>
							<span th:text="${vounlteer.name}"></span>
							<p th:text="${vounlteer.time}"></p>
						</figcaption>
					</figure>
					<a href="#">展开更多报名 <img src="images/conter_40.jpg" alt=""></a>
				</div>
		</div>
		
		<div class="m-modal">
		<div class="m-modal-dialog">
			<div class="m-top">
				<span class="m-modal-close">X</span>
			</div>
			<div class="m-middle">
			    <form action="" id="signupForm">
			    <input type="text" placeholder="" class="input1" id="url">
			    <input type="text" placeholder="" class="input1" id="price">
			    <input type="text" placeholder="" class="input1" name="positionNum" id="positionNum">
			    <input type="text" placeholder="" class="input1" id="regionName">
			    <input type="text" placeholder="" class="input1" id="sort" name="sort">
			    <input type="text" placeholder="" class="input1" name="regionCode" id="regionCode">
			    	<label>
						<span>展示位置</span>
						<input type="text" placeholder="" readonly="readonly" id="positionName" class="input1">
					</label>
					<label>
						<span>投放天数</span>
						<input type="text" oninput="clearNoNum1(this)" onmouseout="jisuan()"  id="showDay"  name="showDay" placeholder="投放天数" class="input1">
					</label>
					<label>
						<span>链接地址</span>
						<input type="text" placeholder="http://" name="advUrl" class="input1">
					</label>
					<label>
						<span>上传图片</span>
						<img th:src="@{/pc/images/gahgha_03.png}" id="img" alt="">
						<input type="hidden" id="imgStr" name="advImg">
						<input type="file" name="file" style="display: none;" id ="file">
					</label>
					<label>
						<span>总价格</span>
						<span style="color:#ff0101;font-size:28px;" id="jiage">0元</span>
					</label>
					<label>
						<input type="button" id="save" value="确认购买" class="input3">
					</label>
			    </form>
			</div>
		</div>
	</div>
	<!-- 主体结束 -->
	<div class="m-modal1">
			<div class="m-modal1-dialog m-modal1-dialog">
					<div class="m-top">
						<span class="m-modal1-close">X</span>
					</div>
					<div class="m-middle2">
					   <div class="m-middletxt2-1">
					       <p id="blance"></p>
						   <img id="codeUrl" src="" alt="">
					   </div>
					   <div class="m-middletxt3-1">
						   <img th:src="@{/pc/images/zasfaff.png}" alt="">
					   </div>
					</div>
				</div>
				</div>
		<!-- 底部 -->
		<div th:replace="pc/include :: footer"></div>
	</body>
</html>
<script src="/js/plugins/layer/layer.js"></script>
<script src="/js/layui.js"></script>
<script src="/js/plugins/layer/laydate/laydate.js"></script>
<script th:src="@{/pc/js/common.js}"></script>
<script th:src="@{/pc/js/jquery.my-modal.1.1.js}"></script>
<script th:src="@{/pc/js/jquery.my-modal.1.2.js}"></script>
<script>
function _area(){
	console.log($("#area").val());
	window.location.href = "/?areaId="+$("#area").val();
}
	$(".comli a").click(function(){
		$(this).addClass("comimg").siblings().removeClass("comimg")
	})
	var r=$(".shu");
	$(".jia").click(function(){
		r.val(parseInt(r.val())+1)
		if(r.val()>2){
		r.val(parseInt(r.val())-1);
		}
	})
	$(".jian").click(function(){
		r.val(parseInt(r.val())-1)
		if(r.val()<=0){
        r.val(parseInt(r.val())+1);
       }
	})
	$(".shu").keyup(function(){
	    var c=$(this);
	    if(/[^\d]/.test(c.val())){
	        var amount=c.val().replace(/[^\d]/g,'');
	        $(this).val(amount);
	    }
	});
	
	var m2 = new MyModal1.modal(function() {
		alert("你点击了确定");
	});
	
	function apply(type,actId,applyId) {
		
		//return false;
		var price = $("#_actprice").val();
		$.ajax({
            type : "POST",
            dataType: "json",
            url : "/pc/activity/applyValidate",
            data : {
            	'type': type,
            	'actId': actId,
            	'applyId': applyId
            },
            beforeSend: function(){
            	$("#baoming").attr("onclick","");
           },
            success : function(result) {
            	var status = result.status;
            	var url = result.url;
            	console.log(status)
            	if (status == 1) {
            		m2.show();
            		if(type==2){//报名
            			if(price>0){
            				$('#blance').text("付款金额 " +price + "元");
            				var orderNum = createOrder(price,8);
            				if (orderNum != '-1') {
            					$('#order').val(orderNum);
            					$('#codeUrl').attr("src","http://www.48936.com/wxpay/pay?data=" + (price * 100) + "&orderNum=" + orderNum);
            					timer = setInterval(function () {
            							var msg = queryOrder(orderNum)
            							if (msg == '1') {
            								window.clearInterval(timer);
            								submitApp(type,actId,applyId);
            							}
            						},500);
            				} else {
            					alert("未知错误");
            				}
            			}else{
            				submitApp(type,actId,applyId);
            			}
            		}
            		if(type==1){
            			submitApp(type,actId,applyId);
            		}
            		
            	} else if (status == 2){
            		layer.confirm('您未登录请问是否跳转登录页面？', {
						  btn: ['是','否'] //按钮
						}, function(){
							window.location.href = "/admin";
						}, function(){
						});
            	} else if (status == 3){
            		alert("您还不是志愿者，请先申请志愿者");
            		window.location.href=url;
            	} else if (status == 4){
            		alert("报名失败，您不是本团成员");
            		window.location.href=url;
            	} else if (status == 6){
            		alert("报名失败，扣费失败请确余额");
            		window.location.href=url;
            	} else if (status == 9){
            		alert("报名失败，活动进行中");
            		window.location.href=url;
            	}else if (status == 10){
            		alert("报名失败，活动以结束");
            		window.location.href=url;
            	}else{
            		alert("操作失败");
            		window.location.href=url;
            	}
            }
        });
		
		
	}
	
	function submitApp(type,actId,applyId){
		$.ajax({
            type : "POST",
            dataType: "json",
            url : "/pc/activity/apply",
            data : {
            	'type': type,
            	'actId': actId,
            	'applyId': applyId
            },
            beforeSend: function(){
            	$("#baoming").attr("onclick","");
           },
            success : function(result) {
            	var status = result.status;
            	var url = result.url;
            	console.log(status)
            	if (status == 1) {
            		layer.msg("操作成功");
            		$("#baoming").text()
            		if(type==1){//取消报名成功,改为可报名
                		$("#baoming").attr("onclick","apply(2,"+actId+","+result.applyId+")");
                		$("#baoming").text("立即报名");
                		history.go(0);
                	}
            		if(type==2){//提交报名成功,改为取消报名
                		$("#baoming").attr("onclick","apply(1,"+actId+","+result.applyId+")");	
                		$("#baoming").text("取消报名");
                		history.go(0);
                	}
            	} else if (status == 2){
            		layer.confirm('您未登录请问是否跳转登录页面？', {
						  btn: ['是','否'] //按钮
						}, function(){
							window.location.href = "/admin";
						}, function(){
						});
            	} else if (status == 3){
            		alert("您还不是志愿者，请先申请志愿者");
            		window.location.href=url;
            	} else if (status == 4){
            		alert("报名失败，您不是本团成员");
            	} else if (status == 6){
            		alert("报名失败，扣费失败请确余额");
            	} else if (status == 9){
            		alert("报名失败，活动进行中");
            	}else if (status == 10){
            		alert("报名失败，活动以结束");
            	}else{
            		alert("操作失败");
            	}
            }
        });
	}
	
	//创建订单
	function createOrder(fee,orderType){
		var orderNum = '';
		$.ajax({
			type : "POST",
			url : "/pc/news/createOrder",
			data : {'data': fee,
					'orderType':orderType},
			async:false,
			success : function(r) {
				if (r.code == 0) {
					orderNum = r.msg;
				} else if(r.code == -1){
					orderNum =-1;
				}else if(r.code == -2){
					orderNum =-2;
				}
				}
		});
		return orderNum;
	}
	
	//查询订单支付状态
	function queryOrder(orderNum){
		var stauts = '';
		$.ajax({
			type : "POST",
			url : "/wxpay/queryOrder",
			data : {'orderNum': orderNum},
			async:false,
			success : function(r) {
				if (r.code == 0) {
					stauts = r.msg;
				} else if(r.code == -1){
					stauts =-1;
				}else if(r.code == -2){
					stauts =-2;
				}
				}
		});
		return stauts;
	}
	
	function collection(actId, type, newtype) {
		$.ajax({
            type : "get",
            dataType: "json",
            url : "/pc/activity/collect",
            data : {
            	'actId': actId
            },
            success : function(result) {
            	var code = result.code;
            	if (code == 0) {
            		parent.layer.msg("操作失败");
            	} else if (code == 1){
            		parent.layer.msg("操作成功");
            		history.go(0)
            	} else if (code == 3) {
            		layer.confirm('您未登录请问是否跳转登录页面？', {
						  btn: ['是','否'] //按钮
						}, function(){
							window.location.href = "/admin";
						}, function(){
						});
            	}
            }
        });
	}
	
	
	function share(reType){
		para={
				"actId":$('#actId').val(),
				"trType":reType,
				"type" : 2
		};
		$.ajax({
			cache : true,
			type : "GET",
			url : "/pc/actShare",
			data : para,
			async : true,
			error : function(request) {
				alert("分享失败");
			},
			success : function(data) {
				if (data.code == 0) {
					alert("分享成功");
					history.go(0);
				} else if(data.code == 2){
					alert(data.msg);
				}else if(data.code == 3){
					alert(data.msg);
				}else{
					alert(data.msg);
				}

			}
		});
	}
	var m1 = new MyModal.modal(function() {
	});
	$('.btn1').on("click", function() {
		var url=$(this).attr("data-url");
		$("#url").val(url);
		 $.get(url, function(result){
			 console.log(result);
			 if(result.code==-0){
				 $("#price").val(result.price);
				 $("#positionNum").val(result.positionNum);
				 $("#regionName").val(result.regionName);
				 $("#positionName").val(result.positionName);
				 $("#regionCode").val(result.regionCode);
				 $("#sort").val(result.sort);
				 m1.show();
			 }
			 if(result.code==-1){
				 window.location.href = result.url;
			 }
			 if(result.code==500){
				 layer.msg(result.msg);
			 }
		});
	});
	
	layui.use('upload', function() {
	    var upload = layui.upload;

	    //执行实例
	    var uploadInst = upload.render({
	        elem : '#file', //绑定元素
	        url : '/common/sysFile/upload', //上传接口
	        size : 1000,
	        accept : 'file',
	        done : function(r) {
	            var fileName = r.fileName;
	             $("#imgStr").val(fileName);
	     	     $("#img").attr("src",fileName);
	        },
	        error : function(r) {
	            //layer.msg(r.msg);
	        }
	    });
	    
	});

	$().ready(function(){
		$("#save").on('click', function() {
			console.log(123);
			$("#signupForm").submit();
		});
	})

	function jisuan(){
		var day=$("#showDay").val();
		var price = $("#price").val();
		var allPrice=day*price;
		console.log(allPrice);
		$("#jiage").text(allPrice+"元");
	}


	function save() {
			$.ajax({
				type : "POST",
				url : "/pc/advSubmit",
				data : $('#signupForm').serialize(),
				success : function(r) {
					if (r.code == 0) {
						layer.msg(r.msg);
						
					} else {
						layer.msg(r.msg);
					}
				},
			});
		}
		
		$().ready(function() {
			validateRule();
		});

		$.validator.setDefaults({
			submitHandler : function() {
				save();
			}
		});
		function validateRule() {

			var icon = "<i class='fa fa-times-circle'></i> ";
			$("#signupForm").validate({
				rules : {
					positionName : {
						required : true
					},
					showDay : {
						required : true
					},
					advUrl : {
						required : true
					},
					advImg : {
						content : true
					}
				},
				messages : {
					positionName : {
						required : icon + "<span style='color:red'>展示位置不能为空</span>",
					},
					showDay : {
						required : icon + "<span style='color:red'>投放天数不能为空</span>",
					},
					advUrl : {
						required : icon + "<span style='color:red'>广告链接不能为空</span>",
					},
					advImg : {
						required : icon + "<span style='color:red'>广告图片不能为空</span>",
					}
				}
			})
		}
		
		
		var flag = true;
		function wxshare(type){
			if (flag) {
				 flag = false;
				var url=window.location.href;
				console.log(url);
				//new QRCode(document.getElementById('qrcode'), 'http://www.baidu.com');
				  // 设置参数方式
				  var qrcode = new QRCode('qrcode', {
				    text: url,
				    width: 150,
				    height: 150,
				    colorDark : '#000000',
				    colorLight : '#ffffff',
				   correctLevel : QRCode.CorrectLevel.H
				 });
				 // 使用 
				 qrcode.makeCode(url);
			} else {
				$('#qrcode').empty()
				flag = true;
			}
			 //APIqrcode.clear();
			
		}
</script>
