<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" th:type="@{/pc/text/css}" th:href="@{/pc/css/personal.css}"/>
		<link rel="stylesheet" th:href="@{/pc/css/index.css}">
		<link rel="stylesheet" th:href="@{/pc/css/cwmx.css}">
		<link rel="stylesheet" th:href="@{/pc/css/guzhunaws.css}">
		<link rel="stylesheet" th:href="@{/pc/css/jibenziliao.css}">
		<script th:src="@{/pc/js/jquery-3.1.1.js}"></script>
		<style>
		  .yy-gz{
			  display: none;
		  }
		</style>
	</head>
	<body>
		<!-- 头部 -->
			<!-- 右侧主内容 -->
			<div class="boxRight" style="background:#fff;width: 1006px;height: 925px;margin-top:0;">
				<div class="cwmx">
					<h4>我要建团</h4>
				</div>
				<form action="" method="" class="biaodanyy biaodanyy1">
				    <label>
						<span>团队名称</span>
						<input type="text">
					</label>
					<label>
						<span>团队负责人</span>
						<input type="text">
					</label>
					<label>
						<span>负责人电话</span>
						<input type="text">
					</label>
					<label>
						<span>联系地址</span>
						<select class="juzhu" id="pro" onchange="byPro()">
						<option value="0">省</option>
							<option th:each ="area:${areaList}" th:value="${area.regionCode}"
											th:text="${area.regionName}"></option>
						</select>
						<select class="juzhu" id="city" onchange="byCity()">
							<option value ="">市</option>
						</select>
						<select class="juzhu" id ="area">
							<option value ="">区/县</option>
						</select>
					</label>
					<label>
						<span>团队logo</span>
						<img th:src="@{/pc/images/tianjiua_03.jpg}" alt="" class="tdlogo">
						<input type="file" class="tuanduilogo" style="display: none;">
					</label>
					<label>
						<span>团队照片</span>
						<img th:src="@{/pc/images/tianjiua_03.jpg}" alt="" class="tdlogo1">
						<img th:src="@{/pc/images/tianjiua_03.jpg}" alt="" class="tdlogo2">
						<img th:src="@{/pc/images/tianjiua_03.jpg}" alt="" class="tdlogo3">
						<img th:src="@{/pc/images/tianjiua_03.jpg}" alt="" class="tdlogo4">
						<input type="file" class="tuanduilogo1" style="display: none;">
						<input type="file" class="tuanduilogo2" style="display: none;">
						<input type="file" class="tuanduilogo3" style="display: none;">
						<input type="file" class="tuanduilogo4" style="display: none;">
					</label>
					<label>
						<span>团队简介</span>
						 <textarea name="" id="" cols="30" rows="10">
							 
						 </textarea>
					</label>
					<label>
						<span>项目服务</span>
						<select class="xmfw">
							<option th:each ="type:${type}" th:value="${type.id}"
											th:text="${type.typeName}"></option>
						</select>
					</label>
					<label>
						<input type="submit" value="提交" style="background:#ff0000;height:42px;color:#fff;border: none;margin:30px 0px 0px 30px;border-radius:3px ;">
					</label>
				</form>
			</div>
		</div>
		<!-- 备案 -->
		<div class="beian">
			<div class="beian1">
				<span style="float: left;">©公益打赏平台 版权所有</span>
				<span style="float: right;">京ICP备12048184号  技术支持：景安网络</span>
			</div>
		</div>
	</body> 
	<script type="text/javascript">
		function byPro(){
			var area = $('#pro option:selected').val();
			var para = {"area":area};
			$.ajax({
				type : "GET",
				url : "/pc/regTeam/area",
				data : para,
				error : function(request) {
					alert("请求异常");
				},
				success : function(data) {
					if (data.code == 0) {
						$("#city").empty();
						$("#area").empty();
						 $("#area").append($("<option/>").text("区/县").attr("value",""));
						  $.each(data.regList, function(i, item){ 
						   $("#city").append($("<option/>").text(item.regionName).attr("value",item.regionCode));
						   }); 
					}else{
						alert("数据请求异常");
					}
				}
			});
		}
		function byCity(){
			var area = $('#city option:selected').val();
			var para = {"area":area};
			$.ajax({
				type : "GET",
				url : "/pc/regTeam/area",
				data : para,
				error : function(request) {
					alert("请求异常");
				},
				success : function(data) {
					if (data.code == 0) {
						$("#area").empty();
						  $.each(data.regList, function(i, item){ 
						   $("#area").append($("<option/>").text(item.regionName).attr("value",item.regionCode));
						   }); 
					}else{
						alert("数据请求异常");
					}
				}
			});
		}
	</script>
</html>
<script>
	$(".tdlogo").click(function(){
		$("tuanduilogo").click();
	})
	$(".tdlogo1").click(function(){
		$("tuanduilogo1").click();
	})
	$(".tdlogo2").click(function(){
		$("tuanduilogo2").click();
	})
	$(".tdlogo3").click(function(){
		$("tuanduilogo3").click();
	})
	$(".tdlogo4").click(function(){
		$("tuanduilogo4").click();
	})
	
</script>
