<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>公益打赏</title>
		<link rel="stylesheet" type="text/css" th:href="@{/pc/css/index.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/pc/css/lunbo.css}"/>
		<link th:href="@{/css/layui.css}" rel="stylesheet">
		<link rel="stylesheet" th:href="@{/pc/css/jquery.my-modal.1.1.css}">
		<script th:src="@{/pc/js/jquery-3.1.1.js}"></script>
		<script th:src="@{/pc/js/lunbo.js}"></script>
		<script th:src="@{/js/plugins/layer/layer.js}"></script>
		<script th:src="@{/js/layui.js}"></script>
		<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
		<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
		<script th:src="@{/js/validate.js}"></script>
	</head>
<body>
	<!-- 头部 -->
	<div th:replace="pc/include :: header"></div>
	<!-- 导航 -->
     <!-- 广告 -->
	 <div class="guangao">
		 <!-- <a><img  th:src="${adv1.advImg}" alt=""> </a> -->
		 <a	th:if="${adv1.advImg!=null}" th:href="${adv1.url}" target="_blank"><img  th:src="${adv1.advImg==null}?'/pc/images/tp2.jpg':${adv1.advImg}" th:data-url="${adv1.url}" alt="" class="btn1"></a>
		 <a th:if="${adv1.advImg==null}" ><img  th:src="${adv1.advImg==null}?'/pc/images/tp2.jpg':${adv1.advImg}" th:data-url="${adv1.url}" alt="" class="btn1"></a>
	 </div>
	 <input type="hidden" th:value="${areaId}" id="areaId">
	 <!-- 内容 -->
	 <div class="main">
		<div class="main_img">
			<div id="container">
				<div class="lun"  >
					<img th:each="newInfo: ${newList}" th:src="${newInfo.titleImg}" alt="">
				</div>
				  <button class="left"></button>
				  <button class="right"></button>
				  <div class="bo">
					  <p th:each="news: ${newList}" th:text="${news.title}">测试内容</p>
					 <ul class="list">
						  <li th:each="new: ${newList}" class="select"></li>
					 </ul> 
				  </div>
		     </div>
         </div>
		 <div class="main_news">
			 <div class="main_header">
				 <h3>新闻动态</h3>
				 <a th:href="@{/pc/news/infoList(areaId=${areaId},flag=0)}">更多+</a>
			 </div>
			 <div class="main_text">
				 <!-- <h4>2018顶新公益基金会奖学金申请正式启动</h4>
				 <span>顶新明日朝阳奖学金”是由顶新公益基金会设立，为成绩优异、家境清贫、品德端正的大学生为成绩优异、家境清贫、品德端正的大学生...</span> -->
				 <ul>
					 <li th:each="newInfo: ${newList}"><a th:href="@{/pc/news/info(id=${newInfo.id},areaId=${areaId})}" th:text="${newInfo.title}"> <img th:src="#{newInfo.titleImg}" alt=""></a><span th:text="${#dates.format(newInfo.publicTime, 'MM-dd')}"></span></li>
				 </ul> 
			 </div> 
		 </div>
	</div>
	<!-- 广告 -->
	<div class="guangao">
	 	<a	th:if="${adv2.advImg!=null}" th:href="${adv2.url}" target="_blank"><img  th:src="${adv2.advImg==null}?'/pc/images/tp2.jpg':${adv2.advImg}" th:data-url="${adv2.url}" alt="" class="btn1"></a>
		<a  th:if="${adv2.advImg==null}"><img  th:src="${adv2.advImg==null}?'/pc/images/tp2.jpg':${adv2.advImg}" alt="" class="btn1" th:data-url="${adv2.url}"> </a>
	</div>
	<!-- 地图 -->
	<div class="gps">
		<div class="gps1">
			<div class="secant_txt" style="margin-top:30px;">
				<h3><i></i>数据统计</h3>
				<a href="#">更多+</a>
			</div>
			<div class="gps_img">
				
			</div>
			<div class="gps_txt">
				
				
			</div>	
		</div>
	</div>
	<!-- 广告 -->
	<div class="guangao">
		<a	th:if="${adv3.advImg!=null}" th:href="${adv3.url}" target="_blank"><img  th:src="${adv3.advImg==null}?'/pc/images/tp2.jpg':${adv3.advImg}" th:data-url="${adv3.url}" alt="" class="btn1"></a>
	 	<a th:if="${adv3.advImg==null}"><img  th:src="${adv3.advImg==null}?'/pc/images/tp2.jpg':${adv3.advImg}" alt="" class="btn1" th:data-url="${adv3.url}"> </a>
	</div>
    <!-- 报名活动 -->
	<div class="secant">
		<div class="secant_txt">
			<h3><i></i>报名活动</h3>
			<a href="/pc/activityList">更多+</a>
		</div>
		<div class="secant_cent">
			<div th:each="act: ${actList}">
				<figure>
					<a th:href="@{/pc/activityDetail(id=${act.id},areaId=${areaId})}"><img th:src="${act.actTitleImg}" alt=""></a>
					<figcaption>
						<h4><a href="#" th:text="${act.actTitle}"></a></h4>
						<p th:text="${#dates.format(act.activiStartTime, 'MM-dd')+'开始&nbsp;&nbsp;'  +act.actAddr}"></p>
						<span><i th:text="${act.actType==0}?'免费':'收费'"></i><a href="#" th:text="${act.numberOfApplicants}+人已报名"></a></span>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
	<!-- 广告 -->
	<div class="guangao">
		<a	th:if="${adv4.advImg!=null}" th:href="${adv4.url}" target="_blank"><img  th:src="${adv4.advImg==null}?'/pc/images/tp2.jpg':${adv4.advImg}" th:data-url="${adv4.url}" alt="" class="btn1"></a>
		<a th:if="${adv4.advImg==null}"><img  th:src="${adv4.advImg==null}?'/pc/images/tp2.jpg':${adv4.advImg}" alt="" class="btn1" th:data-url="${adv4.url}"> </a>
	</div>
	<!-- 志愿者 -->
	<div class="zhiyuan">
		<div class="secant_txt">
			<h3><i></i>志愿者</h3>
			<a href="/pc/volunteerList">更多+</a>
		</div>
		<div class="zhiyuanImg">
			<div th:each="volunt: ${voluntList}">
				<a th:href="@{/pc/volunteerDetail(id=${volunt.id},areaId=${areaId})}"><img th:src="${volunt.headImg}" alt=""></a>
				<p th:text="${volunt.volunteerName}"></p>
			</div>
		</div>
	</div>
		<!-- 广告 -->
	<div class="guangao">
		<a	th:if="${adv5.advImg!=null}" th:href="${adv5.url}" target="_blank"><img  th:src="${adv5.advImg==null}?'/pc/images/tp2.jpg':${adv5.advImg}" th:data-url="${adv5.url}" alt="" class="btn1"></a>
		<a th:if="${adv5.advImg==null}"><img  th:src="${adv5.advImg==null}?'/pc/images/tp2.jpg':${adv5.advImg}" alt="" class="btn1" th:data-url="${adv5.url}"> </a>
	</div>
	<!-- 团队展示 -->
	<div class="tuandui">
		<div class="secant_txt">
			<h3><i></i>团队展示</h3>
			<a href="/pc/teamList">更多+</a>
		</div>
		<div class="tuanduiImg">
			<div th:each="team: ${teamList}">
				<figure>
					<a th:href="@{/pc/teamDetail(teamId=${team.id},areaId=${areaId})}"><img th:src="${team.teamTitleImg}" alt=""></a>
					<figcaption><p th:text="${team.teamName}"></p></figcaption>
				</figure>
			</div>
		</div>
	</div>
	<!-- 广告 -->
	<div class="guangao">
			 <!-- <a href=""><img  th:src="${adv5.advImg==''}?'/pc/images/tp2.jpg':${adv5.advImg}" alt="" class="btn1"> </a> -->
			 <a	th:if="${adv6.advImg!=null}" th:href="${adv6.url}" target="_blank"><img  th:src="${adv6.advImg==null}?'/pc/images/tp2.jpg':${adv6.advImg}" th:data-url="${adv6.url}" alt="" class="btn1"></a>
			 <a th:if="${adv6.advImg==null}"> <img  th:src="${adv6.advImg==null}?'/pc/images/tp2.jpg':${adv6.advImg}" alt="" th:data-url="${adv6.url}" class="btn1"></a>
	</div>
	
	<div class="m-modal">
		<div class="m-modal-dialog">
			<div class="m-top">
				<span class="m-modal-close">X</span>
			</div>
			<div class="m-middle">
			    <form action="" id="signupForm">
			    <input type="hidden" placeholder="" class="input1" id="url">
			    <input type="hidden" placeholder="" class="input1" id="price">
			    <input type="hidden" placeholder="" class="input1" name="positionNum" id="positionNum">
			    <input type="hidden" placeholder="" class="input1" id="regionName">
			    <input type="hidden" placeholder="" class="input1" id="sort" name="sort">
			    <input type="hidden" placeholder="" class="input1" name="regionCode" id="regionCode">
			    	<label>
						<span>广告展示位置</span>
						<input type="text" placeholder="" readonly="readonly" id="positionName" class="input1">
					</label>
					<label>
						<span>广告投放天数</span>
						<input type="text" oninput="clearNoNum1(this)" onmouseout="jisuan()"  id="showDay"  name="showDay" placeholder="投放天数" class="input1">
					</label>
					<label>
						<span>广告链接地址</span>
						<input type="text" placeholder="http://" name="advUrl" class="input1">
					</label>
					<label>
						<span>上传广告图</span>
						<img th:src="@{/pc/images/gahgha_03.png}" id="img" alt="">
						<input type="hidden" id="imgStr" name="advImg">
						<input type="file" name="file" style="display: none;" id ="file">
					</label>
					<label>
						<span>广告价格</span>
						<span style="color:#ff0101;font-size:28px;" id="jiage">0元</span>
					</label>
					<label>
						<input type="button" id="save" value="确认购买" class="input3">
					</label>
			    </form>
			</div>
		</div>
	</div>
	<!-- 底部 -->
	<div th:replace="pc/include :: footer"></div>
	<script th:src="@{/pc/js/common.js}"></script>
<script th:src="@{/pc/js/jquery.my-modal.1.1.js}"></script>
<script type="text/javascript">
function _area(){
	console.log($("#area").val());
	window.location.href = "/?areaId="+$("#area").val();
}




var m1 = new MyModal.modal(function() {
});
$('.btn1').on("click", function() {
	var url=$(this).attr("data-url");
	$("#url").val(url);
	 $.get(url, function(result){
		 console.log(result);
		 if(result.code==-0){
			 $("#price").val(result.price);
			 $("#positionNum").val(result.positionNum);
			 $("#regionName").val(result.regionName);
			 $("#positionName").val(result.positionName);
			 $("#regionCode").val(result.regionCode);
			 $("#sort").val(result.sort);
			 m1.show();
		 }
		 if(result.code==-1){
			 window.location.href = result.url;
		 }
		 if(result.code==500){
			 layer.msg(result.msg);
		 }
	});
});

layui.use('upload', function() {
    var upload = layui.upload;

    //执行实例
    var uploadInst = upload.render({
        elem : '#file', //绑定元素
        url : '/common/sysFile/upload', //上传接口
        size : 1000,
        accept : 'file',
        done : function(r) {
            var fileName = r.fileName;
             $("#imgStr").val(fileName);
     	     $("#img").attr("src",fileName);
        },
        error : function(r) {
            //layer.msg(r.msg);
        }
    });
    
});

$().ready(function(){
	$("#save").on('click', function() {
		console.log(123);
		$("#signupForm").submit();
	});
})

function jisuan(){
	var day=$("#showDay").val();
	var price = $("#price").val();
	var allPrice=day*price;
	console.log(allPrice);
	$("#jiage").text(allPrice+"元");
}


function save() {
		$.ajax({
			type : "POST",
			url : "/pc/advSubmit",
			data : $('#signupForm').serialize(),
			success : function(r) {
				if (r.code == 0) {
					layer.msg(r.msg);
					
				} else {
					layer.msg(r.msg);
				}
			},
		});
	}
	
	$().ready(function() {
		validateRule();
	});

	$.validator.setDefaults({
		submitHandler : function() {
			save();
		}
	});
	function validateRule() {

		var icon = "<i class='fa fa-times-circle'></i> ";
		$("#signupForm").validate({
			rules : {
				positionName : {
					required : true
				},
				showDay : {
					required : true
				},
				advUrl : {
					required : true
				},
				advImg : {
					content : true
				}
			},
			messages : {
				positionName : {
					required : icon + "<span style='color:red'>展示位置不能为空</span>",
				},
				showDay : {
					required : icon + "<span style='color:red'>投放天数不能为空</span>",
				},
				advUrl : {
					required : icon + "<span style='color:red'>广告链接不能为空</span>",
				},
				advImg : {
					required : icon + "<span style='color:red'>广告图片不能为空</span>",
				}
			}
		})
	}

</script>
</body>
</html>

