<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" type="text/css" href="css/personal.css" />
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/cwmx.css">
<link rel="stylesheet" href="css/mytd.css">
<script src="js/jquery-3.1.1.js"></script>
<head th:replace="pc/include :: head"><body>
			<!-- 右侧主内容 -->
			<div class="boxRight"
		style="background:#fff;width: 1006px;height: 925px;margin-top:0;">
				<div class="cwmx">
					<h4>我的参团</h4>
				</div>
				<div class="caiwumx">
					<ul style="width:423px;">
						<li class="luse"><a href="#">全部</a></li>
						<li><a href="#">待审核</a></li>
						<li><a href="#">已审核</a></li>
						<li><a href="#">未通过</a></li>
					</ul>
				</div>
				<div class="biaodan">
					<div class="biaodan1">
						<ul>
							<li>团队logo</li>
							<li>团队名称</li>
							<li>申请状态</li>
						</ul>
					</div>
					<div class="biaodan2">
						<div style="display: block;">
							<div class="tdlogo" th:each="joinTeam : ${joinTeam}">
							   <a th:href="'/pc/teamDetail?teamId=' + ${joinTeam.team_id}"target="_Parent">
								<div> <img th:src="${joinTeam.team_title_img}"></div>
								<div><p th:text="${joinTeam.team_name}"></p></div>
								<div>
								<p th:if="${joinTeam.status == 1}">待审核</p>
								<p th:if="${joinTeam.status == 2}">已审核</p>
								<p th:if="${joinTeam.status == 3}">未通过</p>
								</div>
							   </a>
							</div>
						</div>	
						<div style="display: none;">
							<div class="tdlogo" th:each="joinTeam1 : ${joinTeam1}">
							<a th:href="'/pc/teamDetail?teamId=' + ${joinTeam1.team_id}">
								<div>
									<img th:src="${joinTeam1.team_title_img}">
								</div>
								<div>
									<p th:text="${joinTeam1.team_name}"></p>
								</div>
								<div>
								<p th:if="${joinTeam1.status == 1}">待审核</p>
								<p th:if="${joinTeam1.status == 2}">已审核</p>
								<p th:if="${joinTeam1.status == 3}">未通过</p>
								</div>
							</a>
								</div>
							</div>
						</div>
						<div style="display: none;">
							<div class="tdlogo" th:each="joinTeam2 : ${joinTeam2}">
								<a th:href="'/pc/teamDetail?teamId=' + ${joinTeam2.team_id}">
								<div>
								<img th:src="${joinTeam2.team_title_img}">
							</div>
								<div>
								<p th:text="${joinTeam2.team_name}"></p>
							</div>
								<div>
								<p th:if="${joinTeam2.status == 1}">待审核</p>
								<p th:if="${joinTeam2.status == 2}">已审核</p>
								<p th:if="${joinTeam2.status == 3}">未通过</p>
								</div>
								</a>
							</div>
						</div>
						<div style="display: none;">
							<div class="tdlogo" th:each="joinTeam3 : ${joinTeam3}">
							<a th:href="'/pc/teamDetail?teamId=' + ${joinTeam3.team_id}">
								<div>
								<img th:src="${joinTeam3.team_title_img}">
							</div>
								<div>
								<p th:text="${joinTeam3.team_name}"></p>
							</div>
								<div>
								<p th:if="${joinTeam3.status == 1}">待审核</p>
								<p th:if="${joinTeam3.status == 2}">已审核</p>
								<p th:if="${joinTeam3.status == 3}">未通过</p>
								</div>
							</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="zanwijili">
					暂无记录
				</div>
			</div>
		</div>
		
	</body>
</html>
<script>
	$(".btn").mouseover(function(){
		 $(this).children("ul").show();
	});
	$(".btn").mouseout(function(){
		 $(this).children("ul").hide();
	})
	$('dt').click(function () {
		if($(this).nextUntil('dt','dd').is(':visible')){
			$(this).nextUntil('dt','dd').slideUp()
		}else{
			$(this).siblings('dd').slideUp().end().nextUntil('dt','dd').slideToggle();
		}
	});
	$('.caiwumx li').click(function() {
		$(this).addClass("luse").siblings("li").removeClass("luse")
		var index = $(this).index();
		$('.biaodan2>div').hide().eq($(this).index()).show();
	})

</script>