<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" type="text/css" th:href="@{/pc/css/index.css}" />
<script th:src="@{/pc/js/jquery-3.1.1.js}"></script>
<link rel="stylesheet" th:href="@{/pc/css/activity.css}">
<link rel="stylesheet" th:href="@{/pc/css/content.css}">
<link rel="stylesheet" th:href="@{/pc/css/listcont.css}">
<link rel="stylesheet" th:href="@{/pc/css/ziyunlist.css}">
<link rel="stylesheet" th:href="@{/pc/css/css1.css}">
<link rel="stylesheet" th:href="@{/pc/css/css2.css}">
<link rel="stylesheet" th:href="@{/pc/css/jquery.my-modal.1.1.css}">
<link rel="stylesheet" th:href="@{/pc/css/jquery.my-modal.1.2.css}">
<script th:src="@{/pc/js/jquery.my-modal.1.1.js}"></script>
<script th:src="@{/pc/js/jquery.my-modal.1.2.js}"></script>
<link href="/css/layui.css" rel="stylesheet">
<style>
 .addred{
  color:#fff !important;

 }
 #reward li{
 color:#dc1333;
 }
 .m-middletxt3 button {
	width:168px;
	height:40px;
	border:none;
	text-align:center;
	line-height:40px;
	background:red;
	outline: none;
	color:#fff;
}
</style>
</head>
<body>
	<div th:replace="pc/include :: header"></div>
	<!-- 导航 -->
	<!-- <div class="navTwo">
			<div class="navTwoCen">
				<div><a href="#">网站首页</a></div>
				<div><a href="#">动态咨询</a></div>
				<div><a href="#">活动报名</a></div>
				<div><a href="#">志愿者</a></div>
				<div><a href="#">团队活动</a></div>	
			</div>
		</div> -->
	<!-- 文字内容 -->
	<div class="listcont">
		<!-- 	左1 -->
		<div class="listcontL">
			<div class="listcontLtxt">
				<!-- <p>您所在的位置：首页>青少年马术教学试骑体验</p> -->
			</div>
			<div class="listcontLH">
				<input type="hidden" id="infoId" th:value="${info.id}">
				<input type="hidden" id="areaId" th:value="${areaId}">
				<h4 th:text="${info.title}"></h4>
				<p>
					<span
						th:text="${#dates.format(info.publicTime, 'yyyy-MM-dd hh:mm')}"></span>&nbsp;
					<span th:text="'来  源 : '+${info.source}"></span>&nbsp; <span
						th:text="'作  者 : '+${info.author}"></span>
				</p>
			</div>
			<div style="margin-top: 40px;" class="listcontLC">
				<div th:utext="${info.content}"></div>
				<div class="xqfenxing"
					style="margin: 0 auto; width: 400px; margin-top: 40px;">
					<span>分享至</span> <a href="javascript:;" th:onclick="wxshare(1)"><img
						th:src="@{/pc/images/conter_26.jpg}" alt=""></a> <a
						href="javascript:;" th:onclick="share(2)"><img
						th:src="@{/pc/images/conter_28.jpg}" alt=""></a> <a
						href="javascript:;" th:onclick="share(3)"><img
						th:src="@{/pc/images/conter_30.jpg}" alt=""></a> <a
						href="javascript:;" th:onclick="share(4)"><img
						th:src="@{/pc/images/conter_33.jpg}" alt=""></a>
				</div>
			</div>
		</div>
		<!-- 右1 -->
		<div class="listcontR">
			<div class="xqrightTop" style="width: 254px;">
				<img th:src="@{${team.teamTitleImg}}" alt=""> <span
					th:text="${team.teamName}"></span> <input type="hidden"
					th:value="${team.id}" id="teamId">
				<div th:if=" ${is_attention} eq '0'">
					<a href="javascript:;"><p id="guanzhu">求关注</p></a>
				</div>
				<div th:if=" ${is_attention} eq '2'">
					<a href="javascript:;" onclick="attention()"><p id="guanzhu">求关注</p></a>
				</div>
			</div>
			<ul>
				<li th:each="news:${newsList}">·<a th:text="${#strings.abbreviate(news.title,18)}" 
					th:href="@{/pc/news/info/(id=${news.id},areaId=${areaId})}"></a></li>

			</ul>
		</div>
		<div class="listcontRI">
			<a href="#"><img th:src="@{/pc/images/zyz_03.jpg}" alt=""></a>
			<a href="#"><img th:src="@{/pc/images/zyz_06.jpg}" alt=""></a>
			<a href="#"><img th:src="@{/pc/images/zyz_09.jpg}" alt=""></a>
			<a href="#"><img th:src="@{/pc/images/zyz_12.jpg}" alt=""></a>
			<a href="#"><img th:src="@{/pc/images/zyz_15.jpg}" alt=""></a>
			<!-- 右侧排名 -->
			<div class="listcontpm">
				<div class="zixunbut">
					<h3>推荐</h3>
					<ul>
						<li th:each="newsTop,iterStat:${newsTop}"><i
							th:text="${iterStat.count}"></i><a
							th:href="@{/pc/news/info(id=${newsTop.id},areaId=${areaId})}"
							th:text="${#strings.abbreviate(newsTop.title,23)}"></a></li>

					</ul>
				</div>
			</div>
		</div>
		<!-- 右侧排名 -->


		<!-- 左2 -->
		<div class="listcontL1">
			<div class="listcontL1-1 btn2" th:onclick="reward()">
				<img th:src="@{/pc/images/dashang.png}" alt="" >打赏
			</div>
			<div class="listcontL1-2">
				<p th:text="${'已有'+reCountUser+'人打赏'}"></p>
			</div>
			<div class="listcontL1-3">
				<img th:each="user:${user}" th:src="${user.headImg}" alt="">
			</div>
		</div>
		<!-- 打赏!! -->
		<div class="m-modal1">
			<div class="m-modal1-dialog m-modal1-dialog1">
				<div class="m-top">
					<span class="m-modal1-close">X</span>
				</div>
				<div class="m-middle2">
				   <div class="m-middletxt">
					   <img th:src="@{/pc/images/touxiang 82.png}" alt="">
				   </div>
				   <div class="m-middletxt2">
				   		<ul id="reward">
							
						</ul>
				   </div>
				   <div class="m-middletxt3">
					   <button>提交</button>
				   </div>
				</div>
			</div>
		</div>
		
		<!-- 看红包 -->
		<div id="modal" class="modal modal__bg" role="dialog"
			aria-hidden="true" style="background: rgba(0, 0, 0, 0.9);">
			<div class="modal__dialog" style="width: 600px;">
				<div class="modal__content">
					<div style="width: 600px; background: #fff; position: fixed;">
						<div class="hbtop"></div>
						<div style="width: 600px; background: #fff; height: 260px;">
							<div class="hbcen">
								<div class="hbcen1" id ="user">
								</div>
							</div>
						</div>
						<div style="width: 100%; line-height: 40px; background: #ebebeb;"
							id="redCount">
						</div>
					</div>
					<div class="lingqu" id="redList">
						
					</div>

					<a href="" class="modal__close demo-close"> <svg class=""
							viewBox="0 0 24 24">
								<path
								d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z" />
								<path d="M0 0h24v24h-24z" fill="none" />
							</svg>
					</a>
				</div>
			</div>
		</div>
		<div class="listzz">
			<input th:value="${userStatus}" type="hidden" id="userStatus" />
			<div th:if=" ${isLike} eq '0'">
				<img th:src="@{/pc/images/listzz_03.jpg}" alt="点赞"
					th:text="${info.numberOfLikes}" onclick="login()">
			</div>
			<div th:if=" ${isLike} eq '1'">
				<img th:src="@{/pc/images/listzz_04.jpg}" alt="点赞"
					th:text="${info.numberOfLikes}">
			</div>
			<div th:if=" ${isLike} eq '2'">
				<img th:src="@{/pc/images/listzz_03.jpg}" alt="点赞"
					th:text="${info.numberOfLikes}" th:onclick="like()" id="like">
			</div>
			<div th:if=" ${isTop} eq '1'">
				<img th:src="@{/pc/images/listzs_05.jpg}" alt="">已置顶
			</div>
			<div th:if=" ${isTop} eq '2'">
				<img th:src="@{/pc/images/listzs_06.jpg}" data_type="2" alt=""
					th:onclick="topNew()" id="top">未置顶
			</div>
			<input type="hidden" id="isRed" th:value="${isRed}"> <input
				type="hidden" id="isGetRed" th:value="${isGetRed}">
			<!-- <div th:if=" ${isRed} eq '0'">
				<img class="modal__trigger" onclick="login()"
					th:src="@{/pc/images/listcc_07.jpg}" alt=""
					style="box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1)">未发放
			</div> -->
			<div th:if=" ${isRed} eq '1'">
				<img class="modal__trigger" onclick="queryRed()" data-modal="#modal" id="queryRed"
					th:src="@{/pc/images/listcc_08.png}" alt=""
					style="box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1)">发放中
			</div>
			<div th:if=" ${isRed} eq '2'">
				<img class="modal__trigger btn1" data_type="1" th:src="@{/pc/images/listcc_07.jpg}"
					alt="" onclick="redNew()"
					style="box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1)">未发放
			</div>
		</div>
		<script th:src="@{/pc/js/js1.js}"></script>
		<!-- 发红包 -->
		<div class="m-modal">
				<div class="m-modal-dialog m-modal-dialog3">
					<div class="m-top">
						<span class="m-modal-close">X</span>
					</div>
					<div class="m-middle3">
					  <p id="sum"></p>
					  <input type="text" placeholder="红包个数不能大于红包总额的5倍!!!" id="number">
					</div>
					<div class="m-middle4">
					    <ul id="red">
							
						</ul>
					</div>
					<a href="javascript:;" ><div class="m-middle5" onclick="redPacket()">
					<input type="hidden"  id="price">
					</div></a>
				</div>
			</div>
		
		<!-- 左3 评论 -->
		<div class="listpl">
			<div class="listpl-1">
				<p>
					网友评论 <span>文明上网理性发言，请遵守新闻评论服务协议</span>
					<rem th:text="${commCount+'条评论'}">2条评论</rem>
				</p>
			</div>
			<div class="listpl-2">
				<div class="listpl-2-1">
					<img src="images/touxiang 82.png" alt="">
				</div>
				<div class="listpl-2-2">
					<textarea placeholder="说两句吧..." id="comm"></textarea>
					<a href="javascript:;" onclick="comment()">发表</a>
				</div>
			</div>
		</div>
		<!-- 左4 全部评论 -->
		<div class="listL-4">
			<p>全部评价</p>
		</div>
		<div class="listL-5" th:each="comm : ${comm}">
			<div class="listL-5-1">
				<img th:src="${comm.headImg}" alt="">
			</div>
			<div class="listL-5-2">
				<p
					th:utext="${comm.name + '<span >'+#dates.format(comm.createTime,'yyyy-MM-dd HH:mm')+'</span>'}">

				</p>
				<p style="color: #4b4b4b;" th:text="${comm.criticismContent}"></p>
			</div>
		</div>
	</div>
	<div th:replace="pc/include :: footer"></div>
	<!-- 备案 -->
	<div class="beian">
		<div class="beian1">
			<span style="float: left;">©公益打赏平台 版权所有</span> <span
				style="float: right;">京ICP备12048184号 技术支持：景安网络</span>
		</div>
	</div>
</body>
<script src="/js/plugins/layer/layer.js"></script>
<script src="/js/layui.js"></script>
<script src="/js/plugins/layer/laydate/laydate.js"></script>
<script th:src="@{/pc/js/common.js}"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
function queryRed(){
	para={"newsId":$('#infoId').val()};
	$.ajax({
		type : "POST",
		url : "/pc/news/queryRed",
		data : para,
		error : function(request) {
			alert("查询红包异常");
		},
		success : function(data) {
			if (data.code == 0) {
				var img = data.userRed.head_img;
				if(img==null&&img==''){
					img = '/pc/images/touxiang5.png'
				}
				var text = data.userRed.price;
				var user = '';
				var count = '';
				var redList = '';
				user +='<img src="'+img+'" id="headImg">';
				user +='<p style="font-size: 20px; line-height: 30px;">打赏门户的红包</p>';
				user +='<p style="color: #b8b8b8; font-size: 16px; line-height: 40px;">恭喜发财，大吉大利</p>';
				user +='<span><rem style="font-size:36px; color:#ef472a;"';
				user +='id="userRed">'+text+'</rem>元</span>';
				$("#user").empty();
				$('#user').append(user);
				count += '<p style="margin-left: 10px;">已领取'+data.redSize+'/'+data.Packet.count+'个,共'+data.Packet.money+'元</p>'
				$("#redCount").empty();
				$('#redCount').append(count);
				$('#redList').empty();
				$.each(data.listRed, function(i, item){ 
					 redList += '<div class="hblq"> <div class="hblq1">';
					 redList += '<img src="'+item.head_img+'" alt="">'	;			
					 redList += '<div>';			
					 redList += '<span>'+item.name+'</span>';					
					 redList += '<p>'+item.get_time+'</p>';					
					 redList += '</div>';				
					 redList += '<p>'+item.price+'元</p>';		
					 redList += '</div>';	
					 redList += '</div>';
					   }); 
					 $('#redList').append(redList);
			}else{
				
			}

		}
	});
}
$().ready(function(){
	var isRed = $('#isRed').val();
	var isGetRed = $('#isGetRed').val();
	//满足两个条件 1:有红包 2:未领取过
	if(isRed==1&&isGetRed==2){
		var myVar = setTimeout(vieRed, 1000);
	}
})

function vieRed(){
	para={"newsId":$('#infoId').val(),"orderType":1,"expIncType":3};
	$.ajax({
		type : "POST",
		url : "/pc/news/vieRed",
		data : para,
		async : true,
		error : function(request) {
			alert("抢红包异常");
		},
		success : function(data) {
			if (data.code == 0) {
				alert("成功");
				queryRed();
				$('#queryRed').click();
			} else if(data.msg == 1){
				alert('红包抢完啦!');
			}else if(data.msg == 2){
				alert('抢红包失败!');
			}else if(data.msg == 4){
				alert('已领取红包!');
			}

		}
	});
	
}

	function share(reType){
		para={"newsId":$('#infoId').val(),"trType":reType};
		$.ajax({
			cache : true,
			type : "GET",
			url : "/pc/news/share",
			data : para,
			async : true,
			error : function(request) {
				alert("分享失败");
			},
			success : function(data) {
				if (data.code == 0) {
					alert("分享成功");
					history.go(0);
				} else if(data.code == 2){
					alert(data.msg);
				}else if(data.code == 3){
					alert(data.msg);
				}else{
					alert(data.msg);
				}

			}
		});
	}
	function like(){
		para={"newsId":$('#infoId').val()};
		$.ajax({
			cache : true,
			type : "GET",
			url : "/pc/news/likes",
			data : para,
			async : true,
			error : function(request) {
				parent.layer.alert("点赞失败");
			},
			success : function(data) {
				if (data.code == 0) {
					$("#like").attr("src","/pc/images/listzz_04.jpg");
					history.go(0);
				} else if(data.code == 2){
					alert(data.msg);
				}else {
					parent.layer.alert(data.msg)
				}

			}
		});
	}
/* 	function reward(){
		var para= {};
		layer.prompt({title: '输入打赏金额(单位:元)，并确认', formType: 3}, function(som, index){
			  para={"newsId":$('#infoId').val(),"orderType":2,"expIncType":2,"price":som};
			  $.ajax({
					type : "POST",
					url : "/pc/news/reward",
					data : para,
					error : function(request) {
						layer.msg('打赏失败！您打赏的：'+ som +'元 已原路退回您的账户');
					},
					success : function(data) {
						if (data.code == 0) {
							alert("打赏成功");
							history.go(0);
						} else {
							if(data.msg == -1){
							layer.msg('打赏失败！您的余额不足');
							}else if(data.msg == 0){
							layer.msg('打赏失败！您打赏的：'+ som +'元 已原路退回您的账户');
							}else if(data.msg == 2){
								layer.confirm('您未登录请问是否跳转登录页面？', {
									  btn: ['是','否'] //按钮
									}, function(){
										window.location.href = "/admin";
									}, function(){
									  layer.msg('打赏是需要登陆的', {
									    time: 20000, //20s后自动关闭
									    btn: ['知道了']
									  });
									});
							}
						}

					}
				});
			  layer.close(index);
			});
	} */
	
	function reward(){
		var para='';
		$.ajax({
			type : "POST",
			url : "/pc/news/rewardList",
			data : para,
			error : function(request) {
				alert("查询异常");
			},
			success : function(data) {
				if (data.code == 0) {
					var reward = '';
					$.each(data.listPrice, function(i, item){
						reward += '<li><a href="#">'+item.price+'</a>元</li>';
					});
					$("#reward").empty();
					$('#reward').append(reward);
				}else{
					var url = data.url;
					window.location.href = url;
				}

			}
		});
	}
	
	
	function topNew(){
		var id = $('#infoId').val();
		layer.open({
			type : 2,
			title : '申请置顶',
			maxmin : true,
			shadeClose : false, // 点击遮罩关闭层
			area : [ '1000px', '620px' ],
			content : '/pc/news/top/' + id // iframe的url
		});
	
	}
	function redNew(){
		para={"newsId":$('#infoId').val()};
		$.ajax({
			type : "POST",
			url : "/pc/news/red",
			data : para,
			error : function(request) {
				alert("查询红包异常");
			},
			success : function(data) {
				if (data.code == 0) {
					var red = '';
					var sum = '';
					var account = data.user.account;
						sum += '您的余额剩余<span>'+account+'</span>元';
						$("#sum").empty();
						$('#sum').append(sum);
					$.each(data.listPrice, function(i, item){
						red += '<li>';
						red += '<p id="mony">'+item.price+'</p>元';
						red += '<p class="sx">手续费'+item.rate+'元</p>';
						red += '</li>';
					});
					$("#red").empty();
					$('#red').append(red);
				}else{
					var url = data.url;
					window.location.href = url;
				}

			}
		});
	}
	
	 function redPacket(){
		 var para={"newsId":$('#infoId').val(),"orderType":2,"expIncType":3,"price":$('#price').val(),"number":$('#number').val()};
		  $.ajax({
				type : "POST",
				url : "/pc/news/redPacket",
				data : para,
				error : function(request) {
					layer.msg('发红包失败！您扣除的：'+ $('#price').val() +'元 已原路退回您的账户');
				},
				success : function(data) {
					if (data.code == 0) {
						alert("发红包成功");
						///history.go(0);
						var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
						parent.layer.close(index);
					} else {
						if(data.msg == -1){
						layer.msg('发红包失败！您的余额不足');
						}else if(data.msg == 0){
						layer.msg('发红包失败！您的：'+ $('#price').val() +'元 已原路退回您的账户');
						}else if(data.msg == 2){
							layer.confirm('您未登录请问是否跳转登录页面？', {
								  btn: ['是','否'] //按钮
								}, function(){
									window.location.href = "/admin";
								}, function(){
								  layer.msg('发红包是需要登陆的', {
								    time: 20000, //20s后自动关闭
								    btn: ['知道了']
								  });
								});
						}else if(data.msg == 3){
							alert('红包数量不得大于红包总额的5倍');
						}
					}

				}
			});
}
	function comment(){
		var comment={};
		comment={"criticismContent":$('#comm').val(),"newsId":$('#infoId').val()};
		$.ajax({
			type : "POST",
			url : "/pc/news/comment",
			data : comment,
			dataType:"json",
			error : function(request) {
				 layer.msg("请求失败");
			},
			success : function(data) {
				if (data.code == 0) {
						alert("发表成功");
						history.go(0);
				} else if(data.code == 2){
					alert(data.msg);
					history.go(0);
				}else {
					if(data.msg==0){
						layer.confirm('您未登录请问是否跳转登录页面？', {
							  btn: ['是','否'] //按钮
							}, function(){
								window.location.href = "/admin";
							}, function(){
							  layer.msg('发言是需要登陆的', {
							    time: 20000, //20s后自动关闭
							    btn: ['知道了']
							  });
							});
					
					}else if(data.code == 1){
						layer.msg("发表失败");
					}
				}

			}
		});
	}
	function attention(){
		var teamId = $('#teamId').val();
		var para = {"teamId":teamId};
		$.ajax({
			type : "POST",
			url : "/pc/news/attention",
			data : para,
			error : function(request) {
				parent.layer.alert("关注失败");
			},
			success : function(data) {
				if (data.code == 0) {
					$("#guanzhu").remove();
				} else if (data.code == 1) {
					window.location.href = "/admin";
				} else{
					parent.layer.alert(data.msg)
				}

			}
		});
	}
	
	function login(){
				window.location.href = "/admin";
	}
	var appId = '';
	var signature = '';
	var nonceStr = '';
	var timestamp = '';
	var link = window.location.href;
	$(function(){  
		  var url = encodeURI(location.href.split('#')[0]);
		  console.log("url=="+url);
		  $.ajax({
		         url: "/wxshare/getSignature",
		         type: "POST",
		         data:{"url":url},
		         dataType: "json",
		         success: function(data){
		             console.log(data);
		             nonceStr=data.nonceStr;
		             signature=data.signature;
		             timestamp=data.timestamp;
		             loadWx();
		          },
		          error:function(err){
		            console.log('异常');
		          }
		        });
	  }); 
	  function loadWx(){
		  wx.config({
			    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
			    appId: appId, // 必填，公众号的唯一标识
			    timestamp: timestamp, // 必填，生成签名的时间戳
			    nonceStr: nonceStr, // 必填，生成签名的随机串
			    signature: signature,// 必填，签名
			    jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] // 必填，需要使用的JS接口列表
			});
		 
		  wx.error(function(res){
			alert("验证失败了");
		  });
		  
	  }
	function wxshare(type){
		 wx.ready(function(){
			  //分享到朋友圈
			  wx.onMenuShareTimeline({
				    title: "测试", // 分享标题
				    link: link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
				    imgUrl: imgUrl, // 分享图标
				    success: function () {
				    	alert("分享成功");
				    // 用户确认分享后执行的回调函数
					},
				cancel: function () {
					alert("分享失败");
				    // 用户取消分享后执行的回调函数
			    }
			});
			  //分享到朋友
			  wx.onMenuShareAppMessage({
				  title: title, // 分享标题
				  desc: desc, // 分享描述
				  link: sharLink, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
				  imgUrl: imgUrl, // 分享图标
				  type: 'link', // 分享类型,music、video或link，不填默认为link
				  dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
				  success: function () {
					  alert("分享成功");
				  // 用户确认分享后执行的回调函数
				  },
				  cancel: function () {
					  alert("分享失败");
				  // 用户取消分享后执行的回调函数
				  }
				  });
		  });
	}
	//发红包
	var m1 = new MyModal.modal(function() {
		alert("你点击了确定");
	});
	
	$('.btn1').on("click", function() {
		m1.show();
	});
	
	$("#red").on("click","li",function(){
		$(this).addClass("qian").siblings("li").removeClass("qian");
		var a = $(this).children("#mony").text();
		$("#price").val(a);
	})
	//结束
	
	
	//打赏
	var m2 = new MyModal1.modal(function() {
		alert("你点击了确定");
	});
	$('.btn2').on("click", function() {
		m2.show();
	});
	$("#reward").on("click","li",function(){
		$(this).addClass("addred").siblings("li").removeClass("addred");
		var a = $(this).children("#mony").text();
		$("#price").val(a);
	})
	
	//结束
	</script>
</html>
