<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title th:text="${'活动动态-'+title}"></title>
		<link rel="stylesheet" type="text/css" th:href="@{/pc/css/index.css}"/>
		<link rel="stylesheet" th:href="@{/pc/css/activity.css}">
		<link rel="stylesheet" th:href="@{/pc/css/ziyunlist.css}">
		<link th:href="@{/css/layui.css}" rel="stylesheet">
		<link rel="stylesheet" th:href="@{/pc/css/jquery.my-modal.1.1.css}">
		<script th:src="@{/pc/js/jquery-3.1.1.js}"></script>
		<script th:src="@{/js/plugins/layer/layer.js}"></script>
		<script th:src="@{/js/layui.js}"></script>
		<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
		<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
		<script th:src="@{/js/validate.js}"></script>
	</head>
	<body>
		<!-- 头部 -->
		<div th:replace="pc/include :: header"></div>
		<!-- 导航 -->
		<!-- <div class="navTwo">
			<div class="navTwoCen">
				<div><a href="#">网站首页</a></div>
				<div><a href="#">动态咨询</a></div>
				<div><a href="#">活动报名</a></div>
				<div><a href="#">志愿者</a></div>
				<div><a href="#">团队活动</a></div>	
			</div>
		</div> -->
		<div class="zixunlist">
			<!-- <div style="width: 1200px;margin:0 auto;line-height:70px; font-size:14px;color:#aaaaaa;">
				您所在的位置：首页>公益互助>公益>政策法规
			</div> -->
			<input type="hidden" th:value="${flag}" id="flag">
			<input type="hidden" id="areaId" th:value="${areaId}">
			
		 <!-- 主题内容 -->
			<div class="zixuncent" id="listrow">
				<!-- 从这开始循环 -->
				<div class="zixunbox" th:each="info:${newsList}">
					<div class="zixuncent1">
						<a th:href="@{/pc/news/info(id=${info.id},areaId=${areaId})}"><img th:src=${info.titleImg} alt=""></a>
					</div>
					<div class="zixuncent2"> 
						 <a th:href="@{/pc/news/info(id=${info.id},areaId=${areaId})}"><p th:text="${info.title}"></p></a>
					</div>
					<div class="zixuncent3">
						<p style="float: left;">
							<img th:src="${info.teamTitleImg}" alt="" style="width:23px; height:23px;"><span th:text="${info.source}"></span><span th:text="${info.teamName}"></span><span th:text="${#dates.format(info.publicTime,'yyyy-MM-dd')}"></span>
							<div th:if=" ${info.isTop} eq '1'">
							<img th:src="@{/pc/images/list_09.jpg}" alt="">
							</div>
							 <div th:if="${info.isRedPeper} eq '1'">
							<img th:src="@{/pc/images/list_06.jpg}" alt="">
							 </div> 
						</p>
						<p style="float:right;">
							<a th:href="@{/pc/news/info(id=${info.id},areaId=${areaId})}"><img th:src="@{/pc/images/list_12.jpg}" alt=""><span th:text="${info.criticismOfCount}"></span></a>
							<a th:href="@{/pc/news/info(id=${info.id},areaId=${areaId})}"><img th:src="@{/pc/images/list03.jpg}" alt="" style="width: 19px;height: 22px;"><span th:text="${info.numberOfLikes}"></span></a>
							<a th:href="@{/pc/news/info(id=${info.id},areaId=${areaId})}"><img th:src="@{/pc/images/list06.jpg}" alt=""><span th:text="${info.numberOfShares}"></span></a>
						</p>
					</div>
				</div>
				<!-- 循环结束 -->
			</div>
			<!-- 右侧 -->
			<div class="zixunright">
				<div class="zixunrimg">
					<a th:each="act,stat: ${advList}"  th:href="${act.advImg!=null?act.url:'javascript:;'}" th:target="${act.advImg!=null?'_blank':''}">
						<img th:if="${stat.count==1}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_03.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
						<img th:if="${stat.count==2}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_06.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
						<img th:if="${stat.count==3}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_09.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
						<img th:if="${stat.count==4}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_12.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
						<img th:if="${stat.count==5}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_15.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
						<img th:if="${stat.count==6}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_03.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
					</a>
				</div>
				<!-- <div class="zixunbut">
					<h3>点击排名</h3>
					<ul>
						<li th:each="newsTop,iterStat:${newsTop}"><i
							th:text="${iterStat.count}"></i><a
							th:href="@{/pc/news/info(id=${newsTop.id})}"
							th:text="${newsTop.title}"></a></li>
					</ul>
					
				</div> -->
			</div>
		</div>
		<div class="xuanfu">
			<a th:href="@{/pc/news/infoList(areaId=${areaId},flag=1)}" >红包</a>
			<a th:href="@{/pc/news/infoList(areaId=${areaId},flag=2)}">最热</a>
			<a th:href="@{/pc/news/infoList(areaId=${areaId},flag=0)}">置顶</a>
		</div>
		<div class="m-modal">
		<div class="m-modal-dialog">
			<div class="m-top">
				<span class="m-modal-close">X</span>
			</div>
			<div class="m-middle">
			    <form action="" id="signupForm">
			    <input type="hidden" placeholder="" class="input1" id="url">
			    <input type="hidden" placeholder="" class="input1" id="price">
			    <input type="hidden" placeholder="" class="input1" name="positionNum" id="positionNum">
			    <input type="hidden" placeholder="" class="input1" id="regionName">
			    <input type="hidden" placeholder="" class="input1" id="sort" name="sort">
			    <input type="hidden" placeholder="" class="input1" name="regionCode" id="regionCode">
			    	<label>
						<span>展示位置</span>
						<input type="text" placeholder="" readonly="readonly" id="positionName" class="input1">
					</label>
					<label>
						<span>投放天数</span>
						<input type="text" oninput="clearNoNum1(this)" onmouseout="jisuan()"  id="showDay"  name="showDay" placeholder="投放天数" class="input1">
					</label>
					<label>
						<span>链接地址</span>
						<input type="text" placeholder="http://" name="advUrl" class="input1">
					</label>
					<label>
						<span>上传图片</span>
						<img th:src="@{/pc/images/gahgha_03.png}" id="img" alt="">
						<input type="hidden" id="imgStr" name="advImg">
						<input type="file" name="file" style="display: none;" id ="file">
					</label>
					<label>
						<span>总价格</span>
						<span style="color:#ff0101;font-size:28px;" id="jiage">0元</span>
					</label>
					<label>
						<input type="button" id="save" value="确认购买" class="input3">
					</label>
			    </form>
			</div>
		</div>
	</div>
		<div th:replace="pc/include :: footer"></div>
	</body>
	<script th:src="@{/pc/js/common.js}"></script>
	<script th:src="@{/pc/js/jquery.my-modal.1.1.js}"></script>
</html>
<script>
function _area(){
	console.log($("#area").val());
	window.location.href = "/?areaId="+$("#area").val();
}

	$(".xuanfu a").click(function(){
		 $(this).addClass("xfcl").siblings("a").removeClass("xfcl")
	})
	
	
	//分页加载
$().ready(function(){
var flag = $('#flag').val();	
var areaId = $('#areaId').val();
var hasMore;
var page = 1; //初始页码
var maxnum = 2;//设置加载次数
 
var downrange= 100;                //下边界-参考正在加载提示层/px
var $main = $("#showbox");            //主体
var $loaddiv = $("#add-more") ;       //加载提示层
var totalheight = 0; 
var $listrow=$("#listrow");
//ajax-fun
function ajaxLoad(){
var html="";
page=page+1;//每次拉到底部page加1
//console.log(page)
hasMore=false;
$.ajax({
url:"/pc/news/queryInfoList?areaId="+areaId+"&flag="+flag+"",
type:"post",
data:{page:page},//请求页数
success:function(res){
var list = eval(res);
//console.log(list.length);
//var list=JSON.parse(res);
if(list.length>0) {
    hasMore=true;
//console.log(JSON.parse(res));
    //追加数据
   $.each(res, function(i, item){ 
    html+="<div class='zixunbox'>";
	html+="<div class='zixuncent1'>";
	html+="<a href='/pc/news/info?id="+item.id+"&areaId="+areaId+"'><img src="+item.titleImg+"></a>";
	html+="</div>";
	html+="<div class='zixuncent2'>";
	html+="<p>"+item.title+"</p>";
	html+="</div>";
	html+="<div class='zixuncent3'>";
	html+="<p style='float: left;'>";
	html+="<img src="+item.titleImg+" style='width:23px; height:23px;'><span>"+item.source+"</span><span>"+item.teamName+"</span><span>"+item.publicTime+"</span>";
	if(item.isTop==1){
	html+="<img src='/pc/images/list_09.jpg' >";
	}
	if(item.isRedPeper==1){
	html+="<img src='/pc/images/list_06.jpg' >";
	}
	html+="</p>";
	html+="<p style='float:right;'>";
	html+="<a href='/pc/news/info?id="+item.id+"&areaId="+areaId+"'><img src='/pc/images/list_12.jpg'><span>"+item.criticismOfCount+"</span></a>";
	html+="<a href='/pc/news/info?id="+item.id+"&areaId="+areaId+"'><img src='/pc/images/list03.jpg'  style='width: 19px;height: 22px;'><span>"+item.numberOfLikes+"</span></a>";
	html+="<a href='/pc/news/info?id="+item.id+"&areaId="+areaId+"'><img src='/pc/images/list06.jpg'><span>"+item.numberOfShares+"</span></a>";
	html+="</p>";
	html+="</div>";
	html+="</div>";
    })
    $listrow.append(html);//数据追加到list
    var imgWidth=$('.list_flex_son_img').width();
    $('.list_flex_son_img').height(imgWidth);
}    
}
})
}
 
//加载中隐藏显示
$loaddiv.ajaxStart(function(){
$(this).show();
}).ajaxStop(function(){
$(this).hide();
})
ifLoad();
//scroll滚动触发加载事件
function ifLoad(){
hasMore=true;
var w = $(window);
var lastTime = new Date();
window.addEventListener("scroll", function scrollHandler() {
var scrollh = $(document).height();
var bua = navigator.userAgent.toLowerCase();
if (bua.indexOf('iphone') != -1 || bua.indexOf('ios') != -1) {
scrollh = scrollh -140;
} else {
scrollh = scrollh - 80;
}
if(($(document).scrollTop() + w.height()) >= scrollh){
if (new Date()-lastTime <100) {
    return;
}
lastTime = new Date();
if (hasMore) {
    ajaxLoad();
}
}
}, 1000);
}
 
});
	
	
	var m1 = new MyModal.modal(function() {
	});
	$('.btn1').on("click", function() {
		var url=$(this).attr("data-url");
		$("#url").val(url);
		 $.get(url, function(result){
			 console.log(result);
			 if(result.code==-0){
				 $("#price").val(result.price);
				 $("#positionNum").val(result.positionNum);
				 $("#regionName").val(result.regionName);
				 $("#positionName").val(result.positionName);
				 $("#regionCode").val(result.regionCode);
				 $("#sort").val(result.sort);
				 m1.show();
			 }
			 if(result.code==-1){
				 window.location.href = result.url;
			 }
			 if(result.code==500){
				 layer.msg(result.msg);
			 }
		});
	});
	
	layui.use('upload', function() {
	    var upload = layui.upload;

	    //执行实例
	    var uploadInst = upload.render({
	        elem : '#file', //绑定元素
	        url : '/common/sysFile/upload', //上传接口
	        size : 1000,
	        accept : 'file',
	        done : function(r) {
	            var fileName = r.fileName;
	             $("#imgStr").val(fileName);
	     	     $("#img").attr("src",fileName);
	        },
	        error : function(r) {
	            //layer.msg(r.msg);
	        }
	    });
	    
	});

	$().ready(function(){
		$("#save").on('click', function() {
			console.log(123);
			$("#signupForm").submit();
		});
	})

	function jisuan(){
		var day=$("#showDay").val();
		var price = $("#price").val();
		var allPrice=day*price;
		console.log(allPrice);
		$("#jiage").text(allPrice+"元");
	}


	function save() {
			$.ajax({
				type : "POST",
				url : "/pc/advSubmit",
				data : $('#signupForm').serialize(),
				success : function(r) {
					if (r.code == 0) {
						layer.msg(r.msg);
						
					} else {
						layer.msg(r.msg);
					}
				},
			});
		}
		
		$().ready(function() {
			validateRule();
		});

		$.validator.setDefaults({
			submitHandler : function() {
				save();
			}
		});
		function validateRule() {

			var icon = "<i class='fa fa-times-circle'></i> ";
			$("#signupForm").validate({
				rules : {
					positionName : {
						required : true
					},
					showDay : {
						required : true
					},
					advUrl : {
						required : true
					},
					advImg : {
						content : true
					}
				},
				messages : {
					positionName : {
						required : icon + "<span style='color:red'>展示位置不能为空</span>",
					},
					showDay : {
						required : icon + "<span style='color:red'>投放天数不能为空</span>",
					},
					advUrl : {
						required : icon + "<span style='color:red'>广告链接不能为空</span>",
					},
					advImg : {
						required : icon + "<span style='color:red'>广告图片不能为空</span>",
					}
				}
			})
		}

</script>
