<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" th:href="@{/pc/css/index.css}"/>
		<script th:src="@{/pc/js/jquery-3.1.1.js}"></script>
		<link rel="stylesheet" th:href="@{/pc/css/activity.css}">
		<link rel="stylesheet" th:href="@{/pc/css/ziyunlist.css}">
	</head>
	<body>
		<!-- 头部 -->
		<div th:replace="pc/include :: header"></div>
		<!-- 导航 -->
		<!-- <div class="navTwo">
			<div class="navTwoCen">
				<div><a href="#">网站首页</a></div>
				<div><a href="#">动态咨询</a></div>
				<div><a href="#">活动报名</a></div>
				<div><a href="#">志愿者</a></div>
				<div><a href="#">团队活动</a></div>	
			</div>
		</div> -->
		<div class="zixunlist">
			<!-- <div style="width: 1200px;margin:0 auto;line-height:70px; font-size:14px;color:#aaaaaa;">
				您所在的位置：首页>公益互助>公益>政策法规
			</div> -->
			<div class="zixunlogin">
				<a href=""><img th:src="@{/pc/images/tp2.jpg}" alt=""></a>
			</div>
		 <!-- 主题内容 -->
			<div class="zixuncent">
				<!-- 从这开始循环 -->
				<div class="zixunbox" th:each="info:${newsList}">
					<div class="zixuncent1">
						<a th:href="@{/pc/news/info(id=${info.id},areaId=${areaId})}"><img th:src=${info.titleImg} alt=""></a>
					</div>
					<div class="zixuncent2"> 
						 <p th:text="${info.title}"></p>
					</div>
					<div class="zixuncent3">
						<p style="float: left;">
							<img th:src="${info.teamTitleImg}" alt="" style="width:23px; height:23px;"><span th:text="${info.source}"></span><span th:text="${info.teamName}"></span><span th:text="${#dates.format(info.publicTime,'yyyy-MM-dd')}"></span>
							<div th:if=" ${info.isTop} eq '1'">
							<img th:src="@{/pc/images/list_09.jpg}" alt="">
							</div>
							 <div th:if="${info.isRedPeper} eq '1'">
							<img th:src="@{/pc/images/list_06.jpg}" alt="">
							 </div> 
						</p>
						<p style="float:right;">
							<a th:href="@{/pc/news/info(id=${info.id},areaId=${areaId})}"><img th:src="@{/pc/images/list_12.jpg}" alt=""><span th:text="${info.criticismOfCount}"></span></a>
							<a th:href="@{/pc/news/info(id=${info.id},areaId=${areaId})}"><img th:src="@{/pc/images/list03.jpg}" alt="" style="width: 19px;height: 22px;"><span th:text="${info.numberOfLikes}"></span></a>
							<a th:href="@{/pc/news/info(id=${info.id},areaId=${areaId})}"><img th:src="@{/pc/images/list06.jpg}" alt=""><span th:text="${info.numberOfShares}"></span></a>
						</p>
					</div>
				</div>
				<!-- 循环结束 -->
			</div>
			<!-- 右侧 -->
			<div class="zixunright">
				<div class="zixunrimg">
				<a href="#"><img th:src="@{/pc/images/zyz_03.jpg}" alt=""></a>
				<a href="#"><img th:src="@{/pc/images/zyz_06.jpg}" alt=""></a>
				<a href="#"><img th:src="@{/pc/images/zyz_09.jpg}" alt=""></a>
				<a href="#"><img th:src="@{/pc/images/zyz_12.jpg}" alt=""></a>
				<a href="#"><img th:src="@{/pc/images/zyz_15.jpg}" alt=""></a>
				</div>
				<!-- <div class="zixunbut">
					<h3>点击排名</h3>
					<ul>
						<li th:each="newsTop,iterStat:${newsTop}"><i
							th:text="${iterStat.count}"></i><a
							th:href="@{/pc/news/info(id=${newsTop.id})}"
							th:text="${newsTop.title}"></a></li>
					</ul>
					
				</div> -->
			</div>
		</div>
		<div class="xuanfu">
			<a th:href="@{/pc/news/infoList(areaId=${areaId},flag=1)}" >红包</a>
			<a th:href="@{/pc/news/infoList(areaId=${areaId},flag=2)}">最热</a>
			<a th:href="@{/pc/news/infoList(areaId=${areaId},flag=0)}">置顶</a>
		</div>
		<div th:replace="pc/include :: footer"></div>
	</body>
	<script th:src="@{/pc/js/common.js}"></script>
</html>
<script>
	$(".xuanfu a").click(function(){
		 $(this).addClass("xfcl").siblings("a").removeClass("xfcl")
	})
	
	
	//分页加载
$(function(){
var hasMore;
var page = 1; //初始页码
var maxnum = 2;//设置加载次数
 
var downrange= 100;                //下边界-参考正在加载提示层/px
var $main = $("#showbox");            //主体
var $loaddiv = $("#add-more") ;       //加载提示层
var totalheight = 0; 
var $listrow=$("#listrow");
//ajax-fun
function ajaxLoad(){
var html="";
page=page+1;//每次拉到底部page加1
//console.log(page)
hasMore=false;
$.ajax({
url:"http://wechat.ixunluo.com/weishopcs/app/index.php?i=3&c=entry&m=ewei_shopv2&do=mobile&r=taobaoke",
type:"post",
data:{page:page},//请求页数
success:function(res){
var list = eval(res);
//console.log(list.length);
//var list=JSON.parse(res);
if(list.length>0) {
    hasMore=true;
//console.log(JSON.parse(res));
    //追加数据
    for(var i=0;i<list.length;i++) {
        html+="<a href='./index.php?i=3&amp;c=entry&amp;m=ewei_shopv2&amp;do=mobile&amp;r=taobaoke.detail&amp;id="+list[i].id+"'>";
        html+="<div class='list_flex_son'>";
        html+="<img data-original='"+res[i]+"' class='list_flex_son_img' src='"+list[i].thumb+"' style='height: 175.313px;'>";
        html+="<div class='list_flex_son_title'>"+list[i].title+"</div>";
        html+="<div class='list_flex_son_row'>";
        html+="<span class='sfsr_price'>￥"+list[i].marketprice+"</span>";
        html+="<span class='sfsr_tbprice'>淘宝价："+list[i].productprice+"元</span>";
        html+="</div>";
        html+="</div>";
        html+="</a>";
    }
    $listrow.append(html);//数据追加到list
    var imgWidth=$('.list_flex_son_img').width();
    $('.list_flex_son_img').height(imgWidth);
}    
}
})
}
 
//加载中隐藏显示
$loaddiv.ajaxStart(function(){
$(this).show();
}).ajaxStop(function(){
$(this).hide();
})
ifLoad();
//scroll滚动触发加载事件
function ifLoad(){
hasMore=true;
var w = $(window);
var lastTime = new Date();
window.addEventListener("scroll", function scrollHandler() {
var scrollh = $(document).height();
var bua = navigator.userAgent.toLowerCase();
if (bua.indexOf('iphone') != -1 || bua.indexOf('ios') != -1) {
scrollh = scrollh -140;
} else {
scrollh = scrollh - 80;
}
if(($(document).scrollTop() + w.height()) >= scrollh){
if (new Date()-lastTime <100) {
    return;
}
lastTime = new Date();
if (hasMore) {
    ajaxLoad();
}
}
}, 1000);
}
 
});

</script>
