<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" type="text/css" th:href="@{/pc/css/personal.css}" />
<link rel="stylesheet" th:href="@{/pc/css/index.css}">
<script th:src="@{/pc/js/jquery-3.1.1.js}"></script>
</head>
<body>
	<div class="boxRight">
		<div class="NavCent">
			<!-- 账户中心 -->
			<div class="Navtext">
				<figure>
					<a href=""><img src="images/geren.jpg" alt=""></a>
					<figcaption>
						<span>jiaxiaozhan <img src="images/xingbie.jpg" alt=""></span>
						<p>
							ID:00235 <i>已实名</i>
						</p>
					</figcaption>
				</figure>
				<div class="xing">
					<img src="images/pingji.jpg" alt=""> <img
						src="images/pingji.jpg" alt=""> <img src="images/pingji.jpg"
						alt=""> <img src="images/pingji.jpg" alt=""> <img
						src="images/pingji.jpg" alt=""> <span>5星志愿者</span>
				</div>
			</div>
			<div class="NavRight">
				<div class="Navstxt">
					<p>账户中心</p>
					<img src="images/yan.jpg" alt="">
				</div>
				<div class="NavCenter">
					<div>
						<span>800</span>
						<p>余额</p>
					</div>
					<div>
						<span>3000</span>
						<p>平台积分</p>
					</div>
					<div>
						<span>800</span>
						<p>红包收益</p>
					</div>
				</div>
				<div class="qiana">
					<div>
						<img src="images/tixian.jpg" alt="">充值
					</div>
					<div>
						<img src="images/chongzhi.jpg" alt="">提现
					</div>
				</div>
			</div>
		</div>
		<!-- 我的发布 -->
		<div class="myfabu">
			<div style="padding-bottom: 65px;">
				<div class="myfabutxt">
					<p>我的发布</p>
				</div>
				<div class="myFabuCent">
					<div class="shijian">
						<div class="yuan">
							<p>
								<rem>24</rem>
								日
							</p>
						</div>
						<div class="xian"></div>
					</div>
					<div class="myzhuti">
						<div>
							<p>据说中美经贸磋商未来将在北京举行， 中方在这些原则问题上不能据说中美经贸磋商未来将在北京举行，
								中方在这些原则问题上不能</p>
							<div class="myimg">
								<img src="images/aaa4.jpg" alt=""> <img
									src="images/aaa4.jpg" alt=""> <img src="images/aaa4.jpg"
									alt="">
							</div>
							<div class="myzan">
								<p>
									<span><img src="images/dianzan.jpg" alt=""> 赞
										&nbsp;&nbsp;&nbsp;75</span>&nbsp;&nbsp; <span><img
										src="images/pinglun.jpg" alt=""> 评价 &nbsp;&nbsp;&nbsp;75</span>&nbsp;&nbsp;
									<span><img src="images/zhuanfa.jpg" alt=""> 转发
										&nbsp;&nbsp;&nbsp;75</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="myFabuCent">
					<div class="shijian">
						<div class="yuan">
							<p>
								<rem>24</rem>
								日
							</p>
						</div>
						<div class="xian"></div>
					</div>
					<div class="myzhuti">
						<div>
							<p>据说中美经贸磋商未来将在北京举行， 中方在这些原则问题上不能据说中美经贸磋商未来将在北京举行，
								中方在这些原则问题上不能</p>
							<div class="myimg">
								<img src="images/aaa4.jpg" alt=""> <img
									src="images/aaa4.jpg" alt=""> <img src="images/aaa4.jpg"
									alt="">
							</div>
							<div class="myzan">
								<p>
									<span><img src="images/dianzan.jpg" alt=""> 赞
										&nbsp;&nbsp;&nbsp;75</span>&nbsp;&nbsp; <span><img
										src="images/pinglun.jpg" alt=""> 评价 &nbsp;&nbsp;&nbsp;75</span>&nbsp;&nbsp;
									<span><img src="images/zhuanfa.jpg" alt=""> 转发
										&nbsp;&nbsp;&nbsp;75</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="myFabuCent">
					<div class="shijian">
						<div class="yuan">
							<p>
								<rem>24</rem>
								日
							</p>
						</div>
						<div class="xian"></div>
					</div>
					<div class="myzhuti">
						<div>
							<p>据说中美经贸磋商未来将在北京举行， 中方在这些原则问题上不能据说中美经贸磋商未来将在北京举行，
								中方在这些原则问题上不能</p>
							<div class="myimg">
								<img src="images/aaa4.jpg" alt=""> <img
									src="images/aaa4.jpg" alt=""> <img src="images/aaa4.jpg"
									alt="">
							</div>
							<div class="myzan">
								<p>
									<span><img src="images/dianzan.jpg" alt=""> 赞
										&nbsp;&nbsp;&nbsp;75</span>&nbsp;&nbsp; <span><img
										src="images/pinglun.jpg" alt=""> 评价 &nbsp;&nbsp;&nbsp;75</span>&nbsp;&nbsp;
									<span><img src="images/zhuanfa.jpg" alt=""> 转发
										&nbsp;&nbsp;&nbsp;75</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="myright">
			<div class="myrighttxt">
				<p>我的团队</p>
			</div>
			<div class="myrightimg">
				<img src="images/13.jpg" alt="">
			</div>
			<p>
				志愿者联盟<span>河南郑州</span>
			</p>

		</div>
	</div>
</body>
</html>