<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" type="text/css" th:href="@{/pc/css/personal.css}" />
<!-- <link rel="stylesheet" th:href="@{/pc/css/zhaq.css}"> -->
<link rel="stylesheet" th:href="@{/pc/css/index.css}">
<link href="/css/layui.css" rel="stylesheet">
<script th:src="@{/pc/js/jquery-3.1.1.js}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/js/validate.js}"></script>
<script src="/js/plugins/layer/layer.js"></script>
<script src="/js/layui.js"></script>
<link rel="stylesheet" th:href="@{/pc/css/jquery.my-modal.1.1.css}">
<script th:src="@{/pc/js/jquery.my-modal.1.1.js}"></script>
<script type="text/javascript" th:src="@{/mobile/js/jquery.my-modal.1.2.js}"></script>
<link rel="stylesheet" th:href="@{/mobile/css/jquery.my-modal.1.2.css}">
<style type="text/css">
	.zhezhaozh{
				position:absolute;
				width: 100%;
				height:100%;
				top: 0;
				bottom:1000;
				left: 0;
				right: 0;
				background:rgba(0,0,0,0.8);
				display: none;
			}
			.zhezhaozh1{
				width: 510px;
				height: auto;
				position: absolute;top:50%;left:50%;margin-left:-255px;margin-top:-900px;
				background: #fff;
			}
			.zhezhaozh1 p{
				font-size:14px;
				line-height:44px;
			}
			.zhezhaozh1 p>span{
				font-size:14px;
				color:#e0e1e3;
				margin-left:5px;
			}
			.zhezhaozh1 input{
				width: 420px;
				height:50px;
				font-size:16px;
			}
			.queren{
				background:#cd3333;
				color:#fff;
				border: none;
				margin-top:40px;
			}
			.guanbi{
				position:relative;left: 458px;top: 49px;
			}
			.qiana div {
            width: auto;
           color: #70a4ef;
         }
         .qiana a{
          color: #70a4ef;
         }
         .m-middletxt2-1 img{
           margin-top:0px;
         }
         .m-middletxt2-1 p{
                font-size: 30px;
                line-height: 80px;
         }
</style>
<style>
	.m-middletxt3 span{
	  display:block;
	  width:200px;
	  height:54px;
	  background:red;
	  color:#fff;
	  margin:0 auto;
	  text-align: center;
	  line-height: 54px;
      font-size: 26px;
      border-radius: 3px;
	  
     }
     .m-middletxt2{
      overflow: hidden;
     }
     .m-middletxt2 span{
	  display:block;
	  width:200px;
	  height:54px;
	  background:red;
	  color:#fff;
	  margin:0 auto;
	  text-align: center;
	  line-height: 54px;
      font-size: 26px;
      border-radius: 3px;
      margin-top:30px;
      
	  
     }
	</style>
</head>
<body>
	<div class="boxRight">
		<div class="NavCent">
			<!-- 账户中心 -->
			<div class="Navtext">
			<input type="hidden" th:value="${user.isBinding}" id="isBinding" />
				<figure>
					<a href=""><img src="images/geren.jpg" alt=""></a>
					<figcaption>
						<input type="hidden" th:value="${user.userId}" id="id">
						<span th:text="${user.name}"> <img src="images/xingbie.jpg" alt=""></span>
						<p>
							 <font th:text="${'ID:'+user.userId}"></font> <i th:text="${user.isIdentification==1?'已实名':'未实名'}"></i>
						</p>
						<input type="hidden" id="userId" th:value="${user.userId}">
						
					</figcaption>
				</figure>
				<div class="xing">
					<img src="images/pingji.jpg" alt=""> <img
						src="images/pingji.jpg" alt=""> <img src="images/pingji.jpg"
						alt=""> <img src="images/pingji.jpg" alt=""> <img
						src="images/pingji.jpg" alt=""> <span>5星志愿者</span>
				</div>
			</div>
			<div class="NavRight">
				<div class="Navstxt">
					<p>账户中心</p>
					<img src="images/yan.jpg" alt="">
				</div>
				<div class="NavCenter">
					<div>
						<span th:text="${ccount}"></span>
						<p>余额</p>
					</div>
					<div>
						<span th:text="${platformIntegral}"></span>
						<p>平台积分</p>
					</div>
				</div>
				<div class="qiana">
					<div>
						<div class="btn1" ><img src="images/tixian.jpg" alt="">充值</div>
						
					</div>
					<div>
						<div class="btn2" ><img src="images/chongzhi.jpg" alt="">提现</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 我的发布 -->
		<div class="myright" th:if="${team!=null}">
			<div class="myrighttxt">
				<p>我的团队</p>
			</div>
			<div class="myrightimg">
				<a th:href="@{/pc/teamDetail?teamId=}+${team.id}" target="_Parent"><img th:src="${team.teamTitleImg}" alt=""></a>
				<!-- <img id="code" src="http://127.0.0.1:9091/wxpay/pay" style="width:300px;height:300px;"/> -->
			</div>
			<p th:utext="${team.teamName+'<span>'+team.addres+'</span>'}"></p>

		</div>
		<!-- <div id="code" style="display: none">
			<img id="codeUrl" src="http://zhgy.61966.com/wxpay/pay" style="width:300px;height:300px;"/>
		</div> -->
		
	</div>
	<div class="m-modal">
			<div class="m-modal-dialog m-modal-dialog1">
				<div class="m-top">
					<span class="m-modal-close">X</span>
				</div>
				<div class="m-middle2">
				   <div class="m-middletxt">
					   <img src="images/touxiang 82.png" alt="">
				   </div>
				   <div class="m-middletxt2">
				   		<ul>
							<li class="addred"><a href="#">2元</a></li>
							<li><a href="#">0.01</a>元</li>
							<li><a href="#">66</a>元</li>
							<li><a href="#">300</a>元</li>
							<li><a href="#">200</a>元</li>
							<li><a href="#">100</a>元</li>
						</ul>
				   </div>
				   <div class="m-middletxt3">
					   <img src="images/03.png" alt="">
				   </div>
				</div>
			</div>
			<div class="m-modal-dialog m-modal-dialog5 adddd">
				<div class="m-top">
					<span class="m-modal-close">X</span>
				</div>
				<div class="m-middle2">
				   <div class="m-middletxt-1">
					  <img src="images/xccc.png" alt="">
				   </div>
				   <div class="m-middletxt2-1">
				       <p id="blance"></p>
					   <img id="codeUrl" src="" alt="">
				   </div>
				   <div class="m-middletxt3-1">
					   <img src="images/zasfaff.png" alt="">
				   </div>
				</div>
			</div>
		</div>
		<div class="m-modal1">
			<div class="m-modal1-dialog m-modal1-dialog1">
				<div class="m-top">
					<span class="m-modal1-close">X</span>
				</div>
				<div class="m-middle2">
				   <div class="m-middletxt">
					   <img src="images/touxiang 82.png" alt="">
				   </div>
				   <div class="m-middletxt1">
				   		<ul id="cashOut">
							<li class="addredd"><a href="#">2元</a></li>
							<li><a href="#">0.01元</a></li>
							<li><a href="#">66元</a></li>
							<li><a href="#">300元</a></li>
							<li><a href="#">200元</a></li>
							<li><a href="#">100元</a></li>
						</ul>
				   </div>
				   <div class="m-middletxt2">
					  <span>提 现</span>
				   </div>
				</div>
			</div>
		</div>
</body>

<script type="text/javascript">
function pay(){
	$("#code").show();
}

</script>
</html>
<script th:inline="javascript"> var ctx = [[@{/}]] ; </script>
<script type="text/javascript">
	var timer = '';
	var m1 = new MyModal.modal(function() {
		alert("你点击了确定");
	});
	$('.btn1').on("click", function() {
		m1.show();
		
	});
	
	var m2 = new MyModal1.modal(function() {
		alert("你点击了确定");
	});
	$('.btn2').on("click", function() {
		m2.show();
	});
	
	$(".m-middletxt2 li").click(function(){
		$(this).addClass("addred").siblings("li").removeClass("addred");
		
	})
	
	$(".m-middletxt1 li").click(function(){
		$(this).addClass("addredd").siblings("li").removeClass("addredd");
	})
	
	$(".m-middletxt3 img").click(function(){
		
		$(".m-modal-dialog1").css("display","none")
		$(".adddd").css("display","block")
		var fee = $('.addred a').text();
		var blance = fee.match(/[\d.]+/g);
		$('#blance').text("充值金额 " +blance + "元");
		var orderNum = createOrder(blance[0]);
		if (orderNum != '-1') {
			$('#codeUrl').attr("src","http://zhgy.61966.com/wxpay/pay?data=" + (blance[0] * 100) + "&orderNum=" + orderNum);
			timer = setInterval(function () {
					var msg = queryOrder(orderNum)
					if (msg == '1') {
						window.clearInterval(timer);
						history.go(0);
					}
				},500);
		} else {
			layer.msg("未知错误");
		}
		
		
	})
	
	
	$(".m-middletxt2 span").click(function(){
		$(".m-modal-dialog1").css("display","none")
		var fee = $('.addredd a').text();
		var blance = fee.match(/[\d.]+/g);
		createOrder(blance[0])
	})
	
	
	
	$(".m-modal-close").click(function(){
			$(".m-modal-dialog1").css("display","block")
			$(".adddd").css("display","none")
			window.clearInterval(timer);//清除定时器
	})
	function createOrder(fee){
		var orderNum = '';
		debugger
		$.ajax({
			type : "POST",
			url : "/wxpay/createOrder",
			data : {'data': fee},
			async:false,
			success : function(r) {
				if (r.code == 0) {
					debugger
					orderNum = r.msg;
				} else
					orderNum =-1;
				}
		});
		return orderNum;
	}
	function queryOrder(orderNum){
		var stauts = '';
		$.ajax({
			type : "POST",
			url : "/wxpay/queryOrder",
			data : {'orderNum': orderNum},
			async:false,
			success : function(r) {
				debugger
				if (r.code == 0) {
					stauts =  r.msg;
				} else
					stauts = -1;
				}
		});
		return stauts;
	}
	
	function createOrder(fee){
		var orderNum = '';
		$.ajax({
			type : "POST",
			url : "/cashout/createOrder",
			data : {'fee': fee},
			async:false,
			success : function(r) {
				if (r.code == 0) {
					orderNum = r.msg;
				} else
					orderNum =-1;
				}
		});
		return orderNum;
	}
</script>
<script type="text/javascript">
	$(function(){
		var isBinding=$("#isBinding").val();
		console.log(isBinding);
		if(isBinding==""||isBinding==null||isBinding!=1){
			console.log($('.zhezhaozh',parent.document));
			/* $(".zhezhaozh").css("display","block");
			$("body").css("overflow", "hidden") */
			$('.zhezhaozh',parent.document).css("display","block");
			$("body",parent.document).css("overflow", "hidden") 
		}else{
			$('.zhezhaozh',parent.document).css("display","none");
			$("body",parent.document).css("overflow", "scroll") ;
		}
			
		$(".guanbi",parent.document).click(function(){
				$(".zhezhaozh",parent.document).css("display","none");
				$("body",parent.document).css("overflow", "scroll")
			})
	})
	
	$().ready(function() {
		$("#save",parent.document).on('click', function() {
			$("#userId",parent.document).val($("#id").val());
			$("#signupForm",parent.document).submit();
		});
	})
	$().ready(function() {
		validateRule();
	});
	
	$.validator.setDefaults({
		submitHandler : function() {
			tijiao();
		}
	});
	
	function tijiao() {
		var self = $(this);
		$.ajax({
			type : "POST",
			url : ctx + "pc/binding",
			data : $("#signupForm",parent.document).serialize(),
			success : function(r) {
				if (r.code == 0) {
					$(".zhezhaozh",parent.document).css("display","none");
					$("body",parent.document).css("overflow", "scroll")
				} else if (r.status == 500) {
					layer.msg(r.message);
					self.find(".check-tips").text(r.message);
					//刷新验证码
					$(".reloadverify").click();
				} else {
					layer.msg(r.msg);
					self.find(".check-tips").text(r.msg);
					//刷新验证码
					$(".reloadverify").click();
				}
			},
		});
	}
	
	function validateRule() {

		var icon = "</br><i class='fa fa-times-circle'></i> ";
		$("#signupForm",parent.document).validate({
			rules : {
				username : {
					required : true
				},
				password : {
					required : true
				},
				password1 : {
					required : true
				}
			},
			messages : {
				username : {
					required : icon + "<span style='color:red'>请输入您的用户名</span>",
				},
				password : {
					required : icon + "<span style='color:red'>请输入您的密码</span>",
				},
				password1 : {
					required : icon + "<span style='color:red'>两次密码输入需保持一致</span>",
				}
				
			}
		})
	}
	
</script>
</html>

