<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" th:href="@{/pc/css/personal.css}"/>
		<link rel="stylesheet" th:href="@{/pc/css/index.css}">
		<link rel="stylesheet" th:href="@{/pc/css/cwmx.css}">
		<link rel="stylesheet" th:href="@{/pc/css/guzhunaws.css}">
		<link rel="stylesheet" th:href="@{/pc/css/jibenziliao.css}">
		
		<link th:href="@{/css/layui.css}" rel="stylesheet">
		<script th:src="@{/pc/js/jquery-3.1.1.js}"></script>
		<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
		<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
		<script th:src="@{/js/validate.js}"></script>
		<script th:src="@{/js/plugins/layer/layer.js}"></script>
		<script th:src="@{/js/layui.js}"></script>
		<style>
		  .yy-gz{
			  display: none;
		  }
		  .biaodanyy>label>span {
				display: inline-block;
				width: 122px !important;
				text-align: right;
				font-size: 14px;
				margin-right: 24px;
				color: #666666;
				float: left;
				line-height: 60px;
			}
		  .biaodanyy>label {
				display: block;
				width: 840px !important;
				margin-left: 50px;
            }
			.duoxianrt{
				    width: 661px;
					float: right;
					margin-top: 20px;
			}
			.duoxianrt input{
				margin-top:15px;
			}
			.tijiaohou{
				width: 80%;
				text-align: left;
				float: right;
				margin-top:30px;
			}
			.biaodanyy>label>div{
				width:338px;
				height: 180px;
				float: left;
				border:1px solid #f0f0f0;
				margin-right:5px;
				text-align: center;
				font-size:16px;
				color:#5c5c5c;
			}
			.biaodanyy>label>div>img{
				width: 235px;
				height: 138px;
				margin-top:36px;
			}
		</style>
	</head>
	<body>
		
			<div class="boxRight" style="background:#fff;width: 1006px;height: 1150px;margin-top:0;" >
				<div class="cwmx">
					<h4>基本资料</h4>
				</div>
				<form action="" method="" class="biaodanyy" id="signupForm">
					<input type="hidden"  th:value="${user.userId}" name="userId">
					<input type="hidden"  th:value="${setupDO.cityBail}" id="ct">
					<input type="hidden"  th:value="${setupDO.areaBail}" id="ar">
					<input type="hidden" th:value="${setupDO.provincialBail}"  id="pr">
					<input type="hidden" th:value="${setupDO.agencyBail}"  id="ag">
				    <label>
						<span>真实姓名</span>
						<input type="text"  th:value="${user.name}" readonly="readonly">
					</label>
					<label>
						<span>身份证号</span>
						<input type="text"  th:value="${user.cardNo}" readonly="readonly">
					</label>
					<label>
						<span>代理商名称</span>
						<input type="text" id="name"  name="name">
					</label>
					<label>
						<span>代理电话</span>
						<input type="text" id="proxyTelephone"  name="proxyTelephone">
					</label>
					<label style="overflow: hidden;"> <span>地区图片</span>
				<div>
					<img th:src="@{/pc/images/gahgha_03.png}" id="regImg1" alt=""
						class="sfz1">
					<input id="regImg" name="regImg" type="hidden" /> <input
						type="file" name="file" style="display: none;" id="file4">
				</div>
					</label> 
					<label>
						<span>代理级别</span>
						<input type="radio" style="width:20px;" value="1" name="regionLevel" checked="checked"/>省
						<input type="radio" style="width:20px;margin-left: 20px" value="2" name="regionLevel" />市
						<input type="radio" style="width:20px;margin-left: 20px" value="3" name="regionLevel" />县
						<input type="radio" style="width:20px;margin-left: 20px" value="4" name="regionLevel" />办事处
					</label>
					<label>
						<span style="margin-left: -147px;color:red">代理保证金</span>
						<input type="text" th:value="${setupDO.provincialBail}"  id="bail" style="color:red">
					</label>
					<label>
						<span>代理地区</span>
						<select class="juzhu" onchange="pronv()" id="pron" name="pronvice">
							<option value ="">省</option>
							<option th:each=" area : ${areaList}" th:value ="${area.regionCode}" th:text="${area.regionName}" ></option>
						</select>
						<select class="juzhu" onchange="cityQuery()" id="cityId" name="city">
							<option value ="">市</option>
						</select>
						<select class="juzhu" onchange="streetQuery()" name="country" id="count">
							<option value ="">区/县</option>
						</select>
						<select id="jiedao"   class="juzhu" name="street">
							<option value="">街道</option>
						</select>
					</label>
					<label>
						<span>代理详细地址</span>
						<input type="text" id="proxyAddr" name="proxyAddr">
					</label>
					<label>
						<input type="submit" value="提交申请" style="background:#ff0000;height:42px;color:#fff;border: none;margin:30px 0px 0px 152px;border-radius:3px ;">
					</label>
				</form>
				<div style="background:#fff;display: none"  id="info">
					<div class="tijiaohou">
						<img src="/pc/images/hsusus_03.jpg" alt="">
						<p>如果通过审核，我们将在3个工作内通过电话与您沟通，请保持手机畅通，谢谢！</p>
					</div>
				</div>
			</div>
	</body> 
</html>
<script src="/js/plugins/validate/jquery.validate.min.js"></script>
<script>
	$(".btn").mouseover(function(){
		 $(this).children("ul").show();
	});
	$(".btn").mouseout(function(){
		 $(this).children("ul").hide();
	})
	$('dt').click(function () {
		if($(this).nextUntil('dt','dd').is(':visible')){
			$(this).nextUntil('dt','dd').slideUp()
		}else{
			$(this).siblings('dd').slideUp().end().nextUntil('dt','dd').slideToggle();
		}
	});
	
	$(function(){
		$(":radio").click(function(){
			var level = $(this).val();
			if (level == 1) {
				$("#bail").val($("#pr").val())
			} else if(level == 2){
				$("#bail").val($("#ct").val())
			} else if(level == 3){
				$("#bail").val($("#ar").val())
			}else{
				$("#bail").val($("#ag").val())
			}
		})
	})
	function pronv() {
		$.ajax({
            type : "post",
            dataType: "json",
            url : "/pc/proxybusi/city",
            data : {
            	'areaId': $("#pron").val()
            },
            success : function(result) {
            	console.log(result.areaList);
            	var areaList = result.areaList;
            	$("#cityId").html('');
            	var html = '<option value ="">市</option>';
            	$.each(areaList, function (n, value) {
            		html += '<option value ="'+ value.regionCode + '">' + value.regionName + '</option>';
            	});
            	$("#count").html('<option value ="">区/县</option>');
            	$("#cityId").append(html);
            }
        });
	}
	
	function cityQuery() {
		$.ajax({
            type : "post",
            dataType: "json",
            url : "/pc/proxybusi/city",
            data : {
            	'areaId': $("#cityId").val()
            },
            success : function(result) {
            	console.log(result.areaList);
            	var areaList = result.areaList;
            	$("#count").html('');
            	var html = '<option value ="">区/县</option>';
            	$.each(areaList, function (n, value) {
            		html += '<option value ="'+ value.regionCode + '">' + value.regionName + '</option>';
            	});
            	$("#count").append(html);
            }
        });
	}
	
	//通过区编号获取街道
	function streetQuery() {
		$.ajax({
			type : "post",
			dataType : "json",
			url : "/pc/proxybusi/city",
			data : {
				'areaId' : $("#count").val()
			},
			success : function(result) {
				var areaList = result.areaList;
				$("#jiedao").html('');
				var html = '<option value ="">街道</option>';
				$.each(areaList, function(n, value) {
					html += '<option value ="'+ value.regionCode + '">'
							+ value.regionName + '</option>';
				});
				$("#jiedao").append(html);
			}
		});
	}
	
	$().ready(function() {
		validateRule();
	});
	$.validator.setDefaults({
		submitHandler : function() {
			update();
		}
	});
	function update() {
		$.ajax({
			cache : true,
			type : "POST",
			url : "/pc/proxybusi/save",
			data : $('#signupForm').serialize(),// 你的formid
			async : false,
			error : function(request) {
				parent.layer.alert("Connection error");
			},
			success : function(data) {
				if (data.code == 0) {
					//parent.layer.msg("操作成功");
					$("#signupForm").hide();
					$("#info").show();
				} else {
					parent.layer.alert(data.msg)
				}

			}
		});

	}
	layui.use('upload', function() {
		var upload = layui.upload;
		var uploadInst = upload.render({
			elem : '#file4', //绑定元素
			url : '/common/sysFile/upload', //上传接口
			size : 1000,
			accept : 'file',
			done : function(r) {
				var fileName = r.fileName;
				$("#regImg").val(fileName);
				$("#regImg1").attr("src", fileName);
			},
			error : function(r) {
				layer.msg(r.msg);
			}
		});
	});
	function validateRule() {
		var icon = "<i class='fa fa-times-circle' ></i> ";
		$("#signupForm").validate({
			rules : {
				name : {
					required : true
				},
				proxyTelephone:{
			        required:true,
			        isMobile:true
			    },
			    proxyAddr:{
					required:true
				},
				cardNo:{
					required : true,
					isIdCardNo:true
				},
				regionLevel:{
					required : true
				},
				country:{
					required : true
				}
				
			},
			messages : {
				name : {
					required : "<span style='color:red;margin-left:10px;'>请输入姓名</span>"
				},
				proxyTelephone : {  
			       required : "<span style='color:red;margin-left:10px;'>请输入手机号</span>",
			       isMobile : "<span style='color:red;margin-left:10px;'>请输入正确的手机号</span>"
			  	},
			  	proxyAddr:{
					required:"<span style='color:red;margin-left:10px;'>请输入地址</span>"
				},
				cardNo:{
					required : "<span style='color:red;margin-left:10px;'>请输入身份证</span>",
					isIdCardNo:"<span style='color:red;margin-left:10px;'>请输入正确的身份证号</span>"
				},
				regionLevel:{
					required : "<span style='color:red;margin-left:10px;'>请选择代理级别</span>"
				},
				country:{
					required : "<span style='color:red;margin-left:10px;'>请选择代理地区</span>"
				}
			},
			errorPlacement: function (error, element) { //指定錯誤信息位置
	            if (element.is(':radio') || element.is(':checkbox')) { //如果是radio或checkbox
	                var eid = element.attr('name'); //獲取元素的name屬性
	                error.appendTo(element.parent()); //將錯誤信息添加當前元素的父結點後面
	            } else {
	                error.insertAfter(element);
	            }
	        }
		})
	}
	
</script>