<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}"/>
		<script th:src="@{/js/jquery-3.1.1.js}"></script>
		<script th:src="@{/js/echarts.min.js}"></script>
		<script th:src="@{/js/china.js}"></script>
	</head>
	<body>
		<!-- 头部 -->
	  <header>
		  <div class="header1">
			  <div class="headerLeft">
				  <img th:src="@{/images/left.png}" alt="">
			  </div>
			  <div class="headerCenter">
			  		<p>益联 · 智慧公益大数据平台</p>
			  </div>
			  <div class="headerRight">
				  <img th:src="@{/images/right.png}" alt="">
			  </div>
			  <div class="headerdeta">
				  <p>[[${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd HH:mm:ss')}]]</p>
			  </div>
		  </div>
	  </header>
	  <div class="zhuti">
		  <div class="zhutiLeft">
			  <div class="zhutiLeft1">
				  <img th:src="@{/images/landian_03.png}" alt="">
				  <p>成员概况</p>
			  </div>
			  <div class="zhutiLeft2">
			  	<p th:each="sex :${sexCount}" th:utext="${sex.name==0}?'男:<span style='+'color:#edfc00;'+'>'+${sex.c}+'</span><span style='+'color:#20edfc;'+'>('+${sex.ratioSex}+')</span>':'女:<span style='+'color:#edfc00;'+'>'+${sex.c}+'</span><span style='+'color:#20edfc;'+'>('+${sex.ratioSex}+')</span>'">
			  	<span style="color:#edfc00;" th:text="${sex.c}"></span>
			  	<span style="color:#20edfc;">(45%)</span>
			  	</p>
			  </div>
			  <div class="zhutiLeft3" id="zhutiLeft3" style="height:195px;">
			  	
			  </div>
			   <div class="zhutiLeft4">
				   <div>
					   <p>年龄区间</p>
					   <ul>
					   		<li th:each="age : ${ageCount}" th:utext="${age.name}+'<span class='+'span11'+'>'+${age.value}+'</span> <span class='+'span22'+'>'+${age.ratio}+'</span>'"></li>
					   </ul>
				   </div>
				   <div>
					  <p class="zhp">参与活动次数</p>
					  <ul>
						   <li th:each="ageAct : ${ageActCount}" th:utext="${ageAct.name}+'<span class='+'span11'+'>'+${ageAct.value}+'</span> <span class='+'span22'+'>'+${ageAct.ratio}+'</span>'"></li>
					  </ul>
					 
				   </div>
			  </div>
			  <div class="zhutiLeft5" id="zhutiLeft5" style="height:195px;">
			  	
			  </div>
			  <div class="zhutiLeft4">
				   <div>
					   <p>志愿者等级</p>
					   <ul>
						   <li th:each="level : ${leList}" th:utext="${level.name}+'<span class='+'span11'+'>'+${level.value}+'</span> <span class='+'span22'+'></span>'"></li>
						  <!--  <li>二星志愿者<span class="span11">暂未开放</span> <span class="span22">(100%)</span></li>
						   <li>三星志愿者<span class="span11">暂未开放</span> <span class="span22">(100%)</span></li>
						   <li>四星志愿者<span class="span11">暂未开放</span> <span class="span22">(100%)</span></li>
						   <li>五星志愿者<span class="span11">暂未开放</span> <span class="span22">(100%)</span></li> -->
					   </ul>
				   </div>
				   <div>
					  <p >签到次数</p>
					  <ul>
						   <li th:each="pointsCount : ${pointsCountList}" th:utext="${pointsCount.name}+'<span class='+'span11'+'>'+${pointsCount.value}+'人</span> <span class='+'span22'+'>'+${pointsCount.ratio}+'</span>'"></li>
					  </ul>
				   </div>
			  </div>
			   <div class="zhutiLeft6" id="zhutiLeft6" style="height:195px;">
			  	
			  </div>
		  </div>
		  <div class="zhutiCenter">
			  <div class="ZCl">
				  <img th:src="@{/images/leftmei_03.png}" alt="">
			  </div>
			  <div class="ZCr" style="text-align: right;">
				  <img th:src="@{/images/rightmei_03.png}" alt="">
			  </div>
			  <ul class="ssqq">
				  <li>
					  <p id="tuandui" th:text="${createTeamCount}"></p>
					  <span>团队入驻数</span>
				  </li>
				  <li>
					  <p id="shiming" th:text="${volCount}"></p>
					  <span>实名成员数</span>
				  </li>
				  <li>
					  <p id="huodong" th:text="${publicActCount}"></p>
					  <span>活动发布量</span>
				  </li>
				  <li>
					  <p id="zixun" th:text="${newsCounts}"></p>
					  <span>咨询发布量</span>
				  </li>
				  <li>
					  <p id="qiandao" th:text="${poinCount}"></p>
					  <span>今日签到</span>
				  </li>
			  </ul>
			  <div class="ditudaxia" id="ditudaxia">
				 <button id="back" style="display: none;">返回全国</button>
				 <div id="china-map"></div>
			  </div>
			  <div class="ditudaxiass">
				  <div class="zhutiLeft1">
					  <img th:src="@{/images/landian_03.png}" alt="">
					  <p>智慧公益渠道概况</p>
				  </div>
				  <ul class="mingcheng">
					  <li>名称</li>
					  <li>数量</li>
					  <li>完成数</li>
					  <li>完成比例</li>
				  </ul>
				  <ul class="mingcheng">
					  <li>省级</li>
					  <li style="color:#edfc00;" th:text="${cuxCount1.value}">34</li>
					  <li th:text="${proCount1.value}">2</li>
					  <li style="color:#029dad;" th:text="${ratio1}">15%</li>
				  </ul>
				   <ul class="mingcheng">
					  <li>市级</li>
					  <li style="color:#edfc00;" th:text="${cuxCount2.value}">343</li>
					  <li th:text="${proCount2.value}">2</li>
					  <li style="color:#029dad;" th:text="${ratio2}">15%</li>
				  </ul>
				   <ul class="mingcheng">
					  <li>县区级</li>
					  <li style="color:#edfc00;" th:text="${cuxCount3.value}">3424</li>
					  <li th:text="${proCount3.value}">2</li>
					  <li style="color:#029dad;" th:text="${ratio3}">15%</li>
				  </ul>
				   <ul class="mingcheng">
					  <li>街道乡镇</li>
					  <li style="color:#edfc00;" th:text="${cuxCount4.value}">342456</li>
					  <li th:text="${proCount4.value}">2</li>
					  <li style="color:#029dad;" th:text="${ratio4}">15%</li>
				  </ul>
			  </div>
		  </div>
		  <div class="zhutiRight">
		  	<div class="zhutiLeft1">
			  <img th:src="@{/images/landian_03.png}" alt="">
			  <p>组织概况</p>
	        </div>
		    <div class="zhutiRight1">
				<div id="mind" class="mind">	
				</div>
				<div class="zhutiRight1-1">
					<div>
						<p style="text-align: left;">上个月入驻量</p>
						<p style="color:#edfc00;text-align:center;line-height:30px;" th:text="${creTeam.value}"></p>
					</div>
					<div>
						<p style="text-align: left;">本月入驻量</p>
						<p style="color:#edfc00;text-align:center;line-height:30px;" th:text="${creTeam1.value}"></p>
					</div>
					<div>
						<p style="text-align: left;">增长率</p>
						<p style="color:#ff0000;line-height:30px;" th:text="${creRatio}"></p>
					</div>
				</div>
			</div>
			<div class="zhutiLeft1" style="border-top:1px solid #20effe;">
			  <img th:src="@{/images/landian_03.png}" alt="">
			  <p>排行榜</p>
			</div>
			<div class="zhutiRight2">
				<div>
					<span>实名志愿者数</span>
					<div class="paiming">
						<span>排名</span>
						<span>团队名称</span>
						<span>数量</span>
					</div>
					<ul th:each="teamVo,i : ${teamVo}">
						<li th:text="${i.count}"></li>
						<li th:text="${teamVo.name}"></li>
						<li th:text="${teamVo.value}"></li>
					</ul>
					
				</div>
				<div>
					<span>活动发布量</span>
					<div class="paiming">
						<span>排名</span>
						<span>团队名称</span>
						<span>数量</span>
					</div>
					<ul th:each="teamNews,i : ${teamNews}">
						<li th:text="${i.count}">1</li>
						<li th:text="${teamNews.name}"></li>
						<li th:text="${teamNews.value}"></li>
					</ul>
					
				</div>
			</div>
		  </div>
		  <div class="zhutiFooter">
		  		<div class="zhutiFooter1">
					<div class="huodong">
						<span>活动发布</span>
					</div>
					<div class="huodon1" id="mind1">
					
					</div>
					<div class="zhutiRight1-1 huodong2">
						<div>
							<p style="text-align: left;">上个月发布量</p>
							<p style="color:#edfc00;text-align:center;line-height:30px;" th:text="${creAct.value}"></p>
						</div>
						<div>
							<p style="text-align: left;">本月发布量</p>
							<p style="color:#edfc00;text-align:center;line-height:30px;" th:text="${creAct1.value}"></p>
						</div>
						<div>
							<p style="text-align: left;">增长率</p>
							<p style="color:#ff0000;line-height:30px;"th:text="${actRatio}"></p>
						</div>
					</div>
				</div>
		  		<div class="zhutiFooter2">
					<div class="huodong">
						<span>资讯发布</span>
						<div class="huo1"><span></span>	转发量</div>
						<div class="huo2"><span></span> 评论量</div>
						<div class="huo3"><span></span> 发布量</div>
					</div>
					<div class="huodon1" id="mind2">
					
					</div>
					<div class="zhutiRight1-1 huodong2">
						<div>
							<p style="text-align: left;">上个月发布量</p>
							<p style="color:#edfc00;text-align:center;line-height:30px;" th:text="${newsCount.value}"></p>
						</div>
						<div>
							<p style="text-align: left;">本月发布量</p>
							<p style="color:#edfc00;text-align:center;line-height:30px;" th:text="${newsCount1.value}"></p>
						</div>
						<div>
							<p style="text-align: left;">增长率</p>
							<p style="color:#ff0000;line-height:30px;" th:text="${newsRatio}"></p>
						</div>
					</div>
				</div>
		  		<div class="zhutiFooter3">
					<div class="huodong">
						<span>实时动态信息</span>
					</div>
					<ul>
					<li><span>提示:</span>暂未开放；</li>
						<!-- <li><span>赵曼</span>[2019.8.13-15:23:20]通过审核成为了志愿者；</li>
						<li><span>赵曼</span>[2019.8.13-15:23:20]通过审核成为了志愿者；</li>
						<li><span>赵曼</span>[2019.8.13-15:23:20]通过审核成为了志愿者；</li>
						<li><span>赵曼</span>[2019.8.13-15:23:20]通过审核成为了志愿者；</li>
						<li><span>赵曼</span>[2019.8.13-15:23:20]通过审核成为了志愿者；</li>
						<li><span>赵曼</span>[2019.8.13-15:23:20]通过审核成为了志愿者；</li>
						<li><span>赵曼</span>[2019.8.13-15:23:20]通过审核成为了志愿者；</li>
						<li><span>赵曼</span>[2019.8.13-15:23:20]通过审核成为了志愿者；</li> -->
					</ul>
				</div>	  
		  </div> 
	  </div>
	</body>
</html>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
$().ready(function(){
	lod();
	var myVar = setInterval(lod, 1000*10);
	var myVar1 = setInterval(re, 1000*60*60);
})
function re(){
	history.go(0);
        }
function lod(){
	 $.ajax({
			type : 'POST',
			data : {},
			async: true,
			url : '/pc/screen/PoliticsSurvey',
			success : function(res) {
				// 指定图表的配置项和数据
		        var  option = {
					title : {
						subtext: '政治面貌',
						x:'center',
						y:'80',
					},
					textStyle:{
							
					},
					tooltip : {
						trigger: 'item',
						formatter: "{a} <br/>{b} : {c} ({d}%)"
					},
					series : [
						{
							name: '访问来源',
							type: 'pie',
		                    radius:  ['50%', '70%'],
							data: res,
							label: {
				                normal: {
				                    formatter: '{b} : {c} ({d}%)',
				                }
				            },
							itemStyle: {
								emphasis: {
									shadowBlur: 10,
									shadowOffsetX: 0,
									shadowColor: 'rgba(0, 0, 0, 0.5)'
									
								}
							}
						},
					]
				};
		        var myChart = echarts.init(document.getElementById('zhutiLeft3'));
		        myChart.setOption(option);
			}
	 });
	
	 $.ajax({
			type : 'POST',
			data : {},
			async: true,
			url : '/pc/screen/EducationSurvey',
			success : function(res) {
				var  option1 = {
						title : {
							subtext: '学历状态',
							x:'center',
							y:'80',
						},
						textStyle:{
								
						},
						tooltip : {
							trigger: 'item',
							formatter: "{a} <br/>{b} : {c} ({d}%)"
						},
						series : [
							{
								name: '访问来源',
								type: 'pie',
					            radius:  ['50%', '70%'],
					            label: {
					                normal: {
					                    formatter: '{b} : {c} ({d}%)',
					                }
					            },
								data:res,
								itemStyle: {
									emphasis: {
										shadowBlur: 10,
										shadowOffsetX: 0,
										shadowColor: 'rgba(0, 0, 0, 0.5)'
									}
								}
							}
						]
					};
					var myChart1 = echarts.init(document.getElementById('zhutiLeft5'));
					myChart1.setOption(option1);
				
			}
	 });
	
	
	 $.ajax({
			type : 'POST',
			data : {},
			async: true,
			url : '/pc/screen/PostSurvey',
			success : function(res) {
				var  option2 = {
						title : {
							subtext: '从业状态',
							x:'center',
							y:'80',
						},
						textStyle:{
								
						},
						tooltip : {
							trigger: 'item',
							formatter: "{a} <br/>{b} : {c} ({d}%)"
						},
						series : [
							{
								name: '访问来源',
								type: 'pie',
					            radius:  ['50%', '70%'],
					            label: {
					                normal: {
					                    formatter: '{b} : {c} ({d}%)',
					                }
					            },
								data:res,
								itemStyle: {
									emphasis: {
										shadowBlur: 10,
										shadowOffsetX: 0,
										shadowColor: 'rgba(0, 0, 0, 0.5)'
									}
								}
							}
						]
					};
					var myChart2 = echarts.init(document.getElementById('zhutiLeft6'));
					myChart2.setOption(option2);
			}
	 });
	
	
	
	 $.ajax({
			type : 'POST',
			data : {},
			async: true,
			url : '/pc/screen/OrgSurvey',
			success : function(res) {
				var  option4 = {
						textStyle:{
								
						},
						tooltip : {
							trigger: 'item',
							formatter: "{a} <br/>{b} : {c} ({d}%)"
						},
						series : [
							{
								name: '访问来源',
								type: 'pie',
					            radius : '55%',
			                    center: ['50%', '60%'],
			                    label: {
					                normal: {
					                    formatter: '{b} : {c} ({d}%)',
					                }
					            },
								data:res,
								itemStyle: {
									emphasis: {
										shadowBlur: 10,
										shadowOffsetX: 0,
										shadowColor: 'rgba(0, 0, 0, 0.5)'
									}
								}
							}
						]
					};
					var mind = echarts.init(document.getElementById('mind'));
					mind.setOption(option4);
			}
		});
	
	 $.ajax({
			type : 'POST',
			data : {},
			async: true,
			url : '/pc/screen/ActTypeScreen',
			success : function(res) {
				var  option5 = {
						textStyle:{
								
						},
						tooltip : {
							trigger: 'item',
							formatter: "{a} <br/>{b} : {c} ({d}%)"
						},
						series : [
							{
								name: '访问来源',
								type: 'pie',
					            radius : '55%',
					            center: ['50%', '60%'],
					            label: {
					                normal: {
					                    formatter: '{b} : {c} ({d}%)',
					                }
					            },
								data: res,
								itemStyle: {
									emphasis: {
										shadowBlur: 10,
										shadowOffsetX: 0,
										shadowColor: 'rgba(0, 0, 0, 0.5)'
									}
								}
							}
						]
					};
					var mind1 = echarts.init(document.getElementById('mind1'));
					mind1.setOption(option5);
			}
			});
	
	
	 $.ajax({
			type : 'POST',
			data : {},
			async: true,
			url : '/pc/screen/NewsMon',
			success : function(res) {
				var option6 = {
						xAxis: {
							type: 'category',
							data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月','8月','9月','10月','11月','12月']
						},
						textStyle:{
							color:"#fff",
						    fontSize:12
						},
						  legend: {
						    data:['邮件营销','联盟广告']
						},
						grid: {
							left: '1%',
							right: '4%',
							bottom: '1%',
							top:"6%",
							containLabel: true
						},
						yAxis: {
							type: 'value'
						},
						series: [{
							name :'评论',
							color: '#42a0ae',
							data: res.list,
							type: 'line'
						},{
							name:'发布',
							color: '#e7696c',
							data: res.newList1,
							type: 'line'
						},{
							name:'转发',
							color: '#999e41',
							data: res.list2,
							type: 'line'
						},]
			};
					var mind2 = echarts.init(document.getElementById('mind2'));
					mind2.setOption(option6);
			}
	 });
        }
		
				
				
</script>
<script>
    var myChart = echarts.init(document.getElementById('china-map'));
    var oBack = document.getElementById("back");
    var provinces = ['shanghai', 'hebei', 'shanxi', 'neimenggu', 'liaoning', 'jilin', 'heilongjiang', 'jiangsu', 'zhejiang', 'anhui', 'fujian', 'jiangxi', 'shandong', 'henan', 'hubei', 'hunan', 'guangdong', 'guangxi', 'hainan', 'sichuan', 'guizhou', 'yunnan', 'xizang', 'shanxi1', 'gansu', 'qinghai', 'ningxia', 'xinjiang', 'beijing', 'tianjin', 'chongqing', 'xianggang', 'aomen'];
    var provincesText = ['上海', '河北', '山西', '内蒙古', '辽宁', '吉林', '黑龙江', '江苏', '浙江', '安徽', '福建', '江西', '山东', '河南', '湖北', '湖南', '广东', '广西', '海南', '四川', '贵州', '云南', '西藏', '陕西', '甘肃', '青海', '宁夏', '新疆', '北京', '天津', '重庆', '香港', '澳门'];
    var seriesData = [{
      name: '北京',
      value: 110000
    }, {
      name: '天津',
      value: 120000
    }, {
      name: '上海',
      value: 310000
    }, {
      name: '重庆',
      value: 500000
    }, {
      name: '河北',
      value: 130000
    }, {
      name: '河南',
      value: 410000
    }, {
      name: '云南',
      value: 530000
    }, {
      name: '辽宁',
      value: 210000
    }, {
      name: '黑龙江',
      value: 230000
    }, {
      name: '湖南',
      value: 430000
    }, {
      name: '安徽',
      value: 340000
    }, {
      name: '山东',
      value: 370000
    }, {
      name: '新疆',
      value: 650000
    }, {
      name: '江苏',
      value: 320000
    }, {
      name: '浙江',
      value: 330000
    }, {
      name: '江西',
      value: 360000
    }, {
      name: '湖北',
      value: 420000
    }, {
      name: '广西',
      value: 450000
    }, {
      name: '甘肃',
      value: 620000
    }, {
      name: '山西',
      value: 140000
    }, {
      name: '内蒙古',
      value: 150000
    }, {
      name: '陕西',
      value: 610000
    }, {
      name: '吉林',
      value: 220000
    }, {
      name: '福建',
      value: 350000
    }, {
      name: '贵州',
      value: 520000
    }, {
      name: '广东',
      value: 440000
    }, {
      name: '青海',
      value: 630000
    }, {
      name: '西藏',
      value: 540000
    }, {
      name: '四川',
      value: 510000
    }, {
      name: '宁夏',
      value: 640000
    }, {
      name: '海南',
      value: 460000
    }, {
      name: '台湾',
      value: 710000
    }, {
      name: '香港',
      value: 810000
    }, {
      name: '澳门',
      value: 820000
    }];

    oBack.onclick = function () {
      initEcharts("china", "中国");
    };

    initEcharts("china", "");

    // 初始化echarts
    function initEcharts(pName, Chinese_) {
      var tmpSeriesData = pName === "china" ? seriesData : [];
      console.log(tmpSeriesData);
   // var tmpSeriesData = pName === "    " ;
    //console.log(tmpSeriesData);
      var option8 = {
        title: {
          text: '',
          left: 'center'
        },
          tooltip: {
              trigger: 'item',
              formatter :function(obj){
            	  $.ajax({
      				type : 'POST',
      				data : {"id":obj.value},
      				async: true,
      				url : '/pc/screen/MapSurvey',
      				success : function(res) {
      					$('#tuandui').text(res.createTeamCount);
      					$('#shiming').text(res.volCount);
      					$('#huodong').text(res.publicActCount);
      					$('#zixun').text(res.newsCount);
      					$('#qiandao').text(res.poinCount);
      				}
            	  });
              }
          },
        series: [
          {
            name: Chinese_ || pName,
            type: 'map',
            mapType: pName,
            roam: false,//是否开启鼠标缩放和平移漫游
            data: tmpSeriesData,
            top: "5%",//组件距离容器的距离
			left:"3%",
			right:"2%",
              zoom:1,
              selectedMode : 'single',

              label: {
                  normal: {
                      show: false,//显示省份标签
                      textStyle:{color:"#fbfdfe"}//省份标签字体颜色
                  },
                  emphasis: {//对应的鼠标悬浮效果
                      show: true,
                      textStyle:{color:"#fff"}
                  }
              },
              itemStyle: {
                  normal: {
                      borderWidth: .5,//区域边框宽度
                      borderColor: '#fff',//区域边框颜色
                      areaColor:"#11408e",//区域颜色

                  },

                  emphasis: {
                      borderWidth: .5,
                      borderColor: '#4b0082',
                      areaColor:"#ece39e",
                  }
              },
          }
        ]

           };

      myChart.setOption(option8);
    }

    
  </script>
