<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}"/>
		<script th:src="@{/js/jquery-3.1.1.js}"></script>
		<script th:src="@{/js/echarts.min.js}"></script>
		<script th:src="@{/js/china.js}"></script>
	</head>
	<body>
		<!-- 头部 -->
	  <header>
		  <div class="header1">
			  <div class="headerLeft">
				  <img th:src="@{/images/left.png}" alt="">
			  </div>
			  <div class="headerCenter">
			  		<p>益联 · 智慧公益大数据平台</p>
			  </div>
			  <div class="headerRight">
				  <img th:src="@{/images/right.png}" alt="">
			  </div>
			  <div class="headerdeta">
				  <p id="time"></p>
			  </div>
		  </div>
	  </header>
	  <div class="zhuti">
		  <div class="zhutiLeft">
			  <div class="zhutiLeft1">
				  <img th:src="@{/images/landian_03.png}" alt="">
				  <p>成员概况</p>
			  </div>
			  <div class="zhutiLeft2">
			  <p th:each="sex :${sexCount}" th:utext="${sex.name==0}?'男:<span style='+'color:#edfc00;'+'>'+${sex.c}+'</span><span style='+'color:#20edfc;'+'>('+${sex.ratioSex}+')</span>':'女:<span style='+'color:#edfc00;'+'>'+${sex.c}+'</span><span style='+'color:#20edfc;'+'>('+${sex.ratioSex}+')</span>'"></p>
			  </div>
			  <div class="zhutiLeft3" id="zhutiLeft3" style="height:195px;">
			  	
			  </div>
			   <div class="zhutiLeft4">
				   <div>
					   <p>年龄区间</p>
					   <ul>
					   <li th:each="age : ${ageCount}" th:utext="${age.name}+'<span class='+'span11'+'>'+${age.value}+'</span> <span class='+'span22'+'>'+${age.ratio}+'</span>'"></li>
					   </ul>
				   </div>
				   <div>
					  <p class="zhp">参与活动次数</p>
					  <ul>
						   <li th:each="ageAct : ${ageActCount}" th:utext="${ageAct.name}+'<span class='+'span11'+'>'+${ageAct.value}+'</span> <span class='+'span22'+'>'+${ageAct.ratio}+'</span>'"></li>
					  </ul>
					 
				   </div>
			  </div>
			  <div class="zhutiLeft5" id="zhutiLeft5" style="height:195px;">
			  	
			  </div>
			  <div class="zhutiLeft4">
				   <div>
					   <p>志愿者等级</p>
					   <ul>
					   <li th:each="level : ${leList}" th:utext="${level.name}+'<span class='+'span11'+'>'+${level.value}+'</span> <span class='+'span22'+'>'+${level.ratio}+'</span>'"></li>
						  <!--  <li>一星志愿者 <span class="span11">暂未开放</span> <span class="span22">(100%)</span></li>
						   <li>二星志愿者<span class="span11">暂未开放</span> <span class="span22">(100%)</span></li>
						   <li>三星志愿者<span class="span11">暂未开放</span> <span class="span22">(100%)</span></li>
						   <li>四星志愿者<span class="span11">暂未开放</span> <span class="span22">(100%)</span></li>
						   <li>五星志愿者<span class="span11">暂未开放</span> <span class="span22">(100%)</span></li> -->
					   </ul>
				   </div>
				   <div>
					  <p >签到次数</p>
					  <ul>
					   <li th:each="pointsCount : ${pointsCountList}" th:utext="${pointsCount.name}+'<span class='+'span11'+'>'+${pointsCount.value}+'人</span> <span class='+'span22'+'>'+${pointsCount.ratio}+'</span>'"></li>
					  </ul>
				   </div>
			  </div>
			   <div class="zhutiLeft6" id="zhutiLeft6" style="height:195px;">
			  	
			  </div>
		  </div>
		  <div class="zhutiCenter">
			  <div class="ZCl">
				  <img th:src="@{/images/leftmei_03.png}" alt="">
			  </div>
			  <div class="ZCr" style="text-align: right;">
				  <img th:src="@{/images/rightmei_03.png}" alt="">
			  </div>
			  <div class="aqz1">
				  <span th:text="${name}"></span>
			  </div>
			  <div class="aqz">
				 <ul class="ssqq ssqq11" style="margin-top:100px;">
					  <li>
						  <p th:text="${volCount}"></p>
						  <span>实名志愿者</span>
					  </li>
					  <li>
						  <p th:text="${poinCount}"></p>
						  <span>今日签到</span>
					  </li>
				 </ul> 
				 <ul class="ssqq ssqq22" style="margin-top:100px;">
					  <li>
						  <p th:text="${publicActCount}"></p>
						  <span>活动发布量</span>
					  </li>
					  <li>
						  <p th:text="${newsCounts}"></p>
						  <span>咨询发布量</span>
					  </li>
				 </ul> 
			  </div>
		  </div>
		  <div class="zhutiRight">
		  	<div class="zhutiLeft1">
			  <img th:src="@{/images/landian_03.png}" alt="">
			  <p>组织概况</p>
	        </div>
		    <div class="zhutiRight1">
				<div id="mind" class="mind">	
				</div>
				<div class="zhutiRight1-1">
					<div>
						<p style="text-align: left;">上个月入驻量</p>
						<p style="color:#edfc00;text-align:center;line-height:30px;"  th:text="${creTeam.value}"></p>
					</div>
					<div>
						<p style="text-align: left;">本月入驻量</p>
						<p style="color:#edfc00;text-align:center;line-height:30px;" th:text="${creTeam1.value}"></p>
					</div>
					<div>
						<p style="text-align: left;">增长率</p>
						<p style="color:#ff0000;line-height:30px;" th:text="${creRatio}"></p>
					</div>
				</div>
			</div>
			<div class="zhutiLeft1" style="border-top:1px solid #20effe;">
			  <img th:src="@{/images/landian_03.png}" alt="">
			  <p>排行榜</p>
			</div>
			<div class="zhutiRight2">
				<div>
					<span>实名志愿者数</span>
					<div class="paiming">
						<span>排名</span>
						<span>团队名称</span>
						<span>数量</span>
					</div>
					<ul th:each="teamVo,i : ${teamVo}">
						<li th:text="${i.count}"></li>
						<li th:text="${teamVo.name}"></li>
						<li th:text="${teamVo.value}"></li>
					</ul>
				</div>
				<div>
					<span>活动发布量</span>
					<div class="paiming">
						<span>排名</span>
						<span>团队名称</span>
						<span>数量</span>
					</div>
					<ul th:each="teamNews,i : ${teamNews}">
						<li th:text="${i.count}">1</li>
						<li th:text="${teamNews.name}"></li>
						<li th:text="${teamNews.value}"></li>
					</ul>
				</div>
			</div>
		  </div>
		  <div class="zhutiFooter">
		  		<div class="zhutiFooter1">
					<div class="huodong">
						<span>活动发布</span>
					</div>
					<div class="huodon1" id="mind1">
					
					</div>
					<div class="zhutiRight1-1 huodong2">
						<div>
							<p style="text-align: left;">上个月发布量</p>
							<p style="color:#edfc00;text-align:center;line-height:30px;" th:text="${creAct.value}"></p>
						</div>
						<div>
							<p style="text-align: left;">本月发布量</p>
							<p style="color:#edfc00;text-align:center;line-height:30px;" th:text="${creAct1.value}"></p>
						</div>
						<div>
							<p style="text-align: left;">增长率</p>
							<p style="color:#ff0000;line-height:30px;" th:text="${actRatio}"></p>
						</div>
					</div>
				</div>
		  		<div class="zhutiFooter2">
					<div class="huodong">
						<span>资讯发布</span>
						<div class="huo1"><span></span>	转发量</div>
						<div class="huo2"><span></span> 评论量</div>
						<div class="huo3"><span></span> 发布量</div>
					</div>
					<div class="huodon1" id="mind2">
					
					</div>
					<div class="zhutiRight1-1 huodong2">
						<div>
							<p style="text-align: left;">上个月发布量</p>
							<p style="color:#edfc00;text-align:center;line-height:30px;" th:text="${newsCount.value}"></p>
						</div>
						<div>
							<p style="text-align: left;">本月发布量</p>
							<p style="color:#edfc00;text-align:center;line-height:30px;" th:text="${newsCount1.value}"></p>
						</div>
						<div>
							<p style="text-align: left;">增长率</p>
							<p style="color:#ff0000;line-height:30px;" th:text="${newsRatio}"></p>
						</div>
					</div>
				</div>
		  		<div class="zhutiFooter3">
					<div class="huodong">
						<span>实时动态信息</span>
					</div>
					<ul>
						<li><span>提示:</span>暂未开放；</li>
					</ul>
				</div>	  
		  </div> 
	  </div>
	</body>
</html>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
$().ready(function(){
	lod();
	var myVar = setInterval(lod, 1000*10);
	var myVar1 = setInterval(re, 1000*60*60);
})
function re(){
	history.go(0);
        }
function lod(){        
		 $.ajax({
				type : 'POST',
				data : {},
				async: true,
				url : '/pc/screen/ProPoliticsSurvey',
				success : function(res) {
					 // 指定图表的配置项和数据
			        var  option = {
						title : {
							subtext: '政治面貌',
							x:'center',
							y:'80',
						},
						textStyle:{
								
						},
						tooltip : {
							trigger: 'item',
							formatter: "{a} <br/>{b} : {c} ({d}%)"
						},
						series : [
							{
								name: '访问来源',
								type: 'pie',
			                    radius:  ['50%', '70%'],
								data:res,
								label: {
					                normal: {
					                    formatter: '{b} : {c} ({d}%)',
					                }
					            },
								itemStyle: {
									emphasis: {
										shadowBlur: 10,
										shadowOffsetX: 0,
										shadowColor: 'rgba(0, 0, 0, 0.5)'
									}
								}
							}
						]
					};
			        var myChart = echarts.init(document.getElementById('zhutiLeft3'));
			        myChart.setOption(option);
				}
		 });
		
		 $.ajax({
				type : 'POST',
				data : {},
				async: true,
				url : '/pc/screen/ProEducationSurvey',
				success : function(res) {
					var  option1 = {
							title : {
								subtext: '学历状态',
								x:'center',
								y:'80',
							},
							textStyle:{
									
							},
							tooltip : {
								trigger: 'item',
								formatter: "{a} <br/>{b} : {c} ({d}%)"
							},
							series : [
								{
									name: '访问来源',
									type: 'pie',
						            radius:  ['50%', '70%'],
									data:res,
									label: {
						                normal: {
						                    formatter: '{b} : {c} ({d}%)',
						                }
						            },
									itemStyle: {
										emphasis: {
											shadowBlur: 10,
											shadowOffsetX: 0,
											shadowColor: 'rgba(0, 0, 0, 0.5)'
										}
									}
								}
							]
						};
						var myChart1 = echarts.init(document.getElementById('zhutiLeft5'));
						myChart1.setOption(option1);
				}
		 });
		
		 
		 $.ajax({
				type : 'POST',
				data : {},
				async: true,
				url : '/pc/screen/ProPostSurvey',
				success : function(res) {
					var  option2 = {
							title : {
								subtext: '从业状态',
								x:'center',
								y:'80',
							},
							textStyle:{
									
							},
							tooltip : {
								trigger: 'item',
								formatter: "{a} <br/>{b} : {c} ({d}%)"
							},
							series : [
								{
									name: '访问来源',
									type: 'pie',
						            radius:  ['50%', '70%'],
									data:res,
									label: {
						                normal: {
						                    formatter: '{b} : {c} ({d}%)',
						                }
						            },
									itemStyle: {
										emphasis: {
											shadowBlur: 10,
											shadowOffsetX: 0,
											shadowColor: 'rgba(0, 0, 0, 0.5)'
										}
									}
								}
							]
						};
					var myChart2 = echarts.init(document.getElementById('zhutiLeft6'));
						myChart2.setOption(option2);
				}
		 });
		
		
		
		 $.ajax({
				type : 'POST',
				data : {},
				async: true,
				url : '/pc/screen/ProOrgSurvey',
				success : function(res) {
					var  option4 = {
							textStyle:{
									
							},
							tooltip : {
								trigger: 'item',
								formatter: "{a} <br/>{b} : {c} ({d}%)"
							},
							series : [
								{
									name: '访问来源',
									type: 'pie',
						            radius : '55%',
				                    center: ['50%', '60%'],
									data:res,
									label: {
						                normal: {
						                    formatter: '{b} : {c} ({d}%)',
						                }
						            },
									itemStyle: {
										emphasis: {
											shadowBlur: 10,
											shadowOffsetX: 0,
											shadowColor: 'rgba(0, 0, 0, 0.5)'
										}
									}
								}
							]
						};
					var mind = echarts.init(document.getElementById('mind'));
						mind.setOption(option4);
				}
		 });
		
		
		 $.ajax({
				type : 'POST',
				data : {},
				async: true,
				url : '/pc/screen/ProActTypeScreen',
				success : function(res) {
					var  option5 = {
							textStyle:{
									
							},
							tooltip : {
								trigger: 'item',
								formatter: "{a} <br/>{b} : {c} ({d}%)"
							},
							series : [
								{
									name: '访问来源',
									type: 'pie',
						            radius : '55%',
						            center: ['50%', '60%'],
									data:res,
									label: {
						                normal: {
						                    formatter: '{b} : {c} ({d}%)',
						                }
						            },
									itemStyle: {
										emphasis: {
											shadowBlur: 10,
											shadowOffsetX: 0,
											shadowColor: 'rgba(0, 0, 0, 0.5)'
										}
									}
								}
							]
						};
					var mind1 = echarts.init(document.getElementById('mind1'));
						mind1.setOption(option5);
				}
		 });
		
		
		 $.ajax({
				type : 'POST',
				data : {},
				async: true,
				url : '/pc/screen/ProNewsMon',
				success : function(res) {
					var option6 = {
							xAxis: {
								type: 'category',
								data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月',"8月","9月","10月","11月","12月"]
							},
							textStyle:{
								color:"#fff",
							    fontSize:12
							},
							  legend: {
							    data:['邮件营销','联盟广告']
							},
							grid: {
								left: '1%',
								right: '4%',
								bottom: '1%',
								top:"6%",
								containLabel: true
							},
							yAxis: {
								type: 'value'
							},
							series: [{
								name :'评论',
								color: '#42a0ae',
								data: res.list,
								type: 'line'
							},{
								name:'发布',
								color: '#e7696c',
								data: res.newList1,
								type: 'line'
							},{
								name:'转发',
								color: '#999e41',
								data: res.list2,
								type: 'line'
							},]
				};
						 var mind2 = echarts.init(document.getElementById('mind2'));
						mind2.setOption(option6);
				}
		 });
}
function setTime(){
    var dt=new Date();
    var arr_week=new Array("星期日","星期一","星期二","星期三","星期四","星期五","星期六");
    var strWeek=arr_week[dt.getDay()];
    var strHour=dt.getHours();
    var strMinutes=dt.getMinutes();
    var strSeconds=dt.getSeconds();
    if (strMinutes<10) strMinutes="0"+strMinutes;
    if (strSeconds<10) strSeconds="0"+strSeconds;
    var strYear=dt.getFullYear()+"年";
    var strMonth=(dt.getMonth()+1)+"月";
    var strDay=dt.getDate()+"日";
    <!--var strTime=strHour+":"+strMinutes+":"+strSeconds;-->
    strTime=strHour+":"+strMinutes+":"+strSeconds;
    time.innerHTML=strYear+strMonth+strDay+" "+strTime+"  "+strWeek;
   }
setInterval("setTime()",1000);
</script>
