<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" th:type="@{/pc/text/css}"
	th:href="@{/pc/css/personal.css}" />
<link rel="stylesheet" th:href="@{/pc/css/index.css}">
<link rel="stylesheet" th:href="@{/pc/css/cwmx.css}">
<link rel="stylesheet" th:href="@{/pc/css/guzhunaws.css}">
<link rel="stylesheet" th:href="@{/pc/css/jibenziliao.css}">
<link rel="stylesheet" th:href="@{/jqueryFileUpload/style.css}">
					<script th:src="@{/jqueryFileUpload/jquery.ui.widget.js}"></script>
					<script th:src="@{/jqueryFileUpload/jquery.iframe-transport.js}"></script>
					<script th:src="@{/jqueryFileUpload/jquery.fileupload.js}"></script>
<script th:src="@{/pc/js/jquery-3.1.1.js}"></script>
<style>
.yy-gz {
	display: none;
}
</style>

<head th:replace="pc/include :: head"></head></head>

<body>
	<!-- 头部 -->
	<!-- 右侧主内容 -->
	<div class="boxRight"
		style="background: #fff; width: 1006px; height: 925px; margin-top: 0;">
		<div class="cwmx">
			<h4>我要建团</h4>
		</div>
		<form action="" method="" class="biaodanyy biaodanyy1" id="signupForm">
			<label> <span>团队名称</span> <input type="text" th:value="${team.teamName}" disabled="disabled">
			</label> <label> <span>团队负责人</span> <input type="text" th:value="${team.colonelName}" disabled="disabled">
			</label> <label> <span>负责人电话</span> <input type="text" th:value="${team.colonelTel}" disabled="disabled">
			</label> <label> <span>联系地址</span>   <input  type="text" th:value="${team.addres}" disabled="disabled">
			</label> <label id="logo"> <span>团队logo</span> 
			<img th:src="${team.teamTitleImg}" alt="" class="tdlogo" style="height: 65px; width: 65px"> 
			</label> 
			<label> <span id="demo2">团队照片</span>
				<img th:each ="img : ${imgList}" th:src="${img}" class="tdlogo1"
						style="height: 65px; width: 65px" >
			</label>

			<label> <span>团队简介</span> <textarea th:text="${team.teamIntroduce}" id="" cols="30"
					rows="10" disabled="disabled">
						 </textarea>
			</label> <label> <span>项目服务</span> <input  type="text" th:value="${team.teamType}" disabled="disabled">
			</label>
	</form>
	</div>
	<!-- 备案 -->
	<div class="beian">
		<div class="beian1">
			<span style="float: left;">©公益打赏平台 版权所有</span> <span
				style="float: right;">京ICP备12048184号 技术支持：景安网络</span>
		</div>
	</div>
</body>
</html>
