<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" th:type="@{/pc/text/css}"
	th:href="@{/pc/css/personal.css}" />
<link rel="stylesheet" th:href="@{/pc/css/jquery.my-modal.1.1.css}">
<link th:href="@{/css/layui.css}" rel="stylesheet">
					<script th:src="@{/pc/js/jquery.my-modal.1.1.js}"></script>
<script th:src="@{/pc/js/jquery-3.1.1.js}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
		<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
		<script th:src="@{/js/validate.js}"></script>
		<script type="text/javascript" th:src="@{/mobile/js/jquery.my-modal.1.2.js}"></script>
<link rel="stylesheet" th:href="@{/mobile/css/jquery.my-modal.1.2.css}">
<style>
.yy-gz {
	display: none;
}
</style>

<head th:replace="pc/include :: head"></head></head>

<body>
	<!-- 头部 -->
	<!-- 右侧主内容 -->
	<div class="boxRight"
		style="background: #fff; width: 1006px; height: 925px; margin-top: 0;">
		<div class="cwmx">
			<h4>我的团队</h4>
			<div th:if="${authSta}!=null">
			<a id="renzheng" href="javaScript:;" th:if="${authSta}==3" class="anniiu btn1">认证</a>
			<a id="renzheng" href="javaScript:;" th:if="${authSta}==1" class="anniiu">已提交</a>
			<a id="renzheng" href="javaScript:;" th:if="${team.isAuth}==2" class="anniiu">已认证</a>
			<a id="renzheng" href="javaScript:;" th:if="${team.isAuth}==1" class="anniiu btn1">认证</a></div>
			<p th:if="${team.isAuth}==2" th:text="${'认证到期: '+  #dates.format(team.authEntTime, 'yyyy-MM-dd HH:mm:ss')}" style="color: red;margin-left: 750px;"></p>
			<div th:if="${authSta}==null">
			<a id="renzheng" href="javaScript:;"  class="anniiu btn1">认证</a></div>
		</div>
		<form action="" method="" class="biaodanyy biaodanyy1" >
			<label> <span>团队名称</span> <input type="text" th:value="${team.teamName}" disabled="disabled">
			</label> <label> <span>团队负责人</span> <input type="text" th:value="${team.colonelName}" disabled="disabled">
			</label> <label> <span>负责人电话</span> <input type="text" th:value="${team.colonelTel}" disabled="disabled">
			</label> <label> <span>联系地址</span>   <input  type="text" th:value="${team.addres}" disabled="disabled">
			</label> <label id="logo"> <span>团队logo</span> 
			<img th:src="${team.teamTitleImg}" alt="" class="tdlogo" style="height: 65px; width: 65px"> 
			</label> 
			<label> <span id="demo2">团队照片</span>
				<img th:each ="img : ${imgList}" th:src="${img}" class="tdlogo1"
						style="height: 65px; width: 65px" >
			</label>

			<label> <span>团队简介</span> <textarea th:text="${team.teamIntroduce}" id="" cols="30"
					rows="10" disabled="disabled">
						 </textarea>
			</label> <label> <span>项目服务</span> <input  type="text" th:value="${team.typeName}" disabled="disabled">
			</label>
	</form>
	</div>
	<div class="m-modal" >
		<div class="m-modal-dialog" style="width:60%;">
			<div class="m-top">
				<span class="m-modal-close">X</span>
			</div>
			<div class="m-middle" >
			    <form  id="signupForm">
			    	<input type="hidden" name="teamId" th:value="${team.id}">
			    	<input type="hidden" id="price" th:value="${price}">
			    	<input type="hidden" name="order" id="order">
			    	<label>
						<span>联系人电话</span>
						<input type="text"  id="tel" name="tel" class="input1">
					</label>
					<label>
						<span>负责人姓名</span>
						<input type="text"   id="name"  name="name"  class="input1">
					</label>
					<label>
						<span>主管单位&nbsp;&nbsp;&nbsp;</span>
						<input type="text"  name="parentDept" class="input1">
					</label>
					<label>
						<span>上传公函</span>
						<img th:src="@{/pc/images/gahgha_03.png}" id="img" alt="" style="width: 70%">
						<input type="hidden" id="imgStr" name="official">
						<input type="file" name="file" style="display: none;" id ="file">
					</label>
					<label>
						<span>公函连接</span>
						<a href="javascript:;">公函模板下载链接</a>
					</label>
					<label>
						<span>价格</span>
						<span style="color:#ff0101;font-size:28px;" id="jiage" name="price" th:text="${price+'元'}"></span>
					</label>
					<label>
						<input type="button" id="save" value="立即认证" class="input3" style="margin-left:85px">
					</label>
			    </form>
			</div>
		</div>
		
		<div class="m-modal-dialog m-modal-dialog adddd">
				<div class="m-top">
					<span class="m-modal-close">X</span>
				</div>
				<div class="m-middle2">
				   <div class="m-middletxt2-1">
				       <p id="blance"></p>
					   <img id="codeUrl" src="" alt="">
				   </div>
				   <div class="m-middletxt3-1">
					   <img th:src="@{/pc/images/zasfaff.png}" alt="">
				   </div>
				</div>
			</div>
	</div>
	<!-- 备案 -->
	<div class="beian">
		<div class="beian1">
			<span style="float: left;">©公益打赏平台 版权所有</span> <span
				style="float: right;">京ICP备12048184号 技术支持：景安网络</span>
		</div>
	</div>
</body>
<script type="text/javascript">
var m1 = new MyModal.modal(function() {
});
$('.btn1').on("click", function() {
			 m1.show();
});
layui.use('upload', function() {
    var upload = layui.upload;

    //执行实例
    var uploadInst = upload.render({
        elem : '#file', //绑定元素
        url : '/common/sysFile/upload', //上传接口
        size : 1000,
        accept : 'file',
        done : function(r) {
            var fileName = r.fileName;
             $("#imgStr").val(fileName);
     	     $("#img").attr("src",fileName);
        },
        error : function(r) {
            //layer.msg(r.msg);
        }
    });
    
});


function save() {
	$.ajax({
		type : "POST",
		url : "/pc/regTeam/savaAuth",
		data : $('#signupForm').serialize(),
		success : function(r) {
			if (r.code == 0) {
				layer.msg(r.msg);
				history.go(0);
			} else {
				layer.msg(r.msg);
			}
		},
	});
}


$().ready(function(){
	$("#save").on('click', function() {
		console.log(123);
		$("#signupForm").submit();
	});
})


	
	$().ready(function() {
		validateRule();
	});

	$.validator.setDefaults({
		submitHandler : function() {
			
			 var price = $('#price').val();
	     	 $('#blance').text("付款金额 " +price + "元");
			$(".m-modal-dialog").css("display","none")
			$(".adddd").show();
	     	    var orderNum = createOrder(price,9);
	   			if (orderNum != '-1') {
	   			$('#order').val(orderNum);
	   			$('#codeUrl').attr("src","http://www.48936.com/wxpay/pay?data=" + (price * 100) + "&orderNum=" + orderNum);
	   			timer = setInterval(function () {
	   					var msg = queryOrder(orderNum)
	   					if (msg == '1') {
	   						window.clearInterval(timer);
	   						history.go(0);
	   						save();
	   					}
	   			},500);
	   			}
			
		}
	});
	function validateRule() {

		var icon = "<i class='fa fa-times-circle'></i> ";
		$("#signupForm").validate({
			rules : {
				tel : {
					required : true
				},
				name : {
					required : true
				},
				parentDept : {
					required : true
				},
				official : {
					required : true
				}
			},
			messages : {
				tel : {
					required : icon + "<span style='color:red'>联系方式不能为空</span>",
				},
				name : {
					required : icon + "<span style='color:red'>负责人不能为空</span>",
				},
				parentDept : {
					required : icon + "<span style='color:red'>上级单位不能为空</span>",
				},
				official : {
					required : icon + "<span style='color:red'>公函不能为空</span>",
				}
			}
		})
	}
	
	//创建订单
	function createOrder(fee,orderType){
		var orderNum = '';
		$.ajax({
			type : "POST",
			url : "/pc/news/createOrder",
			data : {'data': fee,
					'orderType':orderType},
			async:false,
			success : function(r) {
				if (r.code == 0) {
					orderNum = r.msg;
				} else if(r.code == -1){
					orderNum =-1;
				}else if(r.code == -2){
					orderNum =-2;
				}
				}
		});
		return orderNum;
	}
	//查询订单支付状态
	function queryOrder(orderNum){
		var stauts = '';
		$.ajax({
			type : "POST",
			url : "/wxpay/queryOrder",
			data : {'orderNum': orderNum},
			async:false,
			success : function(r) {
				if (r.code == 0) {
					stauts = r.msg;
				} else if(r.code == -1){
					stauts =-1;
				}else if(r.code == -2){
					stauts =-2;
				}
				}
		});
		return stauts;
	}
</script>
</html>
