<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>公益打赏</title>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<link rel="stylesheet" type="text/css" href="css/lunbo.css"/>
		<script src="js/jquery-3.1.1.js"></script>
		<script src="js/lunbo.js"></script>
	</head>
<body>
	<!-- 头部 -->
	<header>
		<div class="header-top">
			<div class="header-left">
				<img src="images/logo.png" alt="">
			</div>
			<div class="header-center">
				<input type="text" list="sexlist" placeholder="--全国--">
				<datalist id="sexlist">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				</datalist>
			</div>
			<div class="header-img">
				<img src="images/gongyi.png" alt="">
			</div>
			<div class="header-login" style="display: none;">
				<a href="#">登录</a>
				<a href="#">注册</a>
			</div>
			<div class="loginOk">
				<div class="loginOkImg">
					<img src="" alt="">
				</div>
				<div class="loginname">
					<p>小暖8886</p>
					<span>普通用户</span>
				</div>
				
			</div>
		</div>
	</header>
	<!-- 导航 -->
	<nav>
		<div>
			<ul>
				<li><a href="#">网站首页</a></li>
				<li><a href="#">咨询动态</a></li>
				<li><a href="#">活动报名</a></li>
				<li><a href="#">志愿者</a></li>
				<li><a href="#">团队展示</a></li>
				<li><a href="#">关于我们</a></li>
				<li><a href="#">联系我们</a></li>
			</ul>
		</div>
	</nav>
     <!-- 广告 -->
	 <div class="guangao">
		 <img src="images/tp2.jpg" alt=""> 
	 </div>
	 <!-- 内容 -->
	 <div class="main">
		<div class="main_img">
			<div id="container">
				<div class="lun">
					<img src="images/lunbo1_03.jpg" alt="">
					<img src="" alt="">
					<img src="" alt="">
					<img src="images/lunbo1_03.jpg" alt="">
				</div>
				  <button class="left"><</button>
				  <button class="right"></button>
				  <div class="bo">
					  <p>2018顶新公益基金会奖学金申请正式启动</p>
					 <ul class="list">
						  <li class="select"></li>
						  <li></li>
						  <li></li>
					 </ul> 
				  </div>
		     </div>
         </div>
		 <div class="main_news">
			 <div class="main_header">
				 <h3>新闻动态</h3>
				 <a href="#">更多+</a>
			 </div>
			 <div class="main_text">
				 <!-- <h4>2018顶新公益基金会奖学金申请正式启动</h4>
				 <span>顶新明日朝阳奖学金”是由顶新公益基金会设立，为成绩优异、家境清贫、品德端正的大学生为成绩优异、家境清贫、品德端正的大学生...</span> -->
				 <ul>
					 <li th:each="newInfo: ${newList}"><a th:href="@{/pc/news/info(id=${newInfo.id})}" th:text="${newInfo.title}"> <img th:src="#{newInfo.titleImg}" alt=""></a><span th:text="${#dates.format(newInfo.publicTime, 'MM-dd')}"></span></li>
				 </ul>
			 </div> 
		 </div>
	</div>
	<!-- 广告 -->
	<div class="guangao">
		<img src="images/09.jpg" alt=""> 
	</div>
	<!-- 地图 -->
	<div class="gps">
		<div class="gps1">
			<div class="secant_txt" style="margin-top:30px;">
				<h3><i></i>数据统计</h3>
				<a href="#">更多+</a>
			</div>
			<div class="gps_img1">
				<div id="container1" >
					<div th:each="team : ${teamList}">
						<div class="lun1" >
							<img th:src="${team.teamTitleImg}" alt="">
						</div>
					</div>
					  <button class="left1"></button>
					  <button class="right1"></button>
					  <div class="bo1">
						 <ul class="list1">
							  <li th:each="team : ${teamList}" class="select"></li>
						 </ul> 
					  </div>
				 </div>
			</div>
			<div class="gps_txt">
				<div class="gps_txt1">
					<img src="images/index_17.jpg" alt="">
					<div class="gps_txt1-1">
						<span>45342</span>
						<p>实名志愿者总数</p>
					</div>
				</div>
				<div class="gps_txt1">
					<img src="images/index_21.jpg" alt="">
					<div class="gps_txt1-1">
						<span>45342</span>
						<p>实名志愿者总数</p>
					</div>
				</div>
				<div class="gps_txt1">
					<img src="images/index_24.jpg" alt="">
					<div class="gps_txt1-1">
						<span>45342</span>
						<p>实名志愿者总数</p>
					</div>
				</div>
				<div class="gps_txt1">
					<img src="images/index_26.jpg" alt="">
					<div class="gps_txt1-1">
						<span>45342</span>
						<p>实名志愿者总数</p>
					</div>
				</div>
				
			</div>	
		</div>
	</div>
    <!-- 报名活动 -->
	<div class="secant">
		<div class="secant_txt">
			<h3><i></i>报名活动</h3>
			<a href="#">更多+</a>
		</div>
		<div class="secant_cent">
			<div th:each="act: ${actList}">
				<figure>
					<a href="#"><img th:src="${act.actTitleImg}" alt=""></a>
					<figcaption>
						<h4><a href="#" th:text="${act.actTitle}"></a></h4>
						<p th:text="${act.actIntro}"></p>
						<span><i th:text="${act.actType==0}?'免费':'收费'"></i><a href="#" th:text="${act.numberOfApplicants}+人已报名"></a></span>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
	<!-- 广告 -->
	<div class="guangao">
			 <img src="images/tp2.jpg" alt=""> 
	</div>
	<!-- 志愿者 -->
	<div class="zhiyuan">
		<div class="secant_txt">
			<h3><i></i>报名活动</h3>
			<a href="#">更多+</a>
		</div>
		<div class="zhiyuanImg">
			<div th:each="volunt: ${voluntList}">
				<a th:href=" '/pc/volunteerDetail?id=' + ${volunt.id}"><img th:src="${volunt.headImg}" alt=""></a>
				<p th:text="${volunt.volunteerName}"></p>
			</div>
		</div>
	</div>
		<!-- 广告 -->
	<div class="guangao">
			 <img src="images/tp2.jpg" alt=""> 
	</div>
	<!-- 底部 -->
	<footer>
		<div class="bot">
			<ul>
				<h4>新手指南</h4>
				<li><a href="#">新手指南1</a></li>
				<li><a href="#">新手指南2</a></li>
				<li><a href="#">新手指南3</a></li>
				<li><a href="#">新手指南4</a></li>
			</ul>
			<ul>
				<h4>民生相关</h4>
				<li><a href="#">新手指南1</a></li>
				<li><a href="#">新手指南2</a></li>
				<li><a href="#">新手指南3</a></li>
				<li><a href="#">新手指南4</a></li>
			</ul>
			<ul>
				<h4>民生聚焦</h4>
				<li><a href="#">新手指南1</a></li>
				<li><a href="#">新手指南2</a></li>
				<li><a href="#">新手指南3</a></li>
				<li><a href="#">新手指南4</a></li>
			</ul>
			<ul>
				<h4>民生关注</h4>
				<li><a href="#">新手指南1</a></li>
				<li><a href="#">新手指南2</a></li>

			</ul>
			<ul>
				<h4>民生咨询</h4>
				<li><a href="#">新手指南1</a></li>
				<li><a href="#">新手指南2</a></li>
				<li><a href="#">新手指南3</a></li>
				<li><a href="#">新手指南4</a></li>
			</ul>
			<figure>
				<img src="images/26.jpg" alt="">
				<figcaption>微信公众号</figcaption>
			</figure>
		</div>
		<div class="foter">
			<h4><img src="images/xian_03.jpg" alt="">&nbsp;&nbsp;友情链接&nbsp;&nbsp;<img src="images/xian_03.jpg" alt=""></h4>
			<ul>
				<li><a href="">网易公益</a></li>
				<li><a href="">网易公益</a></li>
				<li><a href="">网易公益</a></li>
				<li><a href="">网易公益</a></li>
				<li><a href="">网易公益</a></li>
				<li><a href="">网易公益</a></li>
				<li><a href="">网易公益</a></li>
				<li><a href="">网易公益</a></li>
				<li><a href="">网易公益</a></li>
				<li><a href="">网易公益</a></li>
				<li><a href="">网易公益</a></li>
				<li><a href="">网易公益</a></li>
			</ul>
		</div>
	</footer>
	<!-- 备案 -->
	<div class="beian">
		<div class="beian1">
			<span style="float: left;">©公益打赏平台 版权所有</span>
			<span style="float: right;">京ICP备12048184号  技术支持：景安网络</span>
		</div>
	</div>
</body>
</html>
