<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title th:text="${team.teamName+'-智慧公益'}"></title>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<link rel="stylesheet" type="text/css" href="css/lunbo.css"/>
		<link rel="stylesheet" th:href="@{/pc/css/jquery.my-modal.1.1.css}">
		<link th:href="@{/css/layui.css}" rel="stylesheet">
		<script src="js/jquery-3.1.1.js"></script>
		<script src="js/lunbo.js"></script>
		<script th:src="@{/js/plugins/layer/layer.js}"></script>
		<script th:src="@{/js/layui.js}"></script>
		<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
		<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
		<script th:src="@{/js/validate.js}"></script>
		<style>
			.gps_txtyy{
				width: 100%;
			}
			.gps_txtxx{
				width: 100%;
			}
			.gps_txtxx>button{
				width: 100%;
				line-height:45px;
				font-size:16px;
				color:#f5f5f5;
			    background:#ccc;
				border:none;
				border-radius:5px;
			}
			.gps_txtyy>button{
				width: 100%;
				line-height:45px;
				font-size:16px;
				color:#fff;
			    background:#c01b25;
				border:none;
				border-radius:5px;
			}
		</style>
	</head>
<body>
	<!-- 头部 -->
	<header>
		<div class="header-top">
			<div class="header-left">
				<img  id="logo" alt="">
			</div>
			<div class="header-center">
				<!-- <input type="text" list="sexlist" placeholder="--全国--">
				<datalist id="sexlist">
					<option th:each="area: ${areaList}" th:value="${area.regionName}"></option>
				</datalist> -->
				<p th:text="${team.teamName}" style="font-weight: 700; color: red;font-size: 18px; margin-top: 8px;" ></p>
			</div>
			<div class="header-img">
				<img th:src="@{/pc/images/gongyi.png}" alt="">
			</div>
			<!-- <div class="header-login" id="no_login" style="display: none">
				<a href="/login">登录</a>
				<a href="#">注册</a>
			</div>
			<div class="loginOk" id="login_ok" style="display: none">
				<div class="loginOkImg">
					<a  href="/pc/personalCenter"><img id="headImg" style="width: 100%; height: auto;" src="" alt=""></a>
				</div>

				<div class="loginname">
					<p id="userName"></p>
				</div>
			</div> -->
			<div class="header-login" id="no_login" style="display: none;">
				<a href="/login">登录</a>
			</div>
			<div class="loginOk" style="display: none" id="login_ok">
				<div class="loginOkImg">
					<a  href="/pc/personalCenter"><img id="headImg"  src="" alt=""></a>
				</div>
				<div class="loginname">
					<p id="userName">小暖8886</p>
					<span>普通用户</span>
				</div>
				
			</div>
			<div class="guanliyy">
				<a href="/logout">退出</a>
				<a href="/index">管理后台</a>
			</div>


		</div>
		
	</header>
	<nav>
		<div>
			<ul>
				<li><a href="/">网站首页</a></li>
				<li><a th:href="@{/pc/news/infoList(areaId=${areaId},flag=0,teamId=${teamId})}">活动动态</a></li>
				<li><a th:href="@{/pc/activityList(areaId=${teamId})}">活动报名</a></li>
				<li><a th:href="@{/pc/volunteerList(areaId=${teamId})}">志愿者</a></li>
				<li><a th:href="@{/pc/teamDetail(teamId=${teamId},areaId=0)}">团队首页</a></li>
			</ul>
		</div>
	</nav>
     <!-- 广告 -->
	 <div class="guangao">
		 <a	th:if="${adv1.advImg!=null}" th:href="${adv1.url}" target="_blank"><img  th:src="${adv1.advImg==null}?'/pc/images/tp2.jpg':${adv1.advImg}" th:data-url="${adv1.url}" alt="" class="btn1"></a>
		 <a th:if="${adv1.advImg==null}" ><img  th:src="${adv1.advImg==null}?'/pc/images/tp2.jpg':${adv1.advImg}" th:data-url="${adv1.url}" alt="" class="btn1"></a>
	 </div>
	 <!-- 内容 -->
	 <div class="main">
		<div class="main_img">
		<input type="hidden" id="areaId" th:value="${areaId}">
			<div id="container">
				<div class="lun">
					<img th:each="newInfo: ${newList}" th:src="${newInfo.titleImg}" alt="">
				</div>
				  <button class="left"><</button>
				  <button class="right"></button>
				  <div class="bo">
					  <!-- <p >2018顶新公益基金会奖学金申请正式启动</p> -->
					 <ul class="list">
						   <li th:each="new: ${newList}" class="select"></li>
					 </ul> 
				  </div>
		     </div>
         </div>
		 <div class="main_news">
			 <div class="main_header">
				 <h3>新闻动态</h3>
				 <a href="#">更多+</a>
			 </div>
			 <div class="main_text">
				 <!-- <h4>2018顶新公益基金会奖学金申请正式启动</h4>
				 <span>顶新明日朝阳奖学金”是由顶新公益基金会设立，为成绩优异、家境清贫、品德端正的大学生为成绩优异、家境清贫、品德端正的大学生...</span> -->
				 <ul>
					 <li th:each="newInfo: ${newList}"><a th:href="@{/pc/news/info(id=${newInfo.id},areaId=${areaId})}" th:text="${#strings.abbreviate(newInfo.title,25)}"> <img th:src="#{newInfo.titleImg}" alt=""></a><span th:text="${#dates.format(newInfo.publicTime, 'MM-dd')}"></span></li>
				 </ul>
			 </div> 
		 </div>
	</div>
	<!-- 广告 -->
	<div class="guangao">
		<a	th:if="${adv2.advImg!=null}" th:href="${adv2.url}" target="_blank"><img  th:src="${adv2.advImg==null}?'/pc/images/tp2.jpg':${adv2.advImg}" th:data-url="${adv2.url}" alt="" class="btn1"></a>
		<a  th:if="${adv2.advImg==null}"><img  th:src="${adv2.advImg==null}?'/pc/images/tp2.jpg':${adv2.advImg}" alt="" class="btn1" th:data-url="${adv2.url}"> </a>
	</div>
	<!-- 地图 -->
	<div class="gps">
		<div class="gps1">
			<div class="secant_txt" style="margin-top:30px;">
				<h3><i></i>数据统计</h3>
				<a href="#">更多+</a>
			</div>
			<div class="gps_img1">
				<div id="container1" >
						<div>
							<img style="width: 769px; height: 449px;" th:src="${team.teamImg}" alt="">
						</div>
					  <button class="left1"></button>
					  <button class="right1"></button>
					 <!--  <div class="bo1">
						 <ul class="list1">
							  <li th:each="newInfo: ${newList}"class="select"></li>
						 </ul> 
					  </div> -->
				 </div>
			</div>
			<input type="hidden" th:value="${teamId}" id="teamId"/>
			<input type="hidden" th:value="${nameId}" id="nameId"/>
			<div class="gps_txt">
				<div class="gps_txtyy" th:if="${status} eq '1'">
					<button onclick="teamRemove()">取消申请</button>
				</div>
				<div class="gps_txtyy" th:if="${status} eq '2'">
					<button onclick="teamApply()">入团申请</button>
				</div>
				<div class="gps_txtyy" th:if="${status} eq '3'">
				<button>您已是本团成员</button>
				</div>
			
				<div class="gps_txt1">
					<img src="images/index_17.jpg" alt="">
					<div class="gps_txt1-1">
						<span th:text="${voluntCount}"></span>
						<p>实名志愿者数</p>
					</div>
				</div>
				<!-- <div class="gps_txt1">
					<img src="images/index_21.jpg" alt="">
					<div class="gps_txt1-1">
						<span>45342</span>
						<p>实名志愿者总数</p>
					</div>
				</div> -->
				<div class="gps_txt1">
					<img src="images/index_24.jpg" alt="">
					<div class="gps_txt1-1">
						<span th:text="${actCount}"></span>
						<p>活动数</p>
					</div>
				</div>
				<div class="gps_txt1">
					<img src="images/index_26.jpg" alt="">
					<div class="gps_txt1-1">
						<span th:text="${newCount}"></span>
						<p>资讯数</p>
					</div>
				</div>
				<div class="gps_txt1">
					<img src="images/index_21.jpg" alt="">
					<div class="gps_txt1-1">
						<span th:text="${sigCount}"></span>
						<p>今日签到</p>
					</div>
				</div>
				
			</div>	
		</div>
	</div>
	<div class="guangao">
		<a	th:if="${adv3.advImg!=null}" th:href="${adv3.url}" target="_blank"><img  th:src="${adv3.advImg==null}?'/pc/images/tp2.jpg':${adv3.advImg}" th:data-url="${adv3.url}" alt="" class="btn1"></a>
	 	<a th:if="${adv3.advImg==null}"><img  th:src="${adv3.advImg==null}?'/pc/images/tp2.jpg':${adv3.advImg}" alt="" class="btn1" th:data-url="${adv3.url}"> </a>
	</div>
    <!-- 报名活动 -->
	<div class="secant">
		<div class="secant_txt">
			<h3><i></i>报名活动</h3>
			<a href="#">更多+</a>
		</div>
		<div class="secant_cent">
			<div th:each="act: ${actList}">
				<figure>
					<a th:href="@{/pc/activityDetail(id=${act.id},areaId=${areaId})}"><img th:src="${act.actTitleImg}" alt=""></a>
					<figcaption>
						<h4><a href="#" th:text="${act.actTitle}"></a></h4>
						<p th:text="${act.actIntro}"></p>
						<span><i th:text="${act.actType==0}?'免费':'收费'"></i><a href="#" th:text="${act.numberOfApplicants}+人已报名"></a></span>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
	<!-- 广告 -->
	<div class="guangao">
			<a	th:if="${adv4.advImg!=null}" th:href="${adv4.url}" target="_blank"><img  th:src="${adv4.advImg==null}?'/pc/images/tp2.jpg':${adv4.advImg}" th:data-url="${adv4.url}" alt="" class="btn1"></a>
			<a th:if="${adv4.advImg==null}"><img  th:src="${adv4.advImg==null}?'/pc/images/tp2.jpg':${adv4.advImg}" alt="" class="btn1" th:data-url="${adv4.url}"> </a>
	</div>
	<!-- 志愿者 -->
	<div class="zhiyuan">
		<div class="secant_txt">
			<h3><i></i>志愿者</h3>
			<a href="#">更多+</a>
		</div>
		<div class="zhiyuanImg">
			<div th:each="volunt: ${voluntList}">
				<a th:href="@{/pc/volunteerDetail(id=${volunt.id},areaId=${areaId})}"><img th:src="${volunt.headImg}" alt=""></a>
				<p th:text="${volunt.volunteerName}"></p>
			</div>
		</div>
	</div>
		<!-- 广告 -->
	<div class="guangao">
			<a	th:if="${adv5.advImg!=null}" th:href="${adv5.url}" target="_blank"><img  th:src="${adv5.advImg==null}?'/pc/images/tp2.jpg':${adv5.advImg}" th:data-url="${adv5.url}" alt="" class="btn1"></a>
			<a th:if="${adv5.advImg==null}"><img  th:src="${adv5.advImg==null}?'/pc/images/tp2.jpg':${adv5.advImg}" alt="" class="btn1" th:data-url="${adv5.url}"> </a>
	</div>
	<!-- 底部 -->
	<div th:replace="pc/include :: footer"></div>
	<div class="m-modal">
		<div class="m-modal-dialog">
			<div class="m-top">
				<span class="m-modal-close">X</span>
			</div>
			<div class="m-middle">
			    <form action="" id="signupForm">
			    <input type="hidden" placeholder="" class="input1" id="url">
			    <input type="hidden" placeholder="" class="input1" id="price">
			    <input type="hidden" placeholder="" class="input1" name="positionNum" id="positionNum">
			    <input type="hidden" placeholder="" class="input1" id="regionName">
			    <input type="hidden" placeholder="" class="input1" id="sort" name="sort">
			    <input type="hidden" placeholder="" class="input1" name="regionCode" id="regionCode">
			    	<label>
						<span>展示位置</span>
						<input type="text" placeholder="" readonly="readonly" id="positionName" class="input1">
					</label>
					<label>
						<span>投放天数</span>
						<input type="text" oninput="clearNoNum1(this)" onmouseout="jisuan()"  id="showDay"  name="showDay" placeholder="投放天数" class="input1">
					</label>
					<label>
						<span>链接地址</span>
						<input type="text" placeholder="http://" name="advUrl" class="input1">
					</label>
					<label>
						<span>上传图片</span>
						<img th:src="@{/pc/images/gahgha_03.png}" id="img" alt="">
						<input type="hidden" id="imgStr" name="advImg">
						<input type="file" name="file" style="display: none;" id ="file">
					</label>
					<label>
						<span>总价格</span>
						<span style="color:#ff0101;font-size:28px;" id="jiage">0元</span>
					</label>
					<label>
						<input type="button" id="save" value="确认购买" class="input3">
					</label>
			    </form>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/pc/js/jquery.my-modal.1.1.js}"></script>
<script th:src="@{/pc/js/common.js}"></script>
<script>
function _area(){
	console.log($("#area").val());
	window.location.href = "/?areaId="+$("#area").val();
}

function teamApply() {
	var teamId = $("#teamId").val();
 	$.ajax({
        type : "POST",
        dataType: "json",
        url : "/pc/team/apply",
        data : {
        	'id': teamId
        },
        success : function(result) {
        	var code = result.code;
        	var url = result.url;
        	var msg=result.msg;
        	console.log(status)
        	if (code == 1) {
        		alert(msg);
        	} else if (code == 2){
        		alert(msg);
        	} else if (code == 3){
        		alert(msg);
        		window.location.href=url;
        	} else {
        		alert(msg);
        	}
        }
    }); 
}

function teamRemove() {
	var nameId = $("#nameId").val();
 	$.ajax({
        type : "POST",
        dataType: "json",
        url : "/pc/team/remove",
        data : {
        	'id': nameId
        },
        success : function(result) {
        	var status = result.status;
        	var url = result.url;
        	console.log(status)
        	if (status == 1) {
        		alert("取消成功");
        		history.go(0);
        	} else if (status == 2){
        		alert("您还没登录，请先登录");
        	} else if (status == 3){
        		alert("取消失败");
        	} else {
        		alert("操作失败");
        	}
        }
    }); 
}

var m1 = new MyModal.modal(function() {
});
$('.btn1').on("click", function() {
	var url=$(this).attr("data-url");
	$("#url").val(url);
	 $.get(url, function(result){
		 console.log(result);
		 if(result.code==-0){
			 $("#price").val(result.price);
			 $("#positionNum").val(result.positionNum);
			 $("#regionName").val(result.regionName);
			 $("#positionName").val(result.positionName);
			 $("#regionCode").val(result.regionCode);
			 $("#sort").val(result.sort);
			 m1.show();
		 }
		 if(result.code==-1){
			 window.location.href = result.url;
		 }
		 if(result.code==500){
			 layer.msg(result.msg);
		 }
	});
});

layui.use('upload', function() {
    var upload = layui.upload;

    //执行实例
    var uploadInst = upload.render({
        elem : '#file', //绑定元素
        url : '/common/sysFile/upload', //上传接口
        size : 1000,
        accept : 'file',
        done : function(r) {
            var fileName = r.fileName;
             $("#imgStr").val(fileName);
     	     $("#img").attr("src",fileName);
        },
        error : function(r) {
            //layer.msg(r.msg);
        }
    });
    
});

$().ready(function(){
	$("#save").on('click', function() {
		console.log(123);
		$("#signupForm").submit();
	});
})

function jisuan(){
	var day=$("#showDay").val();
	var price = $("#price").val();
	var allPrice=day*price;
	console.log(allPrice);
	$("#jiage").text(allPrice+"元");
}


function save() {
		$.ajax({
			type : "POST",
			url : "/pc/advSubmit",
			data : $('#signupForm').serialize(),
			success : function(r) {
				if (r.code == 0) {
					layer.msg(r.msg);
					
				} else {
					layer.msg(r.msg);
				}
			},
		});
	}
	
	$().ready(function() {
		validateRule();
	});

	$.validator.setDefaults({
		submitHandler : function() {
			save();
		}
	});
	function validateRule() {

		var icon = "<i class='fa fa-times-circle'></i> ";
		$("#signupForm").validate({
			rules : {
				positionName : {
					required : true
				},
				showDay : {
					required : true
				},
				advUrl : {
					required : true
				},
				advImg : {
					content : true
				}
			},
			messages : {
				positionName : {
					required : icon + "<span style='color:red'>展示位置不能为空</span>",
				},
				showDay : {
					required : icon + "<span style='color:red'>投放天数不能为空</span>",
				},
				advUrl : {
					required : icon + "<span style='color:red'>广告链接不能为空</span>",
				},
				advImg : {
					required : icon + "<span style='color:red'>广告图片不能为空</span>",
				}
			}
		})
	}

</script>
</html>
