<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<form class="form-horizontal m-t" id="signupForm">
						<div class="ibox-content" style="height: 210px;">
							<div class="form-group">
								<input type="hidden" th:value="${newsId}" name="newsId">
								<label class="col-sm-2 control-label">置顶天数：<span
									class="text-danger">*</span></label>
								<div class="col-sm-8">
									<select name="topCount" id="topDays">
									    <option>请选择天数</option>
										<option th:each=" top : ${topCount}" th:value="${top.count}" th:text="${top.count}"></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">置顶地区：<span
									class="text-danger">*</span></label>
								<div class="col-sm-8">
										<select name="topReg" id="topReg" onchange="topReg1()">
										 <option>请选择地区</option>
										<option th:each=" region : ${region}" th:value="${region.region}" th:text="${region.name}"></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">费用(单位:元)：<span
									class="text-danger"></span></label>
								<div class="col-sm-8">
									<input class="form-control"  type="text" name="count" id="count" value="0">
								</div>
							</div>
							<div class="col-sm-8 col-sm-offset-3" id="sub">
								<button type="submit" class="btn btn-primary" onclick="saveTop()">提交</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript">
		function saveTop() {
			$.ajax({
				type : "POST",
				url : "/pc/news/topInfo",
				data : $('#signupForm').serialize(),// 你的formid
				dataType: "json",
				async: false,
				error : function(request) {
					parent.layer.alert("置顶申请失败");
				},
				success : function(data) {
					if (data.code == -1) {
						parent.layer.alert(data.msg)
						return;
					}
					console.log(data);
					if (data.code == 0) {
						console.log(000);
						parent.layer.msg("置顶申请成功");
						///history.go(0);
						var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
						parent.layer.close(index);

					} else {
						parent.layer.alert(data.msg)
					}

				}
			});

		}

		$("#topDays").change(function(){
			$('#count').val('');
			$("#topReg  option:checked").prop("checked", false);
			$("#sub").show();
		});
		
		function topReg1(){
					$.ajax({
						type : "POST",
						url : "/pc/news/count",
						data : {
							"regionCode" : $("#topReg  option:checked").val(),
							'topDays': $("#topDays").val()
						},// 你的formid
						success : function(data) {
							if (data.count == -1) {
								$("#sub").hide();
								$('#count').val('');
								parent.layer.alert("该区域暂时无法置顶")
								return;
							}
							if (data.count == -2) {
								$("#sub").hide();
								$('#count').val('');
								parent.layer.alert("该区域已经置顶3条新闻了，无法置顶")
								return;
							}
							$("#sub").show();
							$('#count').val(data.count);
						}
					});
		    }
	</script>
</body>

</html>
