<!DOCTYPE html>
<html>
	<head th:replace="pc/include :: head"></head>
	<style>
		   .biaodan2-1{
				display: none;
			}
			.img84{
			width: 95px;
		    height: 95px;
		    position: absolute;
		    bottom: 80px;
		    left: 188px;
         }
		</style>
	<body>
		<div class="boxRight" style="background:#fff;width: 1006px;height: 925px;margin-top:0;">
				<div class="cwmx">
					<h4 style="width: 90px;">志愿者证书</h4>
				</div>
				<div class="kapian" style="background:url(/images/tupiN.jpg) no-repeat;background-size: 100% 100%;">
					<span class="zyzname" th:text="${vo.name}"></span>
					<span class="zyzxb"th:text="${vo.sex==0?'男':'女'}"></span>
					<span class="zyzbh" th:text="${vo.volunteer_number}"></span>
					<img  th:src="${vo.head_img}" alt="" class="touxing">
					<img th:src="${setup.officialAccountImg}" alt="没切图片 大小调好了 这是放二维码的" class="img4">
					<span class='tuanmie' th:text="${team.teamName}">测试团队名字</span>
					<span class="zyzfwrx">志愿服务咨询热线:400-003-5125</span>
					<span class="zyzfjz">监制:豫民网</span>
				</div>
				<div class="kapian" style="background:url(/pc/images/tmzyzez_07.jpg) no-repeat;background-size: 100% 100%;">
					<img th:src="${setup.officialAccountImg}" alt="没切图片 大小调好了 这是放二维码的" class="img84">
					<span class="zyzfwrx">志愿服务咨询热线:400-003-5125</span>
					<span class="zyzfjz">监制:豫民网</span>
				</div>
			</div>
	</body>
</html>
<script>
	$(".btn").mouseover(function(){
		 $(this).children("ul").show();
	});
	$(".btn").mouseout(function(){
		 $(this).children("ul").hide();
	})
	$('dt').click(function () {
		if($(this).nextUntil('dt','dd').is(':visible')){
			$(this).nextUntil('dt','dd').slideUp()
		}else{
			$(this).siblings('dd').slideUp().end().nextUntil('dt','dd').slideToggle();
		}
	});
</script>
