<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<script src="js/jquery-3.1.1.js"></script>
		<link rel="stylesheet" href="css/activity.css">
		<link rel="stylesheet" href="css/Volunteer.css">
		<title th:text="${'志愿者-'+title}"></title>
	</head>
	<body>
	    <!-- 头部 -->
		<div th:replace="pc/include :: header"></div>
		<!-- 导航 -->
		<!-- 地区 -->
		<div class="weizhi">
			<div class="wztwo">
				<p>您所在的位置：首页 > 志愿者</p>
				<input type="hidden" value="" id="code"/>
				<input type="hidden" value="" id="sex"/>
				<input type="hidden" value="" id="sort"/>
				<input type="hidden" value="" id="order"/>
				<input type="hidden" th:value="${areaId}" id="areaId">
			</div>
			<!-- <div class="wzshenfen">
				<p>地区：<span>全部</span></p>
				<ul>
					<li th:each="area : ${areaList}" th:onclick="'query('+${area.regionCode}+')'" th:text="${area.regionName}"></li>
				</ul>
				<div class="butnn"><img src="images/baoming03.png" alt=""></div>
			</div>	 -->
		</div>
		<!-- 筛选 -->
		<div class="xingbie">
			<div class="xb">性别：
				<input type="radio" name="sex" value="0" />男
				<input type="radio" name="sex" value="1" />女
			</div>
			<!-- <ul class="zyz">
				<li>行业类型<img src="images/baoming03.png" alt="">
					<ul>
						<li><a href="">1</a></li>
					</ul>
				</li>
			</ul> -->
			<div class="xiangxi">
				<ul class="zyz">
					<li  onclick="orderSort('act_number',this)" data_id="desc">参与活动次数<img src="images/baoming03.png" alt="">
					</li>
					<li  onclick="orderSort('click_number',this)" data_id="desc">点击量<img src="images/baoming03.png" alt="">
					</li>
					<li onclick="orderSort('comment_number',this)" data_id="desc">评论量<img src="images/baoming03.png" alt="">
					</li>
					<li onclick="orderSort('shares_number',this)" data_id="desc">转发量<img src="images/baoming03.png" alt="">
					</li>
				</ul>
			</div>
		</div>
		<div class="zyzhti" id="zyzhti">
			<figure th:each="volunt : ${voluntList}">
				<a th:href="@{/pc/volunteerDetail(id=${volunt.id},areaId=${areaId})}"><img th:src="${volunt.headImg}" alt=""></a>
				<figcaption>
					<span th:text="${volunt.volunteerName}"></span>
					<a th:if="${areaId!=null && #strings.length(areaId)< 10}" th:href="@{/pc/teamDetail(teamId=${volunt.teamId},areaId=${areaId})}"><p th:text="${volunt.teamName}" ></p></a>
					<a th:if="${areaId!=null && #strings.length(areaId)> 9}" th:href="@{/pc/teamDetail(teamId=${volunt.teamId},areaId=0)}"><p th:text="${volunt.teamName}" ></p></a>
				</figcaption>
			</figure>
		</div>
		<!-- 底部 -->
		<div th:replace="pc/include :: footer"></div>
		<!-- 备案 -->
		<!-- <div class="beian">
			<div class="beian1">
				<span style="float: left;">©公益打赏平台 版权所有</span>
				<span style="float: right;">京ICP备12048184号  技术支持：景安网络</span>
			</div>
		</div> -->
	</body>
</html>
<script th:src="@{/pc/js/common.js}"></script>
<script>
function _area(){
	console.log($("#area").val());
	window.location.href = "/?areaId="+$("#area").val();
}

var regionCode = '';
   $(function(){
    var i=0;
    $(".butnn").click(function(){
        i++;
        if(i%2!=0){
            $(".wzshenfen").animate({"height":"152px"},600);
			$(this).animate({"line-height":"150px"},600)
        }else{
            $(".wzshenfen").animate({"height":"50px"},600);
			$(this).animate({"line-height":"50px"},600)
        }
    });
	$('.zyz>li').click(function(e) {
	    $(this).children("ul").stop().slideToggle()
		$(this).siblings().children("ul").hide();
	});
	
	 $(":radio").click(function(){
		 $("#sex").val($(this).val())
		 $.ajax({
	            type : "POST",
	            dataType: "json",
	            url : "/pc/volunteerList/query",
	            data : {
	            	'sex': $(this).val(),
	            	'areaId': $("#code").val(),
	            	'sort':$("#sort").val(),
	            	'order' : $("#order").val()
	            },
	            success : function(result) {
	            	var voluntList = result.voluntList;
	            	$("#zyzhti").html('');
	            	var html = info(voluntList);
	            	$("#zyzhti").append(html);
	            },
	        });
	});
	 
})


function orderSort(val,obj){
	 var aData = $(obj).attr('data_id')
	 $("#sort").val(val);
	 $("#order").val(aData);
	 $.ajax({
            type : "POST",
            dataType: "json",
            url : "/pc/volunteerList/query",
            data : {
            	'sort': val,
            	'order': aData,
            	'sex': $("#sex").val(),
            	'areaId': $("#code").val()
            },
            success : function(result) {
            	var voluntList = result.voluntList;
            	$("#zyzhti").html('');
            	var html = info(voluntList);
            	$("#zyzhti").append(html);
            	if (aData == 'asc') {
	            	$(obj).attr('data_id','desc');
            	} else {
            		$(obj).attr('data_id','asc');
            	}
            },
     });
}

   
function query(regionCode) {
	regionCode = regionCode;
	$("#code").val(regionCode);
	 $.ajax({
         type : "POST",
         dataType: "json",
         url : "/pc/volunteerList/query",
         data : {
         	'areaId': regionCode
         },
         success : function(result) {
         	var voluntList = result.voluntList;
         	$("#zyzhti").html('');
         	var html = info(voluntList);
         	$("#zyzhti").append(html);
        	$("input[type='radio']").removeAttr('checked');
         }
  });
}
   
function getQueryString(name){
      var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
      var r = window.location.search.substr(1).match(reg);//search,查询？后面的参数，并匹配正则
      if(r!=null)return  unescape(r[2]); return null;
}

function info(value) {
	var html = '';
	var areaId = $('#areaId').val();
	console.log(areaId+"sdsdgsd");
	$.each(value, function (n, value) {
		html += '<figure>' + 
					'<a href="/pc/volunteerDetail?id='+value.id+'"><img src=" ' + value.headImg + '" alt=""></a>' +
			    		'<figcaption>' +
							'<span>'+ value.volunteerName + '</span>' ;
							if(areaId!=null &&areaId.length< 10){
								html += '<a href="/pc/teamDetail(teamId='+value.teamId+',areaId='+areaId+')"><p>'+ value.teamName + '</p></a>' ;
							}else{
								html += '<a  href="@{/pc/teamDetail(teamId='+value.teamId+',areaId=0)}"><p>'+ value.teamName + '</p></a>' ;
							}
							html += '</figcaption>' ;
							html += '</figure>';
	})
	return html;
}


//分页加载
$().ready(function(){
var areaId = $('#areaId').val();
var hasMore;
var page = 1; //初始页码
var maxnum = 2;//设置加载次数
 
var downrange= 100;                //下边界-参考正在加载提示层/px
var $main = $("#showbox");            //主体
var $loaddiv = $("#add-more") ;       //加载提示层
var totalheight = 0; 
var $listrow=$("#zyzhti");
//ajax-fun
function ajaxLoad(){
var html="";
page=page+1;//每次拉到底部page加1
//console.log(page)
hasMore=false;
$.ajax({
url:"/pc/queryVolunteerList?areaId="+areaId+"",
type:"post",
data:{page:page},//请求页数
success:function(res){
var list = eval(res);
//console.log(list.length);
//var list=JSON.parse(res);
if(list.length>0) {
    hasMore=true;
//console.log(JSON.parse(res));
    //追加数据
   $.each(res, function(i, item){ 
   	html+="<figure>";
	html+="<a href='/pc/volunteerDetail?id="+item.id+"&areaId="+areaId+"><img src="+item.headImg+"></a>";
	html+="<figcaption>";
	html+="<span>"+item.volunteerName+"</span>";
	if(areaId!=null &&areaId.length< 10){
		html += '<a href="/pc/teamDetail(teamId='+item.teamId+',areaId='+areaId+')"><p>团队：'+ item.teamName + '</p></a>' ;
	}else{
		html += '<a  href="@{/pc/teamDetail(teamId='+item.teamId+',areaId=0)}"><p>团队：'+ item.teamName + '</p></a>' ;
	}
	html+="</figcaption>";
	html+="</figure>";
    })
    $listrow.append(html);//数据追加到list
    var imgWidth=$('.list_flex_son_img').width();
    $('.list_flex_son_img').height(imgWidth);
}    
}
})
}
 
//加载中隐藏显示
$loaddiv.ajaxStart(function(){
$(this).show();
}).ajaxStop(function(){
$(this).hide();
})
ifLoad();
//scroll滚动触发加载事件
function ifLoad(){
hasMore=true;
var w = $(window);
var lastTime = new Date();
window.addEventListener("scroll", function scrollHandler() {
var scrollh = $(document).height();
var bua = navigator.userAgent.toLowerCase();
if (bua.indexOf('iphone') != -1 || bua.indexOf('ios') != -1) {
scrollh = scrollh -140;
} else {
scrollh = scrollh - 80;
}
if(($(document).scrollTop() + w.height()) >= scrollh){
if (new Date()-lastTime <100) {
    return;
}
lastTime = new Date();
if (hasMore) {
    ajaxLoad();
}
}
}, 1000);
}
 
});

</script>

