<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title th:text="${volunteer.volunteerName+'-'+volunteer.teamName+'-'+title}"></title>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<script src="js/jquery-3.1.1.js"></script>
		<link rel="stylesheet" href="css/activity.css">
		<link rel="stylesheet" href="css/VolDeta.css">
		<link th:href="@{/css/layui.css}" rel="stylesheet">
		<link rel="stylesheet" th:href="@{/pc/css/jquery.my-modal.1.1.css}">
		<style>
			.tobqihuan1{
				display: none;
			}
		</style>
	</head>
	<body>
		<div th:replace="pc/include :: header"></div>
		<!-- 左边栏 -->
		<div class="volDeta">
			<div class="volDeta1">
				<div class="volDetatwo">
				<input type="hidden" id="areaId" th:value="${areaId}">
					<div class="volDetatx">
						<img th:src="${volunteer.headImg}" alt="">
					</div>
					<div class="volDetadw">
						<span>已实名</span>
					</div>
					<div class="volname">
						<span style="font-size:22px;" th:text="${volunteer.volunteerName}"></span> <img th:if="${volunteer.sex==0}" th:src="@{/pc/images/xingbie2_04.png}" style="width: 20px;margin-bottom:6px"><img th:if="${volunteer.sex==1}" style="width: 20px;margin-bottom:6px" th:src="@{/pc/images/xingbie2_03.png}">
						<br>
						<span style="font-size:16px;line-height:40px;color:#7a7a7a;" th:text="${volunteer.province} + ' ' + ${volunteer.city}"></span><img src="images/zy1_03.png" alt="">
					</div>
					<div class="volxx">
						<ul>
							<li>等级 <span th:if="${le!=null}">
							<img th:src="${le.url}" alt="">
							</span>
							</li>
							<li>ID <span th:text="${volunteer.volunteerNumber}"></span></li>
							<li>所属团队 <a th:href="@{/pc/teamDetail(teamId=${volunteer.teamId},areaId=${areaId})}"><span th:text="${volunteer.teamName}"></span></a></li>
							<li>参与活动次数 <span th:text="${volunteer.actNumber}"></span></li>
							<li>点击量 <span th:text="${volunteer.clickNumber}"></span></li>
							<li>评价量 <span th:text="${volunteer.commentNumber}"></span></li>
							<li>转发量 <span th:text="${volunteer.sharesNumber}"></span></li>
						</ul>
					</div>
					<!-- <div class="volxk1">TA的相框 <span></span> </div> -->
					<div class="volxk">
						<a href="" th:each="photo : ${photolist}"><img th:src="${photo.imgUrl}" alt=""></a>
					</div>
				</div>
			</div>
			<!-- 中间 -->
			<div class="volDeta2">
				<div class="volcenter">
					<!-- 顶部导航 -->
					<div style="overflow: hidden;" class="volc">
						<ul>
							<li class="volcolor"><span><img src="images/dt.png" alt=""></span>评论</li>
							<li><span><img src="images/pl.png" alt=""></span>转发</li>
							<li><span><img src="images/zf.png" alt=""></span>收藏</li>
							<li><span><img src="images/sc.png" alt=""></span>点赞</li>
						</ul>
					</div>
					<!-- 切换 -->
					<div class="tobqihuan">
						<!-- 数据循环出的内容 -->
						<!-- 评论信息 -->
						 <div class="tobqihuan1" style="display: block;">
							<div th:each="comment: ${commentList}">
								<div class="volneirong">
									<div class="volnrtop">
										<p th:text="${comment.createTimeStr}"></p>
									</div>
								</div>
								<a th:href="@{/pc/news/info(id=${comment.newsId},areaId=${areaId})}" style="cursor:pointer">
								<div class="voltext">
									<p th:text="${comment.title}"></p>
								</div>
								<div class="voltextimg">
									<img th:src="${comment.titleImg}" alt="" style="width: 146px;height: 108px;"><a href=""></a></img>
								</div>
								</a>
								<div class="pinglun">
								</span>
									<ul>
										<li><a th:href="@{/pc/news/info(id=${comment.newsId},areaId=${areaId})}" style="cursor:pointer"><img th:src="@{/pc/images/zhuanfa.jpg}" alt="">&nbsp;转发</a></li>
										<li><a th:href="@{/pc/news/info(id=${comment.newsId},areaId=${areaId})}" style="cursor:pointer"><img th:src="@{/pc/images/pinglun.jpg}" alt="">&nbsp;评论</a></li>
										<li th:if="${comment.isClick eq '0'}" th:onclick="'likes('+ ${comment.newsId}+', 2, 1)'" style="cursor:pointer"><img src="images/dianzan.jpg" alt="" >&nbsp;赞</li>
										<li th:if="${comment.isClick eq '1'}" ><img th:src="@{/pc/images/gongyitubiao_19.png}" alt="" >&nbsp;赞</li>
										<li th:if="${comment.isClick eq '2'}" th:onclick="'log()'" style="cursor:pointer"><img th:src="@{/pc/images/dianzan.jpg}" alt="" >&nbsp;赞</li>
									</ul>
								</div>
							</div>
						 </div>
						 <!-- 转发信息 -->
						 <div class="tobqihuan1">
							 <div th:each="dynamic: ${sharesList}">
								<div class="volneirong">
									<div class="volnrtop">
										<p th:text="${#dates.format(dynamic.createTime, 'yyyy-MM-dd HH:mm:ss')}"></p>
									</div>
								</div>
								<a th:href="@{/pc/news/info(id=${dynamic.newsId},areaId=${areaId})}" style="cursor:pointer">
								<div class="voltext">
									<p th:text="${dynamic.title}"></p>
								</div>
								<div class="voltextimg">
									<img th:src="${dynamic.img}" alt="" style="width: 146px;height: 108px;"><a href=""></a></img>
								</div>
								</a>
								<div class="pinglun">
									<ul>
										<li th:if=" ${dynamic.actType  eq '2' && dynamic.collectStatus eq '1'}"  th:onclick="'collection('+${dynamic.newsId}+',5, 2)'" style="cursor:pointer"><img th:src="@{/pc/images/gongyitubiao_03.jpg}" alt="">&nbsp;收藏</li>
										<li th:if=" ${dynamic.actType  eq '2' && dynamic.collectStatus eq '2'}" ><img th:src="@{/pc/images/gongyitubiao_16.jpg}" alt="">&nbsp;收藏</li>
										<li  th:onclick="'share('+ ${dynamic.newsId}+', 1, '+ ${dynamic.actType}+', ' +${areaId}+')'" style="cursor:pointer"><img th:src="@{/pc/images/zhuanfa.jpg}" alt="">&nbsp;转发</li>    
										<li th:if=" ${dynamic.actType} eq '1'"><a th:href="@{/pc/news/info(id=${dynamic.newsId},areaId=${areaId})}"><img th:src="@{/pc/images/pinglun.jpg}" alt="">&nbsp;评论</a></li>
										<li th:if=" ${dynamic.actType eq 1 && dynamic.isClick eq 0}"  th:onclick="'likes('+ ${dynamic.newsId}+', 2, 1)'" style="cursor:pointer"><img th:src="@{/pc/images/dianzan.jpg}" alt="" >&nbsp;点赞</li>
										<li th:if=" ${dynamic.actType eq 1 && dynamic.isClick eq 1}"  ><img th:src="@{/pc/images/gongyitubiao_19.png}" alt="" >&nbsp;点赞</li>
										<li th:if=" ${dynamic.actType eq 1 && dynamic.isClick eq 2}"  th:onclick="'log()'" style="cursor:pointer"><img th:src="@{/pc/images/dianzan.jpg}" alt="" >&nbsp;点赞</li>
									
									</ul>
								</div>
							</div>
						 </div>
						 <!-- 收藏信息 -->
						 <div class="tobqihuan1">
						     <div th:each="dynamic: ${collectList}">
								<div class="volneirong">
									<div class="volnrtop">
										<p th:text="${#dates.format(dynamic.createTime, 'yyyy-MM-dd HH:mm:ss')}"></p>
									</div>
								</div>
								<a  th:if="${dynamic.actType == 2}" th:href="@{/pc/activityDetail(id=${dynamic.newsId},areaId=${areaId})}">
								<div class="voltext">
									<p th:text="${dynamic.title}"></p>
								</div>
								<div class="voltextimg">
									<img th:src="${dynamic.img}" alt="" style="width: 146px;height: 108px;"><a href=""></a></img>
								</div>
								</a>
								<!-- <a  th:if="${dynamic.actType == 3}" th:href="@{/pc/volunteerDetail(id=${dynamic.newsId},areaId=${areaId})}">
								<div class="voltext">
									<p th:text="${dynamic.title}"></p>
								</div>
								<div class="voltextimg">
									<img th:src="${dynamic.img}" alt="" style="width: 146px;height: 108px;"><a href=""></a></img>
								</div>
								</a> -->
								<div class="pinglun">
									<ul>
										<li th:if="${dynamic.collectStatus} eq '1'"  th:onclick="'collection('+${dynamic.newsId}+',5, 2)'" style="cursor:pointer"><img th:src="@{/pc/images/gongyitubiao_03.jpg}" alt="" >&nbsp;收藏</li>
										<li th:if="${dynamic.collectStatus} eq '2'" ><img th:src="@{/pc/images/gongyitubiao_16.jpg}" alt="" >&nbsp;收藏</li>
										<li><a th:href="@{/pc/activityDetail(id=${dynamic.newsId},areaId=${areaId})}"><img th:src="@{/pc/images/zhuanfa.jpg}" alt="">&nbsp;转发</a></li>    
									</ul>
								</div>
							</div>
						 						
						 </div>
						 <!-- 点赞信息 -->
						 <div class="tobqihuan1">
						   	<div th:each="dynamic: ${likesList}">
								<div class="volneirong">
									<div class="volnrtop">
										<p th:text="${#dates.format(dynamic.createTime, 'yyyy-MM-dd HH:mm:ss')}"></p>
									</div>
								</div>
								<a th:href="@{/pc/news/info(id=${dynamic.newsId},areaId=${areaId})}" style="cursor:pointer">
								<div class="voltext">
									<p th:text="${dynamic.title}"></p>
								</div>
								<div class="voltextimg">
									<img th:src="${dynamic.img}" alt="" style="width: 146px;height: 108px;"><a href=""></a></img>
								</div>
								</a>
								<div class="pinglun">
									<ul>
										<li><a th:href="@{/pc/news/info(id=${dynamic.newsId},areaId=${areaId})}" style="cursor:pointer"><img th:src="@{/pc/images/zhuanfa.jpg}" alt="">&nbsp;转发</a></li>
										<li><a th:href="'/pc/news/info?id='+ ${dynamic.newsId}"><img th:src="@{/pc/images/pinglun.jpg}" alt="">&nbsp;评论</a></li>
										<!-- <li th:onclick="'likes('+ ${dynamic.newsId}+', 2, 1)'" style="cursor:pointer"><img src="images/dianzan.jpg" alt="" >&nbsp;赞</li> -->
										
										
										
										<li th:if=" ${dynamic.isClick} eq '0'" th:onclick="'likes('+ ${dynamic.newsId}+', 2, 1)'" style="cursor:pointer"><img th:src="@{/pc/images/dianzan.jpg}" alt="" >&nbsp;赞</li>
										<li th:if=" ${dynamic.isClick} eq '1'" ><img th:src="@{/pc/images/gongyitubiao_19.png}" alt="" >&nbsp;赞</li>
										<li th:if=" ${dynamic.isClick} eq '2'" th:onclick="'log()'" style="cursor:pointer"><img th:src="@{/pc/images/dianzan.jpg}" alt="" >&nbsp;赞</li>
									</ul>
								</div>
							</div>
						 </div>
					</div>
					<!-- 切换结束 -->
					
				</div>
			</div>
			<!-- 右边栏 -->
			<div class="volDeta3">
				<a th:each="act,stat: ${advList}"  th:href="${act.advImg!=null?act.url:'javascript:;'}" th:target="${act.advImg!=null?'_blank':''}">
					<img th:if="${stat.count==1}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_03.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
					<img th:if="${stat.count==2}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_06.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
					<img th:if="${stat.count==3}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_09.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
					<img th:if="${stat.count==4}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_12.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
					<img th:if="${stat.count==5}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_15.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
					<img th:if="${stat.count==6}" th:src="${act.advImg!=null?act.advImg:'/pc/images/zyz_03.jpg'}" th:class="${act.advImg!=null?'':'btn1'}" th:data-url="${act.advImg!=null?'':act.url}" alt="">
				</a>
				<div class="volDetaimg">
					<div class="volxk1">TA浏览的 <span></span> </div>
					<div style="overflow: hidden;">
						<figure th:each="zyz : ${zyzList}">
							<a href=""><img th:src="${zyz.userHeadimg}" alt=""></a>
							<figcaption>
								<span th:text="${zyz.userName}"></span>
								<p th:text="${#dates.format(zyz.guestTimeStr,'yyyy-MM-dd')}"></p>
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="volDetaimg">
					<div class="volxk1">TA的访客 <span></span> </div>
					<div style="overflow: hidden;">
						<figure th:each="gues : ${guestList}">
							<a href=""><img th:src="${gues.guestHeadimg}" alt=""></a>
							<figcaption>
								<span th:text="${gues.guestName}"></span>
								<p th:text="${#dates.format(gues.guestTimeStr,'yyyy-MM-dd')}"></p>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
		</div>
		
		<div class="m-modal">
		<div class="m-modal-dialog">
			<div class="m-top">
				<span class="m-modal-close">X</span>
			</div>
			<div class="m-middle">
			    <form action="" id="signupForm">
			    <input type="text" placeholder="" class="input1" id="url">
			    <input type="text" placeholder="" class="input1" id="price">
			    <input type="text" placeholder="" class="input1" name="positionNum" id="positionNum">
			    <input type="text" placeholder="" class="input1" id="regionName">
			    <input type="text" placeholder="" class="input1" id="sort" name="sort">
			    <input type="text" placeholder="" class="input1" name="regionCode" id="regionCode">
			    	<label>
						<span>展示位置</span>
						<input type="text" placeholder="" readonly="readonly" id="positionName" class="input1">
					</label>
					<label>
						<span>投放天数</span>
						<input type="text" oninput="clearNoNum1(this)" onmouseout="jisuan()"  id="showDay"  name="showDay" placeholder="投放天数" class="input1">
					</label>
					<label>
						<span>链接地址</span>
						<input type="text" placeholder="http://" name="advUrl" class="input1">
					</label>
					<label>
						<span>上传图片</span>
						<img th:src="@{/pc/images/gahgha_03.png}" id="img" alt="">
						<input type="hidden" id="imgStr" name="advImg">
						<input type="file" name="file" style="display: none;" id ="file">
					</label>
					<label>
						<span>总价格</span>
						<span style="color:#ff0101;font-size:28px;" id="jiage">0元</span>
					</label>
					<label>
						<input type="button" id="save" value="确认购买" class="input3">
					</label>
			    </form>
			</div>
		</div>
	</div>
		<div th:replace="pc/include :: footer"></div>
	</body>
</html>
<script src="/js/plugins/layer/layer.js"></script>
<script src="/js/layui.js"></script>
<script src="/js/plugins/layer/laydate/laydate.js"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/js/validate.js}"></script>
<script th:src="@{/pc/js/jquery.my-modal.1.1.js}"></script>
<script th:src="@{/pc/js/common.js}"></script>
<script>
function _area(){
	console.log($("#area").val());
	window.location.href = "/?areaId="+$("#area").val();
}

	$(".volc li").click(function(){
		$(this).addClass("volcolor").siblings().removeClass("volcolor");
		var index = $(this).index();
		$('.tobqihuan>div').hide().eq($(this).index()).show();
	})
	
	function likes(newsId, type, newtype) {
		$.ajax({
            type : "get",
            dataType: "json",
            url : '/pc/news/likes',
            data : {
            	'newsId': newsId,
            	'type': type
            },
            success : function(result) {
            	if (result.code == 0) {
					history.go(0);
				} else if(result.code == 2){
					alert(data.msg);
				}else {
					parent.layer.alert(data.msg)
				}
            }
        });
	}
	
	function share(newsId, type, newtype, areaId) {
		if (newtype == 1) {
			window.location.href = "/pc/news/info?id="+newsId + "&areaId=" + areaId;
		} else {
			window.location.href = "/pc/activityDetail?id="+ newsId + "&areaId=" + areaId ;
		}
	}
	function collection(actId, type, newtype) {
		$.ajax({
            type : "get",
            dataType: "json",
            url : "/pc/activity/collect",
            data : {
            	'actId': actId
            },
            success : function(result) {
            	var code = result.code;
            	if (code == 0) {
            		parent.layer.msg("操作失败");
            	} else if (code == 1){
            		parent.layer.msg("操作成功");
            		history.go(0);
            	} else if (code == 3) {
            		parent.layer.msg("您还没登录，请先登录");
            	} else if(code == -1){
            		parent.layer.msg("您已经收藏了");
            	}
            }
        });
	}
	
	function log() {
		parent.layer.msg("请先登录，再操作");
	}
	
	var m1 = new MyModal.modal(function() {
	});
	$('.btn1').on("click", function() {
		var url=$(this).attr("data-url");
		$("#url").val(url);
		 $.get(url, function(result){
			 console.log(result);
			 if(result.code==-0){
				 $("#price").val(result.price);
				 $("#positionNum").val(result.positionNum);
				 $("#regionName").val(result.regionName);
				 $("#positionName").val(result.positionName);
				 $("#regionCode").val(result.regionCode);
				 $("#sort").val(result.sort);
				 m1.show();
			 }
			 if(result.code==-1){
				 window.location.href = result.url;
			 }
			 if(result.code==500){
				 layer.msg(result.msg);
			 }
		});
	});
	
	layui.use('upload', function() {
	    var upload = layui.upload;

	    //执行实例
	    var uploadInst = upload.render({
	        elem : '#file', //绑定元素
	        url : '/common/sysFile/upload', //上传接口
	        size : 1000,
	        accept : 'file',
	        done : function(r) {
	            var fileName = r.fileName;
	             $("#imgStr").val(fileName);
	     	     $("#img").attr("src",fileName);
	        },
	        error : function(r) {
	            //layer.msg(r.msg);
	        }
	    });
	    
	});

	$().ready(function(){
		$("#save").on('click', function() {
			console.log(123);
			$("#signupForm").submit();
		});
	})

	function jisuan(){
		var day=$("#showDay").val();
		var price = $("#price").val();
		var allPrice=day*price;
		console.log(allPrice);
		$("#jiage").text(allPrice+"元");
	}


	function save() {
			$.ajax({
				type : "POST",
				url : "/pc/advSubmit",
				data : $('#signupForm').serialize(),
				success : function(r) {
					if (r.code == 0) {
						layer.msg(r.msg);
						
					} else {
						layer.msg(r.msg);
					}
				},
			});
		}
		
		$().ready(function() {
			validateRule();
		});

		$.validator.setDefaults({
			submitHandler : function() {
				save();
			}
		});
		function validateRule() {

			var icon = "<i class='fa fa-times-circle'></i> ";
			$("#signupForm").validate({
				rules : {
					positionName : {
						required : true
					},
					showDay : {
						required : true
					},
					advUrl : {
						required : true
					},
					advImg : {
						content : true
					}
				},
				messages : {
					positionName : {
						required : icon + "<span style='color:red'>展示位置不能为空</span>",
					},
					showDay : {
						required : icon + "<span style='color:red'>投放天数不能为空</span>",
					},
					advUrl : {
						required : icon + "<span style='color:red'>广告链接不能为空</span>",
					},
					advImg : {
						required : icon + "<span style='color:red'>广告图片不能为空</span>",
					}
				}
			})
		}
</script>
