<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<script src="js/jquery-3.1.1.js"></script>
		<link rel="stylesheet" href="css/activity.css">
		<link rel="stylesheet" href="css/fenye.css">
		<script type="text/javascript" src="js/fenye.js"></script>
		<title>活动报名</title>
	</head>
	<body>
		<!-- 头部 -->
		<header>
			<div class="header-top">
				<div class="header-left">
					<img src="images/logo.png" alt="">
				</div>
				<div class="header-center">
					<input type="text" list="sexlist" placeholder="--全国--">
					<datalist id="sexlist">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</datalist>
				</div>
				<div class="header-img">
					<img src="images/gongyi.png" alt="">
				</div>
				<div class="header-login" style="display: none;">
					<a href="#">登录</a>
					<a href="#">注册</a>
				</div>
				<div class="loginOk">
					<div class="loginOkImg">
						<img src="" alt="">
					</div>
					<div class="loginname">
						<p>小暖8886</p>
						<span>普通用户</span>
					</div>
				</div>
			</div>
		</header>
		<!-- 导航 -->
		<div class="navTwo">
			<div class="navTwoCen">
				<div><a href="#">网站首页</a></div>
				<div><a href="#">动态咨询</a></div>
				<div><a href="#">活动报名</a></div>
				<div><a href="#">志愿者</a></div>
				<div><a href="#">团队活动</a></div>	
			</div>
		</div>
		<!-- 地区 -->
		<div class="weizhi">
			<div class="wztwo">
				<p>您所在的位置：首页 > 活动报名</p>
			</div>
			<div class="wzshenfen">
				<p>地区：<span>全部</span></p>
				<ul>
					<li><a href="">河北省</a></li>
					<li><a href="">陕西省</a></li>
					<li><a href="">内蒙古自治区</a></li>
					<li><a href="">黑龙江省</a></li>
					<li><a href="">吉林省</a></li>
					<li><a href="">辽宁省</a></li>
					<li><a href="">山西省</a></li>
					<li><a href="">甘肃省</a></li>
					<li><a href="">青海省</a></li>
					<li><a href="">新疆维吾尔自治区</a></li>
					<li><a href="">山东省</a></li>
					<li><a href="">宁夏回族自治区</a></li>
					<li><a href="">河南省</a></li>
					<li><a href="">湖南省</a></li>
					<li><a href="">湖北省</a></li>
					<li><a href="">江苏省</a></li>
					<li><a href="">云南省</a></li>
					<li><a href="">浙江省</a></li>
					<li><a href="">北京</a></li>
					<li><a href="">天津</a></li>
					<li><a href="">江苏省</a></li>
					<li><a href="">广东省</a></li>
					<li><a href="">广西省</a></li>
					<li><a href="">香港</a></li>
					<li><a href="">澳门</a></li>
					<li><a href="">四川</a></li>
					<li><a href="">重庆</a></li>
					<li><a href="">贵州</a></li>
					<li><a href="">福建省</a></li>
					<li><a href="">安徽省</a></li>
					<li><a href="">上海</a></li>
					<li><a href="">海南省</a></li>
					<li><a href="">西藏</a></li>
					<li><a href="">台湾省</a></li>
				</ul>
				<div class="butnn"><img src="images/baoming03.png" alt=""></div>
			</div>	
		</div>
		<!-- 行业 -->
		<div class="hangye">
			<ul class="all">
				<li class="hxcolor">行业类型&nbsp;<img src="images/jiantou.png" alt="">
					<ul>
						<li><a href="">1</a></li>
						<li><a href="">1</a></li>
						<li><a href="">1</a></li>
					</ul>
				</li>
				<li>活动状态&nbsp;<img src="images/jiantou.png" alt="">
					<ul>
						<li><a href="">2</a></li>
						<li><a href="">2</a></li>
						<li><a href="">2</a></li>
					</ul>
				</li>
            </ul>
			<div class="danxuan">
				 <input type="radio" name="sex" value="1" />&nbsp;免费
                 <input type="radio" name="sex" value="2" />&nbsp;收费	
			</div>
		</div>
		<!-- 内容 -->
		<div class="hdneirong">
			<figure>
				<img src="images/aaa3.jpg" alt="">
				<figcaption>
					<p>夏令营招募 | 2019超人学苑带你看星辰大海</p>
					<p style="font-size:14px; color:#676767;">本周六 08:30 开始 武汉！</p>
					<p style="line-height:36px;"><i style="color:#e13146;">免费</i><a href="#" style="color:#e13146; float: right;margin-right:13px;">292人已报名</a></p>
				</figcaption>
			</figure>
			<figure>
				<img src="images/aaa3.jpg" alt="">
				<figcaption>
					<p>夏令营招募 | 2019超人学苑带你看星辰大海</p>
					<p style="font-size:14px; color:#676767;">本周六 08:30 开始 武汉！</p>
					<p style="line-height:36px;"><i style="color:#e13146;">免费</i><a href="#" style="color:#e13146; float: right;margin-right:13px;">292人已报名</a></p>
				</figcaption>
			</figure>
			<figure>
				<img src="images/aaa3.jpg" alt="">
				<figcaption>
					<p>夏令营招募 | 2019超人学苑带你看星辰大海</p>
					<p style="font-size:14px; color:#676767;">本周六 08:30 开始 武汉！</p>
					<p style="line-height:36px;"><i style="color:#e13146;">免费</i><a href="#" style="color:#e13146; float: right;margin-right:13px;">292人已报名</a></p>
				</figcaption>
			</figure>
			<figure>
				<img src="images/aaa3.jpg" alt="">
				<figcaption>
					<p>夏令营招募 | 2019超人学苑带你看星辰大海</p>
					<p style="font-size:14px; color:#676767;">本周六 08:30 开始 武汉！</p>
					<p style="line-height:36px;"><i style="color:#e13146;">免费</i><a href="#" style="color:#e13146; float: right;margin-right:13px;">292人已报名</a></p>
				</figcaption>
			</figure>
			<figure>
				<img src="images/aaa3.jpg" alt="">
				<figcaption>
					<p>夏令营招募 | 2019超人学苑带你看星辰大海</p>
					<p style="font-size:14px; color:#676767;">本周六 08:30 开始 武汉！</p>
					<p style="line-height:36px;"><i style="color:#e13146;">免费</i><a href="#" style="color:#e13146; float: right;margin-right:13px;">292人已报名</a></p>
				</figcaption>
			</figure>
			<figure>
				<img src="images/aaa3.jpg" alt="">
				<figcaption>
					<p>夏令营招募 | 2019超人学苑带你看星辰大海</p>
					<p style="font-size:14px; color:#676767;">本周六 08:30 开始 武汉！</p>
					<p style="line-height:36px;"><i style="color:#e13146;">免费</i><a href="#" style="color:#e13146; float: right;margin-right:13px;">292人已报名</a></p>
				</figcaption>
			</figure>
			<figure>
				<img src="images/aaa3.jpg" alt="">
				<figcaption>
					<p>夏令营招募 | 2019超人学苑带你看星辰大海</p>
					<p style="font-size:14px; color:#676767;">本周六 08:30 开始 武汉！</p>
					<p style="line-height:36px;"><i style="color:#e13146;">免费</i><a href="#" style="color:#e13146; float: right;margin-right:13px;">292人已报名</a></p>
				</figcaption>
			</figure>
			<figure>
				<img src="images/aaa3.jpg" alt="">
				<figcaption>
					<p>夏令营招募 | 2019超人学苑带你看星辰大海</p>
					<p style="font-size:14px; color:#676767;">本周六 08:30 开始 武汉！</p>
					<p style="line-height:36px;"><i style="color:#e13146;">免费</i><a href="#" style="color:#e13146; float: right;margin-right:13px;">292人已报名</a></p>
				</figcaption>
			</figure>
			<figure>
				<img src="images/aaa3.jpg" alt="">
				<figcaption>
					<p>夏令营招募 | 2019超人学苑带你看星辰大海</p>
					<p style="font-size:14px; color:#676767;">本周六 08:30 开始 武汉！</p>
					<p style="line-height:36px;"><i style="color:#e13146;">免费</i><a href="#" style="color:#e13146; float: right;margin-right:13px;">292人已报名</a></p>
				</figcaption>
			</figure>
			<figure>
				<img src="images/aaa3.jpg" alt="">
				<figcaption>
					<p>夏令营招募 | 2019超人学苑带你看星辰大海</p>
					<p style="font-size:14px; color:#676767;">本周六 08:30 开始 武汉！</p>
					<p style="line-height:36px;"><i style="color:#e13146;">免费</i><a href="#" style="color:#e13146; float: right;margin-right:13px;">292人已报名</a></p>
				</figcaption>
			</figure>
		</div>
		<!-- 分页 -->
		<div id="pageBox">
		    <span id="prev">上一页</span>
		    <ul id="pageNav"></ul>
		    <span id="next">下一页</span>
		</div>
		<!-- 底部 -->
		
		<footer>
			<div class="bot">
				<ul>
					<h4>新手指南</h4>
					<li><a href="#">新手指南1</a></li>
					<li><a href="#">新手指南2</a></li>
					<li><a href="#">新手指南3</a></li>
					<li><a href="#">新手指南4</a></li>
				</ul>
				<ul>
					<h4>民生相关</h4>
					<li><a href="#">新手指南1</a></li>
					<li><a href="#">新手指南2</a></li>
					<li><a href="#">新手指南3</a></li>
					<li><a href="#">新手指南4</a></li>
				</ul>
				<ul>
					<h4>民生聚焦</h4>
					<li><a href="#">新手指南1</a></li>
					<li><a href="#">新手指南2</a></li>
					<li><a href="#">新手指南3</a></li>
					<li><a href="#">新手指南4</a></li>
				</ul>
				<ul>
					<h4>民生关注</h4>
					<li><a href="#">新手指南1</a></li>
					<li><a href="#">新手指南2</a></li>
		
				</ul>
				<ul>
					<h4>民生咨询</h4>
					<li><a href="#">新手指南1</a></li>
					<li><a href="#">新手指南2</a></li>
					<li><a href="#">新手指南3</a></li>
					<li><a href="#">新手指南4</a></li>
				</ul>
				<figure>
					<img src="images/26.jpg" alt="">
					<figcaption>微信公众号</figcaption>
				</figure>
			</div>
			<div class="foter">
				<h4><img src="images/xian_03.jpg" alt="">&nbsp;&nbsp;友情链接&nbsp;&nbsp;<img src="images/xian_03.jpg" alt=""></h4>
				<ul>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
				</ul>
			</div>
		</footer>
		<!-- 备案 -->
		<div class="beian">
			<div class="beian1">
				<span style="float: left;">©公益打赏平台 版权所有</span>
				<span style="float: right;">京ICP备12048184号  技术支持：景安网络</span>
			</div>
		</div>
	</body>
</html>
<script>
   $(function(){
    var i=0;
    $(".butnn").click(function(){
        i++;
        if(i%2!=0){
            $(".wzshenfen").animate({"height":"152px"},600);
			$(this).animate({"line-height":"150px"},600)
        }else{
            $(".wzshenfen").animate({"height":"50px"},600);
			$(this).animate({"line-height":"50px"},600)
        }
    });
	$('.all>li').click(function(e) {
        $(this).children().stop().slideToggle()
		$(this).siblings().children().hide();
		$(this).addClass("hxcolor").siblings().removeClass("hxcolor");	
    });
});
</script>
<script>
    $(function () {
        tabPage({
            pageMain: '.hdneirong',
            pageNav: '#pageNav',
            pagePrev: '#prev',
            pageNext: '#next',
            curNum: 8, /*每页显示的条数*/
            activeClass: 'active', /*高亮显示的class*/
            ini: 0/*初始化显示的页面*/
        });
        function tabPage(tabPage) {
            var pageMain = $(tabPage.pageMain);+
			  console.log(pageMain)
            /*获取内容列表*/
            var pageNav = $(tabPage.pageNav);
            /*获取分页*/
            var pagePrev = $(tabPage.pagePrev);
            /*上一页*/
            var pageNext = $(tabPage.pageNext);
            /*下一页*/
 
 
            var curNum = tabPage.curNum;
			 console.log(curNum)
            /*每页显示数*/
            var len = Math.ceil(pageMain.find("figure").length / curNum);
            /*计算总页数*/
            console.log(len);
            var pageList = '';
            /*生成页码*/
            var iNum = 0;
            /*当前的索引值*/
 
            for (var i = 0; i < len; i++) {
                pageList += '<a href="javascript:;">' + (i + 1) + '</a>';
            }
            pageNav.html(pageList);
            /*头一页加高亮显示*/
            pageNav.find("a:first").addClass(tabPage.activeClass);
 
            /*******标签页的点击事件*******/
                pageNav.find("a").each(function(){
                    $(this).click(function () {
                        pageNav.find("a").removeClass(tabPage.activeClass);
                        $(this).addClass(tabPage.activeClass);
                        iNum = $(this).index();
                        $(pageMain).find("figure").hide();
                        for (var i = ($(this).html() - 1) * curNum; i < ($(this).html()) * curNum; i++) {
                            $(pageMain).find("figure").eq(i).show()
                        }
 
                    });
            })
            $(pageMain).find("figure").hide();
            /************首页的显示*********/
            for (var i = 0; i < curNum; i++) {
                $(pageMain).find("figure").eq(i).show()
            }
            /*下一页*/
            pageNext.click(function () {
                $(pageMain).find("figure").hide();
                if (iNum == len - 1) {
                    alert('已经是最后一页');
                    for (var i = (len - 1) * curNum; i < len * curNum; i++) {
                        $(pageMain).find("figure").eq(i).show()
                    }
                    return false;
                } else {
                    pageNav.find("a").removeClass(tabPage.activeClass);
                    iNum++;
                    pageNav.find("a").eq(iNum).addClass(tabPage.activeClass);
//                    ini(iNum);
                }
                for (var i = iNum * curNum; i < (iNum + 1) * curNum; i++) {
                    $(pageMain).find("figure").eq(i).show()
                }
            });
            /*上一页*/
            pagePrev.click(function () {
                $(pageMain).find("figure").hide();
                if (iNum == 0) {
                    alert('当前是第一页');
                    for (var i = 0; i < curNum; i++) {
                        $(pageMain).find("figure").eq(i).show()
                    }
                    return false;
                } else {
                    pageNav.find("a").removeClass(tabPage.activeClass);
                    iNum--;
                    pageNav.find("a").eq(iNum).addClass(tabPage.activeClass);
                }
                for (var i = iNum * curNum; i < (iNum + 1) * curNum; i++) {
                    $(pageMain).find("figure").eq(i).show()
                }
            })
 
        }
 
 
    })
</script>
