<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fly.points.dao.PointsDao">

	<select id="get" resultType="com.fly.points.domain.PointsDO">
		select `id`,`order_id`,`pay_type`,`order_status`,`create_time`,`points_type`,`money`,`member_id`,`integral` from points where id = #{value}
	</select>

	<select id="list" resultType="com.fly.points.domain.PointsDO">
		select p.id,`order_id`,`pay_type`,`order_status`,`create_time`,`points_type`,`money`,`integral`,
		m.name name,m.telephone, m.address 
		from points p
		left join member m on p.member_id = m.id
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="orderId != null and orderId != ''"> and order_id = #{orderId} </if>
		  		  <if test="payType != null and payType != ''"> and pay_type = #{payType} </if>
		  		  <if test="orderStatus != null and orderStatus != ''"> and order_status = #{orderStatus} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="pointsType != null and pointsType != ''"> and points_type = #{pointsType} </if>
		  		  <if test="money != null and money != ''"> and money = #{money} </if>
		  		  <if test="memberId != null and memberId != ''"> and member_id = #{memberId} </if>
		  		  <if test="startTime != null"> AND create_time &gt;= #{startTime}</if>
				  <if test="endTime != null">AND create_time &lt;= #{endTime}</if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from points
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="orderId != null and orderId != ''"> and order_id = #{orderId} </if>
		  		  <if test="payType != null and payType != ''"> and pay_type = #{payType} </if>
		  		  <if test="orderStatus != null and orderStatus != ''"> and order_status = #{orderStatus} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="pointsType != null and pointsType != ''"> and points_type = #{pointsType} </if>
		  		  <if test="money != null and money != ''"> and money = #{money} </if>
		  		  <if test="memberId != null and memberId != ''"> and member_id = #{memberId} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.fly.points.domain.PointsDO" useGeneratedKeys="true" keyProperty="id">
		insert into points
		(
			`order_id`, 
			`pay_type`, 
			`order_status`, 
			`create_time`, 
			`points_type`, 
			`money`, 
			`member_id`,
			`integral`
		)
		values
		(
			#{orderId}, 
			#{payType}, 
			#{orderStatus}, 
			#{createTime}, 
			#{pointsType}, 
			#{money}, 
			#{memberId},
			#{integral}
		)
	</insert>
	 
	<update id="update" parameterType="com.fly.points.domain.PointsDO">
		update points 
		<set>
			<if test="orderId != null">`order_id` = #{orderId}, </if>
			<if test="payType != null">`pay_type` = #{payType}, </if>
			<if test="orderStatus != null">`order_status` = #{orderStatus}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="pointsType != null">`points_type` = #{pointsType}, </if>
			<if test="money != null">`money` = #{money}, </if>
			<if test="memberId != null">`member_id` = #{memberId}</if>
			<if test="integral!=null">`integral` = #{integral}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from points where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from points where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<select id="list1" resultType="com.fly.points.domain.PointsDO">
		select `id`,`create_time`,`points_type`,`integral`,`member_id`
		from points 
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="pointsType != null and pointsType != ''"> and points_type = #{pointsType} </if>
		  		  <if test="memberId != null and memberId != ''"> and member_id = #{memberId} </if>
		  		  <if test="startTime != null"> AND create_time &gt;= #{startTime}</if>
				  <if test="endTime != null">AND create_time &lt;= #{endTime}</if>
		  		</where>
	</select>

</mapper>