<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fly.team.dao.TeamDao">

	<select id="get" resultType="com.fly.team.domain.TeamDO">
		select t.id,t.team_name,t.colonel_name,t.user_id,t.team_type,tt.type_name,t.team_code,t.team_title_img,t.team_img,t.team_introduce,t.reg_code,r.region_name,t.status,t.remark,t.addres,t.detailed_addr,t.is_auth,t.auth_ent_time,t.integral,t.colonel_tel from team t left join team_type tt on t.team_type = tt.id left join 
		cux_region r on t.reg_code = r.region_code
		where
		t.id = #{value}
	</select>
	<select id="getByTeamCode" resultType="com.fly.team.domain.TeamDO">
		select `id`,`team_name`,`colonel_name`,`user_id`,`team_type`,`team_code`,`team_title_img`,`team_img`,`reg_code`,`status`,`remark`,team_introduce,addres,detailed_addr,integral from team 
		where
		id = #{value}
	</select>

	<select id="list" resultType="com.fly.team.domain.TeamDO">
		select t.id,t.team_name teamName,t.colonel_name,colonel_tel,t.user_id,t.team_type,tt.type_name,t.team_code,t.team_title_img,t.team_img,t.reg_code,r.region_name,t.status,t.remark,t.team_introduce,t.addres ,mem.`name` as teamName,t.is_auth,t.auth_ent_time,t.integral
		from team t left join team_type tt on t.team_type = tt.id 
		left join cux_region r on t.reg_code = r.region_code
		left join sys_user mem on mem.user_id=t.user_id
        <where>  
		  		  <if test="id != null and id != ''"> and t.id = #{id} </if>
		  		  <if test="teamName != null and teamName != ''"> and t.team_name like concat('%',#{teamName},'%')</if>
		  		  <if test="colonelName != null and colonelName != ''"> and t.colonel_name = #{colonelName} </if>
		  		  <if test="userId != null and userId != ''"> and t.user_id = #{userId} </if>
		  		  <if test="teamType != null and teamType != ''"> and t.team_type = #{teamType} </if>
		  		  <if test="teamCode != null and teamCode != ''"> and t.team_code = #{teamCode} </if>
		  		  <if test="teamTitleImg != null and teamTitleImg != ''"> and t.team_title_img = #{teamTitleImg} </if>
		  		  <if test="teamImg != null and teamImg != ''"> and t.team_img = #{teamImg} </if>
		  		  <if test="regCode != null and regCode != ''"> and t.reg_code = #{regCode} </if>
		  		   <if test="status != null and status !=''"> and t.status = #{status} </if>
		  		   <if test="colonelTel != null and colonelTel != ''">and t.colonel_tel = #{colonelTel}</if>
		  		   <if test="isAuth != null and isAuth != ''">and t.is_auth = #{isAuth}</if>
					<if test="authEntTime != null ">and t.auth_ent_time = #{authEntTime}</if>
		  		   <if test="ids != null">
		         	and left(t.id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		          </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*)
		from team t left join team_type tt on t.team_type = tt.id 
		left join cux_region r on t.reg_code = r.region_code
		left join sys_user mem on mem.user_id=t.user_id
		 <where>  
		  		  <if test="id != null and id != ''"> and t.id = #{id} </if>
		  		  <if test="teamName != null and teamName != ''"> and t.team_name like concat('%',#{teamName},'%')</if>
		  		  <if test="colonelName != null and colonelName != ''"> and t.colonel_name = #{colonelName} </if>
		  		  <if test="userId != null and userId != ''"> and t.user_id = #{userId} </if>
		  		  <if test="teamType != null and teamType != ''"> and t.team_type = #{teamType} </if>
		  		  <if test="teamCode != null and teamCode != ''"> and t.team_code = #{teamCode} </if>
		  		  <if test="teamTitleImg != null and teamTitleImg != ''"> and t.team_title_img = #{teamTitleImg} </if>
		  		  <if test="teamImg != null and teamImg != ''"> and t.team_img = #{teamImg} </if>
		  		  <if test="regCode != null and regCode != ''"> and t.reg_code = #{regCode} </if>
		  		   <if test="status != null and status !=''"> and t.status = #{status} </if>
		  		   <if test="colonelTel != null and colonelTel != ''">and t.colonel_tel = #{colonelTel}</if>
		  		   <if test="isAuth != null and isAuth != ''">and t.is_auth = #{isAuth}</if>
					<if test="authEntTime != null ">and t.auth_ent_time = #{authEntTime}</if>
		  		   <if test="ids != null">
		         	and left(t.id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		          </if>
		  		</where>
	</select>
	 
	 <select id="is_apply" resultType="com.fly.team.domain.TeamDO">
	select t.id,t.team_name,t.colonel_name,t.user_id,t.team_type,tt.type_name,t.team_code,t.team_title_img,t.team_img,t.reg_code,r.region_name,t.status,t.remark,t.team_introduce,t.colonel_tel,t.addres,t.detailed_addr from team t left join team_type tt on t.team_type = tt.id left join 
	cux_region r on t.reg_code = r.region_code
        <where>  
		  		  <if test="id != null and id != ''"> and t.id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and t.user_id = #{userId} </if>
		  		   <if test="status != null and status !=''"> and t.status != #{status} </if>
		</where>
	</select>
	
	<insert id="save" parameterType="com.fly.team.domain.TeamDO" useGeneratedKeys="true" keyProperty="id">
		insert into team
		(
			`id`,
			`team_name`, 
			`colonel_name`, 
			`user_id`, 
			`team_type`, 
			`team_code`, 
			`team_title_img`, 
			`team_img`, 
			`reg_code`,
			`status`,
			`remark`,
			`colonel_tel`,
			`team_introduce`,
			`addres`,
			`detailed_addr`,
			`create_time`
		)
		values
		(
			#{id},
			#{teamName}, 
			#{colonelName}, 
			#{userId}, 
			#{teamType}, 
			#{teamCode}, 
			#{teamTitleImg}, 
			#{teamImg}, 
			#{regCode},
			#{status},
			#{remark},
			#{colonelTel},
			#{teamIntroduce},
			#{addres},
			#{detailedAddr},
			#{createTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.fly.team.domain.TeamDO">
		update team 
		<set>
			<if test="teamName != null">`team_name` = #{teamName}, </if>
			<if test="colonelName != null">`colonel_name` = #{colonelName}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="teamType != null">`team_type` = #{teamType}, </if>
			<if test="teamCode != null">`team_code` = #{teamCode}, </if>
			<if test="teamTitleImg != null">`team_title_img` = #{teamTitleImg}, </if>
			<if test="teamImg != null">`team_img` = #{teamImg}, </if>
			<if test="regCode != null">`reg_code` = #{regCode},</if>
			<if test="status != null">`status` = #{status},</if>
			<if test="remark != null">`remark` = #{remark},</if>
			<if test="colonelTel != null">`colonel_tel` = #{colonelTel},</if>
			<if test="teamIntroduce != null">`team_introduce` = #{teamIntroduce},</if>
			<if test="integral != null">`integral` = #{integral}, </if>
			<if test="addres != null">`addres` = #{addres},</if>
			<if test="detailedAddr != null">`detailed_addr` = #{detailedAddr},</if>
			<if test="isAuth != null">is_auth = #{isAuth},</if>
			<if test="authEntTime != null">auth_ent_time = #{authEntTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from team where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from team where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	<select id="getTeamUserNumber" resultType="int">
		select count(*) from sys_user where dept_id = #{value}
	</select>
	
	<update id="updateIntegral" parameterType="java.util.Map">
		update team 
		<set>
			<if test="integral != null">`integral` = integral + #{integral}</if>
		</set>
		where id = #{id}
	</update>
	
	<select id="getByUserId" resultType="com.fly.team.domain.TeamDO">
		select t.id,t.team_name,t.colonel_name,t.user_id,t.team_type,tt.type_name,t.team_code,t.team_title_img,t.team_img,t.team_introduce,t.reg_code,r.region_name,t.status,t.remark,t.addres,t.detailed_addr,t.is_auth,t.auth_ent_time from team t left join team_type tt on t.team_type = tt.id left join 
		cux_region r on t.reg_code = r.region_code
		where
		t.user_id= #{value}
	</select>
	
	<select id="listEndAuthe" resultType="com.fly.team.domain.TeamDO">
		select `id`,`team_name`,`colonel_name`,`user_id`,`team_type`,`team_code`,`team_title_img`,`team_img`,`reg_code`,`team_introduce`,`status`,`remark`,`colonel_tel`,`integral`,`addres`,`detailed_addr`,`is_auth`,`auth_ent_time` from team
        <where>  
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="teamType != null and teamType != ''"> and team_type = #{teamType} </if>
		  		  <if test="teamIntroduce != null and teamIntroduce != ''"> and team_introduce = #{teamIntroduce} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="isAuth != null and isAuth != ''"> and is_auth = #{isAuth} </if>
		  		  <if test="authEntTime != null and authEntTime != ''"> and auth_ent_time = #{authEntTime} </if>
		  		   <if test="endTime != null">
		  		   and auth_ent_time &lt;= #{endTime} 
		  		   </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
</mapper>