<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fly.screen.dao.ScreenDao">

	<select id="getOrgSurvey" resultType="java.util.Map">
		SELECT  tt.type_name name,COUNT(*) value  from team t left join team_type tt on t.team_type = tt.id 
		<where>
		<if test="ids != null">
		         	and left(t.id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
		GROUP BY t.team_type
	</select>
	<select id="getTeamByVolSurvey" resultType="java.util.Map">
		SELECT t.team_name name,COUNT(*) value from volunteer v INNER  JOIN team t on v.team_id=t.id 
		<where>
		<if test="ids != null">
		         	and left(v.team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
		 GROUP BY v.team_id ORDER BY value desc
	</select>
	<select id="getNewsByTeamSurvey" resultType="java.util.Map">
		SELECT t.team_name name,COUNT(*) value from new_info n INNER  JOIN team t on n.team_id=t.id 
		<where>
		<if test="ids != null">
		         	and left(n.team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
		 GROUP BY n.team_id ORDER BY value desc
	</select>
	<select id="getCreateTeamSurvey" resultType="java.util.Map">
		SELECT count(*) value from team 
		<where>
		<if test="starteTime != null">
		and create_time &gt;= #{starteTime}
		</if>
		<if test="endTime != null">
		and create_time &lt;= #{endTime}
		</if>
		<if test="ids != null">
		         	and left(id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
	</select>
	
	<select id="getPublicNewsSurvey" resultType="java.util.Map">
		SELECT count(*) value from new_info 
		<where>
		<if test="starteTime != null">
		and create_time &gt;= #{starteTime}
		</if>
		<if test="endTime != null">
		and create_time &lt;= #{endTime}
		</if>
		<if test="ids != null">
		         	and left(team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
	</select>
	
	<select id="getPublicNewsMon" resultType="java.util.Map">
		SELECT count(*) value,MONTH(create_time) name from new_info 
		<where>
		<if test="starteTime != null">
		and create_time &gt;= #{starteTime}
		</if>
		<if test="endTime != null">
		and create_time &lt;= #{endTime}
		</if>
		<if test="ids != null">
		         	and left(team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
		 GROUP BY MONTH(create_time)
	</select>
	
	<select id="getCommMon" resultType="java.util.Map">
		SELECT count(*) value,MONTH(c.create_time) name from new_comment c left join new_info n on c.news_id=n.id
		<where>
		<if test="starteTime != null">
		and c.create_time &gt;= #{starteTime}
		</if>
		<if test="endTime != null">
		and c.create_time &lt;= #{endTime}
		</if>
		<if test="ids != null">
		         	and left(n.team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
		 GROUP BY MONTH(c.create_time)
	</select>
	
	<select id="getDyMon" resultType="java.util.Map">
		SELECT count(*) value,MONTH(c.creat_time) name from new_dynamic c left join new_info n on c.news_id=n.id
		<where>
		<if test="starteTime != null">
		and c.creat_time &gt;= #{starteTime}
		</if>
		<if test="endTime != null">
		and c.creat_time &lt;= #{endTime}
		</if>
		<if test="ids != null">
		         	and left(n.team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
		 GROUP BY MONTH(c.creat_time)
	</select>
	
	<select id="getPublicNewsCount" resultType="java.util.Map">
		SELECT count(*) value from new_info 
		<where>
		<if test="starteTime != null">
		and create_time &gt;= #{starteTime}
		</if>
		<if test="endTime != null">
		and create_time &lt;= #{endTime}
		</if>
		<if test="ids != null">
		         	and left(team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
	</select>
	
	<select id="getPublicActTypeSurvey" resultType="java.util.Map">
		SELECT count(*) value, t.type_name name from activity a left join act_type t on a.act_type_id = t.id
		<where>
		 <if test="ids != null">
		         	and left(a.team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
		 GROUP BY name
	</select>
	<select id="getPublicActivitySurvey" resultType="java.util.Map">
		SELECT count(*) value from activity 
		<where>
		<if test="starteTime != null">
		and create_time &gt;= #{starteTime}
		</if>
		<if test="endTime != null">
		and create_time &lt;= #{endTime}
		</if>
		 <if test="ids != null">
		         	and left(team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
	</select>
	
	<select id="getPoliticsSurvey" resultType="java.util.Map">
		SELECT  u.political_status name,COUNT(*) value  from sys_user u inner join volunteer v on u.user_id = v. user_id
		<where>
		<if test="ids != null">
		         	and left(v.team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
		GROUP BY political_status
	</select>
	<select id="getEducationSurvey" resultType="java.util.Map">
		SELECT  u.education name,COUNT(*) value  from sys_user u inner join volunteer v on u.user_id = v. user_id
		<where>
		<if test="ids != null">
		         	and left(v.team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
		GROUP BY education
	</select>
	<select id="getPostSurvey" resultType="java.util.Map">
		SELECT  u.post name,COUNT(*) value  from sys_user u inner join volunteer v on u.user_id = v. user_id
		<where>
		<if test="ids != null">
		         	and left(v.team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
		GROUP BY post
	</select>
	<select id="getSexCount" resultType="java.util.Map">
		SELECT  u.sex name,COUNT(*) c  from sys_user u inner join volunteer v on u.user_id = v. user_id
		<where>
		<if test="ids != null">
		         	and left(v.team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
		GROUP BY sex
	</select>
	
	<select id="getAgeCount" resultType="java.util.Map">
		SELECT COUNT(*) value from sys_user u inner JOIN volunteer v on u.user_id = v.user_id 
		<where>
		 			and age BETWEEN #{star} AND #{end}
		<if test="ids != null">
		         	and left(v.team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
	</select>
	
	<select id="getAgeAndActCount" resultType="java.util.Map">
		SELECT COUNT(a.user_id) value,a.user_id name from sys_user u LEFT JOIN act_apply a on u.user_id = a.user_id inner JOIN volunteer v on u.user_id = v.user_id 
		<where>
		<if test="ids != null">
		         	and left(v.team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
		GROUP BY a.user_id  HAVING value BETWEEN #{star} AND #{end}
		
	</select>
	
	<select id="getActCount" resultType="java.util.Map">
		SELECT COUNT(*) value from act_apply a LEFT JOIN volunteer v on a.user_id = v.user_id
		<where>
		<if test="ids != null">
		         	and left(v.team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		 </where>
	</select>
	
	
	<select id="getPointsCount" resultType="java.util.Map">
		select COUNT(user_id) VALUE, user_id from signin  
		<where>
		<if test="ids != null">
		         	and left(team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
		GROUP BY user_id HAVING COUNT(user_id) BETWEEN #{star} and #{end}
	</select>
	
	<select id="getSigninCount" resultType="java.util.Map">
		select COUNT(*) value from signin 
		<where>
		<if test="ids != null">
		         	and left(team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
		GROUP BY user_id
	</select>
	
	<select id="getVolCount" resultType="java.util.Map">
		SELECT count(*) value from volunteer 
		<where>
		<if test="starteTime != null">
		and create_time &gt;= #{starteTime}
		</if>
		<if test="endTime != null">
		and create_time &lt;= #{endTime}
		</if>
		<if test="ids != null">
		         	and left(team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
	</select>
	
	<select id="getPoinCount" resultType="java.util.Map">
		SELECT count(*) value from signin p left join volunteer v on p.user_id = v.user_id
		<where>
		<if test="starteTime != null">
		and p.sigin_time &gt;= #{starteTime}
		</if>
		<if test="endTime != null">
		and p.sigin_time &lt;= #{endTime}
		</if>
		<if test="ids != null">
		         	and left(v.team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
	</select>
	
	<select id="getProCount" resultType="java.util.Map">
		SELECT count(*) value from proxybusi 
		<where>
		<if test="regionLevel != null and regionLevel != ''">
			and region_level = #{regionLevel}
		</if>
		</where>
	</select>
	<select id="getCuxCount" resultType="java.util.Map">
		SELECT count(*) value from cux_region 
		<where>
		<if test="regionLevel != null and regionLevel != ''">
			and region_level = #{regionLevel}
		</if>
		</where>
	</select>
	<select id="getUserCount" resultType="java.util.Map">
		SELECT count(*) value from sys_user u inner JOIN volunteer v on u.user_id = v. user_id
		<where>
		<if test="ids != null">
		         	and left(v.team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
	</select>

	<select id="getsigMon" resultType="java.util.Map">
		SELECT count(*) value,MONTH(sigin_time) name from signin 
		<where>
		<if test="starteTime != null">
		and sigin_time &gt;= #{starteTime}
		</if>
		<if test="endTime != null">
		and sigin_time &lt;= #{endTime}
		</if>
		<if test="ids != null">
		         	and left(sigin_time,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
		 GROUP BY MONTH(sigin_time)
	</select>
	
	<select id="getactOrder" resultType="java.util.Map">
	SELECT COUNT(*) value,u.name name from act_apply a LEFT JOIN sys_user u on a.user_id = u.user_id LEFT JOIN volunteer v on u.user_id = v. user_id
	<where>
	<if test="starteTime != null">
		and a.create_time &gt;= #{starteTime}
		</if>
		<if test="endTime != null">
		and a.create_time &lt;= #{endTime}
		</if>
	<if test="ids != null">
		         	and left(v.team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
	</where>
	GROUP BY a.user_id ORDER BY value desc
	</select>
	
	<select id="getsigOrder" resultType="java.util.Map">
	SELECT COUNT(*) value, u.`name` name FROM signin s INNER  JOIN sys_user u on u.user_id = s.user_id
	<where>
	<if test="starteTime != null">
		and s.sigin_time &gt;= #{starteTime}
		</if>
		<if test="endTime != null">
		and s.sigin_time &lt;= #{endTime}
		</if>
	<if test="ids != null">
		         	and left(s.team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
	</where>
	GROUP BY s.user_id ORDER BY value DESC
	</select>
	
	<select id="getLevel" resultType="java.util.Map">
	SELECT COUNT(*) value,(SELECT levelName from level where type=#{type} and level = #{level}) name from volunteer 
	<where> 
	and integral &gt;= (SELECT sta_integral from level where type=#{type} and level = #{level})
	and integral &lt;= (SELECT end_integral from level where type=#{type} and level = #{level})
	<if test="ids != null">
		         	and left(team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
	</where>
	</select>
	<select id="getVol" resultType="java.util.Map">
	select count(*) value from volunteer
	<where>
	<if test="ids != null">
		         	and left(team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
	</where>
	</select>
</mapper>