<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fly.screen.dao.ScreenDao">

	<select id="getOrgSurvey" resultType="java.util.Map">
		SELECT  type_name name,COUNT(*) value  from team t left join team_type tt on t.team_type = tt.id 
		<where>
		<if test="ids != null">
		         	and left(t.team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
		GROUP BY t.team_type
	</select>
	<select id="getTeamByVolSurvey" resultType="java.util.Map">
		SELECT t.team_name,COUNT(*) c from volunteer v INNER  JOIN team t on v.team_id=t.id 
		<where>
		<if test="ids != null">
		         	and left(v.team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
		 GROUP BY v.team_id ORDER BY c desc
	</select>
	<select id="getNewsByTeamSurvey" resultType="java.util.Map">
		SELECT t.team_name,COUNT(*) c from new_info n INNER  JOIN team t on n.team_id=t.id 
		<where>
		<if test="ids != null">
		         	and left(n.team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
		 GROUP BY n.team_id ORDER BY c desc
	</select>
	<select id="getCreateTeamSurvey" resultType="java.util.Map">
		SELECT count(*) from team 
		<where>
		<if test="starteTime != null">
		and create_time &gt; = #{starteTime}
		</if>
		<if test="endTime != null">
		and create_time &lt; = #{endTime}
		</if>
		<if test="ids != null">
		         	and left(id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
	</select>
	
	<select id="getPublicNewsSurvey" resultType="java.util.Map">
		SELECT count(*) from new_info 
		<where>
		<if test="starteTime != null">
		and create_time &gt; = #{starteTime}
		</if>
		<if test="endTime != null">
		and create_time &lt; = #{endTime}
		</if>
		<if test="ids != null">
		         	and left(team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
	</select>
	<select id="getPublicActivitySurvey" resultType="java.util.Map">
		SELECT count(*) from new_info 
		<where>
		<if test="starteTime != null">
		and create_time &gt; = #{starteTime}
		</if>
		<if test="endTime != null">
		and create_time &lt; = #{endTime}
		</if>
		 <if test="ids != null">
		         	and left(team_id,CHAR_LENGTH(#{ids})) LIKE CONCAT('%',#{ids},'%')  
		 </if>
		</where>
	</select>

</mapper>