<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">	
								<label class="col-sm-3 control-label">广告名称：</label>
								<div class="col-sm-7">
									<input id="advName" name="advName" class="form-control input-sm" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">封面图：</label>
								<div class="col-sm-7">
										<input id="img" name="advImg"   class="form-control input-sm" type="hidden"/>
										<img width="200px" height="90px"   id="img4" />
										<button type="button" class="layui-btn" id="file">
											<i class="fa fa-cloud"></i>上传图片
										</button>
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">广告外链接：</label>
								<div class="col-sm-7">
									<input id="url" name="url" class="form-control input-sm" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">费用(人均费用基数)：</label>
								<div class="col-sm-7">
									<input id="perCapitaCost" name="perCapitaCost" oninput="clearNoNum(this)" class="form-control input-sm" type="text">
								</div>
							</div>
							<input id="regionCode" name="regionCode"  th:value=${user.deptId} class="form-control input-sm" type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">广告位置：</label>
								<div class="col-sm-7">
									<select class="form-control input-sm" id="positionNum" name="positionNum">
										<option>---请选择 ---</option>
										<option th:style="${level==4}?'display:none;':''" value="1">首页</option>
										<option value="2">资讯列表页</option>
										<option value="3">资讯详情页</option>
										<option value="4">活动报名页</option>
										<option value="5">团队详情页</option>
										<option value="6">志愿者详情页</option>
										<option value="7">签到页</option>
									</select>
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">展现结束时间：</label>
								<div class="form-inline row">
						                <input type="text" class="laydate-icon form-control" id="showStartTime" name="showStartTime"   placeholder="请选择开始时间"
			                                             onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" style="background-color: #fff;" />
			                            至<input type="text" class="laydate-icon form-control" id="showEndTime" name="showEndTime"   placeholder="请选择开始时间"
			                                             onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" style="background-color: #fff;" />
			                                             
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-7 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/adv/advertisement/add.js">
	</script>
	<script>
        layui.use('upload', function() {
            var upload = layui.upload;

            //执行实例
            var uploadInst = upload.render({
                elem : '#file', //绑定元素
                url : '/common/sysFile/upload', //上传接口
                size : 1000,
                accept : 'file',
                done : function(r) {
                    var fileName = r.fileName;
                    $("#img").val(fileName);
                    $("#img4").attr("src",fileName);
                },
                error : function(r) {
                    layer.msg(r.msg);
                }
            });
            
        });
        
	</script>
</body>
</html>
