<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="helpCenter:center:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="helpCenter:center:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="title" type="text" class="form-control"
								placeholder="请输入标题">
						</div>
						<div class="columns pull-right col-md-2 ">
							<select id="helpTypeId" class="form-control">
								<option value=''>请选择帮助类型</option>
							<option th:each="type : ${list}" th:value="${type.id}"
											th:text="${type.helpTitle}"></option>
							</select>
						</div>
						<div class="columns pull-right col-md-2 ">
							<select id="status" class="form-control">
								<option value=''>请选择发布状态</option>
								<option value='0'>发布</option>
								<option value='1'>未发布</option>
							</select>
						</div>
						<div  class="columns pull-right col-md-2">
			                <input type="text" class="laydate-icon form-control" id="endTime" name="endTime"   placeholder="请选择资讯创建结束时间"
                                             onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" style="background-color: #fff;" />
			            </div>
						<div  class="columns pull-right col-md-2">
			                <input type="text" class="laydate-icon  form-control" id="startTime" name="startTime"   placeholder="请选择资讯创建开始时间"
                                             onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" style="background-color: #fff;" />
			            </div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="helpCenter:center:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="helpCenter:center:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="helpCenter:center:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/helpCenter/center/center.js"></script>
</body>
</html>