<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">

    <div style="padding: 10px 0 20px 10px;text-align: center">
        <h2>系统公告</h2>
    </div>
    <ul>
        <li>非凡、极致、创新、突破</li>
        <li>用非凡的品质打动客户，用极致的服务满足客户，用创新的理念引领客户，用突破的思想开拓未来。</li>
        <li>在技术飞速发展的今天，实力永远是奠定地位的唯一依据。掌尚人在不断进步，不断成长，源源不断汲取行业知识，洞察行业发展，带给客户最新的技术体验。</li>
        <li>未来，我们将不断优化公司的各个系统，实现公司全面发展，不断寻求新的突破，完善客户需求，提供更加完善的技术服务支持，实现公司价值观，为社会谋取更多的利益。</li>&ndash;&gt;

    </ul>
    



</div>
</body>
</html>