<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fly.activity.dao.ApplyDao">

	<select id="get" resultType="com.fly.activity.domain.ApplyDO">
		select a.id,a.zyz_id,a.act_id,v.volunteer_name, ac.act_title,a.create_time,a.examine,a.status,a.reason_for_refusal from act_apply a left join volunteer v on a.zyz_id = v.id left join activity ac on a.act_id = ac.id where a.id = #{value}
	</select>

	<select id="list" resultType="com.fly.activity.domain.ApplyDO">
		select a.id,a.zyz_id,a.act_id,v.volunteer_name, ac.act_title,
		a.create_time,
		DATE_FORMAT(a.create_time,'%Y-%m-%d %H:%i:%s') createTimeStr,
		a.examine,a.status,a.reason_for_refusal from act_apply a left join volunteer v on a.zyz_id = v.id left join activity ac on a.act_id = ac.id
        <where>  
		  		  <if test="id != null and id != ''"> and a.id = #{id} </if>
		  		  <if test="zyzId != null and zyzId != ''"> and a.zyz_id = #{zyzId} </if>
		  		  <if test="actId != null and actId != ''"> and a.act_id = #{actId} </if>
		  		  <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime} </if>
		  		  <if test="examine != null and examine != ''"> and a.examine = #{examine} </if>
		  		  <if test="status != null"> and a.status = #{status} </if>
		  		  <if test="reasonForRefusal != null and reasonForRefusal != ''"> and a.reason_for_refusal = #{reasonForRefusal} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from act_apply
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="zyzId != null and zyzId != ''"> and zyz_id = #{zyzId} </if>
		  		  <if test="actId != null and actId != ''"> and act_id = #{actId} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="examine != null and examine != ''"> and examine = #{examine} </if>
		  		  <if test="status != null"> and status = #{status} </if>
		  		  <if test="reasonForRefusal != null and reasonForRefusal != ''"> and reason_for_refusal = #{reasonForRefusal} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.fly.activity.domain.ApplyDO" useGeneratedKeys="true" keyProperty="id">
		insert into act_apply
		(
			`user_id`, 
			`act_id`, 
			`create_time`, 
			`examine`, 
			`status`, 
			`reason_for_refusal`
		)
		values
		(
			#{userId}, 
			#{actId}, 
			#{createTime}, 
			#{examine}, 
			#{status}, 
			#{reasonForRefusal}
		)
	</insert>
	 
	<update id="update" parameterType="com.fly.activity.domain.ApplyDO">
		update act_apply 
		<set>
			<if test="zyzId != null">`zyz_id` = #{zyzId}, </if>
			<if test="actId != null">`act_id` = #{actId}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="examine != null">`examine` = #{examine}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="reasonForRefusal != null">`reason_for_refusal` = #{reasonForRefusal}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from act_apply where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from act_apply where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<!-- 通过志愿者编号获取报名信息 -->
	<select id="isApply" resultType="com.fly.activity.domain.ApplyDO">
			SELECT apply.* FROM act_apply apply	
			<where>  
		  		 apply.`zyz_id`=#{zyzId} and apply.`zyz_id`=#{actId} AND apply.`status`!=2
		  	</where>
	</select>

</mapper>