<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${apply.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">志愿者名称：</label>
								<div class="col-sm-8">
									<input id="zyzId"  th:value="${apply.volunteerName}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">用户头像：</label>
								<div class="col-sm-8">
									<img th:src="${apply.headImg}">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">报名活动：</label>
								<div class="col-sm-8">
									<input id="actId"  th:value="${apply.actTitle}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">email：</label>
								<div class="col-sm-8">
									<input id="email"  th:value="${apply.email}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">手机：</label>
								<div class="col-sm-8">
									<input id="mobile"  th:value="${apply.mobile}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">性别：</label>
								<div class="col-sm-8">
									<input id="sex"  th:value="${apply.sex == 1}?'女':'男'" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">出生日期：</label>
								<div class="col-sm-8">
									 <input type="text" class="laydate-icon layer-date form-control" id="birth"   th:value="${apply.birth}==null?null:${#dates.format(apply.birth,'yyyy-MM-dd')}" 
                                             onclick="laydate({istime: true, format:'YYYY-MM-DD' editable:false})" style="background-color: #fff;" editable="false" readonly="readonly"/>
								</div>
							</div>
							
							<div class="form-group">	
								<label class="col-sm-3 control-label">爱好：</label>
								<div class="col-sm-8">
									<input id="hobby"  th:value="${apply.hobby}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">民族：</label>
								<div class="col-sm-8">
									<input id="nation"  th:value="${apply.nation}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">政治面貌：</label>
								<div class="col-sm-8">
									<input id="politicalStatus"  th:value="${apply.politicalStatus}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">省：</label>
								<div class="col-sm-8">
									<input id="province"  th:value="${apply.province}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">市：</label>
								<div class="col-sm-8">
									<input id="city"  th:value="${apply.city}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">县：</label>
								<div class="col-sm-8">
									<input id="district"  th:value="${apply.district}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">街道：</label>
								<div class="col-sm-8">
									<input id="street"  th:value="${apply.street}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">家庭地址：</label>
								<div class="col-sm-8">
									<input id="liveAddress"  th:value="${apply.liveAddress}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">报名时间：</label>
								<div class="col-sm-8">
                                    <input type="text" class="laydate-icon layer-date form-control" id="createTime"   th:value="${apply.createTime}==null?null:${#dates.format(apply.createTime,'yyyy-MM-dd HH:mm:ss')}" 
                                             onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss' editable:false})" style="background-color: #fff;" editable="false" readonly="readonly"/>
                                </div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">状态：</label>
								<div class="col-sm-8">
									<label class="radio-inline" >
										<input type="radio"  value="1" th:attr ="checked=${1 == apply.status?true:false}" name="status">审核通过
									</label>
									<label class="radio-inline" >
										<input type="radio"  value="2" th:attr ="checked=${2 == apply.status?true:false}" name="status">拒绝
									</label>
								</div>
							</div>
														<div class="form-group" id ="reason">	
								<label class="col-sm-3 control-label">拒绝理由：</label>
								<div class="col-sm-8">
									<input id="reasonForRefusal" name="reasonForRefusal" th:value="${apply.reasonForRefusal}" th:attr = "readonly=${1 == apply.status?true:false}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/actApply/apply/edit.js">
	</script>
	<script type="text/javascript">
	$("input:radio[name = status]").click(function(){
		   var checkValue = $("input:radio[name=status]:checked").val(); 
		   if(checkValue == 2){
			   $("#reason").empty();
			    var c  ='<label class="col-sm-3 control-label">拒绝理由：</label><div class="col-sm-8">';
			   		c += '<input id="status" name="status"  class="form-control" type="text">'
					c += '</div>';			
			   $("#reason").append(c);
		   }
		   if(checkValue == 1){
			   $("#reason").empty();
			   var c  ='<label class="col-sm-3 control-label">拒绝理由：</label><div class="col-sm-8">';
		   		c += '<input id="status" name="status" class="form-control" type="text" readonly="readonly">'
				c += '</div>';			
		   $("#reason").append(c);
		   }
		})
	
	
	</script>
	
</body>
</html>
