.header_txt{
	width: 100%;
	height: 80px;
	background:#c11b25;
}
.headerleft{
	width: 10%;
	float: left;
	line-height:80px;
	text-align: center;
}
.headercent{
	width: 80%;
	float: left;
	height: 80px;
	font-size:30px;
	line-height:80px;
	color:#fff;
	text-align: center;
}
.headerright{
	width: 10%;
	float: left;
	line-height:80px;
	text-align: center;
}
.header_nav{
	width: 100%;
	height: 83px;
	border-bottom: 20px solid #f1f1f1;
}
.header_nav div{
	width: 33.33%;
	height: 34px;
	margin-top:26px;
	border-right:2px solid #dddddd;
	box-sizing:border-box;
	float: left;
	line-height:34px;
	text-align: center;
	font-size: 24px;
}
.header_nav div>select{
	border:none;
	outline: none;
	font-size: 20px;
	background: #fff;
}
.header_nav div:nth-child(3){
	border-right:none;
}
.box-nr{
	width: 100%;
}
.box-nr-1{
	width: 95%;
	height: 195px;
	overflow: hidden;
	margin: 0 auto;
	margin-top:12px;
	border-bottom:1px solid #BBBBBB ;
}
.box-nr-1>img{
	float: left;
	width: 320px;
	height: 188px;
	
}
.box-nr-1>span>img{
	margin-right:10px;
}
.box-nr-1 span{
	display: block;
	width: 374px;
	font-size:25px;
	float: left;
	margin-left:17px;
}
.box-nr-1 p{
	font-size: 22px;
	color:#99a5b5;
	float: left;
	margin-left:17px;
}
.box-nr-1 rem{
	display: block;
	width: 374px;
	font-size:25px;
	float: left;
	margin-left:17px;
	color:#e21601;
	margin-top: 40px;
	overflow: hidden;
}
.box-nr-1 rem>a{
	display: block;
	width: 105px;
	height: 36px;
	line-height:36px;
	text-align: center;
	color:#e21601;
	border:1px solid #e21601;
	background-color:#ffecea;
	float: right;
	margin-right: 10px;
}
.box-nr button{
	width: 90%;
	height: 52px;
	line-height:52px;
	font-size:23px;
	margin-left:5%;
	border: none;
	text-align: center;
	outline: none;
	margin-top:30px;
	margin-bottom:46px;
}