*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration:none;
}
.header{
	width: 100%;
	height: 570px;
	background:url(../images/qiandao.jpg) no-repeat;
	background-size:100% 100%;
	float: left;
	
}
.header1{
	width:268px;
	height:268px;
	margin:0 auto;
	margin-top:107px;
	overflow: hidden;
}
.header1 span{
	display: block;
	width: 100%;
	font-size:51px;
	color:#fe4e36;
	text-align: center;
	margin-top:111px;
	float: left;
}
.header1 p{
	display: block;
	width: 100%;
	color:#fe4e37;
	text-align: center;
	float: left;
	font-size: 24px;
}
.header>a{
	display: block;
	width: 251px;
	height:70px;
	margin:0 auto;
	margin-top:32px;
	text-align: center;
	line-height:69px;
	font-size:27px;
	color:#e23c12;
}
.header>p{
	line-height:60px;
	text-align: center;
	font-size:22px;
	color:#fff;
}
.headerhe{
	line-height:96px;
	border-bottom:10px solid #f3f1ef;
}
.headerhe>p{
	display: block;
	width:95%;
	margin:0 auto;
	font-size:30px;
	float: ;
}
.headerhe>p>img{
	width: 32px;
	height: 32px;
	margin-top:31px;
	margin-right:13px;
}
.headerli {
	width:100%;
	border-bottom:10px solid #f3f1ef;
	overflow: hidden;
}
.qiandao{
	width: 95%;
	margin: 0 auto;
	overflow: hidden;
}
.qiandao img{
	width: 100%;
	margin-top:20px;
}
.cwmx{
	width:100%;
	line-height:80px;
	font-size:30px;
	text-align: center;
	background: #ff8108;
	color:#fff;
	    padding-bottom: 60px;
}