*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.mygz{
	width: 100%;
	height: 80px;
	background:#c01b25;
}
.alendar{
	width: 100%;
	position:relative;
	text-align: center;
	font-size:28px;
	line-height:80px;
	color:#fff;
}
.alendar>img{
	width: 16px;
	height: 30px;
	position: absolute;
	top: 25px;
	left: 40px;
}
.zidaoh{
	width: 95%;
	float: left;
	margin-left:2.5%;
	margin-top:20px;
}
.zidaoh li{
	float: left;
	font-size:28px;
	width: 25%;
	line-height:60px;
	text-align: center;
}
.t1{
	color:#ed0019;
	border-bottom:3px solid #ed0019;	
}
.guanzhu{
	width:95%;
	float: left;
	margin-left: 2.5%;
}
.guanzhu>div{
	display: none;
}
.guanzhu1,.guanzhu2{
	width: 100%;
	height: 235px;
	border-bottom:1px solid #fcfcfc;
}
.guanzhu1>img{
	width: 143px;
	height: 146px;
	float: left;
	margin-top:45px;
	margin-right:45px;
}
.guanzhu1>div>h4{
	font-size:30px;
	line-height:74px;
	margin-top:20px;
/* 	float: left; */
}
.guanzhu1>div{
	float: left;
	width:520px;
}
.guanzhu1 li{
	width: 50%;
	float: left;
	font-size:20px;
	color:#333333;
	line-height:38px;
}
.guanzhu1 li>span{
	color:#999;
    margin-left:10px;
}
.guanzhu2>img{
	width: 170px;
	height: 107px;
	float: left;
	margin-top:45px;
	margin-right:20px;
}
.guanzhu2>div{
	float: left;
	width:520px;
	position:relative;
}
.guanzhu2>div>h4{
    font-size:30px;
	line-height:74px;
	margin-top:20px;
}
.guanzhu2>div li{
	float: left;
	width: 50%;
	text-align: left;
	font-size:20px;
	color:#a7a7a7;
}
.guanzhu2>div>p{
	font-size:20px;
	color:#c01b25;
	line-height:36px;
}
.guanzhu2>div>span{
    font-size:30px;
	margin-top:40px;
	float: left;
}
.guanzhu4{
	width: 100%;
	height: 170px;
	border-bottom:1px solid #fcfcfc;
}
.guanzhu4>img{
	width:120px;
	height: 120px;
	float: left;
	margin-top:30px;
	margin-right:26px;
}
.guanzhu4>div{
	float: left;
	width:520px;
	margin-top:30px;
}
.guanzhu4>div>h4>img{
	width: 34px;
	height: 28px;
}
.guanzhu4>div>span>img{
	width: 34px;
	height: 28px;
	margin-right:10px;
}
.guanzhu4>div>h4{
	font-size:28px;
}
.guanzhu4>div>p{
	line-height:55px;
	font-size:22px;
}
.guanzhu4>div>span{
	font-size:20px;
	color:#8e532b;
}