<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=750">
		<link rel="stylesheet" href="css/Personal.css">
		<link rel="stylesheet" href="css/zyzxq.css">
		<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
		<script type="text/javascript" src="js/mobile-util.js"></script>
	</head>
	<body>
		<header style="height: 554px;">
			<div class="header1">
				<div class="header1-1">
					<img src="images/qianwnag.png" alt="">
				</div>
				<div class="header1-2">
					志愿者详情
				</div>
				<div class="header1-3">
					<img src="images/shezhi.png" alt="">
				</div>
			</div>
			<div class="header2">
				<div class="header2-1">
					<img src="images/touxiang5.png" alt="">
					<div>已实名</div>
				</div>
				<div class="header2-2" style="margin-top:13px;">
					<div class="header2-2-1"><span>昵称:采购大神</span> <span><img src="images/nv.png" alt=""></span> <span>ID:6599855</span></div>
					<div class="header2-2-2">
						<span>志愿者等级 </span>
						<img src="images/xing.png" alt="">
						<img src="images/xing.png" alt="">
						<img src="images/xing.png" alt="">
						<img src="images/xing.png" alt="">
						<img src="images/xing.png" alt="">
					</div>
					<div class="header2-2-3">所属团队:河南省郑州市金水区景安团队</div>
				</div>
			</div>
			<div class="header3">
				<div>
					<span>29474</span>
					<p>参与活动</p>
				</div>
				<div>
					<span>14</span>
					<p>点击量</p>
				</div>
				<div>
					<span>135</span>
					<p>评论量</p>
				</div>
				<div>
					<span>164</span>
					<p>转发量</p>
				</div>
			</div>
		</header>
		<div class="header4">
			<ul>
				<li class="headercolor"><a href="#">最新</a></li>
				<li><a href="#">评论</a></li>
				<li><a href="#">转发</a></li>
				<li><a href="#">收藏</a></li>
				<li><a href="#">点赞</a></li>
				<li><a href="#">相册</a></li>
			</ul>
		</div>
		<div class="header5">
			<div class="header5-1">
				<p style="line-height:60px; font-size:20px;">8/27020:40pm</p>
				<div>
					<p style="font-size:30px;">据说中美经贸磋商未来将在北京举行，中方在这些
                        原则问题上不能让步中方在这些原则问题上不能让</p>
					<div class="header5-1-1">
						<a href="#"><img src="images/zixungg_20.jpg" alt=""></a>
						<a href="#"><img src="images/zixungg_20.jpg" alt=""></a>
						<a href="#"><img src="images/zixungg_20.jpg" alt=""><span>+7</span></a>
					</div>
				</div>
				<div class="header5-2">
					<span>浏览259次</span>
					<p>
						<a href="#"><img src="images/line.png" alt=""></a>
						<a href="#"><img src="images/pinglun.png" alt=""></a>
						<a href="#"><img src="images/zhuanfa.png" alt=""></a>
					</p>
				</div>
			</div>
		</div>
		<div class="header5">
			<div class="header5-1">
				<p style="line-height:60px; font-size:20px;">8/27020:40pm</p>
				<div>
					<p style="font-size:30px;">据说中美经贸磋商未来将在北京举行，中方在这些
		                原则问题上不能让步中方在这些原则问题上不能让</p>
					<div class="header5-1-1">
						<a href="#"><img src="images/zixungg_20.jpg" alt=""></a>
						<a href="#"><img src="images/zixungg_20.jpg" alt=""></a>
						<a href="#"><img src="images/zixungg_20.jpg" alt=""><span>+7</span></a>
					</div>
				</div>
				<div class="header5-2">
					<span>浏览259次</span>
					<p>
						<a href="#"><img src="images/line.png" alt=""></a>
						<a href="#"><img src="images/pinglun.png" alt=""></a>
						<a href="#"><img src="images/zhuanfa.png" alt=""></a>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
<script>
	$(".header4 li").click(function(){
		$(this).addClass("headercolor").siblings().removeClass("headercolor")
	})
</script>
<.^.>