<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fly.project.dao.ProjectDao">

	<select id="get" resultType="com.fly.project.domain.ProjectDO">
		select a.`id`,a.`project_id`,a.`team_id`,a.`status`,a.`order`,a.`create_time`,t.`team_name`,i.`project_name`,a.`duration`,a.`end_time` from app_project a left join project_info i on a.project_id = i.id left join team t on a.team_id = t.id where a.id = #{value}
	</select>

	<select id="list" resultType="com.fly.project.domain.ProjectDO">
		select a.`id`,a.`project_id`,a.`team_id`,a.`status`,a.`order`,a.`create_time`,t.`team_name`,i.`project_name`,a.`duration`,a.`end_time` from app_project a left join project_info i on a.project_id = i.id left join team t on a.team_id = t.id
        <where>  
		  		  <if test="id != null and id != ''"> and a.id = #{id} </if>
		  		  <if test="projectId != null and projectId != ''"> and a.project_id = #{projectId} </if>
		  		  <if test="teamId != null and teamId != ''"> and a.team_id = #{teamId} </if>
		  		  <if test="status != null and status != ''"> and a.status = #{status} </if>
		  		  <if test="order != null and order != ''"> and a.order = #{order} </if>
		  		  <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order1}
            </when>
			<otherwise>
                order by a.id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from app_project
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="projectId != null and projectId != ''"> and project_id = #{projectId} </if>
		  		  <if test="teamId != null and teamId != ''"> and team_id = #{teamId} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="order != null and order != ''"> and order = #{order} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.fly.project.domain.ProjectDO" useGeneratedKeys="true" keyProperty="id">
		insert into app_project
		(
			`project_id`, 
			`team_id`, 
			`status`, 
			`order`, 
			`create_time`,
			`duration`,
			`end_time`
		)
		values
		(
			#{projectId}, 
			#{teamId}, 
			#{status}, 
			#{order}, 
			#{createTime},
			#{duration},
			#{endTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.fly.project.domain.ProjectDO">
		update app_project 
		<set>
			<if test="projectId != null">`project_id` = #{projectId}, </if>
			<if test="teamId != null">`team_id` = #{teamId}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="order != null">`order` = #{order}, </if>
			<if test="createTime != null">`create_time` = #{createTime}</if>
			<if test="duration != null">`duration` = #{duration}</if>
			<if test="endTime != null">`end_time` = #{endTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from app_project where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from app_project where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	

</mapper>