<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<script src="js/jquery-3.1.1.js"></script>
		<link rel="stylesheet" href="css/activity.css">
		<link rel="stylesheet" href="css/content.css">
		<link rel="stylesheet" href="css/listcont.css">
		<link rel="stylesheet" href="css/ziyunlist.css">
		<link rel="stylesheet" href="css/css1.css">
		<link rel="stylesheet" href="css/css2.css">
	</head>
	<body>
		<header>
			<div class="header-top">
				<div class="header-left">
					<img src="images/logo.png" alt="">
				</div>
				<div class="header-center">
					<input type="text" list="sexlist" placeholder="--全国--">
					<datalist id="sexlist">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</datalist>
				</div>
				<div class="header-img">
					<img src="images/gongyi.png" alt="">
				</div>
				<div class="header-login" style="display: none;">
					<a href="#">登录</a>
					<a href="#">注册</a>
				</div>
				<div class="loginOk">
					<div class="loginOkImg">
						<img src="" alt="">
					</div>
					<div class="loginname">
						<p>小暖8886</p>
						<span>普通用户</span>
					</div>
				</div>
			</div>
		</header>
		<!-- 导航 -->
		<div class="navTwo">
			<div class="navTwoCen">
				<div><a href="#">网站首页</a></div>
				<div><a href="#">动态咨询</a></div>
				<div><a href="#">活动报名</a></div>
				<div><a href="#">志愿者</a></div>
				<div><a href="#">团队活动</a></div>	
			</div>
		</div>
		<!-- 文字内容 -->
		<div class="listcont">
		<!-- 	左1 -->
			<div class="listcontL">
				<div class="listcontLtxt">
					<p>您所在的位置：首页>青少年马术教学试骑体验</p>
				</div>
				<div class="listcontLH">
					<h4>关于公益救济性捐赠税前扣除政策及相关管理问题的通知</h4>
					<p>2018-01-25 09:55      来 源：财政部国家税务总局      作 者：主编</p>
				</div>
				<div style="margin-top:40px;" class="listcontLC">
					<p>各省、自治区、直辖市、计划单列市财政厅（局）、国家税务局、地方税务局，新疆生产建设兵团财务局:</p>
					<p>为进一步促进社会公益事业发展，现对公益救济性捐赠所得税税前扣除政策及相关管理问题明确如下：</p>
					<p>一、依据国务院发布的《社会团体登记管理条例》（国务院令第250号）和《基金会管理条例》
					（国务院令第400号）的规定，经民政部门批准成立的非营利的公益性社会团体和基金会，
					凡符合有关规定条件，并经财政税务部门确认后,纳税人通过其用于公益救济性的捐赠，
					可按现行税收法律法规及相关政策规定，准予在计算缴纳企业和个人所得税时在所得税税前扣除。</p>
					<p>经国务院民政部门批准成立的非营利的公益性社会团体和基金会，其捐赠税前扣除资格由财政部和国家税务总局进行确认；
					经省级人民政府民政部门批准成立的非营利的公益性社会团体和基金会，
					其捐赠税前扣除资格由省级财税部门进行确认，并报财政部和国家税务总局备案。</p>
					<p>接受公益救济性捐赠的国家机关是指县及县以上人民政府及其组成部门。</p>
					<p>二、申请捐赠税前扣除资格的非营利的公益性社会团体和基金会，必须具备以下条件：</p>
					   <ul>
						   <li>（一）致力于服务全社会大众，并不以营利为目的；</li>
						   <li>（二）具有公益法人资格，其财产的管理和使用符合各法律、行政法规的规定；</li>
						   <li>（三）全部资产及其增值为公益法人所有；</li>
						   <li>（四）收益和营运节余主要用于所创设目的的事业活动；</li>
						   <li>（五）终止或解散时，剩余财产不能归属任何个人或营利组织；</li>
						   <li>（六）不得经营与其设立公益目的无关的业务；</li>
						   <li>（七）有健全的财务会计制度；</li>
						   <li>（八）具有不为私人谋利的组织机构；</li>
						   <li>（九）捐赠者不得以任何形式参与非营利公益性组织的分配，也没有对该组织财产的所有权。</li>
					   </ul>
					<p>三、申请捐赠税前扣除资格的非营利的公益性社会团体和基金会，需报送以下材料：</p>
					  <ul>
						  <li>（一）要求捐赠税前扣除的申请报告；</li>
						  <li>（二）国务院民政部门或省级人民政府民政部门出具的批准登记（注册）文件；</li>
					  </ul>
					  <div class="xqfenxing" style="margin: 0 auto; width: 400px;margin-top:40px;">
					  	<span>分享至</span>
					  	<a href="#"><img src="images/conter_26.jpg" alt=""></a>
					  	<a href="#"><img src="images/conter_28.jpg" alt=""></a>
					  	<a href="#"><img src="images/conter_30.jpg" alt=""></a>
					  	<a href="#"><img src="images/conter_33.jpg" alt=""></a>
					  </div>
				</div>			
			</div>
			<!-- 右1 -->
			<div class="listcontR">
				<div class="xqrightTop" style="width:254px;">
					<img src="images/touxiang%2082.png" alt="">
					<span>风影电影</span>
					<p>求关注</p>
				</div>
				<ul>
					<li>·<a href="#">关于公益救济性捐赠税前扣除政策及</a></li>
					<li>·<a href="#">《扶贫慈善性捐赠物资免征进口税收</a></li>
					<li>·<a href="#">未依法向捐赠人反馈将被追责（聚焦</a></li>
					<li>·<a href="#">财政部 国家税务总局 民政部关于公益</a></li>
					<li>·<a href="#">拟允许捐赠超额部分结转扣除（聚焦</a></li>
					<li>·<a href="#">全国人大代表邓智毅: 完善慈善信托税</a></li>
					<li>·<a href="#">建立县级协调机制保障困难群众生活</a></li>
					<li>·<a href="#">扶贫办：中国最低扶贫标准2855元</a></li>
					<li>·<a href="#">公布《残疾预防和残疾人康复条例》</a></li>
					<li>·<a href="#">中华人民共和国公益事业捐赠法</a></li>
				</ul>
			</div>
			<div class="listcontRI">
				<a href="#"><img src="images/zyz_03.jpg" alt=""></a>
				<a href="#"><img src="images/zyz_06.jpg" alt=""></a>
				<a href="#"><img src="images/zyz_09.jpg" alt=""></a>
				<a href="#"><img src="images/zyz_12.jpg" alt=""></a>
				<a href="#"><img src="images/zyz_15.jpg" alt=""></a>
				<!-- 右侧排名 -->
				<div class="listcontpm">
					<div class="zixunbut">
						<h3>点击排名</h3>
						<ul>
							<li><i>1</i><a href="#">关于公益救济性捐款税前扣除政策</a></li>
							<li><i>2</i><a href="#">关于公益救济性捐款税前扣除政策</a></li>
							<li><i>3</i><a href="#">关于公益救济性捐款税前扣除政策</a></li>
							<li><i>4</i><a href="#">关于公益救济性捐款税前扣除政策</a></li>
							<li><i>5</i><a href="#">关于公益救济性捐款税前扣除政策</a></li>
							<li><i>6</i><a href="#">关于公益救济性捐款税前扣除政策</a></li>
							<li><i>7</i><a href="#">关于公益救济性捐款税前扣除政策</a></li>
							<li><i>8</i><a href="#">关于公益救济性捐款税前扣除政策</a></li>
							<li><i>9</i><a href="#">关于公益救济性捐款税前扣除政策</a></li>
							<li><i>10</i><a href="#">关于公益救济性捐款税前扣除政策</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 右侧排名 -->

			
			<!-- 左2 -->
			<div class="listcontL1">
				<div class="listcontL1-1 modal__trigger" data-modal="#modal">
					<img src="images/dashang.png" alt="">打赏
				</div>
				<div class="listcontL1-2">
					<p>已有10人打赏</p>
				</div>
				<div class="listcontL1-3">
					<img src="images/wan1.jpg" alt="">
					<img src="images/wan1.jpg" alt="">
					<img src="images/wan1.jpg" alt="">
					<img src="images/wan1.jpg" alt="">
					<img src="images/wan1.jpg" alt="">
					<img src="images/wan1.jpg" alt="">
					<img src="images/wan1.jpg" alt="">
					<img src="images/wan1.jpg" alt="">
					<img src="images/wan1.jpg" alt="">
					<img src="images/wan1.jpg" alt="">
					<img src="images/wan1.jpg" alt="">
					<img src="images/wan1.jpg" alt="">
					<img src="images/wan1.jpg" alt="">
					<img src="images/wan1.jpg" alt="">
					<img src="images/wan1.jpg" alt="">
					<img src="images/wan1.jpg" alt="">
					<img src="images/wan1.jpg" alt="">
				</div>
			</div>
			<!-- 红包 -->
			<div id="modal" class="modal modal__bg" role="dialog" aria-hidden="true" style="background:rgba(0,0,0,0.9);">
				<div class="modal__dialog" style="width: 600px;">
					<div class="modal__content">
						<div style="width: 600px;background:#fff;position: fixed;">
							<div class="hbtop"></div>
							<div style="width: 600px;background:#fff;height: 260px;">
								<div class="hbcen">
									<div class="hbcen1">
										<img src="images/touxiang5.png" alt="">
										<p style="font-size:20px;line-height:30px;">打赏门户的红包</p>
										<p style="color:#b8b8b8;font-size:16px;line-height:40px;">恭喜发财，大吉大利</p>
										<span><rem style="font-size:36px; color:#ef472a;">17.77 </rem>元</span>
									</div>
								</div>
							</div>
							<div style="width: 100%;line-height: 40px;background:#ebebeb;">
								<p style="margin-left:10px;">已领取3/8个,共150.00元</p>
							</div>
						</div>
						<div class="lingqu">
							<div class="hblq">
								<div class="hblq1">
									<img src="images/touxiang5.png" alt="">
									<div>
										<span>苏小宁</span>
										<p>今天 10:00:28</p>
									</div>
									<p>18.66元</p>
								</div>
							</div>
							<div class="hblq">
								<div class="hblq1">
									<img src="images/touxiang5.png" alt="">
									<div>
										<span>苏小宁</span>
										<p>今天 10:00:28</p>
									</div>
									<p>18.66元</p>
								</div>
							</div>
							<div class="hblq">
								<div class="hblq1">
									<img src="images/touxiang5.png" alt="">
									<div>
										<span>苏小宁</span>
										<p>今天 10:00:28</p>
									</div>
									<p>18.66元</p>
								</div>
							</div>
							<div class="hblq">
								<div class="hblq1">
									<img src="images/touxiang5.png" alt="">
									<div>
										<span>苏小宁</span>
										<p>今天 10:00:28</p>
									</div>
									<p>18.66元</p>
								</div>
							</div>
							<div class="hblq">
								<div class="hblq1">
									<img src="images/touxiang5.png" alt="">
									<div>
										<span>苏小宁</span>
										<p>今天 10:00:28</p>
									</div>
									<p>18.66元</p>
								</div>
							</div>
							<div class="hblq">
								<div class="hblq1">
									<img src="images/touxiang5.png" alt="">
									<div>
										<span>苏小宁</span>
										<p>今天 10:00:28</p>
									</div>
									<p>18.66元</p>
								</div>
							</div>
							<div class="hblq">
							<div class="hblq1">
								<img src="images/touxiang5.png" alt="">
								<div>
									<span>苏小宁</span>
									<p>今天 10:00:28</p>
								</div>
								<p>18.66元</p>
							</div>
						</div>
						</div>				
						<div class="butt">
							<button>我的红包</button>
							<button>发红包</button>
						</div>
						<a href="" class="modal__close demo-close">
							<svg class="" viewBox="0 0 24 24">
								<path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z" />
								<path d="M0 0h24v24h-24z" fill="none" />
							</svg>
						</a>
					</div>
				</div>
				<script src="js/js1.js"></script>
			</div>
			<div class="listzz">
				<div><img src="images/listzz_03.jpg" alt="">9896</div>
				<div><img src="images/listzs_05.jpg" alt="">已置顶</div>
				<div><img src="images/listcc_07.jpg" alt="">发放中</div>	
			</div>
			<!-- 左3 评论 -->
			<div class="listpl">
				<div class="listpl-1">
					<p>网友评论 <span>文明上网理性发言，请遵守新闻评论服务协议</span><rem>2条评论</rem> </p>
				</div>
				<div class="listpl-2">
					<div class="listpl-2-1">
						<img src="images/touxiang 82.png" alt="">
					</div>
					<div class="listpl-2-2">
						<textarea placeholder="说两句吧...">
						</textarea>
						<a href="#">发表</a>
					</div>
				</div>
			</div>
			<!-- 左4 全部评论 -->
			 <div class="listL-4">
				 <p>全部评价</p>
				 <span>
					 <a href="#">最新</a>/
					 <a href="#">最热</a>
				 </span>
			 </div>
			 <div class="listL-5">
				 <div class="listL-5-1">
					 <img src="images/touxiang 82.png" alt="">
				 </div>
				 <div class="listL-5-2">
					 <p>今昔<span>6分钟前</span><rem>举报</rem></p>
					  <p style="color:#4b4b4b;">在网络扇框黑色粉色衣服随风公司法在网络扇框黑色粉色衣服随风公司法</p>
				 </div>
			 </div>
			 <div class="listbutt">
				 <button>查看更多评论</button> 
			 </div>
			 
			<!-- 推荐 -->
			<div style="width: 783px;float: left;">
				<!-- 开始 -->
				 <div class="zixunbox">
					<div class="zixuncent1" style="height: 120px;">
						<img src="images/aaa4.jpg" alt="">
					</div>
					<div class="zixuncent2" style="width: 540px;"> 
						<p>就说中美经贸磋商未来经在北京举行。中方在这些原则问题上不能让步
						中方在这些原则问题上不能让步</p>
					</div>
					<div class="zixuncent3" style="width: 540px;">
						<p style="float: left;">
							<img src="images/list_15.jpg" alt="" style="width:40px; height:13px;margin-top:5px;"><span>环球网</span>
							<img src="images/list_03.jpg" alt="" style="width:23px; height:23px;"><span>小暖暖 17分钟前</span>
							<img src="images/list_09.jpg" alt="">
							<img src="images/list_06.jpg" alt="">
						</p>
						<p style="float:right;">
							<img src="images/list_12.jpg" alt=""><span>(23)</span>
							<img src="images/list03.jpg" alt="" style="width: 19px;height: 22px;"><span>(23)</span>
							<img src="images/list06.jpg" alt=""><span>(23)</span>
						</p>
					</div>
				</div>
				<!-- 结束 -->
				<div class="zixunbox">
					<div class="zixuncent1" style="height: 120px;">
						<img src="images/aaa4.jpg" alt="">
					</div>
					<div class="zixuncent2" style="width: 540px;"> 
						<p>就说中美经贸磋商未来经在北京举行。中方在这些原则问题上不能让步
						中方在这些原则问题上不能让步</p>
					</div>
					<div class="zixuncent3" style="width: 540px;">
						<p style="float: left;">
							<img src="images/list_15.jpg" alt="" style="width:40px; height:13px;margin-top:5px;"><span>环球网</span>
							<img src="images/list_03.jpg" alt="" style="width:23px; height:23px;"><span>小暖暖 17分钟前</span>
							<img src="images/list_09.jpg" alt="">
							<img src="images/list_06.jpg" alt="">
						</p>
						<p style="float:right;">
							<img src="images/list_12.jpg" alt=""><span>(23)</span>
							<img src="images/list03.jpg" alt="" style="width: 19px;height: 22px;"><span>(23)</span>
							<img src="images/list06.jpg" alt=""><span>(23)</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="bot">
				<ul>
					<h4>新手指南</h4>
					<li><a href="#">新手指南1</a></li>
					<li><a href="#">新手指南2</a></li>
					<li><a href="#">新手指南3</a></li>
					<li><a href="#">新手指南4</a></li>
				</ul>
				<ul>
					<h4>民生相关</h4>
					<li><a href="#">新手指南1</a></li>
					<li><a href="#">新手指南2</a></li>
					<li><a href="#">新手指南3</a></li>
					<li><a href="#">新手指南4</a></li>
				</ul>
				<ul>
					<h4>民生聚焦</h4>
					<li><a href="#">新手指南1</a></li>
					<li><a href="#">新手指南2</a></li>
					<li><a href="#">新手指南3</a></li>
					<li><a href="#">新手指南4</a></li>
				</ul>
				<ul>
					<h4>民生关注</h4>
					<li><a href="#">新手指南1</a></li>
					<li><a href="#">新手指南2</a></li>
		
				</ul>
				<ul>
					<h4>民生咨询</h4>
					<li><a href="#">新手指南1</a></li>
					<li><a href="#">新手指南2</a></li>
					<li><a href="#">新手指南3</a></li>
					<li><a href="#">新手指南4</a></li>
				</ul>
				<figure>
					<img src="images/26.jpg" alt="">
					<figcaption>微信公众号</figcaption>
				</figure>
			</div>
			<div class="foter">
				<h4><img src="images/xian_03.jpg" alt="">&nbsp;&nbsp;友情链接&nbsp;&nbsp;<img src="images/xian_03.jpg" alt=""></h4>
				<ul>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
				</ul>
			</div>
		</footer>
		<!-- 备案 -->
		<div class="beian">
			<div class="beian1">
				<span style="float: left;">©公益打赏平台 版权所有</span>
				<span style="float: right;">京ICP备12048184号  技术支持：景安网络</span>
			</div>
		</div>
	</body>
</html>
