<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<script src="js/jquery-3.1.1.js"></script>
		<link rel="stylesheet" href="css/activity.css">
		<link rel="stylesheet" href="css/ziyunlist.css">
	</head>
	<body>
		<!-- 头部 -->
		<header>
			<div class="header-top">
				<div class="header-left">
					<img src="images/logo.png" alt="">
				</div>
				<div class="header-center">
					<input type="text" list="sexlist" placeholder="--全国--">
					<datalist id="sexlist">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</datalist>
				</div>
				<div class="header-img">
					<img src="images/gongyi.png" alt="">
				</div>
				<div class="header-login" style="display: none;">
					<a href="#">登录</a>
					<a href="#">注册</a>
				</div>
				<div class="loginOk">
					<div class="loginOkImg">
						<img src="" alt="">
					</div>
					<div class="loginname">
						<p>小暖8886</p>
						<span>普通用户</span>
					</div>
				</div>
			</div>
		</header>
		<!-- 导航 -->
		<div class="navTwo">
			<div class="navTwoCen">
				<div><a href="#">网站首页</a></div>
				<div><a href="#">动态咨询</a></div>
				<div><a href="#">活动报名</a></div>
				<div><a href="#">志愿者</a></div>
				<div><a href="#">团队活动</a></div>	
			</div>
		</div>
		<div class="zixunlist">
			<div style="width: 1200px;margin:0 auto;line-height:70px; font-size:14px;color:#aaaaaa;">
				您所在的位置：首页>公益互助>公益>政策法规
			</div>
			<div class="zixunlogin">
				<a href=""><img src="images/tp2.jpg" alt=""></a>
			</div>
		 <!-- 主题内容 -->
			<div class="zixuncent">
				<!-- 从这开始循环 -->
				<div class="zixunbox">
					<div class="zixuncent1">
						<img src="images/aaa4.jpg" alt="">
					</div>
					<div class="zixuncent2"> 
						<p>就说中美经贸磋商未来经在北京举行。中方在这些原则问题上不能让步
						中方在这些原则问题上不能让步</p>
					</div>
					<div class="zixuncent3">
						<p style="float: left;">
							<img src="images/list_15.jpg" alt="" style="width:40px; height:13px;margin-top:5px;"><span>环球网</span>
							<img src="images/list_03.jpg" alt="" style="width:23px; height:23px;"><span>小暖暖 17分钟前</span>
							<img src="images/list_09.jpg" alt="">
							<img src="images/list_06.jpg" alt="">
						</p>
						<p style="float:right;">
							<img src="images/list_12.jpg" alt=""><span>(23)</span>
							<img src="images/list03.jpg" alt="" style="width: 19px;height: 22px;"><span>(23)</span>
							<img src="images/list06.jpg" alt=""><span>(23)</span>
						</p>
					</div>
				</div>
				<!-- 循环结束 -->
				<div class="zixunbox">
					<div class="zixuncent1">
						<img src="images/aaa4.jpg" alt="">
					</div>
					<div class="zixuncent2"> 
						<p>就说中美经贸磋商未来经在北京举行。中方在这些原则问题上不能让步
						中方在这些原则问题上不能让步</p>
					</div>
					<div class="zixuncent3">
						<p style="float: left;">
							<img src="images/list_15.jpg" alt="" style="width:40px; height:13px;margin-top:5px;"><span>环球网</span>
							<img src="images/list_03.jpg" alt="" style="width:23px; height:23px;"><span>小暖暖 17分钟前</span>
							<img src="images/list_09.jpg" alt="">
							<img src="images/list_06.jpg" alt="">
						</p>
						<p style="float:right;">
							<img src="images/list_12.jpg" alt=""><span>(23)</span>
							<img src="images/list03.jpg" alt="" style="width: 19px;height: 22px;"><span>(23)</span>
							<img src="images/list06.jpg" alt=""><span>(23)</span>
						</p>
					</div>
				</div>
				<div class="zixunbox">
					<div class="zixuncent1">
						<img src="images/aaa4.jpg" alt="">
					</div>
					<div class="zixuncent2"> 
						<p>就说中美经贸磋商未来经在北京举行。中方在这些原则问题上不能让步
						中方在这些原则问题上不能让步</p>
					</div>
					<div class="zixuncent3">
						<p style="float: left;">
							<img src="images/list_15.jpg" alt="" style="width:40px; height:13px;margin-top:5px;"><span>环球网</span>
							<img src="images/list_03.jpg" alt="" style="width:23px; height:23px;"><span>小暖暖 17分钟前</span>
							<img src="images/list_09.jpg" alt="">
							<img src="images/list_06.jpg" alt="">
						</p>
						<p style="float:right;">
							<img src="images/list_12.jpg" alt=""><span>(23)</span>
							<img src="images/list03.jpg" alt="" style="width: 19px;height: 22px;"><span>(23)</span>
							<img src="images/list06.jpg" alt=""><span>(23)</span>
						</p>
					</div>
				</div>
				<div class="zixunbox">
					<div class="zixuncent1">
						<img src="images/aaa4.jpg" alt="">
					</div>
					<div class="zixuncent2"> 
						<p>就说中美经贸磋商未来经在北京举行。中方在这些原则问题上不能让步
						中方在这些原则问题上不能让步</p>
					</div>
					<div class="zixuncent3">
						<p style="float: left;">
							<img src="images/list_15.jpg" alt="" style="width:40px; height:13px;margin-top:5px;"><span>环球网</span>
							<img src="images/list_03.jpg" alt="" style="width:23px; height:23px;"><span>小暖暖 17分钟前</span>
							<img src="images/list_09.jpg" alt="">
							<img src="images/list_06.jpg" alt="">
						</p>
						<p style="float:right;">
							<img src="images/list_12.jpg" alt=""><span>(23)</span>
							<img src="images/list03.jpg" alt="" style="width: 19px;height: 22px;"><span>(23)</span>
							<img src="images/list06.jpg" alt=""><span>(23)</span>
						</p>
					</div>
				</div>
				<div class="zixunbox">
					<div class="zixuncent1">
						<img src="images/aaa4.jpg" alt="">
					</div>
					<div class="zixuncent2"> 
						<p>就说中美经贸磋商未来经在北京举行。中方在这些原则问题上不能让步
						中方在这些原则问题上不能让步</p>
					</div>
					<div class="zixuncent3">
						<p style="float: left;">
							<img src="images/list_15.jpg" alt="" style="width:40px; height:13px;margin-top:5px;"><span>环球网</span>
							<img src="images/list_03.jpg" alt="" style="width:23px; height:23px;"><span>小暖暖 17分钟前</span>
							<img src="images/list_09.jpg" alt="">
							<img src="images/list_06.jpg" alt="">
						</p>
						<p style="float:right;">
							<img src="images/list_12.jpg" alt=""><span>(23)</span>
							<img src="images/list03.jpg" alt="" style="width: 19px;height: 22px;"><span>(23)</span>
							<img src="images/list06.jpg" alt=""><span>(23)</span>
						</p>
					</div>
				</div>	
			</div>
			<!-- 右侧 -->
			<div class="zixunright">
				<div class="zixunrimg">
				<a href="#"><img src="images/zyz_03.jpg" alt=""></a>
				<a href="#"><img src="images/zyz_06.jpg" alt=""></a>
				<a href="#"><img src="images/zyz_09.jpg" alt=""></a>
				<a href="#"><img src="images/zyz_12.jpg" alt=""></a>
				<a href="#"><img src="images/zyz_15.jpg" alt=""></a>
				</div>
				<div class="zixunbut">
					<h3>点击排名</h3>
					<ul>
						<li><i>1</i><a href="#">关于公益救济性捐款税前扣除政策</a></li>
						<li><i>2</i><a href="#">关于公益救济性捐款税前扣除政策</a></li>
						<li><i>3</i><a href="#">关于公益救济性捐款税前扣除政策</a></li>
						<li><i>4</i><a href="#">关于公益救济性捐款税前扣除政策</a></li>
						<li><i>5</i><a href="#">关于公益救济性捐款税前扣除政策</a></li>
						<li><i>6</i><a href="#">关于公益救济性捐款税前扣除政策</a></li>
						<li><i>7</i><a href="#">关于公益救济性捐款税前扣除政策</a></li>
						<li><i>8</i><a href="#">关于公益救济性捐款税前扣除政策</a></li>
						<li><i>9</i><a href="#">关于公益救济性捐款税前扣除政策</a></li>
						<li><i>10</i><a href="#">关于公益救济性捐款税前扣除政策</a></li>
					</ul>
					
				</div>
			</div>
		</div>
		<div class="xuanfu">
			<a href="#" class="xfcl">红包</a>
			<a href="#">推荐</a>
			<a href="#">公益人物</a>
			<a href="#">公益资讯</a>
		</div>
		<footer>
			<div class="bot">
				<ul>
					<h4>新手指南</h4>
					<li><a href="#">新手指南1</a></li>
					<li><a href="#">新手指南2</a></li>
					<li><a href="#">新手指南3</a></li>
					<li><a href="#">新手指南4</a></li>
				</ul>
				<ul>
					<h4>民生相关</h4>
					<li><a href="#">新手指南1</a></li>
					<li><a href="#">新手指南2</a></li>
					<li><a href="#">新手指南3</a></li>
					<li><a href="#">新手指南4</a></li>
				</ul>
				<ul>
					<h4>民生聚焦</h4>
					<li><a href="#">新手指南1</a></li>
					<li><a href="#">新手指南2</a></li>
					<li><a href="#">新手指南3</a></li>
					<li><a href="#">新手指南4</a></li>
				</ul>
				<ul>
					<h4>民生关注</h4>
					<li><a href="#">新手指南1</a></li>
					<li><a href="#">新手指南2</a></li>
		
				</ul>
				<ul>
					<h4>民生咨询</h4>
					<li><a href="#">新手指南1</a></li>
					<li><a href="#">新手指南2</a></li>
					<li><a href="#">新手指南3</a></li>
					<li><a href="#">新手指南4</a></li>
				</ul>
				<figure>
					<img src="images/26.jpg" alt="">
					<figcaption>微信公众号</figcaption>
				</figure>
			</div>
			<div class="foter">
				<h4><img src="images/xian_03.jpg" alt="">&nbsp;&nbsp;友情链接&nbsp;&nbsp;<img src="images/xian_03.jpg" alt=""></h4>
				<ul>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
					<li><a href="">网易公益</a></li>
				</ul>
			</div>
		</footer>
		<!-- 备案 -->
		<div class="beian">
			<div class="beian1">
				<span style="float: left;">©公益打赏平台 版权所有</span>
				<span style="float: right;">京ICP备12048184号  技术支持：景安网络</span>
			</div>
		</div>
	</body>
</html>
<script>
	$(".xuanfu a").click(function(){
		 $(this).addClass("xfcl").siblings("a").removeClass("xfcl")
	})
</script>
