<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${volunteer.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">志愿者名称：</label>
								<div class="col-sm-8">
									<input id="volunteerName" readonly="readonly" th:value="${volunteer.volunteerName}" class="form-control" type="text">
								</div>
							</div><!-- 
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="memId" name="memId" th:value="${volunteer.memId}" class="form-control" type="text">
								</div>
							</div> -->
							<div class="form-group">	
								<label class="col-sm-3 control-label">用户头像：</label>
								<div class="col-sm-8">
									    <div id="imgsbox_img" class="imgsbox">
										    <div class="imgbox">
												<img th:src="${volunteer.headImg}">
											</div>
									    </div>
			                    </div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">所属团队名称：</label>
								<div class="col-sm-8">
									<input id="teamId"  th:value="${volunteer.teamName}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">家庭住址：</label>
								<div class="col-sm-8">
									<input id="address" readonly="readonly" th:value="${volunteer.address}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">电话：</label>
								<div class="col-sm-8">
									<input id="telephone" readonly="readonly" th:value="${volunteer.telephone}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">性别：</label>
								<div class="col-sm-8">
									<!-- <input id="sex" name="sex" th:value="${volunteer.sex}" class="form-control" type="text"> -->
									<label class="radio-inline"> <input
									th:field="*{volunteer.sex}" type="radio"  value="1" disabled="disabled"/>
									女
								</label> <label class="radio-inline"> <input
									th:field="*{volunteer.sex}" type="radio"  value="0" disabled="disabled"/>
									男
								</label>
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">年龄：</label>
								<div class="col-sm-8">
									<input id="age" disabled="disabled" th:value="${volunteer.age}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">志愿者编号：</label>
								<div class="col-sm-8">
									<input id="volunteerNumber" disabled="disabled" th:value="${volunteer.volunteerNumber}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">身份证号：</label>
								<div class="col-sm-8">
									<input id="cardNo" disabled="disabled" th:value="${volunteer.cardNo}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">转发次数：</label>
								<div class="col-sm-8">
									<input id="sharesNumber" disabled="disabled" th:value="${volunteer.sharesNumber}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">评论量：</label>
								<div class="col-sm-8">
									<input id="commentNumber" disabled="disabled" th:value="${volunteer.commentNumber}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">点击量：</label>
								<div class="col-sm-8">
									<input id="clickNumber" disabled="disabled" th:value="${volunteer.clickNumber}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">参与活动次数：</label>
								<div class="col-sm-8">
									<input id="actNumber" disabled="disabled" th:value="${volunteer.actNumber}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">志愿者等级：</label>
								<div class="col-sm-8">
									<input id="level" disabled="disabled" th:value="${volunteer.level}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">省：</label>
								<div class="col-sm-8">
									<input id="province" readonly="readonly" th:value="${volunteer.province}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">市：</label>
								<div class="col-sm-8">
									<input id="city" readonly="readonly" th:value="${volunteer.city}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">县：</label>
								<div class="col-sm-8">
									<input id="county" readonly="readonly" th:value="${volunteer.county}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">状态：</label>
								<div class="col-sm-8">
								<label class="radio-inline" >
										<input type="radio"  value="0" th:attr ="checked=${0 == volunteer.auditStatus?true:false}"  disabled="disabled">未审核
									</label>
									<label class="radio-inline" >
										<input type="radio"  value="1" th:attr ="checked=${1 == volunteer.auditStatus?true:false}" disabled="disabled">已审核
									</label>
									<label class="radio-inline" >
										<input type="radio"   value="2" th:attr ="checked=${2 == volunteer.auditStatus?true:false}" disabled="disabled">审核不通过
									</label>
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/volunteer/volunteer/edit.js">
	</script>
	<script>
    $(function(){
        var multi = 0;
        var name = "headImg";
        if(multi){
            name = name+'[]';
            $("#imgUpload_img").attr('multiple','multiple');
        }else{
            $("#imgUpload_img").removeAttr('multiple');
        }
        
        $("#imgUpload_img").fileupload({
            dataType: 'json',
            done: function (e, data) {
                	console.log(data.result);
                if (data.result.code == 0) {
                    var img = '<div class="imgbox">';
                    img += '<div class="removePic" onclick="removePic(this,\'/banner/imgDel\')">×</div>';
                    img += '<input type="hidden" name="'+name+'" value="' + data.result.fileName + '">';
                    img += '<img src="' + data.result.fileName + '">';
                    img += '</div>';
                    if(multi){
                        $("#imgsbox_img").append(img);
                    }else{
                        $("#imgsbox_img").html(img);
                    }
                } else {
                    layer.msg(data.msg);
                }
            },
            change: function (e, data) {
                $("#imgUpload_name_img").html('上传图片...');
            },
            progressall: function (e, data) {
                var progressnum = parseInt(data.loaded / data.total * 100);
                if (progressnum == 100) {
                    $("#progress_img").text('');
                    $("#imgUpload_name_img").html('上传图片');
                } else {
                    $("#progress_img").text(progressnum + "%");
                }
            },
            error: function(e,data){
                layer.msg('上传请求失败');
            }
        });
    });

    /**
     * 移除图片
     */
    function removePic(_self,deleteurl){
        $(_self).parent().remove();
        if(deleteurl){
            $.post(deleteurl,{path:$(_self).parent().find('img').attr('src')});
        }
    }
    
   
</script>
</body>
</html>
