<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${name.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">用户表id：</label>
								<div class="col-sm-8">
									<input id="userId" name="userId" th:value="${name.userId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">团队id：</label>
								<div class="col-sm-8">
									<input id="teamId" name="teamId" th:value="${name.teamId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">姓名：</label>
								<div class="col-sm-8">
									<input id="name" name="name" th:value="${name.name}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">email：</label>
								<div class="col-sm-8">
									<input id="email" name="email" th:value="${name.email}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">手机：</label>
								<div class="col-sm-8">
									<input id="mobile" name="mobile" th:value="${name.mobile}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="creadTime" name="creadTime" th:value="${name.creadTime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">性别：</label>
								<div class="col-sm-8">
									<input id="sex" name="sex" th:value="${name.sex}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">出身日期：</label>
								<div class="col-sm-8">
									<input id="birth" name="birth" th:value="${name.birth}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">政治面貌：</label>
								<div class="col-sm-8">
									<input id="politicalStatus" name="politicalStatus" th:value="${name.politicalStatus}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">详细地址：</label>
								<div class="col-sm-8">
									<input id="address" name="address" th:value="${name.address}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">省份：</label>
								<div class="col-sm-8">
									<input id="province" name="province" th:value="${name.province}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">所在城市：</label>
								<div class="col-sm-8">
									<input id="city" name="city" th:value="${name.city}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">所在地区：</label>
								<div class="col-sm-8">
									<input id="district" name="district" th:value="${name.district}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">街道：</label>
								<div class="col-sm-8">
									<input id="street" name="street" th:value="${name.street}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">1:未审核 2:审核 3:拒绝：</label>
								<div class="col-sm-8">
									<input id="status" name="status" th:value="${name.status}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">身份证号：</label>
								<div class="col-sm-8">
									<input id="cardNo" name="cardNo" th:value="${name.cardNo}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">身份证正面照：</label>
								<div class="col-sm-8">
									<input id="cardFrontImg" name="cardFrontImg" th:value="${name.cardFrontImg}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">身份证背面照：</label>
								<div class="col-sm-8">
									<input id="cardBackImg" name="cardBackImg" th:value="${name.cardBackImg}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">民族：</label>
								<div class="col-sm-8">
									<input id="nation" name="nation" th:value="${name.nation}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">1:入团申请2:建团申请3:代理商入驻：</label>
								<div class="col-sm-8">
									<input id="type" name="type" th:value="${name.type}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建团队信息：</label>
								<div class="col-sm-8">
									<input id="team" name="team" th:value="${name.team}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">代理商信息：</label>
								<div class="col-sm-8">
									<input id="proxybusi" name="proxybusi" th:value="${name.proxybusi}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/verifyName/name/edit.js">
	</script>
</body>
</html>
