<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${member.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">用户名称：</label>
								<div class="col-sm-8">
									<input id="name" name="name" th:value="${member.name}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">性别：</label>
								<!-- <div class="col-sm-8">
									<input id="sex" name="sex" th:value="${member.sex}" class="form-control" type="text">
								</div> -->
								
								
								<div class="col-sm-8">
								<label class="radio-inline"> <input
									th:field="*{member.sex}" type="radio" name="sex" value="1" />
									男
								</label> <label class="radio-inline"> <input
									th:field="*{member.sex}" type="radio" name="sex" value="0" />
									女
								</label>
							</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">用户头像：</label>
							<!-- 	<div class="col-sm-8">
									<input id="headImg" name="headImg" th:value="${member.headImg}" class="form-control" type="text">
								</div> -->
								
								
								<div class="col-sm-8">
									<div>
									    <a href="javascript:;" class="btn btn-primary btn-sm jqfivefile" type="button">
									        <span id="imgUpload_name_img">上传图片</span><span id="progress_img"></span>
									        <input id="imgUpload_img" type="file"  title="上传图片" name="file" accept="image/*" data-url="/common/sysFile/upload" />
									    </a>
									    <div id="imgsbox_img" class="imgsbox">
										    <div class="imgbox">
												<div class="removePic" onclick="removePic(this,'/banner/imgDel')">×</div>
												<img th:src="${member.headImg}">
											</div>
									    </div>
									    
									</div>
			                    	<span class="help-block m-b-none text-danger">支持:jpg、jpeg、png； 尺寸：宽1927*高460px；大小：限5M内</span>
			                    </div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">年龄：</label>
								<div class="col-sm-8">
									<input id="age" name="age" th:value="${member.age}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">家庭住址：</label>
								<div class="col-sm-8">
									<input id="address" name="address" th:value="${member.address}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">电话：</label>
								<div class="col-sm-8">
									<input id="telephone" name="telephone" th:value="${member.telephone}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">登录账号：</label>
								<div class="col-sm-8">
									<input id="loginNo" name="loginNo" th:value="${member.loginNo}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">登录密码：</label>
								<div class="col-sm-8">
									<input id="password" name="password" th:value="${member.password}" class="form-control" type="text">
								</div>
							</div><!-- 
														<div class="form-group">	
								<label class="col-sm-3 control-label">所属团队编号：</label>
								<div class="col-sm-8">
									<input id="teamId" name="teamId" th:value="${member.teamId}" class="form-control" type="text">
								</div>
							</div> -->
														<div class="form-group">	
								<label class="col-sm-3 control-label">账户余额：</label>
								<div class="col-sm-8">
									<input id="account" name="account" th:value="${member.account}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">红包收益：</label>
								<div class="col-sm-8">
									<input id="redEnvelopeIncome" name="redEnvelopeIncome" th:value="${member.redEnvelopeIncome}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">平台积分：</label>
								<div class="col-sm-8">
									<input id="platformIntegral" name="platformIntegral" th:value="${member.platformIntegral}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">县：</label>
								<div class="col-sm-8">
									<input id="county" name="county" th:value="${member.county}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">市：</label>
								<div class="col-sm-8">
									<input id="city" name="city" th:value="${member.city}" class="form-control" type="text">
								</div>
							</div><!-- 
														<div class="form-group">	
								<label class="col-sm-3 control-label">所属区域编号：</label>
								<div class="col-sm-8">
									<input id="regioncode" name="regioncode" th:value="${member.regioncode}" class="form-control" type="text">
								</div>
							</div> -->
														<div class="form-group">	
								<label class="col-sm-3 control-label">省：</label>
								<div class="col-sm-8">
									<input id="province" name="province" th:value="${member.province}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">是否实名认证：</label>
								<!-- <div class="col-sm-8">
									<input id="isIdentification" name="isIdentification" th:value="${member.isIdentification}" class="form-control" type="text">
								</div>
								 -->
								
								<div class="col-sm-8">
								<label class="radio-inline"> <input
									th:field="*{member.isIdentification}" type="radio" name="isIdentification" value="1" />
									是
								</label> <label class="radio-inline"> <input
									th:field="*{member.isIdentification}" type="radio" name="isIdentification" value="0" />
									否
								</label>
							</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/member/member/edit.js">
	</script>
	<script>
    $(function(){
        var multi = 0;
        var name = "headImg";
        if(multi){
            name = name+'[]';
            $("#imgUpload_img").attr('multiple','multiple');
        }else{
            $("#imgUpload_img").removeAttr('multiple');
        }
        
        $("#imgUpload_img").fileupload({
            dataType: 'json',
            done: function (e, data) {
                	console.log(data.result);
                if (data.result.code == 0) {
                    var img = '<div class="imgbox">';
                    img += '<div class="removePic" onclick="removePic(this,\'/banner/imgDel\')">×</div>';
                    img += '<input type="hidden" name="'+name+'" value="' + data.result.fileName + '">';
                    img += '<img src="' + data.result.fileName + '">';
                    img += '</div>';
                    if(multi){
                        $("#imgsbox_img").append(img);
                    }else{
                        $("#imgsbox_img").html(img);
                    }
                } else {
                    layer.msg(data.msg);
                }
            },
            change: function (e, data) {
                $("#imgUpload_name_img").html('上传图片...');
            },
            progressall: function (e, data) {
                var progressnum = parseInt(data.loaded / data.total * 100);
                if (progressnum == 100) {
                    $("#progress_img").text('');
                    $("#imgUpload_name_img").html('上传图片');
                } else {
                    $("#progress_img").text(progressnum + "%");
                }
            },
            error: function(e,data){
                layer.msg('上传请求失败');
            }
        });
    });

    /**
     * 移除图片
     */
    function removePic(_self,deleteurl){
        $(_self).parent().remove();
        if(deleteurl){
            $.post(deleteurl,{path:$(_self).parent().find('img').attr('src')});
        }
    }
    
   
</script>

</body>
</html>
