<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${points.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">订单号：</label>
								<div class="col-sm-8">
									<input id="orderId" name="orderId" th:value="${points.orderId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">支付类型：</label>
								<div class="col-sm-8">
									<input id="payType" name="payType" th:value="${points.payType}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">订单状态：</label>
								<div class="col-sm-8">
									<input id="orderStatus" name="orderStatus" th:value="${points.orderStatus}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">提交时间：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" th:value="${points.createTime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">积分类型：</label>
								<div class="col-sm-8">
									<input id="pointsType" name="pointsType" th:value="${points.pointsType}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">金额：</label>
								<div class="col-sm-8">
									<input id="money" name="money" th:value="${points.money}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">会员id：</label>
								<div class="col-sm-8">
									<input id="memberId" name="memberId" th:value="${points.memberId}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/points/points/edit.js">
	</script>
</body>
</html>
