.navTwo{
	width: 100%;
	line-height:60px;
	background-color:#c11b25;
}
.navTwoCen{
	width: 1200px;
	margin:0 auto;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}
.navTwoCen a{
	color:#fefffd;
}
.weizhi{
	width: 1200px;
	margin:0 auto;
}
.wztwo{
	width: 100%;
	line-height:72px;
	color:#333333;
}
.wzshenfen{
	width: 100%;
	line-height:50px;
	height:50px;
	border:1px solid #dfdfdf;
	overflow: hidden;
	position:relative;
}
.wzshenfen p{
	text-indent:35px;
	float: left;
}
.wzshenfen span{
	color:#dd122f;
}
.wzshenfen li{
	float: left;
	margin-left:30px;
}
.wzshenfen div{
	position: absolute;
    width: 30px;
	line-height:50px;
    right: 0px;
    text-align: center;
}
.wzshenfen a{
	color:#7e7e7e;
}
.hangye{
	width: 1200px;
	margin:0 auto;
}
/*閫夐」鍗�*/
.all {
	width:220px;
	height:30px;
	margin:30px 0 0 0;
	float:left;
}
.all li {
	width:100px;
	height:30px;
	line-height:30px;
	text-align:center;
	float:left;
	display:inline;
	position:relative;
	cursor:pointer;
}
.all ul {
	position:absolute;
	left:0;
	top:30px;
	display:none;
	background:#dd1230;
	z-index: 9999;
}
.all ul>li>a{
	color:#fff;
}
.hxcolor{
	background:#dd1230;
	color:#fff;
}
.danxuan{
	float: left;
	/* line-height:90px; */
	margin-top:35px;
	overflow: hidden;
}
.danxuan input{
	margin-left:30px;
}
.hdneirong{
	width: 1200px;
	margin:0 auto;
	overflow: hidden;
	margin-top:60px;
}
.hdneirong figure{
	width:288px;
	height: 298px;
	float: left;
	margin-right:15px;
	background:#f5f5f5;
	overflow: hidden;
	margin-top:30px;
}
.hdneirong figure:nth-child(4n+0){
	margin-right:0px;
	
}
.hdneirong figure>a>img{
	width: 100%;
	height:195px;
}
.hdneirong figcaption p{
	margin-left:15px;
}
.fenyie{
	width:200px;
	text-align: center;
	margin:0 auto;
    background:red;
	overflow: hidden;
}
.fenyi{
	width: 1200px;
	margin:0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top:30px;
}
.fenyi a{
	display:block;
	width:80px;
	height:40px;
	line-height:40px;
	box-sizing:border-box;
	text-align: center;
	border:1px solid #b5b5b5;
	color:#b5b5b5;
	margin-right:5px;
}
.fenyi span{
	display:block;
	width:40px;
	height:40px;
	line-height:40px;
	box-sizing:border-box;
	text-align: center;
	border:1px solid #b5b5b5;
	color:#b5b5b5;
	margin-right:5px;
}
.fenyiborder{
	border: none !important;
}


/**/

        #containet {
            display: inline-block;
            border: 1px solid #ed0181;
            padding: 19px;
            margin: auto;
        }
 
        #pageMain li {
            list-style: none;
            line-height: 22px;
        }
 
        #pageBox {
            width: 1200px;
			display:flex;
			justify-content: center;
			align-items:center;
			margin:20px auto;
        }
 
        #pageBox span {
            display: inline-block;
            width: 60px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            color: #777;
            border:1px solid #cccccc;
			margin-right:10px;
			font-size: 14px;
			/* box-sizing: border-box; */
 
        }
 
        #pageNav {
            display: inline-block;
        }
 
        #pageNav a {
            display: inline-block;
            width: 24px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            color: #777;
            text-decoration: none;
			border: 1px solid #cccccc;
			margin-right:10px;
			font-size: 14px;
        }
 
        #pageNav a.active, #pageNav a:hover {
          border: none;
        }
 
        #prev:hover {
            cursor: pointer;
        }
 
        #next:hover {
            cursor: pointer;
        }
		.all>li>img{
			width: 15px;
			height: 15px;
		}