*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style:none;
}
header{
	width: 100%;
	height:156px;
	background: url(../images/tp01.jpg)  no-repeat;
	background-size:100% 100%;
}

input::-webkit-calendar-picker-indicator{
	display: none;
	-webkit-appearance: none;
}
.header-top{
	width: 1200px;
	margin:0 auto;
	height:156px;
	overflow: hidden;
}
.header-left{
	width: 186px; 
	height: 54px;
	float: left;
	margin-top:47px;
}
.header-left img{
	width: 100%;
}
.header-center{
	float: left;
	margin-left:54px;
	margin-top:58px;
	
}
.header-center input{
	width:115px;height: 30px;
	line-height:30px;
	font-size:14px;
	padding-left:20px;
	border:1px solid red;
	background:url(../images/input_03.jpg) no-repeat right;
}
.header-img{
	width: 338px;height: 93px;
	float: left;
	margin-left:274px;
	margin-top:27px;
}
.header-login{
	width: 123px;height: 30px;
	float: left;
	margin-top:68px;
	margin-left:80px;
	display: flex;
	justify-content: space-between;
}
.header-login a{
	display: inline-block;
	width:54px;
	height: 30px;
	background-color:#c01b25;
	text-align: center;
	line-height: 30px;
	color:#fff;
	font-size:16px;
}
/*登录成功的样式*/
 .loginOk{
	 width:176px;
	 height: 64px;
	 float: right;
	 margin-top:47px;
 }
 .loginOkImg>a>img{
	 width: 62px;
	 height: 62px;
	 border-radius:50%;
	 background:red;
	 float: left;
 }
 .loginname{
	 float: right;
	 text-align: center;
 }
 .loginname p{
	 line-height:32px;
	 color:#c01b25;
 }
 .loginname span{
	 display: block;
	 width: 100px;
	 height: 25px;
	 background-color:#e60012;
	 text-align: center;
	 line-height:25px;
	 color:#fff;
	 border-radius:15px;
 }





nav{
	/* width: 100%;
	height: 60px; */
	background-color:#c01b25;
}
nav>div{	
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
nav>div>ul{
	width: 100%;
}
nav>div>ul>li{
	width: 14.28%;
	float:left;
	line-height:60px;
	text-align: center;
}
nav a{
	color:#fff;
}
.guangao{
	width: 1200px;
	height: 102px;
	margin:0 auto;
	margin-top:20px;
}
.guangao img{
	width: 100%;
	height: 100%;
}
.main{
	width: 1200px;
	height: 394px;
	overflow: hidden;
    margin: 0 auto;
	margin-top:20px;
}
.main_img{
	width: 612px;
	height: 394px;
	float: left;
	background-color: aqua;
	overflow: hidden;
}
.main_news{
	width: 557px;
	height: 394px;
	float: right;
}
.main_header{
	width: 100%;
	height:30px;
	overflow: hidden;
}
.main_header h3{
	float: left;
}
.main_header a{
	float: right;
	color:#adadad;
}
.main_text{
	width: 100%;
	
}
.main_text h4{
	font-size: 20px;
	line-height:56px;
}
.main_text span{
	font-size: 16px;
}
.main_text ul{
	margin-top:28px;
}
.main_text li{
	line-height:34px;
}
.main_text>ul>li>span{
	float: right;
}
.main_text>ul>li>a{
	color:#000;
}
.main_text img{
	width: 32px;
	height:16px;
}
.gps{
	width: 100%;
	height:676px;
	background:#f5f5f5;
	margin-top:20px;
	overflow: hidden;
}
.gps1{
	width: 1200px;
	margin: 0 auto;
}
.gps_img{
	width:765px;
	height:535px;
	background: url(../images/4268b8453f994f2a9383cb40c6773615.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
}
.gps_img1{
	width:765px;
	height:640px;
	margin-top:36px;
	position: absolute;
}
/*地图样式*/
.gps_txt{
	width: 229px;
	height:470px;
	float: right;
	margin-bottom:117px;
}
.secant{
	width: 1200px;
	overflow: hidden;
	margin:0 auto;
	margin-top:32px;
}
.secant_txt{
	width: 100%;
	height: 40px;
	margin-bottom:14px;
}
.secant_txt>h3>i{
	display:block;
	width: 6px;
	height: 20px;
	background-color:#c01b25;
	float: left;
	margin:5px 20px 0px 6px;
	border-radius:5px;
}
.secant_txt>h3{
	width: 60%;
	float:left;
	line-height: 32px;
}
.secant_txt a{
	float: right;
	font-size:14px;
	color:#666;
}
.secant_cent{
	width: 1200px;
}
.secant_cent div{
	width: 230px;
	height: 250px;
	background-color:#f5f5f5;
	float: left;
	margin-right:12.5px;
	margin-top:10px;
}
.secant_cent div:nth-child(5){
	margin-right:0 !important;
}
.secant_cent div:nth-child(10){
	margin-right:0 !important;
}
.secant_cent figure{
	width: 100%;
	overflow: hidden;
}
.secant_cent img{
	width: 100%;
	height: 127px;
}
.secant_cent  figcaption{
	width:90%;
	margin:0 auto;
}
.secant_cent>div>figure>figcaption>h4>a{
	color:#676766;
	font-size: 16px;
}
.secant_cent>div p{
	font-size:14px;
	line-height:38px;
	color:#c4c4c4;
}
.secant_cent figcaption>span>a{
	float: right;
	color: #C01B25;
}
.secant_cent figcaption>span{
	line-height:37px;
}
.zhiyuan{
	width:1200px;
	margin:0 auto;
	margin-top:10px;
	overflow: hidden;
}
.zhiyuanImg div{
	width: 140px;
	height:142px;
	float: left;
	margin-right:11px;
	background-color: #ADADAD;
	margin-top:10px;
	overflow: hidden;
}
.zhiyuanImg div:nth-child(8){
	margin-right:0px !important;
}
.zhiyuanImg div:nth-child(16){
	margin-right:0px !important;
}
.zhiyuanImg div>a>img{
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: all 0.6s;
}
.zhiyuanImg div>a>img:hover{
	transform: scale(1.1);
}
.zhiyuanImg div>p{
	display: block;
	width: 100%;
	line-height:30px;
	position:relative;
	bottom:34px;
	background:rgba(0,0,0,0.5);
	text-align: center;
	color:#fff;
}
.tuandui{
	width:1200px;
	margin:0 auto;
	overflow: hidden;
	margin-top:20px;
}
.tuanduiImg{
	width: 100%;
	margin-top:10px;
}
.tuanduiImg div{
	width: 228px;
	height: 234px;
	float: left;
	margin:19px 15px 0px 0px;

}
.tuanduiImg div:nth-child(5){
	margin-right:0 !important;
}
.tuanduiImg div:nth-child(10){
	margin-right:0 !important;
}
.tuanduiImg figure{
	width:100%;
	text-align: center;	
}
.tuanduiImg img{
	width:100%;
}
.tuanduiImg figure>figcaption>p{
	line-height:42px;
	color:#8f8f8f;
}
footer{
	width: 100%;
	height:320px;
	background:#29262a;
	margin-top:32px;
	border-top:1px solid #c01b25;
}
.bot{
	width:1200px;
	margin: 0 auto;
	margin-top:45px;
	overflow: hidden;
}
.bot ul{
	float: left;
	margin-right:110px;
}
.bot h4{
	font-size:22px;
	color:#fff;
	margin-bottom:25px;
}
.bot a{
	color:#b0afb0;
	font-size:16px;
}
.bot li{
	line-height:26px;
}
.bot figure{
	float:right;
	text-align: center;
	color:#C4C4C4;
}
.foter{
	width:1200px;
	margin: 0 auto;
	margin-top:15px;
}
.foter h4{
	display: block;
	width: 200px;
	line-height:30px;
	text-align: center;
	margin: 0 auto;
	color:#f1f1f1;
}
.foter img{
	margin-bottom:6px;
}
.foter ul{
	display: block;
	width: 820px;
	margin:0 auto;
	overflow: hidden;
}
.foter li{
	float: left;
	margin-right:12px;
	font-size:14px;
	line-height:30px;
	
}
.foter a{
	color:#6e6c6e;
}
.beian{
	width: 100%;
	height:44px;
	background:#000;
}
.beian1{
	width:1200px;
	margin:0 auto;
	overflow: hidden;
}
.beian1 span{
	line-height:44px;
	color: #b5b5b5;
	font-size:14px;
}
.gps_txt1{
	width: 100%;
	overflow: hidden;
	margin-top:28px;
}
.gps_txt1 img{
	float: left;
	width: 76px;
	height: 76px;
	margin-right:20px;
	border-radius:50%;
}
.gps_txt1 div{
	float: left;
}
.gps_txt1 div>span{
	font-size:23px;
}