*{
	margin: 0;
	padding: 0;
}
.tdlogo{
	width: 100%;
	height: 160px;
	border-bottom:1px dashed #e2e2e2;
}
.tdlogo>a>div{
	width:33.33%;
	height: 160px;
	float: left;
}
.tdlogo>a>div>img{
	width: 102px;
	height: 102px;
	float: left;
	margin:38px 0px 0px 50px;
}
.tdlogo>a>div>p{
	margin-left:38px;
	line-height:160px;
	font-weight:900;
	font-size:16px;
}