*{
	margin: 0;
	padding: 0;
	list-style:none;
	text-decoration:none;
}
body{
	background-color:#f1f3f0;
}
header{
	width: 100% !important;
	height:79px !important;
	background:#c11b25 !important;
}
.header_top{
	width:1200px !important;
	margin:0 auto !important;
}
.header_top>div{
	float: left !important;margin-right: 200px !important;
}
.header_top>div>img{
	width:160px !important;
	height: 47px !important;
	margin-top:12px !important;
	margin-bottom:20px !important;
}
nav{
	float: right !important;
	margin-right:280px !important;
}
nav>div{
	float: left !important;
	width:100px !important;
	text-align: center !important;
	margin-right:40px !important;
}
.btn>a{
	line-height:79px !important;
	color:#fff !important;
}
.btn ul{
	display: none !important;
	background:#c11b25 !important;
	z-index:9999 !important;
	position: absolute !important;
	width:100px !important;
}
.btn ul>li>a{
	color:#fff !important;
	line-height:24px !important;
}
.btn ul>li{
	width:90% !important;
	margin:0 auto !important;
	border-bottom:1px dashed #F5F5F5 !important;
}
/*左侧导航*/
.box{
	width: 1200px;
	margin:0 auto;
	overflow: hidden;
}
.NavLeft{
	height: 926px;
	width:172px;
	float: left;
	background-color:#fff;
}
.NavLeft>dl{
	width:172px;
	text-align: center;
}
.NavLeft>dl>dt{
	width: 172px;
	line-height:55px;
	background:#fff;
	cursor: pointer;
	font-size: 18px;
}
.NavLeft>dl>dd{
	width:172px;
	height: 30px;
	display: none;
	font-size:14px;
	color:#8e8e8e;
}
.boxRight{
	width: 1000px;
	float: right;
	margin-top:18px;
	overflow: hidden;
}
.NavCent{
	width: 1000px;
	height: 248px;
	overflow: hidden;
}
.Navtext{
	width:250px;
	height: 245px;
	float: left;
	background:#c11b25;
	overflow: hidden;
	box-shadow: 0px 0px 6px #000;
}
.NavRight{
	width: 748px;
	height: 225px;
	float: right;
	margin-top:10px;
	background-color:#fff;
}
.xing{
	width: 250px;
	height: 57px;
	background-color:#242331;
}
.xing img{
	margin-top:17px;
}
.xing img:nth-child(1){
	margin-left:6px;
}
.xing span{
	float: right;
	line-height:57px;
	color:#fff;
	margin-right:10px;
}
.Navtext>figure{
	width: 250px;
	text-align:center;
	height:188px;
}
.Navtext>figure>a{
	display:inline-block;
	width: 78px;
	height: 78px;
	margin:0 auto;
	border-radius:50%;
	margin-top:20px;
	text-align: center;
	overflow: hidden;
}
.Navtext>figure>a>img{
	width: 100%;
	height:78px;
}
.Navtext>figure span{
	display: inline-block;
	width: 100%;
	line-height:40px;
	color:#fff;
}
.Navtext>figure p{
	display: inline-block;
	color:#fff;
}
.Navtext i{
	display:block;
	width: 62px;
	height: 21px;
	font-size:14px; 
	background-color:#feb500;
	border-radius:10px;
	line-height:21px;
	float: right;
	margin-left:5px;
}
.Navstxt{
	width: 100%;
	height:56px;
	border-bottom:1px solid #f1f3ee;
	overflow: hidden;
}
.Navstxt>p{
	float: left;
	line-height:56px;
	margin-left:20px;
}
.Navstxt img{
	width: 18px;
	height: 12px;
	float: right;
	margin:21px 25px 0px 0px;
}
.NavCenter{
	width:748px;
	height: 104px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}
.NavCenter div{
	width: 300px;
	text-align: center;
}
.NavCenter div>span{
	display:inline-block;
	margin-top:30px;
	font-size:26px;
}
.NavCenter div>p{
	font-size: 16px;
	color:#8d8d8d;
}
.qiana{
	width:748px;
	margin-top:10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.qiana div{
	width:200px;
	color:#70a4ef;
}
.qiana img{
	float:left;
	margin-left:82px;
	margin-right:5px;
}
.myfabu{
	width: 630px;
	margin-top:38px;
	background:#fff;
	float:left;
}
.myfabutxt{
	width: 100%;
	border-bottom:1px solid #eff4ee;
	line-height:55px;
	margin-bottom:20px;
}
.myfabutxt p{
	margin-left:24px;
}
.myFabuCent{
	width: 587px;
	height: 230px;
	margin-left:16px;
	overflow: hidden;
}
.shijian{
	width: 40px;
	height:230px;
	float: left;
}
.yuan{
	width: 40px;
	line-height: 40px;
	text-align: center;
	background:#f3f3f3;
	border-radius:50%;
}
.xian{
	width: 1px;
	height:190px;
	margin:0 auto;
	background:#f3f3f3;
}
.myzhuti{
	width: 528px;
	float:right;
}
.myimg{
	margin-top:22px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.myimg img{
	width: 168px;
	height: 108px;
}
.myzan{
	width: 528px;
	float:right;
	height:51px;
	line-height:51px;
	font-size:14px;
	color:#babbbd;
}
.myright{
	width: 360px;
	height: 350px;
	background-color:#ffffff;
	float:right;
	margin-top:38px;
}
.myrighttxt{
	line-height:55px;
	
}
.myrighttxt p{
	margin-left:26px;
	font-size:17px;
}
.myrightimg{
	width: 307px;
	height: 209px;
	margin-top:17px;
	margin-left:26px;
}
.myrightimg img{
	width:100%;
}
.myright>p{
	margin-left:26px;
}
.myright>p>span{
	float:right;
	margin-right:30px;
	font-size:14px;
	color:#808080; 
}